.CompensationSummary {
  &__payDetail {
    margin-top: 24px;
  }
  &__payHistory {
    margin-top: 24px;
  }
  .options {
    cursor: pointer;
    img {
      padding-left: 8px;
      color: #707177 !important;
    }
  }
}
