.headings {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #161c29;
  margin-bottom: 24px;
}

.item {
  margin-bottom: 16px;
  display: flex;
  width: 100%;
  div:first-child {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    width: 50%;
  }
  div:last-child {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #707177;
    width: 100%;
  }
}
