.headings {
  margin-bottom: 24px;
  color: #161c29;
  font-weight: 700;

  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.item {
  display: flex;
  width: 100%;
  margin-bottom: 16px;
  div:first-child {
    width: 50%;
    color: #000000;
    font-weight: normal;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  div:last-child {
    width: 100%;
    color: #707177;
    font-weight: normal;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }
}
