@border-color: #d6dce0;
@orange: #fe5d27;
@darkBlue: #253c6b;
@expired-background: #cddcfc;
@new-background: #fff4f1;
@border-color: #d6dce0;
@checkbox-background: #e7eaee;
@checkbox-border: #707177;
@gray: #707177;
@red: #ff5252;
@blue: #2c6df9;
@white: #FFFFFF;
@yelow: #ffa100;

.mixin-border-bottom-row {
  border-bottom: solid 1px @border-color;
}

.OnboardTable {
  padding: 24px;
  padding-bottom: 0;
  background-color: @white;
  border-radius: 8px;
  border: solid 1px @border-color;


  /* width */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(218, 218, 218);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  &.inTab {
    border: none;
  }

  :global {
    .ant-table-body {
      border-bottom: 1px solid @border-color;

    }

    .ant-dropdown-menu-title-content {
      font-size: 13px !important;
    }
  }

  table {
    // border-bottom: 1px solid @border-color;
  }

  .tableActions {
    display: flex;
    align-items: center;

    span {
      cursor: pointer;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      margin: 0;
      letter-spacing: 0.12px;
      color: @blue;
      font-weight: 500;
      // margin-right: 10px;
      text-transform: capitalize;

      svg {
        transform: rotate(90deg);
      }
    }

    .viewDraft {
      margin-left: 13px;
    }
  }

  p,
  span {
    margin: 0;
    line-height: 1.5;
  }

  .name {
    margin-right: 8px;
  }

  .name,
  .position,
  .dateJoin,
  .location,
  .actionText {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.121875px;

    color: #464646;
  }

  .actionText {
    font-size: 11px;
  }

  .ticketTag {
    font-size: 11px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Roboto';
    display: inline-block;
    padding: 0 8px;
  }

  .new {
    .ticketTag();
    color: @orange;
    background-color: @new-background;
  }

  .expired {
    .ticketTag();
    color: @darkBlue;
    background-color: @expired-background;
  }

  svg {
    &:hover {
      cursor: pointer;
    }
  }

  :global {
    .ant-table-row {
      height: 55px;
    }

    .ant-empty {
      padding-bottom: 20px;
    }

    .anticon-delete {
      margin-left: 6px !important;

      &:hover {
        svg {
          path {
            fill: @red  !important;
          }
        }

        // color: @red !important;
      }

      svg {
        transform: initial !important;
        color: @blue  !important;
      }
    }

    td.ant-table-cell {
      width: 84px;
      height: 15px;
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.12px;
      color: #464646;
    }

    .ant-table-tbody {
      tr:last-child td {
        border-bottom: solid 1px white;
      }
    }

    .ant-table-tbody>tr>td {
      .mixin-border-bottom-row();
    }

    th.ant-table-selection-column {
      width: 5%;
    }

    .ant-checkbox-inner {
      background-color: @checkbox-background;

      &:after {
        border-color: @blue;
      }
    }

    .ant-checkbox-wrapper {
      border-color: @checkbox-border;
    }

    .ant-table-selection,
    .ant-table-selection-column {
      height: fit-content;
      // width: fit-content;
    }

    thead {
      tr {
        height: 35px;
      }

      .ant-table-selection {
        height: 18px;
      }
    }

    .ant-tabs-nav {
      height: 56px;
    }

    .ant-dropdown-button {
      display: flex;
      align-items: center;

      button {
        font-size: 13px !important;
        border: none !important;
        padding: 0 !important;
        background-color: transparent !important;
        box-shadow: none !important;
        height: 20px;
      }
    }

    .ant-menu-item {
      color: @blue;
      font-weight: 500;
      letter-spacing: 0.12px;
    }

    .ant-table-thead>tr>th {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 0.121875px;

      color: @white;
    }
  }

  .deleteIcon {
    padding-left: 20px;
  }

  .renderAssignee,
  .processStatus,
  .candidateId {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.121875px;

    color: @blue;

    &:hover {
      opacity: 0.9;
    }
  }

  .processStatusAccepted {
    color: #04AA6D;
  }

  .renderAssignee,
  .candidateId {
    cursor: pointer;
  }

  .menuIcon {
    cursor: pointer;
    width: 15px;
    padding-block: 10px;
  }
}

.menu {
  background-color: #fff;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.15);
  padding: 8px;
  border-radius: 5px;

  &::after {
    height: 8px;
    width: 10px;
    content: '';
    background-color: #fff;
    box-shadow: 1px 1px 3px -1px rgb(0 0 0 / 15%) !important;
    position: absolute;
    top: -3px;
    right: 6px;
    margin-left: -5px;
    border-top: #fff solid 1px;
    border-left: #fff solid 1px;
    transform: rotate(225deg);
    z-index: 1003 !important;
  }
}

.popupContentHr {
  width: fit-content;

  :global {
    .ant-popover-inner-content {
      padding: 24px;
    }
  }
}


//modal
.joiningFormalitiesModal {
  :global {
    .ant-btn-primary {
      width: 94px;
      height: 40px;
      object-fit: contain;
      color: @white;
      font-weight: 500;
      font-size: 14px;
      font-family: Roboto;
      letter-spacing: 0.13px;
      // display: none;
      text-shadow: none;
      background-color: @yelow;
      border: solid 1px @yelow;
      border-radius: 25px;
      box-shadow: none;

      &:hover {
        color: @white;
        background-color: @yelow;
      }
    }

    .ant-btn-secondary {
      width: 94px;
      height: 40px;
      padding-right: 41px;
      object-fit: contain;
      color: @yelow;
      font-weight: 500;
      font-size: 14px;
      font-family: Roboto;
      letter-spacing: 0.13px;
      border: solid 0;
      border-radius: 25px;
    }

    .ant-modal-header {
      padding: 24px;
      border-top-left-radius: 8px;
    }

    .ant-modal-content {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
    }

    .ant-form-item {
      margin-bottom: 0;
    }

    .ant-modal-footer {
      padding: 24px;
    }

    .ant-modal-close-x {
      position: absolute;
      background-color: @blue;
      color: #fff;
      width: 54px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;

      &:active {
        opacity: 0.5;
      }
    }

    .ant-checkbox-inner {
      width: 18px;
      height: 18px;
      background-color: #fff;
      border: 1px solid #D8D8D8;
      border-radius: 4px;
    }

    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: #F0F3F9;
    }

    .ant-checkbox-checked .ant-checkbox-inner::after {
      border: 2px solid @blue;
      border-top: 0;
      border-left: 0;
    }

    .ant-input {
      height: 42px;
      width: 100%;
      border: 1px solid #D6DCE4;
      box-sizing: border-box;
      border-radius: 5px;
    }
  }

  &__custom {
    :global {
      .ant-modal-footer {
        border: none;
      }
    }
  }

  .btnSubmit {
    font-size: 14px;
    width: fit-content;
    // height: 40px;
    font-weight: 600;
    border-radius: 25px;
    color: #fff;
    background-color: @yelow;
    border: none;
  }

  .btnSubmit:disabled {
    color: #fff;
    opacity: 0.5;
  }

  .btnCancel {
    border: none;
    display: inline-block;
    color: @yelow;
    font-size: 14px;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;

    &:active {
      opacity: 0.5;
    }
  }

  .btnLater {
    border: none;
    display: inline-block;
    color: @gray;
    font-size: 14px;
  }

  .headerContent {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 24PX;

    color: #464646;

    span {
      font-weight: 700;
    }
  }

  .headerText {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    color: #161C29;
  }

  .labelCheckbox {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #161C29;
  }

  .documentVerification {
    display: flex;
    align-items: center;

    .tooltip {
      margin-top: 1px;
      cursor: pointer;
    }

    .inputForm {
      width: 100%;
    }
  }

  .pageTop {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      margin-top: 8px;
      font-weight: 500;
      font-size: 18px;
      color: #161C29;
    }

    &__description {
      margin-top: 12px;
      font-size: 13px;
      color: @gray;
    }
  }

  .pageBottom {
    background: #FAFCFF;
    border: 1px solid #D6DCE0;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 24px;
    padding: 24px 24px 0 24px;

    &__text {
      font-size: 14px;
      color: #000000;
      margin-bottom: 24px;
    }
  }
}

.tooltipOverlay {

  :global {
    .ant-tooltip-inner {
      background: @white;
      box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      padding: 14px;
    }
  }
}

.contentTooltip {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0.121875px;

  color: @gray;
}
