@border-color: #d6dce0;
@orange: #fe5d27;
@darkBlue: #253c6b;
@expired-background: #cddcfc;
@new-background: #fff4f1;
@border-color: #d6dce0;
@checkbox-background: #e7eaee;
@checkbox-border: #707177;
@gray: #707177;
@red: #ff5252;
@blue: #2c6df9;

.mixin-border-bottom-row {
  border-bottom: solid 1px #d6dce0;
}

.spin{
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.OnboardTable {
  padding: 24px;
  padding-bottom: 0;
  background-color: #ffffff;
  border-radius: 8px;
  border: solid 1px @border-color;


/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(218, 218, 218);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


  &.inTab {
    border: none;
  }

  :global {
    .ant-table-body {
    border-bottom: 1px solid @border-color;

    }
    .ant-dropdown-menu-title-content {
      font-size: 13px !important;
    }
  }
  table {
    // border-bottom: 1px solid @border-color;
  }

  .tableActions {
    display: flex;
    align-items: center;

    span {
      cursor: pointer;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      margin: 0;
      letter-spacing: 0.12px;
      color: @blue;
      font-weight: 500;
      // margin-right: 10px;
      text-transform: capitalize;

      svg {
        transform: rotate(90deg);
      }
    }

    .viewDraft {
      margin-left: 13px;
    }
  }

  p,
  span {
    margin: 0;
    line-height: 1.5;
  }

  .name {
    margin-right: 8px;
  }

  .ticketTag {
    font-size: 11px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Roboto';
    display: inline-block;
    padding: 0 8px;
  }
  .new {
    .ticketTag();
    color: @orange;
    background-color: @new-background;
  }

  .expired {
    .ticketTag();
    color: @darkBlue;
    background-color: @expired-background;
  }
  svg {
    &:hover {
      cursor: pointer;
    }
  }

  :global {
    .ant-table-row {
      height: 55px;
    }

    .ant-empty {
      padding-bottom: 20px;
    }
    .anticon-delete {
      margin-left: 6px !important;

      &:hover {
        svg {
          path {
            fill: @red !important;
          }
        }
        // color: @red !important;
      }
      svg {
        transform: initial !important;
        color: @blue !important;
      }
    }

    td.ant-table-cell {
      width: 84px;
      height: 15px;
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.12px;
      color: #464646;
    }
    .ant-table-tbody {
      tr:last-child td {
        border-bottom: solid 1px white;
      }
    }
    .ant-table-tbody > tr > td {
      .mixin-border-bottom-row();
    }

    th.ant-table-selection-column {
      width: 5%;
    }

    .ant-checkbox-inner {
      background-color: @checkbox-background;

      &:after {
        border-color: blue;
      }
    }

    .ant-checkbox-wrapper {
      border-color: @checkbox-border;
    }

    .ant-table-selection,
    .ant-table-selection-column {
      height: fit-content;
      // width: fit-content;
    }

    thead {
      tr {
        height: 35px;
      }

      .ant-table-selection {
        height: 18px;
      }
    }

    .ant-tabs-nav {
      height: 56px;
    }

    .ant-dropdown-button {
      display: flex;
      align-items: center;

      button {
        font-size: 13px !important;
        border: none !important;
        padding: 0 !important;
        background-color: transparent !important;
        box-shadow: none !important;
        height: 20px;
      }
    }

    .ant-menu-item {
      color: #2c6df9;
      font-weight: 500;
      letter-spacing: 0.12px;
    }
  }

  .deleteIcon{
    padding-left: 20px;
  }

  .renderAssignee {
    color: #2c6df9;
    font-weight: 500;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }

  .menuIcon {
    cursor: pointer;
    width: 15px;
    padding-block: 10px;
  }
}
