.mailExit {
  margin-bottom: 24px;
  :global {
    .ant-card-bordered {
      border: 1px solid #d6dce0;
    }
    .ant-card-head {
      border-color: #d6dce0;
    }
    .ant-card-head-title {
      height: 67px;
      line-height: 67px;
      padding: 0 !important;
      font-weight: 700;
    }
  }

  &__card {
    border-radius: 5px;
    &__iconExtra {
      cursor: pointer;
    }
  }

  .template {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // width: 235px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid rgba(214, 220, 224, 1);
    padding: 0 14px;
    &__content {
      display: flex;
      cursor: pointer;
    }
    &__action {
      cursor: pointer;
    }
    span {
      margin-left: 10px;
    }
    .edit__icon {
      margin-right: 10px;
      cursor: pointer;
    }
  }
}
