.FilterPopover {
  :global {
    .ant-popover-inner {
      min-width: 400px;
      max-width: 400px;
      padding: 0;
      border: 1px solid #eaecef;
      border-radius: 8px;
    }
    .ant-popover-inner-content {
      padding: 0 !important;
    }
    .ant-popover-arrow {
      //   left: -2.5px !important;
      width: 18px;
      height: 18px;
      .ant-popover-arrow-content {
        width: 12px;
        height: 12px;
        box-shadow: none;
      }
    }
    .ant-popover-title {
      padding: 16px;
    }

    .ant-form-item {
      margin-bottom: 16px;
    }
    .ant-form-item-label {
      label {
        color: #707177;
        font-size: 12px;
        text-transform: uppercase;
      }
    }

    // SELECT
    .ant-select {
      width: 100% !important;
    }
    .ant-select-selector {
      min-height: 42px !important;
      border: 1px solid #d6dce4 !important;
      border-radius: 5px !important;
    }
    .ant-select-single {
      .ant-select-selection-search-input {
        height: 42px !important;
      }
    }
    .ant-select-selection-item,
    .ant-select-selection-placeholder {
      font-size: 13px !important;
      line-height: 42px !important;
    }
    .ant-select-multiple {
      .ant-select-selection-item {
        height: 28px !important;
        padding-top: 3px !important;
        font-size: 13px;
        line-height: unset !important;
        background: #ffffff;
        border: 1px solid #d6dce0;
        border-left: 4px solid #2c6df9;
        border-radius: 5px;
      }
      .ant-select-selection-item-remove {
        margin-top: 3px;
        margin-inline: 5px;

        .anticon-close {
          border: 0.75px solid #707177;
          border-radius: 50%;
        }
      }
    }
    .ant-select-multiple .ant-select-selection-item-remove > * {
      line-height: 0;
    }
    .ant-select-auto-complete {
      .ant-input {
        border: none !important;
      }
    }

    .ant-select-selector {
      overflow: hidden;
    }
    .ant-input-affix-wrapper {
      .ant-input-prefix {
        margin-right: 9px;
      }
      .ant-input {
        height: unset !important;
      }
      border: none !important;
    }
    // INPUT + DATE PICKER
    .ant-input,
    .ant-input-number,
    .ant-picker {
      width: 100%;
      height: 42px !important;
      border: 1px solid #d6dce4 !important;
      border-radius: 5px !important;
    }
    .ant-input-number,
    .ant-input {
      font-size: 13px;
    }
    .ant-picker {
      input {
        font-size: 13px;
      }
    }
    .ant-input-number-input-wrap {
      input {
        height: 40px !important;
      }
    }
  }
  .popoverHeader {
    display: flex;
    justify-content: space-between;

    .headTitle {
      color: #2c6df9;
      font-weight: 500;
      font-size: 16px;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 16px;
    text-align: right;
    // border-top: 1px solid #e1dfdf;
    box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.1);
    .btnApply {
      height: 40px;
      margin-left: 20px;
      color: #fff;
      font-weight: 500;
      background-color: #ffa100;
      border: none;
      border-radius: 25px;
      outline: none;
      padding-inline: 25px;
    }
    .btnClose {
      color: #464646;
      font-weight: 500;
      background-color: #fff;
      border: none;
      outline: none;
      box-shadow: none;
    }
  }

  .popupContainer {
    position: relative;
    max-height: 60vh;
    padding: 16px 16px 0;
    overflow-y: auto;
    .closeButton {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 5;
      display: block;
      cursor: pointer;
    }
    .divider {
      border-bottom: 1px solid #eaecef;
    }

    .header {
      padding: 20px 16px 16px;
      span {
        color: #3e3e3e;
        font-weight: 500;
        font-size: 13px;
      }
    }
  }
}
