.newForm {
  padding: 24px;
  background-color: #f6f7f9;
  .formItem,
  .listQuestion {
    padding: 24px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.22);
  }
  .formItem {
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__title {
        color: #161c29;
        font-weight: 500;
        font-size: 18px;
      }
      &__saveBtn {
        right: 10px;
        height: 40px;
        object-fit: contain;
        color: #ffffff;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.13px;
        text-shadow: none;
        background-color: #ffa100;
        border: solid 1px #ffa100;
        border-radius: 25px;
        box-shadow: none;
      }
    }
  }
  .listQuestion {
  }
}
