.ticketInQueue {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 23px;
  .ticketInQueue__cart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 414px;
    height: 108px;
    background: #ffffff;
    border: 1px solid #d6dce0;
    border-radius: 8px;
    .assignIcon {
      width: 60px;
      height: 60px;
      margin-right: 16px;
      margin-left: 24px;
      line-height: 60px;
      text-align: center;
      background: #dee1ff;
      border-radius: 50%;
    }
    .priorityIcon {
      width: 60px;
      height: 60px;
      margin-right: 16px;
      margin-left: 24px;
      line-height: 60px;
      text-align: center;
      background: #ffe9e9;
      border-radius: 50%;
    }
    .unresolvedIcon {
      width: 60px;
      height: 60px;
      margin-right: 16px;
      margin-left: 24px;
      line-height: 60px;
      text-align: center;
      background: #fff4e1;
      border-radius: 50%;
    }
  }
  .ticketInQueue__cart:nth-child(2) {
    margin: 0 32px;
  }
  .ticketInQueue__name {
    h1 {
      color: #212020;
      font-weight: bold;
      font-size: 24px;

      font-style: normal;
      line-height: 28px;
    }
    p {
      color: #161c29;
      font-weight: normal;
      font-size: 13px;

      font-style: normal;
      line-height: 15px;
    }
  }
}
