@color-grey: #707177;
@color-blue: #2c6df9;

.PreviousEmployment {
  margin-bottom: 16px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #d6dce0;
  border-radius: 5px;
  .container {
    margin: 16px 16px 0;
    padding-bottom: 16px;
    &:not(:last-child) {
      border-bottom: 1px solid #d6dce0;
    }
    .someText {
      padding-bottom: 16px;
      color: #707177;
      font-size: 13px;
      line-height: 15px;
    }
  }
}
