.TimeOffTypesInfo {
  position: fixed;
  top: 51px !important;
  width: 60vw !important;
  margin: 0 0 100px 30%;
  // overflow-y: hidden;
  :global {
    .ant-modal-close {
      display: none;
    }
    .ant-modal-content {
      border-radius: 10px;
    }
    .ant-modal-body {
      padding: 32px;
    }
    .ant-modal-wrap {
      z-index: 1003 !important;
    }
  }

  .container {
    max-height: 100%;
    .title {
      display: flex;
      display: relative;
      justify-content: space-between;
      padding: 5px 0;
      color: #161c29;
      font-weight: 700;
      font-size: 18px;
      .closeIcon {
        position: absolute;
        top: 16px;
        right: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 26px;
        height: 26px;
        color: #161c29;
        font-weight: 700;
        font-size: 13px;
        background: rgba(44, 109, 249, 0.08);
        border-radius: 50%;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .description {
      margin: 10px 0;
      color: #707177;
    }
    :global {
      .ant-collapse {
        max-height: 50vh;
        overflow-y: auto;
        background-color: white;
      }
      .ant-collapse > .ant-collapse-item {
        border: none;
      }
      .ant-collapse-item {
        background-color: #fafafa;
        border-radius: 6px;
      }
      .ant-collapse-item:not(:last-child) {
        margin-bottom: 15px;
      }
      .ant-collapse-header {
        color: #161c29;
        font-weight: 700;
        font-size: 14px;
      }
      .ant-collapse-content-box {
        background-color: #fafafa;
        p {
          margin-bottom: 0;
          color: #707177;
          font-size: 14px;
        }
      }
      .ant-collapse-item-active {
        .ant-collapse-header {
          color: #2c6df9;
          .anticon {
            color: #2c6df9;
          }
        }
      }
    }
    .collapseInfoContainer {
      .alternativeExpandIcon {
        color: #707177;
        font-weight: bold !important;
        font-size: 18px !important;
        &:hover {
          opacity: 0.8 !important;
        }
      }
    }
  }
  &::after {
    position: absolute;
    top: 28px;
    left: 0;
    z-index: 1003 !important;
    width: 25px;
    height: 25px;
    margin-left: -5px;
    background-color: #fff;
    border-top: #fff solid 1px;
    border-left: #fff solid 1px;
    transform: rotate(315deg);
    content: '';
  }
}
