.root {
  .type {
    margin-left: 20px;
  }
  :global {
    .ant-list-item {
      &:hover {
        background-color: #0000001a;
      }
    }
    .ant-table-row-indent.indent-level-1 {
      padding-left: 45px !important;
    }
  }
}

.avatar {
  width: 25px;
  height: 25px;
  border: 1px solid #bfbfbf;
}

.title {
  color: #a8a8a8;
  font-size: 18px;
}

.searchBox {
  max-width: 250px;
  display: block;
}

.btn-remove {
  border-radius: 0;
  width: 80px;
  font-size: 18px;
  border: 0;
  border-left: 1px solid #00000036;
  background-color: transparent;
  color: #f5222d;
  box-shadow: none;
  &:hover,
  &:focus {
    border-left: 1px solid #00000036;
    color: #ff7875;
  }
}

.flex {
  display: flex;
}
