.filterFormWrapper {
  .wrapHeader {
    margin-bottom: 26px;
  }
  .title {
    font-size: 20px;
    line-height: 24px;
    color: #3a354e;
    font-weight: bold;
  }
  .wrapLabel {
    margin-bottom: 15px;
  }
  .label {
    font-size: 12px;
    line-height: 15px;
    color: #3a354e;
    opacity: 0.5;
  }
  .wrapGroupBtnAction {
    display: flex;
    flex-direction: row-reverse;
  }
  .btn {
    width: 120px;
    height: 45px;
    border: 1px solid #fca00a;
    border-radius: 4px;
  }
  .btnApply {
    background-color: #fca00a;
    color: white;
    font-size: 14px;
    line-height: 17px;
  }
  .btnReset {
    background-color: white;
    color: #fca00a;
    font-size: 14px;
    line-height: 17px;
  }
  .wrapCloseIcon {
    display: flex;
    flex-direction: row-reverse;
  }
  .closeIcon {
    font-size: 18px;
    color: black;
    font-weight: bold;
  }
}
