.BackgroundChecks {
  font-family: 'Roboto';
  padding: 42px;
  &_title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.19;
    text-align: left;
    color: #161c29;
    margin-bottom: 17px;
  }
  &_subTitle {
    font-size: 13px;
    line-height: 1.31;
    letter-spacing: 0.12px;
    text-align: left;
    color: #707177;
    a {
      color: #2c6df9;
    }
  }
  &_forms {
    margin-top: 30px;
    .subTitle {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.19;
      text-align: left;
      color: #161c29;
    }
  }
}
