@title-color: #161c29;
@blue-color: #2c6df9;
@red-color: #ff6c6c;
@green-color: #47c97f;

.PanelItem {
  margin-right: -6px !important;
  margin-bottom: 20px;
  margin-left: 0 !important;

  .commons {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .card {
    .title {
      color: @title-color;
      font-weight: 400;
      font-size: 14px;
    }
  }
  .txtFileName {
    padding-left: 24px;
    overflow: hidden;
    color: @blue-color;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .txtUpload {
    color: @blue-color;
    font-weight: 500;
    text-align: right;
    cursor: pointer;
  }
  .verified {
    .commons();
    color: @green-color;
    font-weight: 500;
    img {
      margin-left: 8px;
    }
  }
  .resubmit {
    .commons();
    span {
      color: @red-color;
      font-weight: 500;
      cursor: pointer;
    }
    img {
      margin-left: 8px;
      color: @red-color;
      width: 15px;
      height: 15px;
    }
  }
}
