.balance {
  // .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list {
  //   background-color: #dedfdf;
  // }
  .titleText {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    padding-bottom: 25px;
  }
  :global {
    .ant-tabs > .ant-tabs-nav,
    .ant-tabs > div > .ant-tabs-nav {
      background-color: #f8f9fb !important;
      border-bottom: 1px solid #dedfdf;
    }
  }
}
