.containerTickets {
  width: 100%;
  padding-top: 16px;
  padding-right: 24px;
  padding-left: 35px;
  background: #ffffff;
  border: 1px solid #d6dce0;
  border-radius: 8px;
  .tabTickets {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    margin-bottom: 24px;
    padding-bottom: 12px;
    border-bottom: 1px solid #d6dce0;
  }
}
