.EditActionBTN {
  .spaceFooterModalSuccess {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    padding: 24px;
  }
}

.modalEditProjectDetail {
  .spaceFooter {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    padding-top: 24px;
    border-top: solid 1px #d6dce0;
  }
  .btnSubmit {
    width: 120px;
    height: 40px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    background-color: #ffa100;
    border: none;
    border-radius: 25px;

    &:hover {
      color: #fff;
      background-color: #ffa100;
    }
  }
  .btnSubmit:disabled {
    color: #fff;
    opacity: 0.5;
  }
  .btnCancel {
    display: inline-block;
    margin-right: 40px;
    color: red;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    &:active {
      opacity: 0.5;
    }
  }
}
.modalEditProjectDetail {
  :global {
    .ant-form-item {
      margin-bottom: 16px;
    }
    .ant-form-item-label {
      label {
        color: #161c29;
        font-size: 12px;
      }
      .ant-form-item-label
        > label.ant-form-item-required:not(.ant-form-item-required-mark-optional):after {
        display: inline-block;
        margin-right: 4px;
        color: #ff4d4f;
        font-size: 14px;

        line-height: 1;
        content: '*';
      }
    }

    // SELECT
    .ant-select {
      width: 100% !important;
    }
    .ant-select-selector {
      min-height: 42px !important;
      border: 1px solid #d6dce4 !important;
      border-radius: 5px !important;
    }
    .ant-select-single {
      .ant-select-selection-search-input {
        height: 42px !important;
      }
    }
    .ant-select-selection-item,
    .ant-select-selection-placeholder {
      font-size: 13px !important;
      line-height: 42px !important;
    }
    .ant-select-multiple {
      .ant-select-selection-item {
        height: 28px !important;
        padding-top: 3px !important;
        font-size: 13px;
        line-height: unset !important;
        background: #ffffff;
        border: 1px solid #d6dce0;
        border-left: 4px solid #2c6df9;
        border-radius: 5px;
      }
      .ant-select-selection-item-remove {
        margin-top: 3px;
        margin-inline: 5px;

        .anticon-close {
          border: 0.75px solid #707177;
          border-radius: 50%;
        }
      }
    }
    .ant-select-multiple .ant-select-selection-item-remove > * {
      line-height: 0;
    }
    .ant-select-auto-complete {
      .ant-input {
        border: none !important;
      }
    }

    .ant-select-selector {
      overflow: hidden;
    }
    .ant-input-affix-wrapper {
      .ant-input-prefix {
        margin-right: 9px;
      }
      .ant-input {
        height: unset !important;
      }
      border: none !important;
    }
    // INPUT + DATE PICKER
    .ant-input,
    .ant-input-number,
    .ant-picker {
      width: 100%;
      height: 42px !important;
      border-radius: 5px !important;
    }
    .ant-input-number,
    .ant-input {
      font-size: 13px;
    }
    .ant-picker {
      input {
        font-size: 13px;
      }
    }
    .ant-input-number-input-wrap {
      input {
        height: 40px !important;
      }
    }
    .ant-input-wrapper,
    .ant-input-group {
      .ant-input {
        border-radius: 5px 0 0 5px !important;
      }
      .ant-input-group-addon {
        border-radius: 0 5px 5px 0 !important;
      }
    }

    .ant-btn-primary {
      height: 40px;
      object-fit: contain;
      color: #ffffff;
      font-weight: 500;
      font-size: 14px;

      letter-spacing: 0.13px;

      text-shadow: none;
      background-color: #ffa100;
      border: solid 1px #ffa100;
      border-radius: 25px;
      box-shadow: none;
      &:hover {
        color: #ffffff;
        background-color: #ffa100;
      }
    }
    .ant-btn-secondary {
      width: 94px;
      height: 40px;
      padding-right: 41px;
      object-fit: contain;
      color: #ffa100;
      font-weight: 500;
      font-size: 14px;

      letter-spacing: 0.13px;
      border: solid 0;
      border-radius: 25px;
      box-shadow: none;
    }
    .ant-modal-header {
      padding: 24px;
      border-bottom: 1px solid #d6dce0;
      border-top-left-radius: 8px;
    }
    .ant-modal-content {
      border-top-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    .ant-form-item {
      margin-bottom: 12px;
    }
    .ant-modal-footer {
      padding: 13px 24px;
      border-top: 1px solid #d6dce0;
    }
    .ant-select-selection-overflow-item .ant-select-selection-overflow-item-suffix {
      display: none;
    }
    .ant-modal-close-x {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 54px;
      height: 48px;
      color: #fff;
      background-color: #2c6df9;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      &:active {
        opacity: 0.5;
      }
    }
  }
}
