.btnEdit{
    float: right;
    margin-top: -29px;
}
.buttonEdit{
    width: 29px;
    height: 29px;
    // float: right;
    border-radius: 50%; 
    border: 1px solid lightgray;
  }
  .buttonEdit:hover {
    border: 1px solid #2C6DF9;
  }
  .showInfo{
    display: inline;
    padding-right: 30px;
    color: gray;
  }
  .showInfoEmp{
    color: black;
  }
  .lableProject{
    height: 18px;
    padding: 0px 8px;
    font-weight: 400;
    text-align: left;
    background: #FFE9C5;
    border-radius: 12px;
  }
  .iconEdit{
    display: none;
    width: 29px;
    height: 29px;
    border-radius: 50%; 
  }
  .rowHover:hover{
    background-image: linear-gradient(to right, white , #E5E5E5);
    color: #E5E5E5;
    .iconEdit{
      display: inline;
      float: right;
      margin-top: -15px;
    }
    .readMore{
      color: #E5E5E5;
    }
  }
  .modalAdd {
    :global {
      .ant-modal-close {
        right: -57px;
        height: 48px;
        color: #fff;
        background-color: #2c6df9;
        border-radius: 0 8px 8px 0;
        .ant-modal-close-x {
          color: #fff;
          line-height: 48px;
        }
        .ant-popover-inner {
          background-color: #000;
        }
      }
        .ant-table-thead > tr > th {
          background: #2c6df9 !important;
        }
        .ant-table-tbody > .ant-table-row-level-0:hover{
          background-image: linear-gradient(to right, white , #E5E5E5);
          color: gray
        }
        
    }
  }