.hrContent {
  :global {
    .ant-tabs > .ant-tabs-nav,
    .ant-tabs > div > .ant-tabs-nav {
      height: fit-content;
      padding-left: 24px;
      padding-top: 24px;
    }

    .ant-tabs-tab {
      color: #000000;
      font-weight: 700;
      font-size: 14px;
      opacity: 1;

      // padding: 0;
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: #2c6df9;
      font-weight: bold;
      font-size: 14px;
      font-style: normal;
      line-height: 16.41px;
      opacity: 0.9;
    }

    .ant-tabs-tab .ant-tabs-tab-btn {
      color: #464646;
      font-weight: bold;
      font-size: 14px;
      font-style: normal;
      line-height: 16px;
    }

    .ant-tabs-ink-bar {
      display: none;
    }

    .ant-tabs-top > .ant-tabs-nav::before {
      border-bottom: none;
    }
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 24px;

    font-style: normal;

    &__left {
      color: #161c29;
      font-weight: bold;
      font-size: 16px;
      line-height: 18.75px;
    }

    &__right {
      .buttonRequest {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 12px 35px;
        background: #ffa100;
        border-radius: 25px;
        border: none;
        &:hover {
          border-color: transparent;
        }

        &__text {
          color: #ffffff;
          font-weight: 500;
          font-size: 14px;
          line-height: 16.41px;
        }
      }
    }
  }

  .titleContainer {
    height: 35px;
    margin: 10px 18px;
    margin-bottom: 10px;
    padding: 8px;
    color: #464646;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
    background: rgba(86, 138, 250, 0.07);
    border-radius: 5px 5px 0px 0px;
  }
  .tabComponent {
    // min-height: 500px;
    background: #ffffff;
    border: 1px solid #d6dce0;
    border-radius: 5px;

    .searchFilter{
      display: flex;
      align-items: center;
      padding: 0 24px;

      :global{
        .ant-input-prefix{
          margin-right: 16px;
        }

        .ant-input .nt-input-lg{
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;

          color: #707177;

          mix-blend-mode: normal;
          opacity: 0.5;
        }

        .ant-input-affix-wrapper-focused {
          box-shadow: none;
        }
      }
      
      &__icon{
        margin-right: 14px;
        // cursor: pointer;
      }

      &__input{
        background: #FFFEFE;
        border: 1px solid #D6DCE0;
        border-radius: 33px;
        width: 375px;
        height: 37px;
      }
    }
  }
  .tableTab {
    padding: 0px 24px;
  }
}
