.modal__content {
  margin-top: 20px;
  padding: 35px 30px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #d6dce0;
  .modal__text {
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    color: #464646;
  }
  .modal__Button {
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    width: 180px;
    height: 35px;
    background: #ffa100;
    border-radius: 25px;
    &:hover,
    &:active,
    &:focus {
      border: none;
    }
  }
}
