.StepsOfViewRight {
  width: 100%;
  height: 180px;
  padding: 24px 32px;

  .carouselWrapper {
    // position: absolute;
    .content {
      height: auto;
    }
  }
  :global {
    span.ant-typography {
      color: #707177;
      font-weight: normal;
      font-size: 13px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      line-height: 20px;
      letter-spacing: normal;
    }
    h5.ant-typography {
      margin: 0;
      color: #161c29;
      font-size: 14px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }
    ul.slick-dots-bottom {
      position: none;
      bottom: 0;
      justify-content: unset;
      margin: 0;
      padding-top: 24px;
    }

    li.slick-active {
      width: 8px !important;
      height: 8px;
      background: #2c6df9;
      border: 1px solid #2c6df9;
      border-radius: 50%;
      opacity: 1;
      button {
        width: 8px;
        height: 8px;
        margin: 0;
        color: #2c6df9;
        background-color: #2c6df9 !important;
        border: 1px solid #2c6df9;
        border-radius: 50%;
      }
    }
    li {
      width: 8px !important;
      height: 8px !important;
      background: #2c6df9;
      border: 1px solid #2c6df9;
      border-radius: 50%;
      opacity: 0.2;
      button {
        width: 8px;
        height: 8px;
        background: #2c6df9;
        border: 1px solid #2c6df9;
        border-radius: 50%;
      }
    }
  }
  .Padding {
    padding-top: 24px;
    padding-bottom: 24px;
    .Circle {
      display: flex;
      align-content: center;
      justify-content: center;
      width: 46px;
      height: 46px;
      color: #2c6df9;
      font-weight: 700;
      font-weight: 700;
      font-size: 20px;
      font-style: normal;
      font-stretch: normal;
      line-height: 46px;
      letter-spacing: normal;
      text-align: center;
      border: 1px solid #d6dce0;
      border-radius: 50%;
    }
  }
}
