@spacing-xxs: 4px;
.JobDetailsComponent {
  background: #fff;
  border: solid 1px #d6dce0;
  border-radius: 5px;

  .belowPart {
    margin: 32px;
    border-top: 1px solid #d6dce0;

    .verifyCheckbox {
      margin-top: 24px;
      :global {
        .ant-checkbox-wrapper {
          color: #707177;
          font-size: 13px;
          line-height: 20px;
        }
      }
    }
  }

  .bottomBar {
    padding: 4 * @spacing-xxs 32px;
    background-color: #ffffff;
    border: solid 1px #d6dce0;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 2, 0.15);

    .normalText {
      display: flex;
      color: #707177;
      font-size: 13px;
      font-family: 'Roboto';
      font-style: italic;
    }

    .redText {
      color: #ff4949;
      font-size: 13px;
      font-family: 'Roboto';
      font-style: italic;
    }

    .greenText {
      color: #47c97f;
      font-size: 13px;
      font-family: 'Roboto';
      font-style: italic;
    }

    &__button {
      text-align: right;
      &__disabled {
        opacity: 0.3;
      }
      :global {
        .ant-btn-primary {
          width: 94px;
          height: 40px;
          object-fit: contain;
          color: #ffffff;
          font-weight: 500;
          font-size: 14px;
          font-family: 'Roboto';
          letter-spacing: 0.13px;
          text-shadow: none;
          background-color: #ffa100;
          border: solid 1px #ffa100;
          border-radius: 25px;
          box-shadow: none;
          &:hover {
            color: #ffffff;
            background-color: #ffa100;
          }
        }
        .ant-btn-secondary {
          width: 94px;
          height: 40px;
          padding-right: 41px;
          object-fit: contain;
          color: #ffa100;
          font-weight: 500;
          font-size: 14px;
          font-family: 'Roboto';
          letter-spacing: 0.13px;
          border: solid 0;
          border-radius: 25px;
        }
      }
    }
  }
  :global {
    h5.ant-typography {
      margin: 0;
      color: #707177;
      font-weight: normal;
      font-size: 13px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }
    h4.ant-typography {
      color: #161c29;
      font-weight: 700;
      font-size: 16px;
    }
    .ant-typography {
      color: #707177;
      font-weight: normal;
      font-size: 14px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }
    span.ant-select-arrow {
      color: #161c29;
    }
    span.ant-picker-suffix {
      color: #161c29;
    }
    .ant-input-number-handler-wrap {
      display: none !important;
    }

    .ant-input-disabled,
    .ant-picker-disabled {
      color: #161c29;
      background: rgba(226, 228, 232, 0.5) !important;
      input {
        color: #161c29;
      }
    }
  }
}

.RightComponents {
  width: 322px;
  .stepRow {
    width: 100%;
  }
}
.bottomBar {
  padding: 4 * @spacing-xxs 32px;

  background-color: #ffffff;
  border: solid 1px #d6dce0;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 2, 0.15);
  margin-block: 24px;

  .normalText {
    display: flex;
    color: #707177;
    font-size: 13px;
    font-family: 'Roboto';
    font-style: italic;
  }

  .redText {
    color: #ff4949;
    font-size: 13px;
    font-family: 'Roboto';
    font-style: italic;
  }

  .greenText {
    color: #47c97f;
    font-size: 13px;
    font-family: 'Roboto';
    font-style: italic;
  }

  &__button {
    text-align: right;
    &__disabled {
      opacity: 0.3;
    }
    :global {
      .ant-btn-primary {
        width: 94px;
        height: 40px;
        object-fit: contain;
        color: #ffffff;
        font-weight: 500;
        font-size: 14px;
        font-family: 'Roboto';
        letter-spacing: 0.13px;
        text-shadow: none;
        background-color: #ffa100;
        border: solid 1px #ffa100;
        border-radius: 25px;
        box-shadow: none;
        &:hover {
          color: #ffffff;
          background-color: #ffa100;
        }
      }
      .ant-btn-secondary {
        width: 94px;
        height: 40px;
        padding-right: 41px;
        object-fit: contain;
        color: #ffa100;
        font-weight: 500;
        font-size: 14px;
        font-family: 'Roboto';
        letter-spacing: 0.13px;
        border: solid 0;
        border-radius: 25px;
      }
    }
  }
}
