.tableAssigned {
  .viewEmpty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 255px;
    .textEmpty {
      font-weight: 400;
      font-size: 16px;
      line-height: 18.75px;
      color: black;
      margin-top: 20px;
    }
  }
  :global {
    .ant-table-thead > tr > th {
      background-color: #2c6df9;
      padding: 7px 16px;
    }
    .ant-table-tbody > tr > td {
      border-bottom: solid 1px #d6dce0;
      color: #464646;
      font-size: 13px;
      padding: 1px 16px;
    }
  }

  .textEmpty {
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    color: black;
  }

  .title {
    color: #fff;
    font-size: 13px;
    line-height: 15.23px;
    font-weight: 400;
  }

  .tableText {
    font-size: 13px;
    line-height: 15px;
    color: #464646;
  }
  .rowAction {
    color: #2c6df9;
    cursor: pointer;
  }
  .text {
    margin: 13px 0;
  }
  .reason {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
