.content {
    :global {
      .ant-input-disabled, .ant-select-disabled span {
        color: #000
      }

    }
    p {
      margin: 0;
    }
    .mgb10 {
      margin-bottom: 10px;
    }
    .textInput {
      box-sizing: border-box;
      width: 430px;
      height: 42px;
      background: #ffffff;
      border-radius: 5px;
      &:focus {
        box-shadow: none;
      }
    }
    .viewRemoveField {
      display: flex;
      justify-content: flex-end;
      margin: 15px 0;
      color: red;
    }
    .title {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
    }
    &__viewBottom {
      height: fit-content;
      color: #161c29;
      font-size: 13px;
      line-height: 15px;
      :global{
        .ant-row{
          .ant-col{
            p{
              font-size: 13px;
              line-height: 42px;
            }
          }
          .ant-form-item{
            .ant-form-item-control{
              .ant-form-item-control-input{
                .ant-form-item-control-input-content{
                  .ant-input{
                    padding: 13px;
                  }
                  .ant-select {
                    .ant-select-selector{
                      padding: 9px;
                      height: auto;
                    }
                  }
                }
              }
            }
          }
        }
      }
      &__viewTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
      }
      &__row {
        margin-bottom: 20px;
        .viewFormVertical {
          width: fit-content;
          :global {
            .ant-input {
              .textInput();
              width: 187px !important;
            }
            .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
              .ant-select-selector {
              box-shadow: none;
            }
            .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
              box-sizing: border-box;
              width: 187px;
              height: 42px;
              padding: 5px 11px 0;
              background: #ffffff;
              border-radius: 5px;
            }
            .ant-select-single:not(.ant-select-customize-input)
              .ant-select-selector
              .ant-select-selection-search-input {
              height: 36px;
            }
          }
        }
      }
    }
  }
  
  .action {
    cursor: pointer;
    &:active {
      transform: translateY(-1px);
    }
    &__icon {
      margin: 2px 7px 0 0;
      color: #2c6df9 !important;
    }
    span {
      color: #707177;
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;
      text-decoration-line: underline;
    }
  }
  
  .hide {
    visibility: hidden;
  }
  .nonHide {
    visibility: visible;
  }
  