.PayDetail {
  display: flex;
  align-items: center;
  .circleColor {
    width: 5px;
    height: 5px;
    padding: 5px;
    line-height: 5px;
    // background: red;
    border-radius: 50%;
  }
  .container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  .money {
    color: #707177;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: right;
  }
  .grossPay {
    margin-bottom: 18px;
  }
  .viewGross {
    padding-left: 15px;
    color: #2c6df9;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.121875px;
    text-align: left;
  }
  .netPay {
    padding: 12px 0;
    color: #000000;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    border-top: 1px solid #d6dce0;
    border-bottom: 1px solid #d6dce0;
  }
  .boderTop {
    padding: 12px 0;

    border-top: 1px solid #d6dce0;
    border-bottom: 1px solid #d6dce0;
  }
}
