.questionItem {
  position: relative;
  margin-top: 24px;
  padding: 32px 24px;
  background-color: #fff;
  border: 1px solid #d6dce0;
  border-radius: 5px;
  :global {
    textarea {
      background: #ffffff;
      border: 1px solid #d6dce4 !important;
      border-radius: 5px !important;
      resize: none;
    }
  }
  &__manage {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    &__edit {
      color: #ffa100;
      border: 1px solid #ffa100;
    }

    &__remove {
      margin-left: 10px;
    }
  }
  &__question {
    // display: flex;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.001rem;
  }
  &__answers {
    position: relative;
    display: flex !important;
    align-items: center !important;
    margin-top: 12px !important;

    &__remove {
      position: absolute;
      right: -24px;
      cursor: pointer;
    }
  }

  &__rating {
    margin-top: 40px;
    color: #161c29;
    font-size: 13px;
    line-height: 15px;
    :global {
      .ant-radio-wrapper:last-child {
        margin-right: 40px;
      }
      .ant-radio-wrapper {
        position: relative;
        margin-left: 40px;
        & > span:last-child {
          position: absolute;
          top: -100%;
          left: -25%;
        }
      }
    }
  }

  .errorMessage,
  .required {
    margin-top: 5px;
    color: #ff4d4f;
    font-size: 14px;
    line-height: 1.5715;
  }
}
.ant-row.ant-col .ant-radio-group {
  width: 100% !important;
}
.radioGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.contentColumns {
  display: flex;
  justify-content: center;
}
