@blueColor: #2c6df9;

.Footer {
  height: 70px;
  box-shadow: 4px 0px 40px rgba(0, 0, 0, 0.1);
  padding-inline: 24px;
  .text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
    color: #333333;
    font-weight: 500;
    font-size: 16px;
  }
  .value {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: @blueColor;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
}
