.root {
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  color: #161c29;
  font-style: normal;

  background: #ffffff;
  border: 1px solid #d6dce0;

  border-radius: 5px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 26px 28px 24px;
    border-bottom: 1px solid rgba(226, 228, 232, 0.54);

    &__title {
      font-weight: bold;
      font-size: 16px;
      line-height: 18.75px;
    }

    &__action {
      padding-right: 17px;
      color: #ffa100;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      text-align: right;
      cursor: pointer;
      text-decoration-line: underline;
    }
  }

  .primary {
    padding: 26px 28px 19px;
  }
}
