.root {
  padding-top: 20px;

  .topHeader{
    width: auto;

    :global{
      .ant-select .ant-select-arrow{
        transition: transform 0.2s ease-in;
      }
      .ant-select-open .ant-select-arrow{
        transform: rotate(180deg);
      }

      .ant-select-item-option-content {
        background-color: red;
      }

    }

    .selectCountry{
      width: 300px;
      border-radius: 4px;

      .labelText {
        display: flex;
        // flex-direction: row-reverse;
        align-items: center;
      }
    }
    margin-bottom: 30px;
  }

  .footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #d6dce0;
    box-sizing: border-box;
    border-radius: 5px;
    :global {
      .ant-btn {
        background-color: #ffa100;
        border: none;
        border-radius: 30px;
        height: 40px;
        padding: 0 40px;
        span {
          color: white;
          font-weight: 500;
        }
        &:hover {
          background-color: #ffa100cc; // hex with alpha 0.8
        }
      }
    }
  }
  .TimeoffRuleFrom {
    .flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .flexText {
      display: flex;
      justify-content: space-between;
      padding: 27px 24px;
    }
    .buttonRequest {
      background: rgba(86, 138, 250, 0.12);
      border-radius: 5px;
      font-size: 14px;
      font-weight: 500;
      color: #2c6df9;
      // padding: 7px;
      // width: 157px;
      cursor: pointer;
      border: none;
    }
    .from {
      height: auto;
      background: #ffffff;
      border: 1px solid #d6dce0;
      box-sizing: border-box;
      border-radius: 5px;
    }
    .header {
      padding: 21px 30px;
    }
    // .body {
    //   padding: 27px 24px;
    // }
    .straightLine {
      background-color: #d6dce0;
      width: 100%;
      height: 1px;
    }
    .text {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #464646;
    }
    .title {
      font-weight: 500;
      font-size: 16px;
      color: #464646;
    }
    .Configure {
      cursor: pointer;
      color: #2c6df9;
      width: 150px;
      text-decoration: underline;
      display: flex;
      justify-content: space-between;
    }
    .borderStyles {
      width: 100%;
      height: 1px;
      background-color: #d6dce0;
    }
  }
}

.loadingListCountry{
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  align-items: center;
  justify-content: center;
  p {
    font-weight: 500;
  }
}
