.root {
  padding-top: 20px;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  line-height: 20px;
  color: #464646;
  .modal__add {
    background-color: red;
  }

  .topHeader{
    width: auto;

    :global{
      .ant-select .ant-select-arrow{
        transition: transform 0.2s ease-in;
      }
      .ant-select-open .ant-select-arrow{
        transform: rotate(180deg);
      }

      .ant-select-item-option-content {
        background-color: red;
      }

      .ant-select-selector{
        border: 1px solid #D6DCE0;
        border-radius: 4px;
      }
    }

    .selectCountry{
      width: 300px;
      height: 42px;

      .labelText {
        display: flex;
        // flex-direction: row-reverse;
        align-items: center;
      }
    }
    margin-bottom: 30px;
  }

  .footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #d6dce0;
    box-sizing: border-box;
    border-radius: 5px;
    :global {
      .ant-btn {
        background-color: #ffa100;
        border: none;
        border-radius: 30px;
        height: 40px;
        padding: 0 40px;
        span {
          color: white;
          font-weight: 500;
        }
        &:hover {
          background-color: #ffa100cc; // hex with alpha 0.8
        }
      }
    }
  }
  .timeOffRuleFrom {
    .buttonRequest {
      background: rgba(86, 138, 250, 0.12);
      border-radius: 5px;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      color: #2c6df9;
      padding: 0px 12px;
      // width: 157px;
      cursor: pointer;
      border: none;
    }
    .from {
      height: auto;
      background: #ffffff;
      border: 1px solid #d6dce0;
      box-sizing: border-box;
      border-radius: 5px;

      :global {
        .ant-col.ant-col-8 {
          display: flex;
          align-items: center;
        }
      }

      &__rowItem{
        margin: 0px !important;
        padding: 16px 24px;

        .colAction{
          display: flex;
          justify-content: flex-end;
          padding: 0px 12px !important;
        }

        .complete{
          color: #00C598;
        }

        .uncomplete{
          color: #FFA100;
        }
      }
    }

    .straightLine {
      background-color: #d6dce0;
      width: 100%;
      height: 1px;
    }
    .text {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #707177;
    }
    .title {
      font-weight: 500;
      font-size: 16px;
      color: #161C29;
    }
    .setup {
      cursor: pointer;
      color: #2c6df9;
      width: 150px;
      margin-right: 12px;
      text-decoration: underline;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .deleteIcon{
        position: relative;
        width: 30px;
        height: 30px;
        background-color: #FFF4F4;
        border-radius: 20px;

        .iconImg{
          color: red;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    
    .borderStyles {
      width: 100%;
      height: 1px;
      background-color: #d6dce0;
    }
  }
}

.loadingListCountry{
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  align-items: center;
  justify-content: center;
  p {
    font-weight: 500;
  }
}
