.modalDataRight {
  :global {
    .ant-modal-body {
      padding: 50px 60px 0px;
    }

    .ant-modal-content {
      width: 700px;
      margin-left: -90px;
      height: 666px;
      border-radius: 5px;
    }

    .ant-modal-footer {
      border: none;
      display: flex;
      font-size: 11px;
      line-height: 19px;
      // color: #707177;
    }

    .ant-modal-close-x {
      color: white;
    }
  }

  .subText {
    font-size: 13px;
    line-height: 17px;
    padding: 12px;
  }

  .modalTitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
    margin-bottom: 12px;
    color: #464646;
  }

  .modalContent {
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
  }

  .modalText {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 28.14px;
    margin-bottom: 50px;
  }
}

.root {
  background-color: #fff;

  .boxRight {
    padding: 10px 13px 0px 30px;
  }

  .actionclick {
    color: blue;
    cursor: pointer;
  }

  .bodyInfo {
    .modalTitle {
      font-weight: 700;
      font-size: 16px;
      line-height: 18.75;
      color: #464646;
    }
  }

  .text_Title {
    margin-top: 17px;
    line-height: 18.75px;
    font-size: 16px;
    font-weight: 700;
    color: #464646;
  }

  .text_Schedule {
    cursor: pointer;
    margin-top: 11px;
    line-height: 17px;
    font-size: 13px;
    font-weight: 500;
    color: #2c6df9;
    text-decoration: underline;
  }

  .text_Body {
    margin-top: 12px;
    line-height: 17px;
    font-size: 13px;
  }

  .twoRight {
    margin-top: 40px;

    .text_twoRight {
      margin-top: 28px;
      font-size: 16px;
      font-weight: 700;
    }
  }
}
