.onboardingTab {
  // height: 319px;
  object-fit: contain;
  overflow: auto;
  background-color: #ffffff;
  border: solid 1px @border-color-base;
  border-radius: 8px;

  .title {
    color: #000000;
    font-weight: 500;

    font-size: 16px;
  }

  :global {
    .ant-tabs-tab {
      text-transform: capitalize;

      .ant-tabs-tab-btn {
        font-weight: 700;
        font-size: 14px;
      }
    }
    .ant-tabs-nav-wrap {
      height: 56px;
    }
    .ant-tabs-extra-content {
      margin-right: 24px;
    }
  }
}
