.onboardingTab {
  // height: 319px;
  object-fit: contain;
  overflow: auto;
  background-color: #ffffff;
  border: solid 1px #d6dce0;
  border-radius: 8px;

  .title {
    color: #000000;
    font-weight: 500;

    font-size: 16px;
  }

  :global {
    .ant-tabs-tab {
      text-transform: capitalize;

      .ant-tabs-tab-btn {
        font-weight: 700;
        font-size: 14px;
      }
    }
    .ant-tabs-nav-wrap {
      height: 56px;
    }
    .ant-tabs-extra-content {
      margin-right: 24px;
      .ant-input-affix-wrapper {
        width: 212px;
        height: 37px;
        border: 1px solid #d6dce0;
        border-radius: 33px;
      }

      .ant-input-affix-wrapper:focus,
      .ant-input-affix-wrapper-focused {
        box-shadow: none;
      }
    }
  }
}
