.root {
  width: 100%;
  height: fit-content;
  background: #ffffff;
  border: 1px solid #d6dce0;
  box-sizing: border-box;
  border-radius: 5px;
  p {
    margin: 0;
  }
  .content {
    &__viewTop {
      padding: 24px;
      border-bottom: 1px solid #d6dce0;
      .title {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #161c29;
      }
    }
    &__viewBottom {
      height: auto;
      padding: 30px;
      .viewPlanType {
        padding-bottom: 24px;
        border-bottom: 1px solid #e2e4e8;
        &__text1 {
          font-weight: bold;
          font-size: 12px;
          line-height: 14px;
          color: #00c598;
        }
        &__text2 {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: #161c29;
          margin: 10px 0 17px 0;
        }
        &__text3 {
          font-size: 12px;
          line-height: 20px;
          text-align: justify;
          color: #707177;
        }
      }
      .viewCustomerSupport {
        padding: 24px 0 0 10px;
        font-size: 13px;
        line-height: 15px;
        color: #707177;
        &__text {
          cursor: pointer;
          font-size: 13px;
          font-weight: bold;
          text-decoration-line: underline;
          color: #2c6df9;
        }
      }
    }
  }
}
