.ViewTypeSelector {
  display: flex;
  align-items: center;
  justify-content: center;
  :global {
    .ant-radio-group {
      overflow: hidden;
      border: 1px solid #d6dce0;
      border-radius: 6px;
    }
    .ant-radio-button-wrapper:not(:first-child)::before {
      display: none;
    }
    .ant-radio-button-wrapper {
      height: 35px;
      line-height: 35px;
      border: none;
      span {
        color: #6c717a;
        font-size: 13px;
      }
      &:hover {
        span {
          color: #2c6df9;
        }
      }
    }
    .ant-radio-group-solid
      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      background-color: #2c6df9;
      border-radius: 5px;
      span {
        color: #fff;
      }
    }
  }
}
