.Documents {
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid @border-color-base;
  border-radius: 5px;

  .documentHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    border-bottom: 1px solid @border-color-base;
    padding-inline: 24px;
    .documentHeaderTitle {
      line-height: 3;
      span {
        font-weight: 700;
        font-size: 16px;
      }
    }
    .documentHeaderFunction {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .documentBody {
    padding: 16px 27px;
    :global {
      .ant-col {
        margin-bottom: 24px;
      }
    }
    .divisionPrimary {
      width: 100%;
      margin-right: 8px;
      margin-bottom: 8px;
      margin-left: 8px;
      padding: 24px;
      padding-right: 0;
      background-color: #f6f7f9;
    }
    .divisionSecondary {
      padding: 24px 0 24px 32px;
    }
  }

  .action {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      cursor: pointer;
    }
  }
}
