.root {
  :global {
    .ant-menu {
      background-color: #fff;
    }
    .ant-menu-horizontal {
      border: none;
    }
    .ant-menu-horizontal > .ant-menu-item-selected {
      border-bottom: 2px solid #e67225;
      color: #e67225;
      font-weight: 500;
    }
    .ant-menu-horizontal > .ant-menu-item-selected > a,
    .ant-menu-horizontal > .ant-menu-item > a:hover {
      color: #e67225;
    }
  }

  .header {
    background-color: #fff;
    padding: 2px 32px 0;
    height: 50px;
  }

  .title {
    font-size: 18px;
    font-weight: 600 !important;
    text-align: center;
    padding: 0 30px;
  }
}
