@borderColor: #d6dce0;
@borderColor2: #d6dce4;
@blueColor: #2c6df9;
@commonSpace: 24px;
.CustomRangePicker {
  :global {
    .ant-picker {
      width: 100%;
      box-sizing: border-box;
      height: 37px;
      border: 1px solid @borderColor2;
      border-radius: 5px;
    }
    .ant-picker-input {
      input {
        color: @blueColor;
      }
    }
  }

  display: flex;
  flex-direction: row;
  .rangePicker {
    margin-inline: 8px;
    min-width: 330px;
    .minusSeparator {
      color: #161c29;
      font-size: 13px;
      opacity: 0.5;
    }
    .calendarIcon {
      filter: invert(57%) sepia(76%) saturate(7481%) hue-rotate(216deg) brightness(102%)
        contrast(95%);
    }
  }
}
