@spacing-xxs: 4px;
.firstColumn {
  padding-left: 62px;
}
.salaryStructureTemplate {
  :global {
    .ant-input {
      height: 27px;
      background: #ffffff;
      border: 1px solid #d6dce0;
      box-sizing: border-box;
      border-radius: 5px;
      font-size: 13px;
    }

    .blue-text {
      color: #2c6df9;
    }

    .big-text {
      font-size: 18px;
    }

    // .ant-form-item-control {
    //   height: 0;
    // }

    .ant-btn:focus .ant-btn.focus {
      background-color: red !important;
    }

    .ant-form-item {
      margin-bottom: 0;
    }
    .ant-btn-primary {
      box-shadow: none;
      text-shadow: none;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: baseline;
      right: 0;
      top: -5px;
      border-radius: 25px;
      border: none;
      box-shadow: none;
      background-color: transparent;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.13px;
      color: #ffa100;
      &:hover {
        background-color: transparent;
        color: #ffa100;
      }
    }

    .ant-table-cell.thirdColumn {
      padding-bottom: 0;
      padding-top: 0;
    }

    .ant-table-thead {
      display: none;
    }
    .ant-table-tbody {
      tr {
        td {
          border: none;
        }
        td:first-child {
          padding-left: 32px;
        }
        td:nth-child(2) {
          border-right: 1px solid #d6dce0;
          border-left: 1px solid #d6dce0;
          text-align: center;
        }
        td:last-child {
          padding-left: 62px;
        }
      }
    }
  }
  &_select {
    // margin-bottom: 30px;
    :global {
      .ant-form-item {
        display: block;
      }
    }
    p {
      font-family: 'Roboto';
      font-size: 13px;
      line-height: 19px;
      color: #464646;
    }
  }
  .buttons {
    img {
      margin-right: 5px;
    }
  }
  &_table {
    // margin-bottom: 8 * @spacing-xxs;
    min-height: 570px;
    height: max-content;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: solid 1px #d6dce0;
    background-color: #ffffff;
    padding: 30px;

    // display: flex;
    // justify-content: center;
    // align-items: center;

    .title,
    .value {
      width: 448px;
      height: 36px;
      font-family: 'Roboto';
      font-size: 13px;
      line-height: 1.38;
      letter-spacing: 0.12px;
      text-align: center;
      color: #707177;
    }
  }

  &_footer {
    margin-bottom: 8 * @spacing-xxs;
    min-height: 79px;
    height: max-content;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid 1px #d6dce0;
    background-color: #ffffff;
    padding: 12px 62px;
    display: grid;
    grid-template-columns: 30% 30%;
    &_info {
      .title {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #707177;
        margin-bottom: 10px;
      }
      .value {
        font-weight: 500;
        font-size: 13px;
        line-height: 21px;
        color: #707177;
      }
    }
  }
  // Custom table
  .bottomBar {
    // position: fixed;
    // bottom: 0;
    // width: inherit;
    position: relative;
    display: grid;
    height: 72px;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 2, 0.15);
    border: solid 1px #d6dce0;
    background-color: #ffffff;
    padding: 4 * @spacing-xxs;

    .normalText {
      display: flex;
      font-family: 'Roboto';
      font-size: 13px;
      font-style: italic;
      color: #707177;
    }

    .redText {
      font-family: 'Roboto';
      font-size: 13px;
      font-style: italic;
      color: #ff4949;
    }

    .greenText {
      font-family: 'Roboto';
      font-size: 13px;
      font-style: italic;
      color: #47c97f;
    }

    &__button {
      text-align: right;
      display: flex;
      align-items: center;
      &__disabled {
        opacity: 0.3;
      }
      :global {
        .ant-btn-primary {
          // display: none;
          text-shadow: none;
          box-shadow: none;
          display: flex;
          align-items: center;
          top: 0;
          width: 94px;
          height: 40px;
          object-fit: contain;
          border-radius: 25px;
          border: solid 1px #ffa100;
          background-color: #ffa100;
          font-family: 'Roboto';
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.13px;
          color: #ffffff;
          &:hover {
            background-color: #ffa100;
            color: #ffffff;
          }
        }
        .ant-btn-secondary {
          width: 94px;
          height: 40px;
          object-fit: contain;
          border-radius: 25px;
          border: solid 0;
          font-family: 'Roboto';
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.13px;
          color: #ffa100;
          padding-right: 41px;
        }
      }
    }
  }

  :global {
    .ant-empty-description {
      width: 100% !important;
      display: none !important;
    }
    .ant-table-placeholder {
      display: none !important;
      width: 100% !important;
      height: 100% !important;

      .ant-empty {
        p {
          width: unset !important;
        }
      }
    }
  }
  .salaryNote {
    border: solid 1px #d6dce0;
    border-radius: 5px;
    margin-bottom: 24px;
    padding: 24px;
    background-color: #fff;
    :global {
      .ant-input {
        font-size: 14px;
      }
      .ant-input-disabled {
        color:rgba(0, 0, 2, 0.755)
      }
    }
    .title {
      font-weight: 500;
      font-size: 13px;
      display: block;
      margin-bottom: 10px;
    }
  }
}

:global {
  .ant-empty-description {
    width: 100% !important;
    display: none !important;
  }
  .ant-table-placeholder {
    display: none !important;
    width: 100% !important;
    height: 100% !important;

    .ant-empty {
      p {
        width: unset !important;
      }
    }
  }
}
