.header{
    padding: 34px 24px;
    margin-bottom: 24px;
    background: #FFFFFF;
    border: 1px solid #D6DCE0;
    
    border-radius: 5px;
    
    .right{
        display: flex;
        align-items: center;
        
        .titleHeader{
            padding-left: 8px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #161C29;
        }
    }
    .left{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}