.header {
  margin-bottom: 24px;
  padding: 24px;
  background: #ffffff;
  border: 1px solid #d6dce0;

  border-radius: 5px;

  .right {
    display: flex;
    align-items: center;

    .titleHeader {
      padding-left: 8px;
      color: #161c29;
      font-weight: 500;
      font-size: 14px;
      font-style: normal;
      line-height: 20px;
    }
  }
  .left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
