.txtMenu {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}

.icon {
  margin-right: 10px;
  margin-bottom: 7px;
}

:global(.ant-menu-submenu-title) {
  font-size: 18px !important;
  font-weight: 600px !important;
}
