@import '~antd/lib/style/themes/default.less';

@nav-header-height: @layout-header-height;

.logo {
  height: @nav-header-height*2.5;
  position: relative;
  line-height: @nav-header-height;
  padding: 0 (@menu-collapsed-width - 32px) / 2;
  transition: all 0.3s;
  overflow: hidden;
  text-align: center;
  img {
    display: inline-block;
    vertical-align: middle;
    height: 96px;
  }
  h1 {
    color: white;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin: 0 0 0 12px;
    font-weight: 600;
  }
}

.sider {
  min-height: 100vh;
  font-size: 18px;
}

.nav-text {
  color: #404040;
  font-size: 20px;
}

.titleLogo {
  color: #bf520a;
  font-size: 28px;
  font-weight: 600;
}
.version {
  color: #a2a2a2;
  font-size: 15px;
}
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .line {
    opacity: 0.5;
    height: 1px;
    margin: 10px 0 10px 15%;
    width: 70%;
    background-color: #fff;
  }
  .txtMenu {
    font-size: 18px;
    font-weight: 600px;
  }

  .icon {
    margin-right: 10px;
    margin-bottom: 7px;
  }
  :global {
    .ant-menu.ant-menu-dark .ant-menu-item-selected {
      background: linear-gradient(270deg, #051f56 0%, #2b6df8 100%);
      opacity: 1 !important;
      white-space: normal;
    }
    .ant-menu-dark.ant-menu-inline .ant-menu-item {
      margin: 0;
      opacity: 0.5;
    }
    .ant-menu-dark.ant-menu-inline .ant-menu-item:hover {
      opacity: 1;
    }
  }
}
.viewVersion {
  width: 92%;
  text-align: center;
}

.baseMenuStyle {
  width: 100%;
}
