.filterForm {
    :global {
      .ant-form-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
  
      .ant-form-item-label {
        text-align: left;
  
        > label {
          color: #707177;
          font-weight: normal;
          font-size: 12px;
          font-family: Roboto;
          font-style: normal;
          line-height: 14px;
          text-transform: uppercase;
        }
      }
  
      .ant-select-single .ant-select-selector,
      .ant-select-multiple .ant-select-selector {
        box-sizing: border-box;
        min-height: 42px;
        background: #ffffff;
        border: 1px solid #d6dce4;
        border-radius: 5px;
      }
  
      .ant-select-selector input {
        min-height: 100%;
      }
  
      .ant-select-multiple .ant-select-selection-item,
      .ant-tag {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
  
        width: 100%;
        height: 31px;
        padding: 8px;
  
        color: #464646;
        font-weight: normal;
        font-size: 12px;
  
        font-family: Roboto;
        font-style: normal;
        line-height: 14px;
        letter-spacing: 0.121875px;
        background: #ffffff;
        border: 1px solid #c9d3dc;
        border-radius: 4px;
      }
  
      .ant-checkbox-wrapper {
        margin-top: -4px;
      }
      .ant-select-selection-overflow-item {
        margin: 4px;
      }
      .ant-select-selection-overflow-item-suffix {
        margin: 0px !important;
      }
  
      .ant-tag::before {
        position: absolute;
        top: -1px;
        left: -1px;
        display: block;
        width: 4px;
        height: 31px;
        background: #2c6df9;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        content: '';
      }
  
      .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
      .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
        display: flex;
        align-items: center;
      }
    }
  
    .form {
      width: 100%;
  
      &__top {
        padding: 16px;
  
        :global {
          .ant-select-item-option-content {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
  
        .processStatus {
          width: 100%;
          margin-bottom: 24px;
  
          &__label {
            display: flex;
            align-items: center;
            height: 32px;
  
            .labelText {
              color: #707177;
              font-weight: normal;
              font-size: 12px;
              font-family: Roboto;
              font-style: normal;
              line-height: 14px;
              text-transform: uppercase;
            }
          }
  
          :global {
            .ant-select {
              width: 100%;
            }
          }
        }
      }
  
      .doj {
        width: 100%;
        :global {
          .ant-form-item {
            margin-bottom: 0 !important;
          }
  
          .ant-picker {
            width: 132px;
            height: 37px;
            background: #ffffff;
            border: 1px solid #d6dce4;
            border-radius: 5px;
          }
  
          .ant-picker-input > input {
            color: #161c29;
            font-weight: normal;
            font-size: 14px;
            font-family: Roboto;
            font-style: normal;
            line-height: 16px;
  
            opacity: 0.5;
          }
        }
  
        &__label {
          display: flex;
          align-items: center;
          height: 32px;
        }
  
        .labelText {
          color: #707177;
          font-weight: normal;
          font-size: 12px;
          font-family: Roboto;
          font-style: normal;
          line-height: 14px;
          text-transform: uppercase;
        }
  
        .labelTo {
          text-transform: lowercase;
        }
  
        &__date {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
  
          .calendarIcon {
            filter: invert(27%) sepia(81%) saturate(3092%) hue-rotate(202deg) brightness(99%)
              contrast(101%);
          }
        }
      }
  
      .divider {
        margin: 25px 0 16px 0;
        border-top: 1px solid #e1dfdf;
      }
  
      .footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 16px;
  
        :global {
          .ant-btn {
            height: 36px;
            padding: 10px 27px;
            color: #464646;
            font-weight: 500;
            font-size: 13px;
            font-family: Roboto;
            font-style: normal;
            line-height: 15px;
            letter-spacing: 0.2px;
            background: transparent;
            border: none;
            border-radius: 18px;
            outline: none;
            box-shadow: none;
          }
        }
  
        &__apply {
          color: #ffffff !important;
          font-weight: 500 !important;
          font-size: 14px !important;
          line-height: 16px !important;
          letter-spacing: 0.13125px !important;
          background: #ffa100 !important;
        }
      }
    }
  }
  
  .checkAll {
    :global {
      .ant-checkbox-wrapper {
        width: 100%;
        padding: 7px 12px;
      }
    }
  }
  
  .dropdown {
    :global {
      // .ant-select-selection-item-content .ant-checkbox-wrapper .ant-checkbox-wrapper-checked,
      .ant-tag .ant-checkbox-wrapper,
      .ant-select-selection-item .ant-checkbox-wrapper {
        display: none !important;
      }
  
      .ant-select-selection-item > span {
        color: #161c29;
        font-weight: normal;
        font-size: 14px;
        font-style: normal;
        line-height: 16px;
      }
  
      .ant-select-item-option-content > span {
        margin-left: 8px;
      }
  
      .ant-select-item-option-selected:not(.ant-select-item-option-disabled)
        .ant-select-item-option-state {
        display: none !important;
      }
  
      .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
        color: #2c6df9;
        font-weight: normal;
        font-size: 14px;
        font-family: Roboto;
        font-style: normal;
        line-height: 16px;
      }
  
      .ant-select-item-option-selected:not(.ant-select-item-option-disabled),
      .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
        background-color: #fff;
      }
  
      .ant-select-item {
        padding: 7px 12px;
      }
  
      .ant-checkbox-inner {
        width: 18px;
        height: 18px;
  
        border: 1px solid #d8d8d8;
        border-radius: 4px;
      }
  
      .ant-checkbox-checked .ant-checkbox-inner {
        background: #2c6df9 !important;
      }
  
      .ant-checkbox-checked .ant-checkbox-inner::after {
        width: 6px;
        height: 11px;
        border: 2px solid #fff;
        border-top: 0;
        border-left: 0;
      }
  
      .ant-select-selection-search-input {
        margin-left: -4px !important;
      }
    }
  }
  