.QuickLinks {
  border: 1px solid #ebeff2;
  border-radius: 5px;
  width: 100%;
  background-color: white;

  span {
    display: block;
    // font-weight: 700;
    font-size: 13px;
    line-height: 2;
    text-decoration-line: underline;
    color: #2c6df9;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
      transition: 0.3s;
    }
  }

  :global {
    .ant-tabs-tab {
      margin: 0px 24px 0 0;
      cursor: default;
    }
    .ant-tabs-tab-btn {
      font-weight: bold !important;
      font-size: 16px;
      color: #464646 !important;
      cursor: default;
    }
    .ant-tabs-tabpane {
      padding: 10px 24px 15px 24px;
    }

    .ant-tabs-nav {
      height: 50px;
      border-radius: 5px;
      padding-left: 24px !important;
    }
    .ant-tabs-ink-bar {
      display: none;
    }
    .ant-anchor-wrapper {
      margin: 10px 0;
    }
  }
}
