.RequestInformation {
  .requesteeDetails {
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #ebeff2;
    border-radius: 5px;

    .formTitle {
      display: flex;
      align-items: center;
      padding: 16px 24px;
      color: #161c29;
      border-bottom: 1px solid #e2e4e8;
      .title {
        color: #161c29;
        font-weight: 700;
        font-size: 16px;
      }
    }

    .formContent {
      padding: 24px 24px 15px 24px;
      font-size: 13px;
      .detailColumn {
        color: #707177;
        .fieldValue {
          margin-right: 10px;
        }
        .employeeLink {
          color: #2c6df9;
          cursor: pointer;
        }
        .header {
          padding-bottom: 8px !important;
        }
      }
      .projectList {
        margin-top: 5px;
        padding-top: 17px;
        border-top: 1px solid #e2e4e8;
        .title {
          display: block;
          margin-top: 18px;
          margin-bottom: 15px;
          color: #161c29;
          font-weight: 700;
          font-size: 14px;
        }
        .divider {
          margin-bottom: 18px;
          border-bottom: 1px solid #e2e4e8;
        }
      }
      :global {
        .ant-row {
          padding-bottom: 15px;
        }
      }
    }
  }
  .duration {
    margin: 8px 0;
    padding: 12px 10px;
    border: 1px solid #d6dce4;
    border-radius: 5px;
  }
  .header {
    padding: 7px 10px;
    color: #00000083;
    font-weight: 700;
    font-size: 13px;
    background-color: #e1e9fa;
    border-radius: 5px;
  }
  .rejectComment {
    margin-bottom: 20px;
    .title {
      display: block;
      margin-bottom: 10px;
      margin-left: 20px;
      color: #161c29;
      font-weight: 700;
      font-size: 16px;
    }
    :global {
      .ant-input {
        padding: 10px 20px;
        font-size: 13px;
        border-radius: 5px;
      }
      .ant-input:focus {
        border-color: #2c6df9;
        outline: 0;
        box-shadow: unset;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    background: #fff;
    border: 1px solid #ebeff2;
    border-radius: 5px;
    .note {
      display: flex;
      align-items: center;
      padding-right: 100px;
      color: #161c2980; // hex with alpha 0.5
      font-size: 12px;
    }
    .formButtons {
      display: flex;
      justify-content: flex-end;
      :global {
        .ant-btn-link {
          background-color: white !important;
          span {
            color: #fd4546 !important;
            font-weight: bold !important;
          }
        }
        .ant-btn {
          height: 40px;
          margin-left: 20px;
          // width: 120px;
          padding: 0 30px;
          background-color: #ffa100;
          border: none;
          border-radius: 30px;
          span {
            color: white;
            font-weight: 700;
          }
          &:hover {
            background-color: #ffa100cc; // hex with alpha 0.8
          }
        }
      }
    }
  }
}
