.rightContent {
  background-color: #fff;
  padding: 10px 10px 10px 30px;
  color: #464646;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid #d6dce0;

  &__title {
    margin-top: 17px;
    line-height: 18.75px;
    font-size: 16px;
    font-weight: 700;
  }

  &__body {
    margin-top: 12px;
    line-height: 17px;
    font-size: 13px;
  }

  &__textLink {
    font-weight: 500;
    text-decoration-line: underline;
    color: #2058d1;
    cursor: pointer;
  }

  &__above {
    margin-top: 20px;
  }

  &__consider {
    .consider__text {
      margin-top: 28px;
      font-size: 16px;
      font-weight: 700;
    }
  }
}
