.LayoutProjectInformation {
  display: flex;
  flex-direction: row;
  min-height: 90vh;
  background-color: #f6f7f9;
  .viewLeft {
    width: 250px;
    height: auto;
    margin-top: 1.5px;
    &__menu {
      padding-top: 24px;
      padding-bottom: 24px;
      padding-left: 20px;
      background-color: #ffffff;
      border-radius: 0 0 8px 0;
      box-shadow: 0 0 2px 0 rgba(0, 0, 2, 0.15);
      div:nth-last-child(1) {
        border-bottom: none;
      }
      &__btnPreviewOffer {
        padding: 10px 20px 24px 0;
        :global {
          .ant-btn-background-ghost.ant-btn-primary {
            width: 100%;
            height: 40px;
            color: #ffa100;
            font-weight: 500;
            text-shadow: none;
            background: transparent;
            border-color: #ffa100;
            border-radius: 30px;
          }
        }
      }
    }
    .disabled {
      opacity: 0.4 !important;
    }
  }
  .viewRight {
    width: 100%;
    padding: 25px;
    &__projectInfo {
      width: 100%;
      height: auto;
      overflow: hidden;
      background-color: #fff;
      border: solid 1px #d6dce0;
      border-radius: 5px;
      .btnEdit {
        position: absolute;
        top: 7px;
        right: 10px;
        z-index: 1;
        height: unset;
        padding: 1px 6px;
        color: #fff;
        background: transparent;
        border: 1px solid #f1f1f1;
        border-radius: 10px;
        span {
          color: #f1f1f1;
          font-weight: 500;
          font-size: 10px;
          line-height: 12px;
        }
      }
      .projectInfo {
        &__imgCover {
          position: relative;
          width: 100%;
          height: 103px;
          object-fit: cover;
        }
        &__imgAvt {
          position: absolute;
          top: 54px;
          right: 0;
          left: 0;
          width: 96px;
          height: 96px;
          margin: auto;
          object-fit: cover;
          // border: solid 1.5px #fff;
          border-radius: 50%;
          &__upload {
            position: absolute;
            top: 120px;
            right: -65px;
            left: 0;
            margin: auto;
            cursor: pointer;
            &:active,
            &:hover {
              opacity: 0.5;
            }
          }
        }
        &__textNameAndTitle {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-top: 60px;
          &__name {
            margin: 0;
            color: #161c29;
            font-weight: 500;
            font-size: 16px;
          }
          &__title {
            // margin: 5px 0;
            color: #161c29;
            font-size: 12px;
            text-align: right;
            opacity: 0.5;
          }
        }
        &__viewBottom {
          margin-top: 24px;
          margin-bottom: 24px;
          padding: 0 16px;
          font-size: 13px;
          &__row {
            .item {
              margin-block: 16px;
            }
            p {
              margin: 0;
            }
            .label {
              color: #161c29;
              font-weight: 500;
              font-size: 12px;
            }
            .value {
              color: #161c2980; // hex with alpha 50%
              font-size: 12px;
              text-align: right;
              .projectStatus {
                height: 19px;
                margin-top: -8px;
                span {
                  display: inline-block;
                }
                img {
                  width: 36px;
                  padding-left: 7px;
                  cursor: pointer;
                }
              }
            }
            :global {
              .ant-col-6 {
                text-align: right;
              }
            }
            .blueText {
              color: #2c6df9;
              font-weight: 500;
            }
            .clickable {
              .blueText();
              cursor: pointer;
            }
          }
          &__tagLabel {
            color: #161c29;
            font-weight: 500;
            font-size: 12px;
          }

          &__certifications {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px 20px;
            padding-bottom: 10px;
          }

          .titleTag {
            color: #161c29;
            font-weight: 500;
            font-size: 12px;
          }
          .titleTag1 {
            color: #161c29;
            font-weight: 400;
            font-size: 12px;
          }
          &__description {
            margin: 0;
            padding-bottom: 12px;
            color: #161c29;
            font-size: 12px;
            line-height: 1.5;
            // text-align: justify;
            text-align: center;
            opacity: 0.5;
          }
          :global {
            .ant-divider-horizontal {
              margin: 5px 0 15px 0;
            }
            .ant-tag {
              margin-bottom: 10px;
              color: #00c598;
              font-weight: 500;
              border: none;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
}
