.Sidebar {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 16px;
  background-color: white;
  border: 1px solid #ebeff2;
  border-radius: 5px;

  .text_Title {
    margin-top: 17px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
    // color: #464646;
  }

  .text_Schedule {
    margin-top: 11px;
    color: @primary-color;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }

  .text_Body {
    margin-top: 12px;
    font-size: 13px;
  }

  .twoRight {
    margin: 30px 0 10px 0;
    .text_twoRight {
      margin-top: 28px;
      font-weight: 700;
      font-size: 16px;
    }
    .description {
      font-size: 13px;
    }
  }
}
