.formWrapper {
  width: 55%;
  height: auto;
  padding: 20px 30px 40px;
  background-color: #fff;
  box-shadow: 0 0 11px #ececec;
  &__title {
    color: #acacac;
    font-weight: 600;
  }
  .inputPassword {
    :global {
      .ant-input {
        height: 30px;
        color: #000;
      }
      .ant-input-affix-wrapper {
        height: 40px;
      }
    }
  }
  :global {
    .ant-input {
      height: 40px;
      color: #000;
    }
    .ant-btn-primary {
      width: 100%;
      height: 40px;
      font-weight: 600;
    }
    .ant-form-item {
      margin-bottom: 1rem;
    }
    .ant-form label {
      font-weight: 500;
      font-size: 12px;
    }
  }

  input:-webkit-autofill,
  input:focus:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px #fff inset;
    box-shadow: 0 0 0 100px #fff inset;
  }
}

@media screen and (max-width: 768px) {
  .formWrapper {
    width: 70%;
  }
}
