@spacing-xxs: 4px;

.basicInformation {
  position: relative;
  width: 100%;
  min-height: 216px;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;

  .bottomBar {
    padding: 4 * @spacing-xxs;
    background-color: #ffffff;
    border: solid 1px #d6dce0;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 2, 0.15);
    margin-block: 24px;

    .normalText {
      display: flex;
      color: #707177;
      font-size: 13px;
      font-family: 'Roboto';
      font-style: italic;
    }

    .redText {
      color: #ff4949;
      font-size: 13px;
      font-family: 'Roboto';
      font-style: italic;
    }

    .greenText {
      color: #47c97f;
      font-size: 13px;
      font-family: 'Roboto';
      font-style: italic;
    }

    &__button {
      text-align: right;
      &__disabled {
        opacity: 0.3;
      }
      :global {
        .ant-btn-primary {
          width: 94px;
          height: 40px;
          object-fit: contain;
          color: #ffffff;
          font-weight: 500;
          font-size: 14px;
          font-family: 'Roboto';
          letter-spacing: 0.13px;
          text-shadow: none;
          background-color: #ffa100;
          border: solid 1px #ffa100;
          border-radius: 25px;
          box-shadow: none;
          &:hover {
            color: #ffffff;
            background-color: #ffa100;
          }
        }
        .ant-btn-secondary {
          width: 94px;
          height: 40px;
          padding-right: 41px;
          object-fit: contain;
          color: #ffa100;
          font-weight: 500;
          font-size: 14px;
          font-family: 'Roboto';
          letter-spacing: 0.13px;
          border: solid 0;
          border-radius: 25px;
        }
      }
    }
  }

  &__bottom {
    position: fixed;
    bottom: 0;
    width: inherit;
    height: 72px;
  }

  &__top {
    object-fit: contain;
    background-color: #ffffff;
    border: solid 0.5px #d6dce0;
    border-radius: 2.5px;

    hr {
      width: 100%;
      height: 0.5px;
      object-fit: contain;
      border-top: solid 0.5px #d6dce0;
      border-bottom: none;
    }
  }
  .basicInformation__form {
    width: 100%;
    padding: 8 * @spacing-xxs;
    :global {
      .ant-form-item-has-success {
        .ant-input {
          border: solid 1px #47c97f;
        }
      }
      .ant-form-item-label {
        padding-bottom: 0;
        label {
          color: #707177;
          font-size: 13px;
        }
      }
    }

    .formInput__email {
      position: relative;
      .formInput__domain {
        position: absolute;
        top: 10px;
        right: 4 * @spacing-xxs;
        z-index: 1000;
        color: #707177;
      }
    }
    .formInput {
      height: 42px;
      padding-right: 15px;
      padding-left: 15px;
      object-fit: contain;
      font-family: 'Roboto', sans-serif;
      background-color: #ffffff;
      border-radius: 8px;
    }

    .verifyCheckbox {
      :global {
        .ant-checkbox-wrapper {
          color: #707177;
          font-size: 13px;
          line-height: 20px;
        }
      }
    }
  }

  :global {
    .ant-input {
      box-shadow: none !important;
    }
    .ant-input-disabled {
      color: #161c29;
      background: rgba(226, 228, 232, 0.5) !important;
    }
  }
}
.viewLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.RightComponents {
  width: 322px;
  .stepRow {
    width: 100%;
  }
}
