@spacing-xxs: 4px;

.BasicInformation {
  position: relative;
  width: 100%;
  min-height: 216px;

  .cardTitle {
    p {
      margin-bottom: 0;
    }
    .title {
      color: #000000;
      font-weight: 700;
      font-size: 14px;
    }
    .description {
      color: #707177;
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
    }
  }

  .bottomBar {
    padding: 4 * @spacing-xxs 32px;
    background-color: #ffffff;
    border: solid 1px #d6dce0;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 2, 0.15);

    .normalText {
      display: flex;
      color: #707177;
      font-size: 13px;

      font-style: italic;
    }

    .redText {
      color: #ff4949;
      font-size: 13px;

      font-style: italic;
    }

    .greenText {
      color: #47c97f;
      font-size: 13px;

      font-style: italic;
    }

    &__button {
      text-align: right;
      &__disabled {
        opacity: 0.3;
      }
      :global {
        .ant-btn-primary {
          height: 40px;
          object-fit: contain;
          color: #ffffff;
          font-weight: 500;
          font-size: 14px;

          letter-spacing: 0.13px;
          text-shadow: none;
          background-color: #ffa100;
          border: solid 1px #ffa100;
          border-radius: 25px;
          box-shadow: none;
          padding-inline: 25px;
          &:hover {
            color: #ffffff;
            background-color: #ffa100;
          }
        }
        .ant-btn-secondary {
          height: 40px;
          padding-right: 41px;
          object-fit: contain;
          color: #ffa100;
          font-weight: 500;
          font-size: 14px;

          letter-spacing: 0.13px;
          border: solid 0;
          border-radius: 25px;
          padding-inline: 25px;
        }
      }
    }
  }

  &__bottom {
    position: fixed;
    bottom: 0;
    width: inherit;
    height: 72px;
  }

  &__top {
    object-fit: contain;
    background-color: #ffffff;

    border: 1px solid #d6dce0;
    border-radius: 5px;

    hr {
      width: 100%;
      height: 0.5px;
      object-fit: contain;
      border-top: solid 0.5px #d6dce0;
      border-bottom: none;
    }
  }

  :global {
    .ant-input {
      box-shadow: none !important;
    }
    .ant-input-disabled,
    .ant-input[disabled] {
      color: #161c29 !important;
      background: rgba(226, 228, 232, 0.5) !important;
    }

    .ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
      color: #161c29 !important;
      background: rgba(226, 228, 232, 0.5) !important;
    }

    .ant-form-item-label {
      padding-bottom: 0;

      label {
        color: #707177;
        font-size: 13px;
      }
    }
    .ant-input {
      height: 42px;
      object-fit: contain;

      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: none !important;
    }
    // SELECT
    .ant-select {
      width: 100% !important;
    }
    .ant-select-selector {
      min-height: 42px !important;
      border-radius: 5px !important;
    }
    .ant-select-single {
      .ant-select-selection-search-input {
        height: 42px !important;
      }
    }
    .ant-select-selection-item,
    .ant-select-selection-placeholder {
      line-height: 42px !important;
    }
  }
}
.viewLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.RightComponents {
  width: 100%;
  .stepRow {
    width: 100%;
  }
}
