.OverallTotal {
  margin-bottom: @margin-lg;
  &__cart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: @padding-lg;
    background: #ffffff;
    border: 1px solid @border-color-base;
    border-radius: 8px;
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      margin-right: 16px;
      background: #dee1ff;
      border-radius: 50%;
    }
  }
  &__name {
    h1 {
      color: #212020;
      font-weight: bold;
      font-size: 24px;
      font-style: normal;
      line-height: 20px;
    }
    span {
      display: block;
      color: #161c29;
      font-weight: normal;
      font-size: 13px;
      font-style: normal;
      line-height: 15px;
    }
  }
}
