.Option {
  width: 100%;
  margin-bottom: 16px;
  padding: 16px;
  background-color: #ffffff;
  // height: 72px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  a {
    text-decoration: underline;
  }
  &_description {
    margin-left: 38px;
    color: #707177;
    font-size: 13px;
    line-height: 1.31;
    letter-spacing: 0.12px;
    text-align: left;
  }
  :global {
    .ant-checkbox {
      margin-right: 14px;
    }
  }
}
