.UploadDocuments {
  .headerText {
    display: flex;
    align-items: center;
    height: 65px;
    padding: 0 20px;
    background-color: white;
    border-bottom: 1px solid @border-color-base;
    span {
      color: @primary-color;
      font-weight: 500;
      font-size: 18px;
    }
  }
  .containerUploadDocuments {
    padding: 20px;
  }
}
