.resignationRequest {
  margin-bottom: 24px;
  color: #464646;
  font-size: 13px;
  background-color: #fff;
  border: 1px solid #d6dce0;
  border-radius: 5px;
  &__title {
    display: flex;
    align-items: center;
    padding: 24px;
    border-bottom: 1px solid #e2e4e8;
    span {
      color: #000;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__date {
    padding: 24px;
    .dateOfRequest {
      display: inline-block;
      .title {
        margin-right: 20px;
        color: #161c29;
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;
      }
      .content {
        color: #707177;
        font-size: 13px;
        line-height: 15px;
      }
    }
    .reason {
      display: block;
      margin: 24px 0 12px;
      .title {
        margin-right: 20px;
        color: #161c29;
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;
      }
      .content {
        display: block;
        margin-top: 10px;
        color: #707177;
        font-size: 13px;
        line-height: 24px;
      }
    }
    .lastWorkingDay {
      .title {
        color: #161c29;
        font-weight: 500;
        font-size: 13px;
        font-family: Roboto;
        font-style: normal;
        line-height: 15px;
      }
      .datePicker {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 12px 0;

        .notice {
          max-width: 300px;
          margin-left: 24px;
          padding: 12px;
          background: #ffa2001c;
          border-radius: 4px;
          .content {
            color: #707177;
            font-weight: normal;
            font-size: 10px;
            font-style: normal;
            line-height: 12px;
            .link {
              font-weight: 500;
              text-decoration: underline;
            }
          }
        }
        .requestToChange {
          span {
            color: #000000;
            font-size: 13px;
            line-height: 15px;
          }
        }
      }
    }
    :global {
      .ant-checkbox-wrapper {
        span {
          font-size: 13px;
        }
      }

      .ant-input:focus,
      .ant-picker-focused {
        border-color: #2c6df9;
        outline: 0;
        box-shadow: unset;
      }

      .ant-input,
      .ant-picker-input {
        font-size: 13px;
        input {
          font-size: 13px;
        }
      }

      .ant-select-selection-search {
        align-content: center;
      }
      .ant-picker {
        min-width: 240px;
        min-height: 42px !important;
        font-size: 13px;
        border-radius: 5px !important;
      }
    }
  }
}
