.careerPath {
  margin-bottom: 24px;
  :global {
    .ant-card-bordered {
      border: 1px solid @border-color-base;
    }
    .ant-card-head {
      border-color: @border-color-base;
    }
    .ant-card-head-title {
      height: 67px;
      padding: 0 !important;
      font-weight: 700;
      line-height: 67px;
    }
    .ant-card-extra {
      padding-right: 8px;
    }
  }
  .careerPath_card {
    font-size: 13px;
    border-radius: 5px;
    .careerPath_chart {
      .chart {
        margin-left: -24px;
      }
    }
    .careerPath_score {
      width: 360px;
      height: 90px;
      color: #ff6ca1;
      text-align: center;
      background-color: #fff7fa;
      border-radius: 5px;
      // margin: 0 2px;
      span:first-child {
        font-weight: 700;
        font-size: 32px;
        letter-spacing: 0.3px;
      }
      p {
        font-size: 14px;
      }
    }
    .btn_download {
      color: @primary-color;
      font-weight: 500;
      font-size: 14px;
      border: none;
      box-shadow: none;
      img {
        margin-right: 16px;
      }
    }
  }
}
