.BillingInformation {
  position: relative;
  padding: 33px 40px;
  background-color: #ffffff;

  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.22);
  &_title {
    margin-bottom: 32px;
    color: #161c29;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
  }
  &_content {
    margin-top: 74px;
    color: #707177;
    font-size: 13px;
    line-height: 1.31;
    letter-spacing: 0.12px;
    text-align: left;
    a {
      color: #2c6df9;
    }
  }
  hr {
    position: absolute;
    left: 0;
    width: 100%;
    margin-bottom: 32px;
    border-top: none;
    border-bottom: solid 1px #e4e7eb;
  }
}
