.history {
  :global {
    .ant-list-item {
      padding: 12px 0 0 0;
    }
    .ant-timeline {
      padding-left: 3px;
      .ant-timeline-item {
        padding: 0 0 15px;
      }
    }
  }
  p {
    margin: 0;
  }
  .controlBtn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
}
.center {
  display: flex;
  justify-content: center;
}
.textStatus {
  font-size: 15px;
}
.ml10 {
  margin-left: 10px;
}
