.Templates {
  overflow: hidden;
  background-color: #ffffff;
  border: solid 1px #d6dce0;
  // height: 319px;
  border-radius: 5px;
  .title {
    color: #000000;
    font-weight: 500;

    font-size: 16px;
  }
  :global {
    .ant-tabs-tab {
      // text-transform: capitalize;

      .ant-tabs-tab-btn {
        font-weight: 700;
        font-size: 14px;
      }
    }
    .ant-tabs-nav-wrap {
      height: 56px;
    }
    // search box
    .ant-input-affix-wrapper {
      height: 100%;
      border: 1px solid #d6dce0 !important;
      border-radius: 4px;
    }
    .ant-input {
      font-weight: 500;
    }
  }
  .operations {
    display: flex;
    margin-right: 24px;
    & > div {
      margin-left: 16px;
    }
    .sortIcon,
    .viewModeIcon {
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
