.Templates {
  overflow: hidden;
  background-color: #ffffff;
  border: solid 1px #d6dce0;
  // height: 319px;
  border-radius: 5px;
  .title {
    color: #000000;
    font-weight: 500;

    font-size: 16px;
  }
  :global {
    .ant-tabs-tab {
      .ant-tabs-tab-btn {
        font-size: 14px;
      }
    }
  }

  .operations {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-right: @margin-lg;
    .sortIcon,
    .viewModeIcon {
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
