.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .filterIcon{
        margin-right: 22px;
        cursor: pointer;
    }
}
:global{
    .ant-drawer-content{
        background: transparent;
    }
    
    .ant-drawer-content-wrapper{
        width: 380px;
        box-shadow: none !important;
        // box-shadow: -6px 0 16px -8px rgb(0 0 0 / 8%), -9px 0 28px 0 rgb(0 0 0 / 5%), -12px 0 48px 16px rgb(0 0 0 / 3%);
    }

    .ant-drawer-header{
        padding: 16px;
        border-bottom: 1px solid #D6DCE0;
        background: #fff;
        margin-top: 76px;
    }
    
    .ant-drawer-body{
        background: #fff;
    }

    .ant-drawer-title{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        color: #2C6DF9;
    }
}