.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .filterIcon{
        margin-right: 22px;
        cursor: pointer;
    }
}
:global{
    .ant-drawer-content-wrapper{
        width: 380px;
        margin-top: 76px;
    }

    .ant-drawer-header{
        padding: 16px;
        border-bottom: 1px solid #D6DCE0;
    }

    .ant-drawer-title{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        color: #2C6DF9;
    }
}