.signup_step_4_component {
  .signup_form_1 {
    margin-bottom: 0;
  }
  .signup_form_2 {
    margin: 0 auto;
  }
  .signup_form_3 {
    margin-top: 0;
  }
  .signup_step_4_header {
    h1 {
      color: #3a354e;
      font-size: 34px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 41px;
      margin: 0;
    }
    p {
      opacity: 0.7;
      color: #000;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 20px;
    }
  }
}
