@commonPadding: 24px;
@blueColor: #2c6df9;
@lightBlueColor: #e4edff;
.RolePermission {
  padding: @commonPadding;
  background: #ffffff;
  border: 1px solid #d6dce0;
  border-radius: 8px;
  .header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    :global {
      .ant-btn {
        height: 40px;
        object-fit: contain;
        color: @blueColor;
        font-weight: 500;
        font-size: 14px;
        text-shadow: none;
        background: @lightBlueColor;
        border: none;
        border-radius: 5px;
        outline: none;
        box-shadow: none;
        padding-inline: 25px;
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }

  .roleName {
    font-weight: 500;
  }
  .permissionTag {
    display: inline-block;
    margin-right: 5px;
    padding: 6px;
    color: #464646;
    font-size: 11px;
    letter-spacing: 0.121875px;
    text-transform: capitalize !important;
    background: #f3f6fc;
    border-radius: 24px;
  }
  .actions {
    img {
      cursor: pointer;
    }
  }
}
