.YourInformation {
  padding-top: 40px;
  padding-bottom: 40px;
  :global {
    .ant-form-item-control-input-content {
      input {
        height: 42px;
        border-radius: 5px;
        border: solid 1px #d6dce4;
        background-color: #ffffff;
      }
    }
    .ant-form-item-label {
      padding: 0;

      label {
        font-size: 13px;
        line-height: 1.15;
        text-align: left;
        color: #707177;
      }
    }
  }
}
