.NonExtempNotice {
  font-family: 'Roboto';
  padding: 24px;
  &_title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.3px;
    color: #161c29;
    margin-bottom: 24px;
  }
}
