.NonExtempNotice {
  font-family: 'Roboto';
  padding: 42px;
  &_title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.19;
    text-align: left;
    color: #161c29;
    margin-bottom: 21px;
  }
}
