.Department {
  padding: @padding-lg;
  background: #ffffff;
  border: 1px solid #d6dce0;
  border-radius: 8px;
  .header {
    display: flex;
    justify-content: space-between;
    height: 37px;
    margin-bottom: 16px;
  }

  .roleName {
    font-weight: 500;
  }
  .actions {
    img {
      cursor: pointer;
    }
  }
}
