.Header {
  padding: 32px;
  border-bottom: 1px solid #d6dce0;
  .HeaderTitle {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 8px;
    color: #161c29;
    font-weight: 700;
    font-size: 16px;
  }
}
