.TimeOff {
  // font-family: 'Roboto' !important;
  :global {
    .ant-tabs-tab-btn {
      // font-size: 18px;
      color: #707177;
      opacity: 1;
    }

    .ant-tabs-tab-active .ant-tabs-tab-btn {
      font-weight: 500;
    }

    .ant-tabs-tab-active .ant-tabs-tab-disabled {
      font-weight: 500;
    }
  }

  .viewActivityLog {
    margin-right: 24px;
    padding: 7px 14px;
    background-color: #568afa1f; // hex with alpha 0.12
    border-radius: 5px;
    cursor: pointer;
    .title {
      color: #2c6df9;
      font-weight: 700;
    }
    &:hover {
      .title {
        opacity: 0.8;
      }
    }
  }
}
