.Header {
  padding: 32px;
  .HeaderTitle {
    font-size: 16px;
    font-weight: bold;
    color: #161c29;
    padding-bottom: 8px;
    margin-bottom: 0;
    margin-top: 0;
  }
}
.HeaderLine {
  width: 100%;
  height: 2px;
  background: #d6dce0;
}
