.primaryContent {
  width: 100%;
  height: fit-content;
  color: #161c29;
  font-weight: normal;
  font-size: 13px;
  font-style: normal;
  line-height: 15.23px;

  &__right {
    .name {
      color: #2c6df9;
    }

    .email {
      color: #707177;
    }
  }

  &__left {
    font-weight: normal;
    font-size: 13px;
    line-height: 15.23px;
    .company {
      margin-bottom: 14px;
    }
  }
}
