.TableResources {
  padding: 24px 24px 0;
  .viewEmpty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 255px;
    .textEmpty {
      margin-top: 20px;
      color: black;
      font-weight: 400;
      font-size: 16px;
      line-height: 18.75px;
    }
  }
  .priorityHigh {
    width: 39px;
    height: 18px;
    padding: 0px 8px;
    background: #ffb6b6;
    border-radius: 12px;
  }
  .priorityMedium {
    width: 39px;
    height: 18px;
    padding: 0px 8px;
    background: #eefffb;
    border-radius: 12px;
  }
  .priorityLow {
    width: 39px;
    height: 18px;
    padding: 0px 8px;
    background: #ffe9c5;
    border-radius: 12px;
  }
  .now {
    display: inline-block;
    justify-content: center;
    padding: 4px 8px;
    color: #fff;
    font-size: 8px;
    font-family: Roboto;
    font-style: normal;
    background: #00c598;
    border-radius: 48px;
  }
  .soon {
    display: inline-block;
    justify-content: center;
    padding: 4px 8px;
    color: #000;
    font-size: 8px;
    // height: 18px;
    font-family: Roboto;
    font-style: normal;
    background: #ffa100;
    border-radius: 48px;
  }
  .available {
    // width: 39px;
    height: 18px;
    padding: 0px 8px;
    background: #34c765;
    border-radius: 12px;
  }
  .userProfile {
    display: flex;
    align-items: center;
    cursor: pointer;
    .employeeName {
      text-align: center;
    }
    .avatar {
      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }

  .actionParent {
    text-align: center;
  }

  .buttonGroup {
    display: inline-flex;
  }

  .ticketID,
  .employeeName {
    width: 200px;
    color: #2c6df9;
    font-weight: 500;
    font-size: 13px;
    font-family: Roboto;
    font-style: normal;
    line-height: 15px;
    letter-spacing: 0em;
    white-space: nowrap;
    text-align: left;
    &:hover {
      cursor: pointer;
    }
  }

  .resourceStatus {
    margin: 4px;
    padding: 5px;
    color: #000;
    font-weight: 400;
    font-size: 13px;
    text-align: right;
  }

  .dateHeaderContainer {
    text-align: left;
    .dateFormat {
      color: #ffffff;
      font-weight: 500;
      font-size: 9px;
      line-height: 11px;
    }
  }

  .comment {
    position: relative;
    display: -webkit-box;
    width: 140px;
    overflow: hidden;
    font-weight: 400;
    //font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    // display: flex;
    text-overflow: ellipsis;
    word-wrap: break-word;
    //-webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .buttonContainer {
    position: absolute;
    top: 50% - 25%;
    right: 10px;
    width: 40px;
    height: fit-content;
    margin: auto;
    cursor: pointer;
  }

  .division {
    height: 18px;
    padding: 4px 8px;
    font-weight: 400;
    font-size: 11px;
    text-align: left;
    background: #e2f6ff;
    border-radius: 12px;
  }

  .basicCellField {
    color: #000;
    font-weight: 400;
    font-size: 13px;
    font-family: Roboto;
    font-style: normal;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    // text-align: left;
    border-radius: 12px;
  }
  .basicCellFieldShowEdit {
    padding: 0px !important;
    color: #000;
    font-weight: 400;
    font-size: 13px;
    font-family: Roboto;
    font-style: normal;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    // text-align: left;
    // display: flex;
    // justify-content: center;
    // border-radius: 12px;
  }
  .basicCellFieldShowEdit:hover {
    color: white;
    //background-image: linear-gradient(to right, white, #e5e5e5);
    .resourceManagementEdit {
      left: -600px;
      display: flex;
    }
  }

  .reservedField {
    width: 100%;
    height: 100%;
  }

  .resourceManagementEdit {
    position: absolute;
    top: 0px;
    right: 0px;
    left: -600px;
    display: none;
    // width: 100%;
    height: 100%;
    margin-top: 0px;
    text-align: right;
    background-image: linear-gradient(to right, rgba(246, 247, 249, 0), #f6f7f9);
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  :global {
    .ant-table-thead > tr > th {
      background: #2c6df9 !important;
    }
    .ant-table-pagination-right {
      justify-content: flex-start !important;
    }
    .ant-table-body > table {
      // width: auto !important;
      height: auto !important;
      //max-height: 533px !important;
    }
    .ant-table-tbody > tr.ant-table-row:hover > td
    // :nth-child(1),
    // .ant-table-tbody > tr.ant-table-row:hover > td:nth-child(2),
    // .ant-table-tbody > tr.ant-table-row:hover > td:nth-child(3),
    // .ant-table-tbody > tr.ant-table-row:hover > td:nth-child(4),
    // .ant-table-tbody > tr.ant-table-row:hover > td:nth-child(10),
    // .ant-table-tbody > tr.ant-table-row:hover > td:last-child
    {
      background: #fff;
    }

    thead > tr > th {
      border-right: unset !important;
      border-left: unset !important;
    }
    .ant-table-thead > tr > th {
      padding: 8px !important;
    }
    .right-left-border {
      border-right: 1px solid #e2e4e8;
      border-left: 1px solid #e2e4e8;
      box-shadow: yellow;
    }
    .left-border {
      border-right: unset !important;
      border-left: 1px solid #e2e4e8;
    }
    .right-border {
      border-right: 1px solid #e2e4e8;
    }
    .firstColumn {
      border-right: 1px solid #e2e4e8;
      border-left: 1px solid #e2e4e8;
      //scroll: { x: max-content; }
    }

    .right-border {
      border-right: 1px solid #e2e4e8;
      border-left: unset;
    }

    .ant-table-tbody > tr.ant-table-row > td {
      padding: 16px 8px;
      background: #fff;
    }

    .commentCell {
      padding: 0px !important;
      background: #fff;
    }

    .commentCellLeftBorder {
      padding: 0px !important;
      background: #fff;
      border-right: unset !important;
      border-left: 1px solid #e2e4e8;
    }

    .ant-btn-text {
      box-sizing: border-box;
      color: #ffa100;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.13125px;
      background: #ffffff;
      border: none;
      border-color: transparent !important;
      border-radius: 21px;
      .ant-icon-download {
        font-size: 20px;
        svg {
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0.13125px;
        }
      }
    }
    .ant-pagination {
      align-items: center;
    }
    .ant-pagination-options {
      display: flex;
      justify-content: flex-end;
      margin-left: 24px !important;
    }
    .ant-tag-has-color {
      margin-bottom: 8px;
      border-radius: 4px;
    }
  }
  .buttonAdd {
    width: 29px;
    height: 29px;
    margin-right: 10px;
    border: 1px solid lightgray;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
  }
  .buttonAdd:hover {
    border: 1px solid #2c6df9;
  }
  .buttonEdit {
    width: 29px;
    height: 29px;
    border: 1px solid lightgray;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
  }
  .buttonEdit:hover {
    border: 1px solid #2c6df9;
  }
}
.UserProfilePopover {
  :global {
    .ant-popover-inner {
      min-width: 430px;
      max-width: 430px;
      padding: 0;
      border: 1px solid #eaecef;
      border-radius: 8px;
    }
    .ant-popover-inner-content {
      padding: 0 !important;
    }
    .ant-popover-arrow {
      //   left: -2.5px !important;
      width: 18px;
      height: 18px;
      .ant-popover-arrow-content {
        width: 12px;
        height: 12px;
        box-shadow: none;
      }
    }
    .ant-btn {
      width: 100%;
      height: 41px;
      color: #2c6df9;
      font-weight: 500;
      font-size: 14px;
      background: #eaf0fe;
      border: none;
      border-radius: 4px;
      outline: none;
      box-shadow: none;
      img {
        width: 24px;
        height: 24px;
        margin-top: -2px;
        margin-right: 10px;
      }
    }
  }
}
