.handleChanges {
  padding: 24px;

  .headings {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #161c29;
    margin-bottom: 24px;
  }
  .select {
    display: flex;
    div:first-child {
      width: 30%;
    }
    // div:last-child {
    //   width: 100%;
    // }
  }
  .radios {
    display: flex;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #707177;

    display: block;
    height: 30px;
    line-height: 30px;
    margin-bottom: 18px;
  }

  .ant-picker-suffix {
    color: #161c29;
  }
}
