.ViewRightQuicklLink {
  padding: 24px;
  background: #ffffff;
  border: 1px solid #d6dce0;
  border-radius: 5px;
  .containerTitle {
    display: flex;
    align-items: center;
    margin-bottom: 34px;
    .title {
      padding-left: 24px;
      color: #161c29;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
    }
  }
  .link {
    color: #2058d1;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    cursor: pointer;
    text-decoration-line: underline;
  }
}
