.healthWellbeing{
    width: 100%;

    .formItem{
        width: 100%;
        height: auto;

        :global{
            .ant-divider-horizontal{
                margin: 0;
            }

            .ant-divider{
                border-top: 1px solid #D6DCE0;
            }
        }
        
        .benefit{
            padding: 30px 33px;

            &__title{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;

                color: #161C29;
                padding-bottom: 16px;
            }

            &__subTitle{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 12px;
                &__left{
                    color: #707177;
                }

                &__right{
                    color: #FF5252;
                }
            }

            .planDocuments{
                padding-top: 16px;
                :global{
                    .ant-select-selector{
                        background: #FFFFFF;
                        border: 1px solid #D6DCE4;
                        box-sizing: border-box;
                        border-radius: 5px;

                        height: 42px;
                    }

                    .ant-select-selection-search-input{
                        height: 100%;
                    }

                    .ant-select-single.ant-select-show-arrow .ant-select-selection-item, .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder, 
                    .ant-select-single.ant-select-show-arrow .ant-select-selection-search{
                        display: flex;
                        align-items: center;
                    }

                    .ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector{
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 16px;

                        color: #161C29;
                        cursor: pointer;
                    }

                }
                
                &__first{
                    :global{
                        .ant-select-selection-item{
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 16px;
                            text-decoration-line: underline;
        
                            color: #2C6DF9;
                        }
                        
                    }


                    .labelDocs{
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 13px;
                        line-height: 15px;

                        color: #707177;
                        
                        padding-bottom: 16px;
                    }
                }

                &__second{
                    :global {
                        .ant-select-arrow{
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 16px;

                            color: #161C29;
                        }

                        .ant-form-item{
                            margin-bottom: 0;
                        }
                    }

                    .inputNumber{
                        width: 180px;
                    }

                    .label{
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 15px;

                        color: #707177;
                        padding-bottom: 8px;
                    }

                }
            }
            .addDocs{
                display: flex;
                align-items: center;
                cursor: pointer;
                padding-top: 24px;

                &__text{
                    padding-left: 16px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 15px;
                    /* identical to box height */

                    letter-spacing: 0.121875px;

                    color: #2C6DF9;
                }
            }
        }
    }
}