@border-color: #d6dce0;
@orange: #fe5d27;
@new-background: #fff4f1;
@border-color: #d6dce0;
@checkbox-background: #e7eaee;
@checkbox-border: #707177;
@gray: #707177;
@red: #ff5252;
@blue: #2c6df9;

.mixin-border-bottom-row {
  border-bottom: solid 1px #d6dce0;
}

.TimelineTable {
  width: 100%;
  // padding: 24px;
  background-color: #ffffff;
  border-radius: 5px;

  &.inTab {
    border: none;
  }

  :global {
    // .ant-table-tbody > tr > td {
    //   border: none;
    // }
    .ant-table {
      border-bottom: 1px solid #d6dce0;
    }
    .ant-table-container {
      margin: 24px;
    }
    .ant-table-pagination.ant-pagination {
      margin: 24px !important;
    }
    td.ant-table-cell {
      width: 84px;
      height: 15px;
      color: #464646;
      font-weight: normal;
      font-size: 13px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.12px;
    }
    .ant-table-thead > tr > th {
      background-color: @blue !important;
      opacity: 1 !important;
    }

    .ant-checkbox-inner {
      background-color: @checkbox-background;

      &:after {
        border-color: blue;
      }
    }

    .ant-checkbox-wrapper {
      border-color: @checkbox-border;
    }

    .ant-table-selection,
    .ant-table-selection-column {
      height: fit-content;
    }

    thead {
      tr {
        height: 35px;
      }

      .ant-table-selection {
        height: 18px;
      }
    }

    .ant-tabs-nav {
      height: 56px;
    }
  }

  .renderEmployee {
    display: flex;
    align-items: center;
    cursor: default;
    .avatar {
      margin-right: 10px;
      img {
        width: 32px;
        height: 32px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      .name {
        color: #212020;
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
      }
      .id {
        color: #2c6df9;
        font-weight: 500;
      }
    }
  }
}
