@blue: #2c6df9;

.containerDashboard {
  // background-color: rgba(0, 0, 0, 0.3);
  min-height: 100vh;
  .titlePage {
    height: 60px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 40px 0 20px;
    border-bottom: 1px solid #f0f0f0;
    // box-shadow: 0 1px 2px 0 #eeeeee;
    &__text {
      font-size: 18px;
      font-weight: 500;
      color: @blue;
      margin: 0;
      line-height: 21px;
    }
  }
}

.projectManagement {
  font-family: 'Roboto', sans-serif;
  margin: 24px;

  // h1 {
  //   font-weight: 500;
  //   font-size: 18px;
  //   color: @blue;
  // }

  .tabs {
    // display: none;
    background-color: white;
  }

  .addNewProject {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 24px;
    cursor: pointer;
    img {
      margin-right: 15px;
    }
    span {
      font-weight: 500;
      color: #2c6df9
    }
    &:hover {
      opacity: 0.8;
    }
  }
  :global {
    .ant-tabs-tabpane {
      padding: 24px;
    }

    .ant-table-thead {
      .ant-table-cell {
        padding-top: 0;
        padding-bottom: 0;
        height: 35px;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
      }
    }

    .ant-table-tbody {
      .ant-table-cell {
        font-size: 13px;
        line-height: 15px;
      }
    }

    .ant-tabs {
      border: 1px solid #d6dce0;
      border-radius: 5px;
    }

    .ant-tabs-nav-list {
      .ant-tabs-tab-btn {
        font-size: 14px;
        font-weight: 500;
      }
    }

    .ant-tabs-tab {
      // height: 10px;
      padding-top: 0;
      padding-bottom: 0;
    }

    .ant-table-pagination.ant-pagination {
      margin: 0 !important;
      padding-top: 20px;
      border-top: 1px solid #d6dce0;
    }

    // .ant-tabs-nav-more {
    //   padding: 0;
    // }
  }
}
