@import (css)
  url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;900&display=swap');

.projectManagement {
  //   display: none !important;
  //   padding: 50px;
  font-family: 'Roboto', sans-serif;

  .tabs {
    // display: none;
    background-color: white;
  }

  :global {
    .ant-tabs-tabpane {
      padding: 18px 9px;
    }

    .ant-table-thead {
      .ant-table-cell {
        padding-top: 0;
        padding-bottom: 0;
        height: 35px;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
      }
    }

    .ant-table-tbody {
      .ant-table-cell {
        font-size: 13px;
        line-height: 15px;
      }
    }

    .ant-tabs {
      border: 1px solid #d6dce0;
      border-radius: 5px;
    }

    .ant-tabs-nav-list {
      .ant-tabs-tab-btn {
        font-size: 14px;
        font-weight: 500;
      }
    }

    .ant-tabs-tab {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
