.GroupInfoType2 {
  background-color: #f4f4f4;
  .title {
    padding-top: 12px;
    padding-bottom: 13.5px;
    font-size: 16px;
    line-height: 1.38;
    text-align: left;
    color: #044040;
    border-bottom: 1px solid grey;
  }
  .subTitle {
    margin-top: 17.5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.38;
    text-align: left;
    color: #044040;
    display: flex;
    justify-content: space-between;
  }
  .content {
    padding-bottom: 29px;
    display: flex;
    justify-content: space-between;
  }
}
