.GroupInfoType2 {
  width: 100%;
  margin-right: 24px;
  margin-left: 24px;
  background-color: #fff;
  border-bottom: solid 1px @border-color-base;
  .title {
    margin-top: 16px;
    margin-bottom: 16.5px;
    color: #161c29;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.38;
    text-align: left;
  }
  .subTitle {
    width: 44%;
    color: #000000;
    font-weight: 500;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  .content {
    width: 100%;
    color: #707177;
    font-weight: normal;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }
}
