.primaryEdit {
  width: 100%;

  .formAdminstrator {
    color: #161c29;
    font-weight: normal;
    font-size: 13px;
    font-style: normal;
    line-height: 15.23px;

    :global {
      .ant-form-item-label {
        margin-right: 24px;
      }
      .ant-input {
        color: #161c29;
        font-weight: normal;
        font-size: 13px;
        font-style: normal;
        line-height: 15.23px;
      }

      .ant-form-item {
        margin-bottom: 0%;
      }
    }

    .rowItem {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
    }

    &__left {
    }

    &__right {
      .inputForm {
        min-height: 32px;
        border-radius: 5px;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 24px;
    border-top: 1px solid rgba(226, 228, 232, 0.54);

    .btn {
      height: 40px;
      padding: 0 30px;
      color: #ffffff;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      border: none;
      border-radius: 25px;
    }

    .cancelBtn {
      color: #707177;
      box-shadow: none;
    }

    .saveBtn {
      background: #ffa100;
    }
  }
}
