.primaryEdit{
    width: 100%;

    .formAdminstrator{

        :global{
            .ant-form-item-label{
                margin-right: 24px;
            }
        }

        &__left{
            font-weight: normal;
        }

        &__right{

            .inputForm{
                border-radius: 5px;
            }
        }
    }
}