.Templates {
  overflow: hidden;
  background-color: #ffffff;
  border: solid 1px @border-color-base;
  // height: 319px;
  border-radius: 5px;
  .title {
    color: #000000;
    font-weight: 500;
    font-size: 16px;
  }
  :global {
    .ant-tabs-tab {
      .ant-tabs-tab-btn {
        font-size: 14px;
      }
    }
  }
}
