@import '~antd/lib/style/themes/default.less';
.modalContainer {
  top: 5px;
  :global {
    .ant-modal-content {
      background-color: rgb(0, 12, 23);
    }
    .anticon {
      color: #e67225;
    }
  }
}
.viewImage {
  display: flex;
  align-items: center;
  justify-content: center;
}
