.HolidayList {
  // padding: 0 20px;
  .eachRow {
    background-color: #fafafa;
    align-items: center;
    padding: 10px 20px;
    margin-top: 7px;
    :global {
      .ant-col {
        font-size: 13px;
        color: #464646;
      }
    }
    .eventOfDay {
      padding-left: 10px;
      color: #161c29;
    }
    .dateName {
      color: rgba(22, 28, 41, 0.5);
      font-size: 12px;
    }
    .dateAndMonth {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #f4f4f6;
      align-items: center;
      border-radius: 5px;
      padding: 5px 0;
      span {
        font-weight: bold;
        color: #161c29;
      }
      .day {
        font-size: 14px;
      }
      .month {
        font-size: 11px;
      }
    }
    .dayInWeek {
      text-align: right;
    }
  }
}
