.items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  div:first-child {
    width: 35%;
    color: #000000;
    font-weight: normal;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  div:last-child {
    width: 100%;
    color: #707177;
    font-weight: normal;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  .manager {
    color: #2c6df9;
    font-weight: 500;
    cursor: pointer;
  }
}
