.ViewDocumentModal {
  position: relative;
  :global {
    .ant-modal-body {
      padding: 0;
      overflow: hidden;
      border-radius: 3px;
    }

    .ant-modal-close-x {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 28px;
      color: #fff;
      background-color: #2c6df9;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      &:active {
        opacity: 0.5;
      }
    }
  }
  .handleButtons {
    position: absolute;
    right: 0;
    margin-top: -40px;
    img {
      margin-left: 11px;
      cursor: pointer;
      &:hover {
        // transform: rotate(360deg);
        transform: scale(1.2);
        // opacity: 0.8;
        transition: 0.3s;
      }
      &:active {
        transform: scale(1);
        transition: 0.3s;
      }
    }
  }
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    .contentViewPDF {
      .content();
      height: 75vh;
      padding: 44px 48px 80px;

      .bodyInfo {
        font-weight: normal;
        font-style: normal;
        text-align: left;
        .modalText {
          margin-bottom: 27px;
          color: #161c29;
          font-weight: bold;
          font-size: 20px;
          line-height: 23.44px;
        }

        .modalTitle {
          margin-bottom: 16px;
          color: #161c29;
          font-weight: 500;
          font-size: 14px;
          line-height: 16.41px;
        }

        .modalContent {
          margin-bottom: 32px;
          color: #707177;
          font-size: 14px;
          line-height: 20px;
        }

        .subText {
          padding: 12px;
          font-size: 13px;
          line-height: 17px;
        }
      }
    }
    .contentViewImage {
      .content();
      height: 100%;
      max-height: 75vh;
      padding: 20px;
    }
    .content {
      overflow: auto;
      .fileName {
        font-weight: bold;
        font-size: 16px;
      }
      .pdfFrame {
        overflow-y: auto;
        // margin: 0 auto;
        border: none !important;
        .pdfPage {
          margin-bottom: 20px;
          canvas {
            width: 100% !important;
            height: auto !important;
          }
        }
      }
      .imageFrame {
        width: 100%;
        min-width: 300px;
        max-width: 500px;
        img {
          width: 100%;
        }
      }
      .loading {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .stickyFooter {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 17px 48px;
      overflow: hidden;
      background: white;
      box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.15);
      // border-radius: 0 0 3px 3px;
    }
    :global {
      .ant-btn {
        width: 108px;
        height: 40px;
        margin-top: 15px;
        background-color: #ffa100;
        border: none;
        border-radius: 30px;
        span {
          color: white;
          font-weight: 700;
        }
        &:hover {
          background-color: #ffa100cc; // hex with alpha 0.8
        }
      }
    }
  }
}
