.root {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 30px;
  padding: 0 41px 26px 41px;
  display: flex;
  flex-direction: column;
  .itemComment {
    margin-top: 26px;
    &__viewInfo {
      display: flex;
      justify-content: space-between;
      &__title {
        font-size: 16px;
        font-weight: 700;
        color: #000;
      }
      &__date {
        font-size: 14px;
        color: #464646;
      }
    }
    &__content {
      border: 1px solid #d6dce0;
      height: 65px;
      resize: none;
      margin-top: 17px;
      &:focus {
        box-shadow: none;
      }
      &:disabled {
        color: rgba(70, 70, 70, 0.5);
        background-color: #fff;
      }
    }
  }
}
