.root {
  background-color: #ffffff;
  padding: 35px 30px 0px;
  height: 392px;

  .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21.09px;
  }

  .textWorkflow {
    margin-top: 9px;
    text-align: center;
    font-size: 9px;
    font-weight: 400;
    line-height: 10.55px;
  }

  .border {
    width: 30px;
    margin-top: 20px;
    border-top: 1px dashed red;
  }
}
