.root {
  .textLabel {
    font-size: 13px;
    color: #000000;
  }
  .textValue {
    font-size: 13px;
    color: #707177;
  }
  .viewRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .iconCertification {
    width: 23px;
    height: 25px;
    object-fit: contain;
    margin-left: 16px;
  }
  .nameCertification {
    text-decoration: underline;
    color: #2c6df9;
    font-size: 13px;
    margin: 0;
    cursor: pointer;
  }
  .tagSkill {
    :global {
      .ant-tag {
        margin-bottom: 8px;
      }
    }
  }
}
