.RightContent {
  width: 100%;
  background-color: white;
  border: 1px solid @border-color-base;
  border-radius: 5px;
  .header {
    padding: 16px 24px;
    .titleWithIcon {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-left: -12px;
      .title {
        display: block;
        color: #464646;
        font-weight: 700;
        font-size: 16px;
      }
    }
    .description {
      display: block;
      margin-top: 16px;
      color: #707177;
    }
  }
  .content {
    padding: 0 24px 24px 24px;
    .title {
      display: block;
      margin-top: 10px;
      margin-bottom: 16px;
      color: #464646;
      font-weight: 700;
      font-size: 16px;
    }
    .avatar {
      width: 36px !important;
      height: 36px !important;
      img {
        width: 36px !important;
        height: 36px !important;
      }
      // height: auto;
    }
    :global {
      // avatar label
      .ant-steps-item-title {
        color: #707177;
        font-size: 13px;
        line-height: 1.5;
      }

      .ant-steps-item-tail::after {
        height: 0;
        border: none;
        border-top: 1px dashed #dedede !important;
      }
      .ant-steps-item {
        .ant-steps-icon {
          img {
            margin-top: -10px;
            border: 2px solid rgba(44, 109, 249, 0.33);
            border-radius: 50%;
            opacity: 0.9;
          }
        }
      }
      .ant-steps-item-active {
        .ant-steps-icon {
          border-radius: 50%;
          img {
            border: 2px solid @primary-color;
            border-radius: 50%;
          }
        }
        .ant-steps-item-title {
          font-weight: 700;
          font-size: 13px;
          line-height: 1.5;
        }
      }
      .ant-steps-item-finish {
        .ant-steps-item-title {
          color: #000000;
        }
      }
    }
  }
}
