.signup_step_2_component {
  .signup_form_1 {
    margin-bottom: 0;
  }
  .signup_form_2 {
    margin: 0 auto;
  }
  .signup_form_3 {
    margin-top: 0;
  }
  .link {
    color: #f5a623;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
  }
  .signup_step_2_header {
    h1 {
      color: #3a354e;
      font-size: 34px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 41px;
      margin: 0;
    }
    p {
      opacity: 0.7;
      color: #000;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 20px;
    }
  }
}
