.inputSearch {
  border-radius: 50px;
}

.modalCustom {

  :global {
    .ant-modal-header {
      padding: 24px;
      border-top-left-radius: 8px;
    }

    .ant-modal-body {
      height: auto;
      padding: 20px 50px;
      overflow-y: scroll;
    }

    .ant-modal-content {
      border-top-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    .ant-modal-footer {
      padding: 24px;
    }

    .ant-modal-close-x {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 54px;
      height: 48px;
      color: #fff;
      background-color: #2c6df9;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;

      &:active {
        opacity: 0.5;
      }
    }
  }

  .bodyModal {
    .title {
      // color: #2c6df9;
      font-size: 17px;
      font-weight: bold;
      margin: 15px;
    }

    .checkbox {
      margin: 0 40px;

      .rowCheckbox {
        margin: 5px 0;
      }
    }

    .datePicker {
      width: 98%;
    }
  }

  .btnSubmit {
    width: 95px;
    height: 40px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    background-color: #ffa100;
    border: none;
    border-radius: 25px;
  }

  .btnSubmit:disabled {
    color: #fff;
    opacity: 0.5;
  }

  .btnCancel {
    display: inline-block;
    margin-right: 40px;
    color: #ffa100;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;

    &:active {
      opacity: 0.5;
    }
  }


  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: #f4f4f4;
    border: none;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #e0e4e9;
    border-radius: 5px;
  }
}
