.FilterButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  margin-inline: 16px;
  span {
    display: block;
    color: #ffa100;
    font-weight: 500;
    font-size: 13px;
  }
  img {
    margin-right: 10px;
  }
  .dot {
    padding-left: 7px;
  }
}
