.root {
  display: flex;
  flex-direction: row;
  background-color: #dedfdf;
  .itemMenu {
    border-bottom: 1px solid #d6dce0;
    padding: 35px 0 25px 45px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #707177;
    cursor: pointer;
    margin-left: 20px;
  }
  .itemMenuAcive {
    padding: 16px 0 17px 45px;
    margin: 19px 0 8px 20px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #2c6df9;
    cursor: pointer;
    background-color: #e9f0ff;
    border-radius: 40px 0px 0px 40px;
  }
  .leftMenu {
    width: 250px;
    min-width: 250px;
    margin-right: 30px;
    border: 1px solid #d6dce0;
    padding-bottom: 200px;
    padding-top: 7px;
    background-color: #fff;
  }
  .contentWrap {
    padding: 26px 30px 41px 0;
  }
}
