.root {
  display: flex;
  flex-direction: row;
  background-color: #f8f9fb;

  :global {
    .ant-progress-circle .ant-progress-inner {
      // width: 30px !important;
      // height: 30px !important;
      font-size: 8px !important;
      font-weight: bold !important;
      line-height: 9px !important;
      color: #707177 !important;
    }
  }

  .itemMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0 18px;
    color: #707177;
    font-size: 14px;
    border-bottom: 1px solid rgba(191, 194, 211, 0.5);
    cursor: pointer;
  }
  .itemMenuAcive {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0 18px;
    color: #707177;
    color: #2c6df9;
    font-weight: 700;
    font-size: 14px;
    background-color: rgba(44, 109, 249, 0.12);
    border-bottom: none;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    cursor: pointer;
  }
  .affixTimeOff {
    height: fit-content;
    .leftMenu{
      width: 250px;
      height: auto;
      margin-top: 1px;
      margin-right: 41px;

      &__menuItem{
        padding: 24px 0 24px 20px;
        background-color: #ffffff;
        box-shadow: 0 0 2px 0 rgba(0, 0, 2, 0.15);
        div:last-child {
          border-bottom: none;
          // margin-bottom: 50px;
        }
      }
    }
  }
  .contentWrap {
    width: 100%;
    padding: 26px 26px 41px 0;
  }
}
