.root {
  display: flex;
  flex-direction: row;
  // background-color: #dedfdf;

  :global {
    .ant-progress-circle .ant-progress-inner {
      width: 30px !important;
      height: 30px !important;
      font-size: 8px !important;
      line-height: 9px !important;
    }
  }

  .itemMenu {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
    border-bottom: 1px solid rgba(191, 194, 211, 0.5);
    color: #707177;
    font-size: 14px;
    cursor: pointer;
  }
  .itemMenuAcive {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
    color: #707177;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    color: #2c6df9;
    border-bottom: none;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    background-color: rgba(44, 109, 249, 0.12);
  }
  .leftMenu {
    width: 250px;
    min-width: 250px;
    margin-right: 40px;
    background-color: #fff;
    padding-top: 26px;
    padding-left: 20px;
  }
  .contentWrap {
    padding: 26px 30px 41px 0;
    width: 100%;
  }
}
