@borderColor: #d6dce0;
@borderColor2: #d6dce4;
@blueColor: #2c6df9;
@commonSpace: 24px;
.DailyHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px @commonSpace;
  border-bottom: 1px solid @borderColor;
  :global {
    .ant-picker {
      box-sizing: border-box;
      height: 37px;
      border: 1px solid @borderColor2;
      border-radius: 5px;
    }
    // button
    .ant-btn {
      height: 40px;
      margin-left: 10px;
      color: @blueColor;
      font-weight: 500;
      line-height: 2.5;
      background-color: #fff;
      border: none;
      outline: none;
      box-shadow: none;
      img {
        margin-right: 5px;
      }
    }
  }
  // the middle item will be always centered
  &__left,
  &__right {
    flex-basis: 0;
    flex-grow: 1;
  }
  &__left {
    display: flex;
    flex-direction: row;
    .rangePicker {
      margin-inline: 8px;
      .minusSeparator {
        color: #161c29;
        font-size: 13px;
        opacity: 0.5;
      }
      .calendarIcon {
        filter: invert(57%) sepia(76%) saturate(7481%) hue-rotate(216deg) brightness(102%)
          contrast(95%);
      }
    }
    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 37px;
      background: #ffffff;
      border: 1px solid @borderColor2;
      border-radius: 5px;
      cursor: pointer;
    }
    .prevWeek,
    .nextWeek {
      .button();
    }
  }
  &__middle {
    display: flex;
    align-items: center;
    height: 35px;
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 13px;
  }
}
