.LeaveHistoryList {
  max-height: 300px;
  // overflow-y: scroll;
  overflow: auto;
  .eachRow_noData {
    background-color: #fff;
    align-items: center;
    padding: 10px 24px;
    margin-top: 0px;
    span {
      font-size: 13px;
      color: #707177;
    }
  }
  .eachRow {
    background-color: #fafafa;
    align-items: center;
    // border-bottom: 1px solid #d6dce0;
    padding: 10px 24px;
    margin-top: 7px;
    &:hover {
      background-color: hsl(0, 0%, 95%);
      cursor: pointer;
    }
    :global {
      .ant-col {
        font-size: 13px;
        color: #464646;
      }
    }
    .eventOfDay {
      padding-left: 10px;
      color: #161c29;
    }
    .dateAndMonth {
      border-radius: 5px;
      background-color: #f4f4f6;
      padding: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .subtractSymbol {
        font-weight: 700;
      }
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
          font-weight: 700;
          color: #161c29;
        }
        .day {
          font-size: 14px;
        }
        .month {
          font-size: 11px;
        }
      }
    }
    .text {
      text-align: right;
      
      .status {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
      }

      .approved{
        color: #00C598;
      }
      .rejected{
        color: #FD4546;
      }
      .applied{
        color: #FFA100;
      }
    }
  }
}
