# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
# roadhog-api-doc ignore
/src/utils/request-temp.js
_roadhog-api-doc

# production
/dist
/.vscode
/config/proxy.js

# misc
.DS_Store
npm-debug.log*
yarn-error.log

/coverage
.idea
yarn.lock
package-lock.json
*bak
.vscode
.vscode/*

# visual studio code
.history
*.log
functions/*
.temp/**

# umi
.umi
.umi-production

# screenshot
screenshot
.firebase
.eslintcache

# cypress
tests/ui_automation_hrms/cypress/downloads
tests/ui_automation_hrms/cypress/screenshots
tests/ui_automation_hrms/cypress/videos
tests/ui_automation_hrms/cypress/fixtures
# tests/ui_automation_hrms/cypress/fixtures/offboarding_ticket.json

build
