.relievingTables {
  background: #ffffff;
  border: 1px solid #d6dce0;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
  height: 573px;
  :global {
    .ant-tabs > .ant-tabs-nav,
    .ant-tabs > div > .ant-tabs-nav {
      height: 50px;
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      font-size: 14px;
      color: #2c6df9;
      opacity: 0.9;
    }
    .ant-tabs-tab {
      font-size: 14px;
      font-weight: 700;
      color: #000000;
      opacity: 1;
    }
  }
}

.searchFilter{
  display: flex;
  align-items: center;
  padding: 0 24px;

  :global{
    .ant-input-prefix{
      margin-right: 16px;
    }

    .ant-input-affix-wrapper > input.ant-input{
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;

      color: #707177;

      mix-blend-mode: normal;
      opacity: 0.5;
    }

    .ant-input-affix-wrapper-focused {
      box-shadow: none;
    }
  }
  
  &__icon{
    margin-right: 14px;
  }

  &__input{
    background: #FFFEFE;
    border: 1px solid #D6DCE0;
    border-radius: 33px;
    width: 375px;
    height: 37px;
  }
}
