.TimeOffHistory {
  margin: 24px 0;
  border-radius: 5px;
  .note {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    background-color: #fcf7e8;
    border-radius: 5px;
    &__title {
      padding-top: 8px;
      color: #f28313;
      font-weight: 500;
      font-size: 16px;
    }
  }
  .title {
    margin: 32px 0 8px 0;
    color: #101828;
    font-weight: 500;
    font-size: 16px;
  }
  .container__table {
    .row {
      padding: 10px 8px;
      color: white;
      font-weight: 400 !important;
      font-size: 14px !important;
      background: #2c6df9;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      .center {
        text-align: center;
      }
    }

    .col {
      padding: 18px 8px;
      color: #101828;
      font-weight: 400px !important;
      font-size: 14px;
      border-right: 1px solid #d0d5dd;
      border-left: 1px solid #d0d5dd;
      .center {
        text-align: center;
      }
    }
    .col:last-child {
      border-bottom: 1px solid #d0d5dd;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
    }
  }
}
