.kyc {
  border: 1px solid #fff;
  margin: 12px;
  height: 257px;
  border-radius: 6px;
  background-color: #fff;
  font-size: 16px;
  padding: 20px;
  h1 {
    font-size: 18px;
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    .item {
      width: 250px;
    }
  }
}
