.signup_input {
  :global {
    .ant-input {
      border-radius: 4px !important;
      border: 1px solid rgba(184, 184, 184, 0.3) !important;
      height: 45px !important;
      padding: 15px 20px 13px 20px !important;
      &:focus,
      &:hover {
        border-color: #3168f8 !important;
      }
    }
    .ant-input-disabled {
      border-color: #d8d8d8 !important;
      &:hover {
        border-color: #d8d8d8 !important;
      }
    }
  }
}
