@blueColor: @primary-color;
.AnnouncementTable {
  // padding: 24px;
  span {
    line-height: 20px;
  }
  .blueText {
    color: @primary-color;
    font-weight: 500;
  }
  .actions {
    img {
      cursor: pointer;
    }
  }
  .media {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    span {
      padding-left: 4px;
      color: #7e7d7d;
      font-size: 11px;
    }
  }
  .iconVideo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    font-size: 18px;
    background-color: rgb(204, 204, 204);
    border: 3px solid rgba(255, 255, 255);
  }
}
