.RequestInformation {
  width: 100%;
  background-color: white;
  border: 1px solid #ebeff2;
  border-radius: 5px;

  .formTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    color: #161c29;
    border-bottom: 1px solid #e2e4e8;
    .title {
      color: #464646;
      font-weight: 700;
      font-size: 16px;
    }
    .editButton {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      .label {
        margin-left: 10px;
        color: #2c6df9;
        font-weight: 700;
        font-size: 14px;
      }
      &:hover {
        opacity: 0.8;
        transition: 0.3s;
      }
    }
  }

  .formContent {
    padding: 24px;
    padding-bottom: 14px;
    font-size: 13px;
    .detailColumn {
      color: #707177;
      .fieldValue {
        margin-right: 10px;
      }
      .smallNotice {
        display: inline-block;
        width: fit-content;
        // margin-right: 20px;
        padding: 6px;
        background: #ffa1001f; // alpha 0.12
        border-radius: 4px;
        .normalText {
          display: block;
          margin-top: 0px;
          padding: 3px;
          color: #707177;
          font-size: 10px;
        }
        .link {
          color: #ffa100;
          font-weight: 700;
          font-size: 10px;
          text-decoration: underline;
          cursor: pointer;
        }
      }
      .attachments {
        &__file {
          margin-block: 10px;
        }
        .attachmentsImg {
          width: 24px;
          padding-left: 8px;
        }
      }
    }
    :global {
      .ant-row {
        padding-bottom: 10px;
      }
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    border-top: 1px solid #e2e4e8;
    .note {
      display: flex;
      align-items: center;
      padding-right: 100px;
      color: #161c2980; // hex with alpha 0.5
      font-size: 12px;
    }
    .formButtons {
      display: flex;
      justify-content: flex-end;
      :global {
        .ant-btn-link {
          background-color: white !important;
          span {
            color: #ffa100 !important;
            font-weight: bold !important;
          }
        }
        .ant-btn {
          height: 40px;
          margin-left: 20px;
          // width: 108px;
          padding: 0 30px;
          background-color: #ffa100;
          border: none;
          border-radius: 30px;
          span {
            color: white;
            font-weight: 700;
          }
          &:hover {
            background-color: #ffa100cc; // hex with alpha 0.8
          }
        }
      }
    }
  }
}
