.approvalPage {
  margin: 24px;

  &__table {
    background: #ffffff;
    border: 1px solid #d6dce0;
    border-radius: 8px;

    .tableApproval {
      margin: 0 12px;
    }
    .employeeName {
      cursor: pointer;
    }
    .searchFilter {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 24px;

      :global {
        .ant-input-prefix {
          margin-right: 16px;
        }

        .ant-input .nt-input-lg {
          color: #707177;
          font-weight: normal;
          font-size: 14px;
          font-style: normal;
          line-height: 16px;
          opacity: 0.5;

          mix-blend-mode: normal;
        }

        .ant-input-affix-wrapper-focused {
          box-shadow: none;
        }
      }

      &__icon {
        margin-right: 14px;
        // cursor: pointer;
      }

      &__input {
        width: 240px;
        height: 37px;
        background: #fffefe;
        border: 1px solid #d6dce0;
        border-radius: 33px;
      }
    }

    .btnDetail {
      color: #ffa100;
      font-weight: 500;
      font-size: 12px;
      span {
        text-decoration: underline;
      }
    }
    .containerBtn {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .btnAction {
      padding: 0;
    }

    .blueText {
      color: #2c6df9;
      font-weight: 500;
      font-size: 13px;
    }
  }
}
