.loading {
  position: relative;
  top: 50%;
  left: 50%;
}
.relievingDetail {
  min-height: 100vh;

  :global{
    .ant-btn[disabled], .ant-btn[disabled]:hover, .ant-btn[disabled]:focus, .ant-btn[disabled]:active{
      background-color: #ffa100;
      color: #fff;
      opacity: 0.4;
    }
  }

  .titlePage {
    height: 60px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 40px 0 20px;
    box-shadow: 0 1px 2px 0 #eeeeee;
    &__text {
      font-size: 18px;
      font-weight: 500;
      color: #2c6df9;
      margin: 0;
    }
  }
  &__container {
    padding: 24px;
  }

  .btn {
    background-color: #ffa100;
    color: #fff;
  }
  &__btnClose {
    .btn;
    // width: 100%;
    border: none;
    width: 206px;
    height: 40px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    &:focus,
    &:hover {
      .btn;
    }
  }

  &__closeRecord {
    padding: 25px;
    background: #2c6df9;
    img {
      margin-right: 20px;
    }
    span {
      color: #ffffff;
      font-weight: 500;
      font-size: 16px;
    }
  }
}
