.Project {
  .detailColumn {
    color: #707177;
    .fieldValue {
      margin-right: 10px;
    }
    .employeeLink {
      color: #2c6df9;
      cursor: pointer;
    }
  }
  .managerName {
    color: #2c6df9;
    cursor: pointer;
  }
  .projectHealth {
    // max-width: 250px;
    :global {
      .ant-progress-text {
        color: #161c29;
        font-weight: 700;
      }
    }
    .bar {
      display: inline-block;
      width: 170px;
    }
    .viewReport {
      display: inline-block;
      margin-left: 20px;
      color: #2c6df9;
      font-weight: 700;
      font-size: 12px;
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        transition: 0.3s;
      }
    }
  }
}
