.containerEmployeeProfile {
  // background-color: rgba(0, 0, 0, 0.3);
  min-height: 100vh;
  margin: 40px 50px;
  padding: 40px;
  object-fit: contain;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.22);
  background-color: #ffffff;
  .viewInfo_Action {
    .viewInfo {
      display: flex;
      flex-direction: row;
      &__upload {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 9.4rem;
        height: 10rem;
        margin-right: 3.5rem;
        background-color: #f5f5f5;
        border-radius: 4px;
        cursor: pointer;
        &:hover,
        &:active {
          opacity: 0.7;
        }
      }
      &__text {
        max-width: 20rem;
        .textName {
          width: 100%;
          margin-bottom: 22px;
          overflow: hidden;
          font-weight: bold;
          font-size: 24px;
          line-height: 1.38;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .textInfo {
          width: 100%;
          margin-bottom: 13px;
          overflow: hidden;
          font-size: 16px;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
    .btnActions {
      width: 120px;
      height: 41px;
      background-color: #222;
      border: none;
      border-radius: 2px;
    }
  }
  // .TabEmployee {
  //   :global {
  //     .ant-tabs-nav {
  //       padding-left: 51px;
  //       height: 58px;
  //       background-color: #f4f4f4;
  //       margin-bottom: 0px;
  //     }
  //     .ant-tabs-tab {
  //       margin: 0 66px 0 0;
  //     }
  //     .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
  //       height: 9px;
  //     }
  //     .ant-tabs-ink-bar {
  //       height: 9px;
  //       background-color: #044040;
  //     }
  //     .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  //       color: #044040;
  //       font-size: 18px;
  //       font-weight: bold;
  //       font-stretch: normal;
  //       font-style: normal;
  //       line-height: 1.33;
  //       letter-spacing: normal;
  //       text-align: left;
  //     }
  //     .ant-tabs-tab-btn {
  //       font-family: 'Noto Sans', sans-serif;
  //       font-size: 18px;
  //       font-weight: 500;
  //       font-stretch: normal;
  //       font-style: normal;
  //       line-height: 1.33;
  //       letter-spacing: normal;
  //       text-align: left;
  //       color: #044040;
  //     }
  //   }
  // }
}
