.TableTickets {
  .priority {
    display: flex;
    justify-content: flex-start;
  }
  .ticketID,
  .userID {
    color: @primary-color;
    font-weight: 500;
    white-space: nowrap;
    &:hover {
      cursor: pointer;
    }
  }

  :global {
    .ant-dropdown-trigger {
      color: @primary-color !important;
      border: none !important;
      box-shadow: none !important;
      &:hover {
        cursor: pointer;
      }
    }
    .ant-tag {
      font-size: 13px;
      border-radius: 30px;
    }
  }
}
.dropdownPopover {
  :global {
    .ant-popover-inner {
      width: 270px;
      padding: 0;
      border: 1px solid #eaecef;
      border-radius: 8px;
    }
    .ant-popover-inner-content {
      padding: 0 !important;
    }
    .ant-popover-arrow {
      width: 18px;
      height: 18px;
      .ant-popover-arrow-content {
        width: 12px;
        height: 12px;
        box-shadow: none;
      }
    }
    .ant-popover-title {
      padding: 16px;
    }
  }
}
