.ViewDocument {
  width: 100%;
  // border-radius: 5px;
  // border: solid 1px #d6dce0;
  background-color: white;
  .tableTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 67px;
    padding: 0 24px;
    border-bottom: solid 1px #d6dce0;
    span {
      font-weight: 700;
      font-size: 16px;
    }
    .goBackButton {
      cursor: pointer;
      img {
        margin-top: -5px;
      }
      span {
        margin-left: 15px;
        color: @primary-color;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .tableContent {
    padding: 24px 24px 0 24px;
    border-bottom: solid 1px #d6dce0;
    .documentPreviewFrame {
      min-height: 350px;
      max-height: 450px;
      margin-bottom: 24px;
      overflow-x: hidden;
      background-color: #f3f7ff;
      border: 1px solid @primary-color;
      border-radius: 5px;
      .pdfFrame {
        .pdfPage {
          margin-bottom: 20px;
          canvas {
            width: 100% !important;
            height: 100% !important;
            margin: 0 auto;
          }
        }
      }
      .imageFrame {
        // padding: 20px;
        img {
          width: 100%;
        }
      }
    }

    .documentPagination {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 7px;
      .numberOfFiles {
        font-weight: 700;
        font-size: 16px;
        span {
          color: #2d6ef9;
        }
      }
      .filesPagination {
        img {
          height: 12px;
          margin-left: 24px;
          cursor: pointer;
        }
      }
    }
    .documentInfo {
      .infoRow {
        margin-bottom: 15px;
        .shareWithLabel {
          margin-top: 11px !important;
        }
        .infoCol1 {
          font-weight: 700;
        }
        .infoCol2 {
          color: #707177;
        }
      }
      .searchIcon {
        position: absolute;
        top: 0;
        right: 0;
      }
      .shareViaEmailInput {
        position: relative;
        border: none;
        :global {
          .ant-select-selector {
            width: 299px;
            padding: 7px;
            object-fit: contain;
            background-color: #ffffff;
            border: solid 1px @primary-color;
            border-radius: 5px;
            .ant-select-selection-item {
              // remove icon
              flex-direction: row-reverse;
              .ant-select-selection-item-content {
                color: #676767;
              }
              .anticon,
              .anticon-close {
                margin-right: 8px;
                border: 1px solid #676767;
                border-radius: 30px;
                svg {
                  color: #676767;
                }
              }
            }
            .ant-select-selection-placeholder {
              margin-left: 4px;
            }
          }
          .ant-select-arrow {
            position: absolute;
            top: 21px;
            right: 15px;
            color: black;
            font-size: 15px;
          }
        }
      }
    }
  }
  .operationButton {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 24px;
    :global {
      .ant-upload {
        margin-right: 20px;
        color: #ffa100 !important;
        font-weight: bold !important;
        cursor: pointer;
      }
    }
    .loadingIcon {
      margin-left: 5px;
      color: #ffa100;
      font-size: 20px;
    }
    .saveButton {
      width: 95px;
      height: 40px;
      color: white;
      font-weight: 700;
      background-color: #ffa100;
      border: solid 1px #ffa100;
      border-radius: 25px;
    }
  }
}
