.CompanySignatoryForm {
  font-family: 'Roboto';
  width: 100%;
  &_form {
    background-color: white;
    height: 100%;
    padding: 24px;
    border: 1px solid #d6dce0;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .signatory {
    img {
      margin: 10px;
    }
  }
  :global {
    .ant-table-tbody > tr.ant-table-row-level-1:hover > td {
      background: unset;
    }

    .ant-table-thead {
      tr th {
        padding: 8px 16px;
      }
    }

    .ant-upload {
      overflow: hidden;
      border: 1px dashed #d6dce0;
      box-sizing: border-box;
      border-radius: 10px;
      background-color: #fff;
      img {
        width: 100%;
      }
      width: 100%;
      max-width: 200px;
      height: 100%;
      min-height: 60px;
    }
    .ant-upload-select-picture-card {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
      border: none;
    }
    .ant-upload,
    .ant-upload-select,
    .ant-upload-select-picture-card {
      overflow: hidden;
    }
  }
  .actionsButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      transition: 0.3s;
      opacity: 0.9;
    }
  }
  .fileName {
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      margin-right: 10px;
    }
    span {
      font-weight: 700;
      color: #2c6df9;
    }
  }
}
