.CompanySignatoryForm {
  font-family: 'Roboto';
  width: 100%;

  .signatory {
    img {
      margin: 10px;
    }
  }
  :global {
    .avatar-uploader > .ant-upload {
      overflow: hidden;
      border: 1px dashed #d6dce0;
      box-sizing: border-box;
      border-radius: 10px;
      img {
        width: 100%;
      }
    }
    .ant-upload-select-picture-card {
      width: 100%;
      max-width: 200px;
      height: 100%;
      min-height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
    }
    .ant-upload,
    .ant-upload-select,
    .ant-upload-select-picture-card {
      overflow: hidden;
    }
  }
  .actionsButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      transition: 0.3s;
      opacity: 0.9;
    }
  }
  .fileName {
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      margin-right: 10px;
    }
    span {
      font-weight: 700;
      color: #2c6df9;
    }
  }
}
