.CompanySignatoryForm {
  font-family: 'Roboto';
  width: 100%;

  &_form {
    background-color: white;
    height: 100%;
    padding: 24px;
    border: 1px solid #d6dce0;
    box-sizing: border-box;
    border-radius: 5px;

    .tableHeader {
      background: #2c6df9;
      border-radius: 4px;
      color: white;
      font-size: 13px;
    }
  }

  &_title {
    font-weight: 700;
  }

  &_image {
    // width: 440px;
    // height: 200px;
  }

  &_action {
    position: relative;
  }

  :global {
    .ant-upload.ant-upload-select-picture-card {
      border: transparent;
      background-color: transparent;
      // position: absolute;
      // right: -33px;
      width: 14px;
      height: 14px;
    }

    .ant-upload-span {
      width: 200px;
      height: 200px;
    }

    .ant-upload-list-picture .ant-upload-list-item,
    .ant-upload-list-picture-card .ant-upload-list-item {
      height: 200px;
      width: 440px;
    }

    .ant-upload-list-item {
      border: transparent;
    }
  }
  .actionsButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      transition: 0.3s;
      opacity: 0.9;
    }
  }
}
