@spacing-xxs: 4px;

.firstColumn {
  padding-left: 62px;
}

.salaryStructureTemplate {
  :global {
    .ant-input {
      box-sizing: border-box;
      height: 27px;
      font-size: 13px;
      background: #ffffff;
      border: 1px solid #d6dce0;
      border-radius: 5px;
    }

    .blue-text {
      color: #2c6df9;
    }

    .big-text {
      margin-top: 5px;
      padding-left: 15px;
    }

    // .ant-form-item-control {
    //   height: 0;
    // }

    .ant-btn:focus .ant-btn.focus {
      background-color: red !important;
    }

    .ant-form-item {
      margin-bottom: 0;
    }

    .ant-btn-primary {
      display: flex;
      align-items: baseline;
      justify-content: center;
      color: #ffa100;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.13px;
      text-shadow: none;
      background-color: transparent;
      border: none;
      border-radius: 25px;
      box-shadow: none;
      box-shadow: none;

      &:hover {
        color: #ffa100;
        background-color: transparent;
      }
    }

    .ant-table-cell.thirdColumn {
      padding-top: 0;
      padding-bottom: 0;
    }

    .ant-table-thead {
      display: none;
    }

    .ant-table table {
      border-collapse: collapse;
    }

    .ant-table-tbody {
      tr {
        td {
          border: none;
          // padding-left: 30px;
        }

        td:first-child {
          padding-left: 50px;
        }

        td:nth-child(2) {
          font-weight: bold;
          text-align: center;
          border-right: 1px solid #d6dce0;
          border-left: 1px solid #d6dce0;
        }

        td:last-child {
          padding-left: 62px;
        }
      }

      tr:first-child {
      }

      tr:last-child {
        box-sizing: border-box;
        height: 80px;
        border-top: 1px solid #d6dce0;
        // border-bottom: 1px solid #d6dce0;
        border-collapse: collapse;

        td:first-child {
          color: #2c6df9;
          font-weight: bold;
        }
      }
    }
  }

  &_select {
    // margin-bottom: 30px;
    :global {
      .ant-form-item {
        display: block;
      }
    }

    p {
      color: #464646;
      font-size: 13px;

      line-height: 19px;
    }
  }

  .buttons {
    img {
      margin-right: 5px;
    }
  }

  &_table {
    height: max-content;
    padding: 0;
    background-color: #ffffff;
    border: solid 1px #d6dce0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    p {
      width: 448px;
      height: 36px;
      color: #707177;
      font-size: 13px;

      line-height: 1.38;
      letter-spacing: 0.12px;
      text-align: center;
    }

    .salary {
      min-height: 450px;
      border-bottom: solid 1px #d6dce0;

      &__left {
        padding: 32px 0 32px 50px;
        border-right: solid 1px #d6dce0;

        &__text {
          margin-bottom: 24px;
        }
      }

      &__right {
        padding: 32px 0 32px 120px;

        &__text {
          margin-bottom: 24px;
        }

        .ofBasic {
          color: rgba(22, 28, 41, 0.5);
        }
      }
    }

    .salaryTotal {
      &__left {
        padding: 24px 0 24px 50px;

        &__text {
          color: #2c6df9;
          font-weight: bold;
        }
      }

      &__right {
        padding: 24px 0 24px 120px;
      }
    }
  }

  &_footer {
    display: grid;
    grid-template-columns: 30% 30%;
    height: max-content;
    min-height: 79px;
    margin-bottom: 8 * @spacing-xxs;
    padding: 12px 62px;
    background-color: #ffffff;
    border: solid 1px #d6dce0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    &_info {
      .title {
        margin-bottom: 10px;
        color: #707177;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
      }

      .value {
        color: #707177;
        font-weight: 500;
        font-size: 13px;
        line-height: 21px;
      }
    }
  }

  // Custom table
  .bottomBar {
    // position: fixed;
    // bottom: 0;
    // width: inherit;
    position: relative;
    display: grid;
    height: 72px;
    padding: 4 * @spacing-xxs;
    background-color: #ffffff;
    border: solid 1px #d6dce0;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 2, 0.15);
    margin-block: 6 * @spacing-xxs;

    .normalText {
      display: flex;
      color: #707177;
      font-size: 13px;

      font-style: italic;
    }

    .redText {
      color: #ff4949;
      font-size: 13px;

      font-style: italic;
    }

    .greenText {
      color: #47c97f;
      font-size: 13px;

      font-style: italic;
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      &__disabled {
        opacity: 0.3;
      }

      :global {
        .ant-btn-primary {
          display: flex;
          align-items: center;
          height: 40px;
          object-fit: contain;
          color: #ffffff;
          font-weight: 500;
          font-size: 14px;

          letter-spacing: 0.13px;
          // display: none;
          text-shadow: none;
          background-color: #ffa100;
          border: solid 1px #ffa100;
          border-radius: 25px;
          box-shadow: none;
          padding-inline: 25px;

          &:hover {
            color: #ffffff;
            background-color: #ffa100;
          }
        }

        .ant-btn-secondary {
          height: 40px;
          object-fit: contain;
          color: #ffa100;
          font-weight: 500;
          font-size: 14px;

          letter-spacing: 0.13px;
          border: solid 0;
          border-radius: 25px;
          outline: none;
          box-shadow: none;
          padding-inline: 25px;
        }
      }
    }
  }

  :global {
    .ant-empty-description {
      display: none !important;
      width: 100% !important;
    }

    .ant-table-placeholder {
      display: none !important;
      width: 100% !important;
      height: 100% !important;

      .ant-empty {
        p {
          width: unset !important;
        }
      }
    }
  }

  .salaryNote {
    margin-bottom: 24px;
    padding: 24px;
    background-color: #fff;
    border: solid 1px #d6dce0;
    border-radius: 5px;

    :global {
      .ant-input {
        font-size: 14px;
      }

      .ant-input-disabled {
        color: rgba(0, 0, 2, 0.755);
      }
    }

    .title {
      display: block;
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 13px;
    }
  }
}

:global {
  .ant-empty-description {
    display: none !important;
    width: 100% !important;
  }

  .ant-table-placeholder {
    display: none !important;
    width: 100% !important;
    height: 100% !important;

    .ant-empty {
      p {
        width: unset !important;
      }
    }
  }
}
