@import '~antd/lib/style/themes/default.less';

.currency {
  font-size: 24px;
  margin-bottom: 12px;
  color: black;
  text-align: right;
}

.row {
  margin-bottom: 15px;
  .text {
    padding-left: 10px;
  }
}

@media screen and (max-width: @screen-sm) {
  .currency {
    text-align: left;
  }
}
