.rootEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  // height: 100%;
  margin-top: 50px;
  .textEmpty {
    width: 341px;
    height: 56px;
    margin: 40px 509px 40px 510px;
    color: #161c29;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.17px;
    text-align: center;
  }
  .btnAddMember {
    width: 199px;
    height: 40px;
    color: white;
    font-weight: 700;
    background-color: #ffa100;
    border: none;
    border-radius: 25px;
  }
}
