.rootEmpty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  .textEmpty {
    width: 341px;
    height: 56px;
    margin: 40px 509px 40px 510px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.56;
    letter-spacing: 0.17px;
    text-align: center;
    color: #161c29;
  }
  .btnAddMember {
    width: 199px;
    height: 40px;
    background-color: #ffa100;
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: bold;
  }
}
