.Form16 {
  .viewFile {
    padding: 2px 0;

    .control {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 8px;
      color: #161c29;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.56;
      letter-spacing: 0.17px;

      .current {
        color: #2c6df9;
      }

      .arrows {
        display: flex;
        align-items: center;

        img {
          cursor: pointer;
        }

        .back {
          margin-right: 24px;
        }
      }
    }
  }
  .btnDownLoad {
    margin-top: 24px;
    padding: 16px 24px;
    text-align: right;
    background: #ffffff;

    :global {
      .ant-btn {
        box-sizing: border-box;
        color: white;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.13125px;
        background: #ffa100;
        border: 1px solid #ffa100;
        border-radius: 25px;
      }
    }
  }
  .options {
    cursor: pointer;
    img {
      padding-left: 8px;
      color: #707177 !important;
    }
  }
}

:global {
  .react-pdf__Document {
    min-height: 300px;
    max-height: 500px;
    overflow-y: auto;

    .react-pdf__Page__canvas {
      width: 100% !important;
      max-width: 100%;
      height: unset !important;
      margin: 0 auto;
    }

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #e0e4e9;
      border-radius: 3px;
    }
  }
}
