.healthWellbeing {
  width: 100%;

  .loadingSpin {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }

  .formItem {
    width: 100%;
    height: auto;

    :global {
      .ant-divider-horizontal {
        margin: 0;
      }

      .ant-divider {
        border-top: 1px solid #d6dce0;
      }
    }

    .benefit {
      padding: 30px 33px;

      &__title {
        padding-bottom: 16px;

        color: #161c29;
        font-weight: normal;
        font-size: 14px;

        font-style: normal;
        line-height: 16px;
      }

      &__subTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-weight: normal;
        font-size: 13px;

        font-style: normal;
        line-height: 12px;
        &__left {
          color: #707177;
        }

        &__right {
          color: #ff5252;
        }
      }

      &__bottom {
        width: 100%;

        .addDocs {
          display: flex;
          align-items: center;
          width: fit-content;
          cursor: pointer;

          &__text {
            padding-left: 16px;

            color: #2c6df9;
            font-weight: 500;
            font-size: 13px;

            font-style: normal;
            line-height: 15px;
            /* identical to box height */

            letter-spacing: 0.121875px;
          }
        }
      }

      .planDocuments {
        padding-top: 16px;
        :global {
          .ant-select-selector,
          .ant-input-affix-wrapper {
            box-sizing: border-box;

            height: 42px;
            background: #ffffff;
            border: 1px solid #d6dce4;
            border-radius: 5px;
          }

          .ant-select-selection-search-input {
            height: 100%;
          }

          .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
          .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder,
          .ant-select-single.ant-select-show-arrow .ant-select-selection-search {
            display: flex;
            align-items: center;
          }

          .ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
            color: #161c29;
            font-weight: normal;
            font-size: 14px;

            font-style: normal;
            line-height: 16px;
            cursor: pointer;
          }

          .ant-input-affix-wrapper-disabled {
            color: #161c29;
            font-weight: normal;
            font-size: 14px;

            font-style: normal;
            line-height: 16px;
          }

          .ant-input[disabled] {
            color: #161c29;
            font-weight: normal;
            font-size: 13px;

            font-style: normal;
            line-height: 12px;
          }
        }

        .documents {
          &__first {
            width: 100%;

            .documentName {
              display: flex;
              align-items: center;
              justify-content: space-between;
              box-sizing: border-box;
              height: 42px;
              margin-bottom: 24px;

              padding: 4px 11px;

              background: rgb(255, 255, 255);
              border: 1px solid rgb(214, 220, 228);
              border-radius: 5px;
              cursor: pointer;

              &__text {
                color: #2c6df9 !important;
                font-weight: normal;
                font-size: 14px;

                font-style: normal;
                line-height: 16px;
                text-decoration-line: underline;
              }
            }
          }

          &__second {
            padding-bottom: 24px;
            :global {
              .ant-select-arrow {
                color: #161c29;
                font-weight: normal;
                font-size: 14px;

                font-style: normal;
                line-height: 16px;
              }

              .ant-form-item {
                margin-bottom: 0;
              }
            }

            .inputNumber {
              width: 180px;
            }

            .label {
              padding-bottom: 8px;

              color: #707177;
              font-weight: normal;
              font-size: 13px;

              font-style: normal;
              line-height: 15px;
            }
          }

          .labelDocs {
            padding-bottom: 16px;

            color: #707177;
            font-weight: bold;
            font-size: 13px;

            font-style: normal;
            line-height: 15px;
          }
        }
      }
    }
  }
}

.emptyDiv {
  width: 100%;
  padding: 32px;

  .box {
    padding: 24px;
    background-color: #fff4d1;
    border: 1px solid #ffa100;
    border-radius: 8px;

    &__content {
      color: #161c29;
      font-weight: normal;
      font-size: 14px;

      font-style: normal;
      line-height: 16px;
      text-align: center;
    }
  }
}
