.LeaveHistoryCalendar {
  position: relative;
  padding-bottom: 10px;
  .day,
  .emptySlot,
  .weekDay {
    text-align: center;
  }

  .weekDay {
    font-size: 0.8em;
    color: #161c29 !important;
  }

  .day {
    height: 24px;
    font-size: 12px;
    padding: 7px 0;
    span {
      padding: 6px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;

      color: #707177;
    }
  }

  .currentDay, .activeDate {
    background-color: #e1e9fa;
    color: #161c29;
    height: 23px;
    width: 23px;
    margin: auto;
    padding-top: 2px;
    border-radius: 50%;

    span{
      color: #2C6DF9;
    }
  }

  .navMonth {
    position: absolute;
    top: 0.6em;
    font-size: 0.6em;
    right: 3px;
  }

  .labelMonth,
  .labelYear {
    font-size: 14px;
    font-weight: 700;
  }
  .labelYear {
    padding-left: 5px;
  }

  .headerContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    // margin: 15px 0;
    padding: 24px;
    .changeMonthBtn {
      span {
        padding: 3px;
        color: #707177;
        font-weight: 700;
        font-size: 10px;
        cursor: pointer;
        &:hover {
          background-color: #2058d1;
          color: white;
          border-radius: 1px;
        }
      }
    }
  }
  .daysTable {
    padding: 0 7px;
    table {
      width: 97% !important;
      margin-left: 5px;
      tr {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      td {
        width: 100/7%;
      }
    }
  }

  // marks
  .markEventBegin {
    position: relative;
  }
  .markEventBegin::before {
    content: '•';
    position: absolute;
    margin-left: 2px;
    margin-top: 2px;
    z-index: 1;
    font-size: 25px;
  }
  .markEventBegin::after {
    content: '';
    position: absolute;
    right: 0;
    width: 50%;
    bottom: 0;
    margin-bottom: -1px;
  }
  .markEventEnd {
    position: relative;
  }
  .markEventEnd::before {
    content: '•';
    position: absolute;
    right: 40%;
    margin-top: 4px;
    z-index: 1;
    font-size: 25px;
  }
  .markEventEnd::after {
    content: '';
    position: absolute;
    left: 0;
    width: 50%;
    bottom: 0;
    margin-bottom: -1px;
  }

  .listStatus{
    border-top: 1px solid #E2E4E8;
    width: 100%;

    .dots{
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }

    .dotAll{
      background-color: #2C6DF9;
    }
    .dotApplied{
      background-color: #FFA100;
    }
    .dotApproved{
      background-color: #00C598;
    }
    .dotRejected{
      background-color: #F04B37;
    }

    &__text{
      padding-left: 8px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;

      color: #6C717A;
    }
    
    &__top, &__status{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    &__top{
      padding: 16px;
      justify-content: flex-start;
    }
    &__bottom {
      padding: 16px;
      border-top: 1px solid #E2E4E8;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .eventDetailContainer {
    border-top: 1px solid #E2E4E8;
    .eventDetailPart {
      .eventsContainer {
        max-height: 250px;
        overflow: auto;
      }
      .title {
        font-size: 14px;
        font-weight: 700;
        line-height: 4;
        padding: 0 24px;
      }
    }
  }

  .eventMarkSingleClassName {
    width: 20px;
    height: 20px;
  }
  .eventMarkSingleClassName::before {
    content: '•';
    position: absolute;
    margin-left: 2px;
    margin-top: 2px;
    z-index: 1;
    font-size: 25px;
  }

  .accepted{
    color: #00C598;
  }
  .rejected{
    color: #F04B37;
  }
  .applied{
    color: #FFA100;
  }
  .allLeaves{
    color: #2C6DF9;
  }
}
