.modalUpload {
  :global {
    .ant-modal-footer {
      border-top: none;
    }
  }
  .btnSubmit {
    background-color: #222;
    border: none;
    width: 119px;
    height: 35px;
    border-radius: 2px;
  }
}
