.contentTenua {
  background-color: #fff;
  height: 260px;
  padding: 30px 24px;
  input {
    width: 52px;
    margin: 0 10px;
  }
  .effectFrom {
    .text {
      font-weight: normal;
      font-size: 13px;
      line-height: 24px;
      color: #464646;
      padding-bottom: 5px;
    }
    margin-top: 20px;
    padding-bottom: 31px;
  }
  .text {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-right: 10px;
    color: #464646;
  }
  .timePicker {
    width: 445px;
    height: 42px;
    border: 1px solid #d6dce0;
    box-sizing: border-box;
    border-radius: 5px;
  }
}
