.salaryStructure {
  position: relative;
  padding: 24px;
  color: #161c29;

  .header {
    &__title {
      height: 21px;
      margin-bottom: 17px;
      color: #161c29;
      font-weight: 700;
      font-size: 18px;
      font-family: 'Roboto';
      line-height: 21px;
      letter-spacing: 0.3px;
    }

    &__description {
      color: #707177;
      font-size: 13px;
      font-family: 'Roboto';
      line-height: 20px;
      letter-spacing: 0.12px;
      text-align: left;
    }
  }

  .selectOption {
    display: flex;
    margin-top: 24px;

    .selectGroup {
      margin-left: 32px;

      &:first-child {
        margin-left: 0;
      }

      &__label {
        color: #707177;
        font-size: 13px;
        font-family: 'Roboto';
        line-height: 20px;
        letter-spacing: 0.12px;
        text-align: left;
      }

      &__select {
        margin-top: 8px;

        :global {
          .ant-select-selector {
            box-sizing: border-box;
            width: 320px;
            height: 42px;
            background: #ffffff;
            border: 1px solid #d6dce0;
            border-radius: 4px;
          }

          .ant-select-selection-search-input {
            height: 100%;
          }

          .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
          .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder,
          .ant-select-single.ant-select-show-arrow .ant-select-selection-search {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }

  .radioGroup {
    margin-top: 24px;
  }
  .tableSalary {
    // width: 100%;
    min-height: 200px;
    margin-top: 24px;
    padding: 24px;
    background-color: #ffffff;
    border: 1px solid #d6dce0;
    border-radius: 8px;
  }

  .actionsButton {
    img {
      cursor: pointer;

      :hover {
        transform: scale(1.5);
        translate: 0.3;
      }
    }
  }
}
