.DirectoryTable {
  padding: 24px;
  background-color: #fff;

  .employeeId {
    padding-left: 16px !important;
  }

  a {
    font-weight: 500;
  }

  :global {
    .ant-table-body {
      height: 500px;
    }
  }

  .employeeName {
    display: flex;
    align-items: center;

    .avatar {
      width: 36px;
      height: 36px;
    }

    .avatar_emptySrc {
      width: 36px;
      height: 36px;
      background-color: #ffffff;
      border: solid 1px #707070;
    }

    .name {
      width: 70%;
      margin: 0;
      padding-left: 12px;
      overflow: hidden;
      color: @primary-color;
      font-weight: 500;
      letter-spacing: 0.12px;
      white-space: nowrap;
      text-align: left;
      text-overflow: ellipsis;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .viewAction {
    .actionBtn {
      padding: 0 !important;
      color: @primary-color;
      font-size: 13px;
      background: none;
      border: none;
      box-shadow: none !important;
    }
  }

  .managerName {
    overflow: hidden;
    color: @primary-color;
    // font-weight: 500;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }

  .title,
  .department {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  .title {
    &:hover {
      color: @primary-color;
    }
  }
}

.popupImg {
  img {
    width: 300px;
    height: fit-content;
  }
}
