.AccrualPolicy {
  :global {
    .ant-radio-group {
      border: none;
    }
  }
  .label {
    display: block;
    padding-bottom: 10px;
    color: #707177;
    font-weight: 400;
    font-size: 13px;
  }
  .accrualMethod {
  }
  .accrualRate {
    margin-top: 24px;

    :global {
      .ant-btn {
        background: rgba(86, 138, 250, 0.12);
        border: none;
        border-radius: 5px;
        outline: none;
        box-shadow: none;
        span {
          color: #2c6df9;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }
}
