.root {
  // .titlePage {
  //   width: 100%;
  //   padding: 20px 20px;
  //   color: #2c6df9;
  //   font-weight: 700;
  //   font-size: 18px;
  //   line-height: 19px;
  //   background-color: #fff;
  //   border-bottom: 1px solid #f0f0f0;
  // }
  :global {
    .ant-tabs > .ant-tabs-nav,
    .ant-tabs > div > .ant-tabs-nav {
      padding-left: 47px;
    }

    .ant-tabs > .ant-tabs-nav,
    .ant-tabs > div > .ant-tabs-nav {
      height: 50px;
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: #2c6df9;
      font-weight: 700;
      font-size: 14px;
    }
    .ant-tabs-tab-btn {
      color: #161c29;
      font-weight: 500;
      font-size: 14px;
      opacity: 0.3;
    }
  }
}

.btn {
  margin-right: 17px;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  background: #ffa100;
  border: none;
  border-radius: 25px;
  &:disabled {
    opacity: 0.5;
  }
  &:hover,
  &:active {
    margin-right: 17px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    background: #ffa100;
    border: none;
    border-radius: 25px;
  }
}

.viewLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
}
