@border-color: #d6dce0;
@orange: #fe5d27;
@new-background: #fff4f1;
@border-color: #d6dce0;
@checkbox-background: #e7eaee;
@checkbox-border: #707177;
@gray: #707177;
@red: #ff5252;

.CommonTable {
  background-color: #ffffff;

  :global {
    .ant-table-row {
      height: 55px;
    }

    .ant-table-thead th.ant-table-column-has-sorters.ant-table-cell-fix-left:hover,
    .ant-table-thead th.ant-table-column-has-sorters.ant-table-cell-fix-right:hover,
    .ant-table-thead th.ant-table-column-has-sorters:hover {
      background-color: @primary-color !important;
      opacity: 0.8;
    }

    .anticon-delete {
      margin-left: 6px !important;

      &:hover {
        svg {
          path {
            fill: @red !important;
          }
        }
      }
      svg {
        color: @primary-color !important;
        transform: initial !important;
      }
    }

    td.ant-table-cell {
      color: #464646;
      font-weight: normal;
      font-size: 13px;
      font-style: normal;
      font-stretch: normal;
      line-height: 20px !important;
      letter-spacing: 0.12px;
    }

    td.ant-table-column-sort {
      background-color: #fafafa !important;
    }

    .ant-table-pagination {
      margin: 0 !important;
      padding: 24px 8px 2px 8px;
      border-top: 1px solid #e2e4e8;
    }
    .ant-table-thead > tr > th {
      background-color: @primary-color;
    }

    th.ant-table-selection-column {
      width: 5%;
    }

    .ant-checkbox-inner {
      background-color: @checkbox-background;

      &:after {
        border-color: blue;
      }
    }

    .ant-checkbox-wrapper {
      border-color: @checkbox-border;
    }

    .ant-table-selection,
    .ant-table-selection-column {
      height: fit-content;
    }

    thead {
      tr {
        height: 35px;
      }

      .ant-table-selection {
        height: 18px;
      }
    }
  }
}
