.title {
  color: #3a354e;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
  padding-bottom: 20px;
}

.containerForm {
  background-color: #fff;
  padding: 22px 24px;
  width: 500px;
  box-shadow: 0 2px 4px 0 rgba(180, 180, 180, 0.5);
  border-radius: 4px 4px 0 0;
  .labelForm {
    font-size: 12px;
    line-height: 15px;
    color: #3a354e;
    opacity: 0.5;
    font-weight: 500;
  }

  .inputText {
    color: #3a354e;
    font-size: 18px;
    line-height: 22px;
    opacity: 0.5;
    font-weight: 500;
  }

  .owner {
    color: #4a90e2;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    cursor: pointer;
  }
  :global {
    .ant-form-item {
      margin-bottom: 0 !important;
    }
  }
}

.modalStyle {
  overflow: hidden;
  .modalTitle {
    font-weight: 600;
    font-size: 16px;
    color: #000;
    line-height: 20px;
  }

  .employeeValue {
    font-weight: 600;
    color: #000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
    p {
      height: 30px;
      margin-bottom: 5px;
      min-width: 140px;
    }
  }

  .employeeTitle {
    font-weight: 400;
    color: #000;
    opacity: 0.5;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
    p {
      height: 30px;
      margin-bottom: 5px;
    }
  }
  :global {
    .ant-modal-header {
      border-bottom: none;
      padding: 16px 24px 0;
    }
  }
}
