@import '~antd/lib/style/themes/default.less';
.root {
  :global {
    .ant-form-item {
      margin-bottom: 0;
    }
    .ant-form-item-label > label {
      color: rgba(58, 53, 78, 0.5);
      font-size: 12px;
      font-weight: normal;
    }
    .ant-input-number-handler-wrap {
      display: none;
    }
    .ant-select-selection-selected-value,
    .ant-input {
      color: black;
      font-size: 18px;
    }

    .ant-input {
      padding: 4px 0;
      height: auto;
    }
    .ant-select-selection__placeholder {
      font-size: 18px;
    }
  }
  .spin {
    margin-left: 30px;
  }
  .distanceUnit {
    :global {
      .ant-select-selection-selected-value {
        text-transform: capitalize;
      }
    }
  }
  .currency {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: black;
  }
  .avatar {
    padding-left: 4px;
    padding-right: 4px;
    height: 80px;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 5px;
  }
  .iconCalculator {
    display: flex;
    flex-direction: column-reverse;
    height: 80px;
    align-items: center;
  }
  .iconSpan {
    font-size: 14px;
    color: black;
  }
  .iconSlash {
    font-size: 24px;
    color: black;
  }
  .amountInput {
    margin-top: 15px;
    :global {
      .ant-input {
        text-align: center;
      }
    }
  }
  .mileageLabel {
    font-size: 12px;
    color: #3a354e;
    line-height: 15px;
    opacity: 0.5;
    font-weight: normal;
  }
  .hideComponent {
    display: none !important;
  }
  .showComponent {
    display: inline !important;
  }
}
