@commonPadding: 24px;
@blueColor: @primary-color;
@orangeColor: #ffa100;
@lightBlueColor: #e4edff;
@borderColor: @border-color-base;

.Projects {
  margin: @commonPadding;
  overflow: hidden;
  background: #ffffff;
  border: 1px solid @border-color-base;
  border-radius: 8px;
  .header {
    width: 100%;
  }
  .tableContainer {
    padding: 24px;
    :global {
      .ant-table-cell {
        padding: 8px !important;
      }
    }
  }
  .blueText {
    color: @blueColor;
    font-weight: 500;
  }
  .clickableTag {
    .blueText();
    cursor: pointer;
  }

  .colorTag {
    padding: 4px 8px;
    font-size: 11px;
    background-color: #e2f6ff;
    border: none;
    border-radius: 12px;
  }
  .timeTitle {
    span {
      display: block;
      text-align: center;
    }
    .smallText {
      font-size: 9px;
    }
  }
  .projectStatus {
    display: flex;
    align-items: center;
    span {
      display: block;
    }
    img {
      margin-left: 7px;
      cursor: pointer;
    }
  }
  .btnAction {
    display: flex;
    align-items: center;
    justify-content: center;
    :global {
      .ant-btn {
        display: flex;
        align-items: center;
      }
    }
  }
}
