@commonPadding: 24px;
@blueColor: #2c6df9;
@orangeColor: #ffa100;
@lightBlueColor: #e4edff;
@borderColor: #d6dce0;

.Projects {
  margin: @commonPadding;
  overflow: hidden;
  background: #ffffff;
  border: 1px solid #d6dce0;
  border-radius: 8px;
  .header {
    width: 100%;
  }
  .tableContainer {
    padding: 24px;
  }
  .blueText {
    color: @blueColor;
    font-weight: 500;
  }
  .clickableTag {
    .blueText();
    cursor: pointer;
  }
  .addResourceBtn {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    span {
      color: @orangeColor;
      font-weight: 500;
      font-size: 12px;
    }
    img {
      margin-right: 10px;
    }
  }
  .colorTag {
    padding: 4px 8px;
    font-size: 11px;
    background-color: #e2f6ff;
    border: none;
    border-radius: 12px;
  }
  .timeTitle {
    span {
      display: block;
      text-align: center;
    }
    .smallText {
      font-size: 9px;
    }
  }
}
