@import (css)
  url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.CustomEmailsTableField {
  max-height: 500px;
  font-family: 'Roboto';
  // position: absolute;
  padding: 42px;
  width: 100%;
  left: 0;
  background-color: white;
  overflow-y: scroll;

  &_title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    text-align: left;
    color: #161c29;
  }
}
