.SuccessModal {
  :global {
    .ant-modal-body {
      padding: 0;
    }
    .ant-modal-close {
      display: none;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 44px 20px;
    .successIcon {
      width: 100%;
    }
    p {
      margin: 20px 0;
      text-align: center;
    }

    :global {
      .ant-modal-body {
        border-radius: 10px;
      }
      .ant-btn {
        background-color: #ffa100;
        border: none;
        border-radius: 30px;
        height: 40px;
        width: 108px;
        span {
          color: white;
          font-weight: bold;
        }
        &:hover {
          background-color: #ffa100cc; // hex with alpha 0.8
        }
      }
    }
  }
}
