.EmployeeOffboarding {
  .root {
    min-height: 100vh;
    padding: 20px;

    .spinLoading {
      position: absolute;
      top: 20%;
      left: 50%;
    }
  }
  .viewActivityLogs {
    margin-right: 20px;
  }
  :global {
    .ant-btn-secondary {
      height: 16px;
      height: 40px;
      color: #2c6df9;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.13px;
      background-color: transparent;
      border: none;
      border-radius: 35px;
    }

    .ant-tabs-tab-btn{
      opacity: 1;
      color: #707177;
    }

    .ant-tabs-tab-active .ant-tabs-tab-btn {
      font-weight: bold;
    }
    
    .ant-tabs-tab-active .ant-tabs-tab-disabled{
      font-weight: 500;
    }
  }
}
