@darkColor: #161c29;
@lightGrayColor: #707177;
@commonPadding: 15px;
@inlinePadding: 32px;
@borderColor: #d6dce0;
@blueColor: #2c6df9;
@lightBlueColor: #eaf0fe;

.ActiveChat {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 70vh;
  background: #fff;
  border: 1px solid @borderColor;
  border-radius: 5px;

  .senderContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: @commonPadding @inlinePadding;
    border-bottom: 1px solid @borderColor;
    .avatarBgOutline {
      background: #00c3ff38 !important;
    }
    .avatarOutline {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      background: #d8e4fe;
      border-radius: 50%;
      .avatarBg {
        background: #00c2ff !important;
      }
      .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background: #417bf9;
        border-radius: 50%;
        .avatarName {
          color: #fff;
          font-size: 13px;
        }
      }
    }
    .info {
      padding-left: @commonPadding;
      span {
        display: block;
        line-height: 30px;
      }
      .name {
        color: @darkColor;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
      }
      .time {
        color: @lightGrayColor;
        font-size: 13px;
        line-height: 21px;
      }
    }
  }

  .contentContainer {
    position: relative;
    z-index: 1;
    height: 100%;
    overflow-y: auto;
    padding-inline: @inlinePadding;
    .senderMessage {
      width: fit-content;
      max-width: 700px;
      margin-block: @commonPadding;
      .above {
        display: flex;
        align-items: flex-end;
        .avatarBgOutline {
          background: #00c3ff38 !important;
        }
        .avatarOutline {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 44px;
          height: 44px;
          margin-right: @commonPadding;
          background: #d8e4fe;
          border-radius: 50%;
          .avatarBg {
            background: #00c2ff !important;
          }
          .avatar {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            background: #417bf9;
            border-radius: 50%;
            .avatarName {
              color: #fff;
              font-size: 13px;
            }
          }
        }
        .messageBody {
          padding: @commonPadding;
          background-color: @blueColor;
          border-radius: 16px;
          span {
            color: #fff;
            font-size: 14px;
            line-height: 21px;
          }
        }
      }
      .seenDate {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-left: 58px;
        color: @lightGrayColor;
        font-size: 11px;
        letter-spacing: 0.1625px;
        img {
          margin-right: 10px;
        }
      }
    }
    .candidateMessage {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-block: @commonPadding;
      .above {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        .avatar {
          display: flex;
          justify-content: flex-end;
          margin-left: @commonPadding;
        }
        .textAvatar {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 44px;
          height: 44px;
          margin-left: @commonPadding;
          color: @blueColor;
          font-weight: 700;
          font-size: 13px;
          background-color: #e4edff;
          border-radius: 50%;
        }
        .messageBody {
          width: fit-content;

          max-width: 700px;
          padding: @commonPadding;
          background-color: @lightBlueColor;
          border-radius: 16px;
          span {
            color: @darkColor;
            font-size: 14px;
            line-height: 21px;
          }
        }
      }
      .seenDate {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-right: 58px;
        color: @lightGrayColor;
        font-size: 11px;
        letter-spacing: 0.1625px;
        img {
          margin-right: 10px;
        }
      }
    }
  }

  .inputContainer {
    display: flex;
    align-items: center;
    width: 100%;
    padding: @commonPadding @inlinePadding;
    border-top: 1px solid @borderColor;
    form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    .disabledBtn {
      background-color: #2c6df975 !important;
    }
    :global {
      .ant-form-item {
        margin-bottom: 0 !important;
      }
      .ant-form-item:first-child {
        width: 100%;
      }
      .ant-col {
        width: 100%;
      }
      .ant-input-disabled {
        background-color: #fff !important;
      }
      .ant-input {
        margin-right: @commonPadding;
        border: none;
        outline: none;
        box-shadow: none;
      }
      .ant-btn {
        background: @blueColor;
        border: none;
        border-radius: 45px;
        outline: none;
        padding-inline: 24px;
        span {
          color: #fff;
          font-weight: 500;
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
