@import '~antd/lib/style/themes/default.less';
.listRpWrapper {
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #3a354e;
    line-height: 29px;
  }
  .headerSearchWrapContent {
    display: flex;
  }
  .selectFY {
    :global {
      .ant-select-selection {
        height: 44px;
        display: flex;
        align-items: center;
      }
      .ant-select-selection-selected-value {
        font-size: 14px;
        color: #3a354e;
      }
      .ant-select-arrow {
        font-size: 11px;
        color: #3a354e;
      }
    }
  }
  :global {
    // menu
    .ant-statistic-content {
      font-weight: normal;
      letter-spacing: 0;
      line-height: 22px;
      color: black;
      opacity: 0.5;
      .ant-statistic-content-value-decimal {
        font-size: 18px;
      }
    }
    .ant-menu-item-selected {
      .ant-statistic-content {
        font-weight: bold;
        color: @primary-color;
        opacity: 1;
      }
    }
  }
}

.menuArea {
  margin-top: 28px;
  :global {
    .ant-menu-item {
      padding-left: 0;
      margin-right: 50px;
    }
    .ant-menu-item-selected {
      .intranet-pages-report-index-summary {
        color: #2b6df8 !important;
        font-weight: bold !important;
        opacity: 1;
      }
      .intranet-pages-report-index-summaryCount {
        color: #2b6df8 !important;
      }
    }
  }
  .summary {
    font-size: 18px;
    line-height: 22px;
    color: #3a354e;
    opacity: 0.5;
    .summaryCount {
      margin-top: 5px;
      font-size: 14px;
      line-height: 17px;
      font-weight: normal;
      padding-bottom: 11px;
      color: black;
    }
  }
}
.actionBtn {
  display: flex;
  justify-content: flex-end;
  width: auto;
  align-items: center;
  height: 51px;
  background: linear-gradient(270deg, #f4f7fe 0%, #eff2fa 100%);
  .btn {
    width: 18px;
    height: auto;
    cursor: pointer;
    margin-right: 30px;
    &:hover {
      fill: @primary-color !important;
    }
  }
}

.addBtn {
  width: 100px;
  height: 44px;
  background-color: #fca00a;
  border-color: #fca00a;
  &:hover {
    background-color: rgba(252, 160, 10, 0.7) !important;
    border-color: rgba(252, 160, 10, 0.7) !important;
  }
}
.divider {
  width: 100%;
  height: 1px;
  border: 0.5px solid #dadada;
  margin-bottom: 18.5px;
}
.hiddenLink {
  visibility: hidden;
  width: 0;
  height: 0;
}
.btnExport {
  min-width: 117px;
  margin-bottom: 10px;
}
.wrapConfirmExport {
  :global {
    .ant-modal-title {
      font-size: 16px;
      font-weight: bold;
      color: black;
    }
    .ant-modal-header {
      border-bottom: none;
      padding-bottom: 0;
    }
    .ant-modal-footer {
      border: none;
    }
    .ant-modal-content {
      width: 400px;
    }
  }
  .expopupContent > span {
    font-size: 14px;
    line-height: 17px;
    color: black;
  }
  .popupOkBtn {
    height: 35px;
    padding: 5px 25px;
    color: white;
    border-color: #fca00a;
    font-size: 14px;
    background-color: #fca001;
    &:hover {
      background-color: rgba(252, 160, 10, 0.7) !important;
      border-color: rgba(252, 160, 10, 0.7) !important;
    }
  }
  .cancelBtn {
    height: 35px;
    padding: 5px 25px;
    border: 1px solid #fca00a;
    color: #fca00a;
    margin-bottom: 15px;
    &:hover {
      color: rgba(252, 160, 10, 0.7) !important;
      border-color: rgba(252, 160, 10, 0.7) !important;
    }
  }
}
.filterDrawer {
  .filterDrawerTitle {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    color: #3a354e;
  }
  :global {
    // drawer
    .ant-drawer-content-wrapper {
      .ant-drawer-content {
        border-radius: 4px;
      }
    }
    .ant-drawer-close {
      color: #3a354e;
    }
    // form
    .ant-form-item-label {
      line-height: 15px;
      label {
        opacity: 0.5;
        color: #3a354e;
        font-size: 12px;
        font-weight: normal;
      }
    }
  }
}

.iconPrimary {
  fill: @primary-color;
  width: 18px;
}
