.orgChartRoot {
  width: 100%;
  min-height: 80vh;
  padding-top: 100px;

  .viewLoading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    padding-left: 300px;
  }

  .charts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 300px;

    &__line {
      width: fit-content;
      width: -moz-fit-content;
      margin: 0 auto;
    }

    .node {
      &:hover {
        border: 1px solid #2c6df9;
      }
      width: 240px;
      min-height: 90px;

      padding: 8px 16px;
      background: #ffffff;
      border: 1px solid #e8eef2;
      border-radius: 6px;
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);

      cursor: pointer;

      &__card {
        display: flex;
        align-items: flex-start;

        .avatar {
          min-width: 42px;
        }

        &__info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 10px;

          .deptName {
            min-height: 36px;
          }

          .legalName,
          .deptName,
          .countryName {
            padding-bottom: 6px;
          }

          .legalName {
            color: #161c29;
            font-weight: 500;
            font-size: 14px;
            font-family: Roboto;
            font-style: normal;
            line-height: 16px;
          }
          .deptName,
          .countryName {
            color: #707177;
            font-weight: normal;
            font-size: 13px;
            font-family: Roboto;
            font-style: normal;
            line-height: 15px;
          }
        }
      }

      &__bottom {
        position: absolute;
        display: flex;
        align-items: center;
        transition: 0.3s all ease-in-out !important;

        &_reporteesExpand,
        &_reporteesCollapse,
        &_you,
        &_you1,
        &_you2,
        &_reportees {
          padding: 4px 10px;
          color: #ffffff;
          font-weight: 500;
          font-size: 12px;
          font-family: Roboto;
          font-style: normal;
          line-height: 14px;
          border-radius: 13px;
          transition: 0.3s all ease-in-out !important;
        }

        &_reporteesExpand {
          margin-right: 16px;
          background: #2c6df9;
        }

        &_reportees {
          position: absolute;
          margin-right: 16px;
          background: #2c6df9;
        }

        &_reporteesCollapse {
          margin-right: 16px;
          color: #000;
          background: #ffa100;
        }

        &_you {
          background: #00c598;
        }

        &_you1,
        &_you2 {
          position: absolute;
          background: #00c598;
        }

        &_you1 {
          right: 80px;
        }
      }
    }

    .currentUserNode {
      position: relative;
      margin: auto;
      border: 1px solid #00c598;
    }

    .userNode {
      position: relative;
      margin: auto;
    }

    .parentNode {
      position: relative;
    }

    .nodesTree {
      max-width: 768px; // exactly = 750px
      /*
                - each node's width = 240px.
                - 3 columns => 240px * 3 = 720px
                - spacing between nodes: 24px
                -> 720 + 24*2 = 768px
            */

      .lineNode {
        width: 100%;

        &__line {
          width: fit-content;
          width: -moz-fit-content;
          margin: 0 auto;
        }
      }
    }

    .childrenList {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      align-items: center;

      .employeeNode {
      }
    }

    .selectNode {
      border: 1px solid #2c6df9;
    }
  }
}
