.root {
  width: 890px;
  height: 913px;
  background: #ffffff;
  border: 1px solid #d6dce0;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  .upload {
    width: 200px;
    height: 200px;
  }
}
