.LeaveBalance {
  padding: 24px;
  background: white;
  border: 1px solid @border-color-base;
  border-radius: 8px;

  .leaveInfoContainer {
    padding-right: 24px;
    border-right: 1px solid @border-color-base;
  }
  .leaveTableContainer {
    padding-left: 24px;

    .totalValue {
      color: @primary-color;
      font-weight: 600;
    }
    .leaveCategory {
      display: flex;
      align-items: center;
      .leaveCategoryName {
        margin-left: 4px;
        font-weight: 500;
      }
    }
  }
}
