.tabTable {
  :global {
    .ant-tabs-tab-btn {
      color: #464646;
      font-weight: 500 !important;
      font-size: 14px;
      line-height: 16px;
      opacity: 0.5 !important;
    }
    .ant-tabs-ink-bar {
      display: block !important;
    }
    .ant-tabs-tabpane {
      padding: 0 !important;
    }
    .ant-tabs-tab,
    .ant-tabs-tab-active {
      margin-top: 0px;
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      opacity: 1 !important;
    }

    .ant-tabs-top > .ant-tabs-nav::before,
    .ant-tabs-top > div > .ant-tabs-nav::before {
      display: block !important;
      width: 50%;
    }

    .ant-tabs-nav {
      margin-bottom: 12px;
      padding-left: 0px !important;
    }
  }
}
