@blue: #2c6df9;

.MemberCard {
  box-sizing: border-box;
  margin: 16px;
  padding-left: 16px;
  overflow: hidden;
  background: #ffffff;
  border: 1px solid #d6dce0;
  border-radius: 6px;
  .alignCenter {
    display: flex;
    justify-content: center !important;
  }
  .alignRight {
    display: flex;
    justify-content: flex-end !important;
  }
  .groupCell {
    padding: 0 !important;
    border-left: 1px solid #d6dce0;
    .groupRow {
      padding: 16px 10px;
    }
    .groupRow:not(:last-child) {
      border-bottom: 1px solid #d6dce0;
    }
  }
  .normalCell {
    display: flex;
    flex-direction: row;
    align-items: center !important;
    font-size: 13px;

    .title {
      padding-block: 12px;
    }
    .avatar {
      width: 32px;
      height: 32px;
      object-fit: cover;
      border-radius: 50%;
    }
    .icon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 32px;
      height: 32px;
      margin-right: 12px;
      background: #a42ba8;
      border: 1px solid rgba(255, 255, 255, 0);
      border-radius: 50%;
      outline: none;
      cursor: default;
      span {
        color: #fff;
        font-weight: 500;
        font-size: 13px;
        text-transform: uppercase;
      }
    }
  }
  .boldText {
    font-weight: 500;
  }
  .blueText {
    color: @blue;
    font-weight: 500;
  }
  .readMoreBtn {
    color: @blue;
    font-weight: 500;
    cursor: pointer;
  }
  .actionsButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
      transition: 0.3s;
    }
  }
  .totalHours {
    .blueText();
    .boldText();
  }
  .viewDetail {
    padding-right: 10px;
    cursor: pointer;
    .blueText();
    .boldText();
  }
  :global {
    .ant-tooltip-inner {
      padding: 16px;
      background-color: #fff;
      border: 0.5px solid #d6dce4;
      border-radius: 8px;
      box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.1);
    }
    .ant-tooltip-arrow {
      top: -4px;
    }
    .ant-tooltip-arrow-content {
      width: 10px;
      height: 10px;
      background-color: #fff;
      border-top: 0.5px solid #d6dce4;
      border-left: 0.5px solid #d6dce4;
      box-shadow: none;
    }
    .ant-tooltip-inner {
      color: #464646;
      font-weight: normal;
      font-size: 13px;
      line-height: 22px;
    }
  }
}
