.employeeDetail {
  margin-bottom: 24px;
  :global {
    .ant-card-bordered {
      border: 1px solid #d6dce0;
    }
    .ant-card-head {
      border-color: #d6dce0;
    }
    .ant-card-head-title {
      height: 67px;
      line-height: 67px;
      padding: 0 !important;
      font-weight: 700;
    }

    .ant-col-8{
      padding-left: 0 !important;
    }
  }
  &__card {
    border-radius: 5px;

    .title{
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 15px;
      padding-bottom: 21px;

      color: #161C29;
    }

    .value{
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 15px;
      padding-bottom: 21px;

      color: #707177;
    }

    .valueName{
      color: #2C6DF9;
    }
  }
  &__text {
    font-weight: 500;
  }
  &__name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__center {
    text-align: center;
  }
  &__avatar {
    min-width: 35px;
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }
}
