.AccountPaychecks {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  .TableBankDetails {
    width: 785px;
    height: 286px;
    object-fit: contain;
    border-radius: 5px;
    border: solid 1px #d6dce0;
    background-color: #ffffff;
  }
  .TableTaxDetails {
    margin: 24px 0;
    width: 785px;
    height: 162px;
    object-fit: contain;
    border-radius: 5px;
    border: solid 1px #d6dce0;
    background-color: #ffffff;
  }
  .spaceTitle {
    padding: 24px;
    margin-bottom: 0;
    object-fit: contain;
    border-bottom: solid 1px #d6dce0;
  }
  .spaceDetails {
    padding: 24px;
  }
  .flexbox {
    display: flex;
    flex-flow: row;
  }
  .backgroundTitle {
    display: flex;
    flex-flow: row;
    justify-content: start;
    align-items: center;
    height: 45px;
    margin: 20px 0;
    background-color: #e9f0ff;
  }
  .TitleDetails {
    height: 19px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #161c29;
  }
  .Name {
    height: 15px;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  .Text {
    height: 15px;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #707177;
  }
  .CollapseYear {
    width: 785px;
    height: auto;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #161c29;
    border-radius: 5px;
    :global {
      .ant-collapse-header {
        padding: 24px;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #161c29;
        background-color: #ffffff;
      }
      .ant-collapse-content-box {
        padding: 0;
      }
      .ant-collapse-content-box {
        // border-bottom: solid 1px rgba(112, 112, 112, 0.3);
      }
      .ant-collapse-arrow svg {
        color: #707070;
      }
    }
  }
}
