.AccountPaychecks {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  .CollapseYearDetails {
    width: 100%;
  }
  .TableBankDetails {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
    border: solid 1px #d6dce0;
    background-color: #ffffff;
  }
  .TableTaxDetails {
    margin: 24px 0;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
    border: solid 1px #d6dce0;
    background-color: #ffffff;
  }
  .spaceTitle {
    padding: 24px;
    margin-bottom: 0;
    object-fit: contain;
    border-bottom: solid 1px #d6dce0;
  }
  .spaceDetails {
    padding: 24px;
  }
  .flexbox {
    display: flex;
    flex-flow: row;
    margin-bottom: 16px;
  }
  .backgroundTitle {
    display: flex;
    flex-flow: row;
    justify-content: start;
    align-items: center;
    height: 45px;
    margin: 20px 0;
    background-color: #e9f0ff;
  }
  .TitleDetails {
    height: 19px;
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #161c29;
  }
  .TitleDetailsEdit {
    height: 19px;
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2c6df9;
  }
  .flexEdit {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-self: center;
    cursor: pointer;
  }
  .IconEdit {
    margin-top: 3px;
    margin-right: 18px;
    font-size: 14px;
    color: #2c6df9;
  }
  .Name {
    height: 15px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  .Text {
    height: 15px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #707177;
  }
  .CollapseYear {
    width: 100%;
    height: auto;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #161c29;
    border-radius: 5px;
    :global {
      .ant-collapse-content.ant-collapse-content-active .ant-collapse-content-box {
        padding: 24px;
      }
      .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
        right: 24px;
      }
      .ant-collapse-header {
        padding: 24px;
        font-size: 16px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #161c29;
        background-color: #ffffff;
      }
      .ant-collapse-content-box {
        padding: 0;
      }
      .ant-collapse-arrow svg {
        font-size: 20px;
        color: #2c6df9;
      }
    }
  }
  .viewLoading {
    padding: 24px;
    width: 100%;
    // height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    :global {
      .ant-spin-dot {
        font-size: 75px;
      }
      .ant-spin-dot-item {
        height: 40px;
        width: 40px;
      }
    }
  }
}

.modalUpdateSuccess {
  :global {
    .ant-modal-close {
      right: -57px;
      height: 48px;
      color: #fff;
      background-color: #2c6df9;
      border-radius: 0 8px 8px 0;
      .ant-modal-close-x {
        color: #fff;
        line-height: 48px;
      }
      .ant-popover-inner {
        background-color: #000;
      }
    }
  }
}
.spaceFooterModalSuccess {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  padding: 24px;
  text-align: center;
}
.btnOkModalSuccess {
  width: 120px;
  height: 40px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  background-color: #ffa100;
  border: none;
  border-radius: 25px;
  align-items: center;
  margin: auto;

  &:hover {
    color: #fff;
    background-color: #ffa100;
  }
}
