.AccountPaychecks {
  .flexbox {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  .backgroundTitle {
    display: flex;
    flex-flow: row;
    justify-content: start;
    align-items: center;
    height: 45px;
    margin: 20px 0;
    background-color: #f4f4f4;
  }
  .TitleDetails {
    height: 24px;
    padding-left: 20px;
    margin-bottom: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #044040;
  }
  .titleLeft {
    height: 22px;
    margin-bottom: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #044040;
  }
  .titleRight {
    height: 22px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: right;
    color: #044040;
  }
  .TextLeft {
    height: 22px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #044040;
  }
  .TextRight {
    height: 22px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: right;
    color: #044040;
  }
  .CollapseYear {
    height: auto;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #044040;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    :global {
      .ant-collapse-header {
        color: #044040;
      }
      .ant-collapse-content-box {
        padding: 0;
      }
      .ant-collapse-content-box {
        border-bottom: solid 1px rgba(112, 112, 112, 0.3);
      }
      .ant-collapse-arrow svg {
        color: #707070;
      }
    }
  }
}
