.statusDetail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 24px;
  color: #464646;
  font-weight: 500;
  font-size: 13px;
  background-color: #fff;
  border: 1px solid #d6dce0;
  border-radius: 5px;

  &__content {
    display: flex;
    align-items: center;
    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      margin-right: 0.8rem;
      background-color: #e4edff;
      border-radius: 50%;
    }

    &__title {
      max-width: 80%;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__status {
    color: #161c29;
    font-size: 16px;
    line-height: 19px;
  }
}
