.root {
  .viewRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
    .iconCertification {
      width: 23px;
      height: 25px;
      margin-left: 16px;
      object-fit: contain;
    }
    .nameCertification {
      margin: 0;
      color: @primary-color;
      font-size: 13px;
      text-decoration: underline;
      cursor: pointer;
    }
    .iconDelete {
      cursor: pointer;
      &:active {
        transform: translateY(-1px);
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
