.root {
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  color: #161c29;

  font-style: normal;
  background: #ffffff;
  border: 1px solid #d6dce0;
  border-radius: 5px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 23px 17px 20px 34px;
    border-bottom: 1px solid rgba(226, 228, 232, 0.54);

    &__title {
      color: #161c29;
      font-weight: bold;
      font-size: 16px;
      line-height: 18.75px;
    }

    &__action {
      color: #2c6df9;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      text-decoration-line: underline;
    }
  }

  .primaryList {
    padding: 23px 17px 20px 34px;
    &__right {
      .name {
        margin-bottom: 14px;
        font-weight: bold;
        font-size: 16px;
        line-height: 18.75px;
      }

      .email {
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
      }
    }

    &__left {
      font-weight: normal;
      font-size: 13px;
      line-height: 15px;
      .company {
        margin-bottom: 14px;
      }
    }
  }
}
