@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';

.asterisk {
  color: red;
  font-size: 9px;
}

.content {
  padding: 24px;
}

.btnAdd {
  font-size: 15px;
  font-weight: 600;
  &.btnNew {
    background-color: #4b5c64;
    color: #fff;
  }
}

.iconDel {
  font-size: 18px;
  padding-top: 12px;
  cursor: pointer;
}

.imgVehicles {
  width: 35px;
  cursor: pointer;
}

.contentRight {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

:global {
  .ant-select-open .ant-select-selection,
  .ant-select-focused .ant-select-selection,
  .ant-select-selection:focus,
  .ant-select-selection:active {
    box-shadow: none;
  }
}

.input {
  :global {
    .has-error .ant-input:focus {
      box-shadow: none;
    }
    .ant-select-selection {
      border: none;
    }
  }
  border: none;
  border-bottom: 1px solid #d9d9d9;
  border-radius: 0;
}

.inputPicker {
  :global {
    .ant-input {
      border: none;
      border-bottom: 1px solid #d9d9d9;
      border-radius: 0;
      box-shadow: none;
      background-color: #fff;
      color: rgba(0, 0, 0, 0.65);
      cursor: default;
    }
    .ant-input:focus,
    .ant-input:after,
    .ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled) {
      border-bottom: 1px solid #e67225;
    }
  }
}

.warning {
  color: red;
  font-style: oblique;
}

.noBorder {
  border: none !important;
}
