@black: #161c29;
@gray: #707177;
@spacing-xxs: 4px;

.additionalQuestion {
  .left > * {
    margin: 0;
    padding: 0;
  }

  .left {
    object-fit: contain;
    background-color: #ffffff;
    border: solid 0.5px #d6dce0;
    border-radius: 2.5px;

    header {
      padding: 32px;
      border-bottom: solid 0.5px #d6dce0;

      h1 {
        margin-bottom: 8px;
        color: @black;
        font-weight: 700;
        font-size: 16px;
      }

      p {
        margin-bottom: 0;
        color: @gray;
        font-size: 13px;
      }
    }

    .mainContent {
      padding: 32px;

      .form {
        label {
          color: @gray;
          font-size: 13px;
        }

        .column {
          padding-right: 24px;
        }

        input {
          max-width: 270px !important;
        }
      }
    }
  }
  .bottomBar {
    padding: 4 * @spacing-xxs;
    background-color: #ffffff;
    border: solid 1px #d6dce0;
    // position: fixed;
    // bottom: 0;
    // width: inherit;
    // height: 72px;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 2, 0.15);

    .normalText {
      display: flex;
      color: #707177;

      font-size: 13px;
      font-style: italic;
    }

    .redText {
      color: #ff4949;

      font-size: 13px;
      font-style: italic;
    }

    .greenText {
      color: #47c97f;

      font-size: 13px;
      font-style: italic;
    }

    &__button {
      display: flex;
      justify-content: space-between;
      text-align: right;
      &__disabled {
        opacity: 0.3;
      }
      :global {
        .ant-btn-primary {
          // display: none;
          width: 94px;
          height: 40px;
          object-fit: contain;
          color: #ffffff;
          font-weight: 500;

          font-size: 14px;
          letter-spacing: 0.13px;
          text-shadow: none;
          background-color: #ffa100;
          border: solid 1px #ffa100;
          border-radius: 25px;
          box-shadow: none;
          &:hover {
            color: #ffffff;
            background-color: #ffa100;
          }
        }
        .ant-btn-secondary {
          width: 94px;
          height: 40px;
          padding-right: 41px;
          object-fit: contain;
          color: #ffa100;
          font-weight: 500;

          font-size: 14px;
          letter-spacing: 0.13px;
          border: solid 0;
          border-radius: 25px;
        }
      }
    }
  }

  :global {
    .ant-select-arrow {
      margin-top: -6px !important;
    }

    .ant-input {
      height: 42px;
      object-fit: contain;
      background-color: #ffffff;
      border-radius: 8px;
    }

    .ant-form-item-label {
      color: @gray;
      font-size: 13px;
    }
    .ant-select {
      max-width: 270px !important;
    }

    .ant-select-selector {
      height: 40px !important;
    }

    .ant-select-selection-item {
      line-height: 40px !important;
    }
  }
}
