.GlobalEmpoyeeComponent {
  padding-top: 32px;
  padding-right: 32px;
  padding-left: 32px;
  .paddingLeft {
    padding-left: 24px;

    .benefitsName {
      padding-bottom: 8px;
      color: #707177;
      font-weight: 500;
      font-size: 14px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }
  }
  .headerPadding {
    padding-bottom: 17px;
  }
  .headerText {
    padding-bottom: 18px;
    color: #707177 !important;
    font-weight: normal !important;
    font-size: 13px !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.92;
    letter-spacing: normal;
    opacity: 0.7;
  }
  .checkBoxHeaderTop {
    padding-top: 17px;
  }
  .checkboxMedical {
    padding-top: 0;
  }
  .checkBoxTitle {
    color: #161c29;
    font-weight: normal;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  :global {
    .ant-checkbox + span {
      color: #161c29;
      font-weight: normal;
      font-size: 13px;

      font-style: normal;
      line-height: 15px;
    }

    label.ant-checkbox-group-item {
      display: block;
    }
    label.ant-checkbox-wrapper {
      padding-bottom: 17px;
      span.ant-typography {
        color: #161c29;
        font-weight: normal;
        font-size: 14px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
      }
    }
    div.ant-typography {
      color: #161c29;
      font-weight: normal;
      font-size: 14px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }
    .ant-checkbox-checked {
      &:hover {
        border-radius: 4px;
      }
      .ant-checkbox-inner {
        background: #f6f7f9;
        border-radius: 4px;
        &:hover {
          border-radius: 4px;
        }
        &:after {
          border: 2px solid #2c6df9;
          border-top: 0;
          border-left: 0;
        }
      }
    }
    .ant-checkbox {
      display: inline-block;
      .ant-checkbox-inner {
        background: #f6f7f9;
        border-radius: 4px;
      }
    }
  }
}

.Line {
  width: 100%;
  height: 1px;
  margin-top: 10px;
  background: #d6dce0;
}
