@import '~antd/es/style/themes/default.less';

.container {
  top: 84px !important;
}
.container > * {
  width: 249px;
  background-color: @popover-bg;
  border-radius: 8px;
  box-shadow: @shadow-1-down;
}

@media screen and (max-width: @screen-xs) {
  .container {
    width: 100% !important;
  }
  .container > * {
    border-radius: 0 !important;
  }
}
