.Edit {
  .Form {
    width: 100%;
    // padding: 24px;
    :global {
      .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        border: unset;
        border-radius: 4px;
      }
      .ant-select .ant-select-arrow {
        transition: transform 0.2s ease-in;
      }
      .ant-select.ant-select-open .ant-select-arrow {
        transform: rotate(180deg);
      }

      .ant-form-item-label {
        text-align: left;
      }
      .ant-form-item-label > label {
        color: #000000;
        font-size: 13px;
      }
      .ant-form-item-label > label::after {
        content: '';
      }
      .ant-form-item {
        width: 100%;
      }
      .ant-form-item:first-child {
        margin-top: 35px;
      }
      .ant-input:focus {
        border-color: #2c6df9;
        outline: 0;
        box-shadow: unset;
      }
    }
  }
  .containerForm {
    position: relative;
    padding: 0 24px;
  }
  .line {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: solid 1px #d6dce0;
  }
  .removeIcon {
    position: absolute;
    top: 20;
    right: 25px;
    cursor: pointer;
  }
  .spaceFooter {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    padding: 16px 24px;
    border-top: solid 1px #d6dce0;
  }
  .cancelFooter {
    margin-right: 40px;
    color: #ffa100;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
  }
  .cancelFooter:hover {
    color: #b1740c;
  }
  .buttonFooter {
    height: 40px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    background-color: #ffa100;
    border: solid 1px #ffa100;
    border-radius: 25px;
    padding-inline: 25px;
  }
  .buttonFooter:hover {
    background-color: #b1740c;
    border: solid 1px#b1740c;
  }

  .addMoreButton {
    padding: 24px;
    color: #2c6df9;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    .addMoreButtonIcon {
      margin-right: 16px;
      font-size: 16px;
    }
  }
}
