.root {
  .Form {
    width: 100%;
    // padding: 24px;
    :global {
      .ant-form-item-label {
        text-align: left;
      }
      .ant-form-item-label > label {
        font-size: 13px;
        color: #000000;
      }
      .ant-form-item-label > label::after {
        content: '';
      }
      .ant-form-item {
        width: 100%;
        padding: 0px 48px;
      }
      .ant-form-item:first-child {
        margin-top: 35px;
      }
      .ant-input:focus {
        border-color: #2c6df9;
        outline: 0;
        box-shadow: unset;
      }
    }
  }

  .inputForm {
    border-radius: 5px;
    border: solid 1px #d6dce0;
  }
  .spaceFooter {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    border-top: solid 1px #d6dce0;
  }
  .cancelFooter {
    margin-right: 40px;
    font-size: 14px;
    font-weight: 500;
    color: #ffa100;
    cursor: pointer;
  }
  .cancelFooter:hover {
    color: #b1740c;
  }
  .buttonFooter {
    width: 95px;
    height: 40px;
    font-size: 14px;
    color: #ffffff;
    border-radius: 25px;
    border: solid 1px #ffa100;
    background-color: #ffa100;
  }
  .buttonFooter:hover {
    border: solid 1px#b1740c;
    background-color: #b1740c;
  }
}
