.salaryAcceptance {
  width: 100%;

  .salaryAcceptanceWrapper {
    height: auto;

    margin-top: 24px;
    margin-bottom: 24px;
    padding: 24px 32px 32px 32px;
    background-color: white;
    border: 1px solid #d6dce0;
    border-radius: 5px;
    .select {
      width: 100%;
      margin-top: 30px;
    }
    &_select {
      .formInput {
        height: 42px;
        margin: 20px 0;
        padding-right: 15px;
        padding-left: 15px;
        object-fit: contain;
        //   border: solid 0.5px #d6dce4;
        background-color: #ffffff;
        border-radius: 8px;
      }
    }
    hr {
      width: 100%;
      height: 0.5px;
      margin-top: 32px;
      margin-bottom: 32px;
      object-fit: contain;
      border-top: solid 0.5px #d6dce0;
      border-bottom: none;
    }
    :global {
      .ant-btn-primary {
        height: 40px;
        object-fit: contain;
        color: #ffffff;
        font-weight: 500;

        font-size: 14px;
        letter-spacing: 0.13px;
        text-shadow: none;
        background-color: #ffa100;
        border: solid 1px #ffa100;
        border-radius: 25px;
        // display: none;
        box-shadow: none;
        // width: 94px;
        padding-inline: 25px;
        &:hover {
          color: #ffffff;
          background-color: #ffa100;
        }
      }
      .ant-row {
        .radio__title {
          margin-bottom: 0;
          color: #161c29;
          font-weight: 500;

          font-size: 14px;
          white-space: initial;
        }
        .salaryAcceptance__note {
          height: 32px;
          color: #707177;

          font-size: 10px;
          line-height: 1.6;
          white-space: initial;
        }
        .ant-btn-primary {
          width: 100%;
          height: 40px;
          margin-top: 15px;
          object-fit: contain;
          color: #ffffff;
          font-weight: 500;

          font-size: 14px;
          letter-spacing: 0.13px;
          text-shadow: none;
          background-color: #ff5252;
          border: solid 1px #ff5252;
          border-radius: 25px;
          box-shadow: none;
          &:hover {
            color: #ffffff;
            background-color: #ff5252;
          }
        }
        .ant-form-item-has-success {
          .ant-input {
            height: 42px;
            border: solid 1px #47c97f;
            border-radius: 5px;
          }
        }
        .ant-form-item-label {
          padding-bottom: 0;
          label {
            color: #707177;
            font-size: 13px;
          }
        }
      }
      .formInput {
        height: 42px;
        object-fit: contain;
        font-family: 'Roboto', sans-serif;
        //   border: solid 0.5px #d6dce4;
        background-color: #ffffff;
        border-radius: 8px;
      }
    }

    .title {
      color: #212020;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
    }
    .content {
      margin-top: 13px;
      font-size: 13px;
      line-height: 18px;
      .blueText {
        color: #2c6df9;
      }
      .redText {
        margin-bottom: 0;
        color: #ff5252;
      }
    }

    .pending {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      :global {
        .ant-btn-primary {
          width: 100%;
          height: 40px;
          margin-top: 15px;
          object-fit: contain;
          color: #ffffff;
          font-weight: 500;

          font-size: 14px;
          letter-spacing: 0.13px;
          text-shadow: none;
          background-color: #ffa100;
          border: solid 1px #ffa100;
          border-radius: 25px;
          box-shadow: none;
          &:hover {
            color: #ffffff;
            background-color: #ffa100;
          }
        }
      }
      .pendingIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 94px;
        height: 94px;
        margin-bottom: 30px;
        background: #215ad6;
        border-radius: 50px;
      }
      p {
        color: #464646;
        font-size: 13px;
        line-height: 18px;
      }
    }
  }
}
