.root {
  :global {
    .ant-steps-next-error .ant-steps-item-tail::after {
      background-color: #f5222d;
    }
    .ant-steps-item-title {
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
    }
    .ant-steps-item-description {
      font-size: 13px;
      color: #343434;
      font-weight: 300;
    }
  }
}
