.TimeOffTableContainer {
  background-color: white;
  border: 1px solid @border-color-base;
  border-radius: 8px;
  .contentContainer {
    padding: 24px;
    .directoryLayout {
      position: relative;
    }
  }
}
