.feedback {
  width: 100%;
  margin-top: 24px;
  padding: 24px 32px;
  border: 1px solid #d6dce0;
  background-color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  &__radio {
    p {
      margin: 0;
      // width: 80%;
      word-break: break-word;
      white-space: normal;
    }
    p:first-child {
      font-size: 14px;
      margin-top: -5px;
      font-weight: 500;
    }
    p:last-child {
      margin-bottom: 15px;
      color: #707177;
    }
  }
}
