.Edit {
  .form {
    padding: 32px;
  }
  p {
    margin-bottom: 0;
  }
  .btnForm {
    width: 100%;
    padding: 16px;
    text-align: right;
    border-top: 1px solid #e1dfdf;
    .btnApply {
      height: auto;
      height: 36px;
      margin-left: 20px;
      color: #fff;
      background-color: #ffa100;
      border: none;
      border-radius: 25px;
      outline: none;
      padding-inline: 25px;
    }
    .btnClose {
      background-color: #fff;
      border: none;
    }
  }

  :global {
    .ant-form-item {
      margin-bottom: 16px;
    }
    .ant-form-item-label {
      text-align: left;
      label {
        color: #707177;
        font-weight: 500;
        font-size: 14px;
      }
    }
    .ant-input {
      font-size: 13px;
    }
    .ant-select {
      width: 100% !important;
    }
    .ant-select-selector,
    .ant-input {
      height: 37px !important;
      border: 1px solid #d6dce4 !important;
      border-radius: 5px !important;
    }
    .ant-select-selection-item,
    .ant-select-selection-placeholder {
      font-size: 13px !important;
      line-height: 35px !important;
    }
  }
}
