.root {
  color: black;
  .currency {
    font-weight: bold;
    font-size: 20px;
  }
  .noItem {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    i {
      font-size: 180px;
    }
  }

  .controlButton {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 35px 10px 16px;
    background: #fff;
    text-align: right;
    .btnApply {
      width: 120px;
      height: 45px;
      background-color: #fca00a;
      border-color: #fca00a;
      color: white;
      &:hover,
      &:focus {
        opacity: 0.6;
      }
    }
    .btnDisabled {
      background-color: #d8d8d8;
      border-color: #d8d8d8;
    }
    .btnReset {
      width: 120px;
      height: 45px;
      background-color: white;
      border-color: #fca00a;
      color: #fca00a;
      margin-right: 20px;
      &:hover,
      &:focus {
        opacity: 0.6;
      }
    }
  }
}

.content {
  margin-top: 10px;
  .title {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
  }
  .price {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
  }
}
.subTitle {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 15px;
  margin-left: 10px;
}
.subContent {
  font-size: 14px;
  letter-spacing: 0;
  line-height: 15px;
}

.tagRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexBox {
  display: flex;
  align-items: center;
}
