.HRApproval {
  width: 100%;
  font-size: 13px;
  background-color: white;
  border: 1px solid #d6dce0;
  border-radius: 5px;
  :global {
    .ant-btn {
      font-weight: 500;
      padding-inline: 25px;
    }
  }
  .content {
    padding: 24px;
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    border-top: 1px solid #e2e4e8;
    div {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .comment {
      span {
        color: #161c29;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        opacity: 0.5;
      }
    }
  }
}
