.root {
  margin-bottom: 24px;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #d6dce0;
  border-radius: 5px;
  .viewTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__title {
      color: #000000;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
    }
    &__info {
      max-width: 55%;
      overflow: hidden;
      color: #464646;
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .boxComment {
    box-sizing: border-box;
    min-height: 66px;
    margin: 15px 0;
    border: 1px solid #d6dce0;
    resize: none;
    &:focus {
      box-shadow: none;
    }
    &:disabled {
      color: #464646;
      background: #ffffff;
    }
  }

  .viewRehire {
    padding-left: 10px;
    &__text1 {
      margin: 0 6px 0 10px;
      color: rgba(44, 109, 249, 0.7);
      font-size: 13px;
      line-height: 19px;
    }
    &__text2 {
      color: #707177;
      font-size: 11px;
      line-height: 19px;
    }
  }
}
