.BasicInfo {
  padding: 24px;
  .verifyCheckbox {
    :global {
      .ant-checkbox-wrapper {
        color: #707177;
        font-size: 13px;
        line-height: 20px;
      }
      .ant-checkbox {
        margin-right: 10px;
      }
    }
  }
}
