.comment_box {
  background-color: #fff;
  // box-shadow: 0 2px 4px 0 rgba(180, 180, 180, 0.5);
  border-radius: 4px;
  height: 415px;
  min-width: 448px;
  overflow: hidden;
  // margin-bottom: 24px;
  @media only screen and (max-width: 1190px) {
    width: 448px !important;
  }
  :global {
    .ant-tabs-tab {
      width: 50%;
      margin-right: 0;
      text-align: center;
    }
    .ant-tabs-nav {
      width: 100%;
      background-color: #f4f7fe;
    }
    .ant-tabs-bar {
      margin-bottom: 0 !important;
    }
    .ant-input {
      border: none !important;
      border-bottom: 1px solid #d9d9d9 !important;
      border-radius: 0 !important;
      box-shadow: none !important;
      input {
        border: none !important;
        background-color: #fff !important;
      }

      &:focus,
      input:focus {
        box-shadow: none !important;
        border-color: #2b6df8 !important;
      }

      &:hover,
      input:hover {
        box-shadow: none !important;
        border-color: #2b6df8 !important;
      }
    }
  }
  .comment_box_title {
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    color: #000;
  }
  .comment_box_body {
    height: 321px;
    overflow: auto;
    .comment_box_empty {
      text-align: center;
      padding: 114px 64px 155px 63px;
      p {
        margin: 0;
        font-size: 16px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.4);
        &:first-of-type {
          margin-bottom: 12px;
        }
      }
    }
    .comment_box_date {
      margin-top: 12px;
      text-align: center;
      p {
        text-transform: capitalize;
        opacity: 0.5;
        color: #000;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 17px;
        margin-bottom: 0;
        &::before {
          content: ' ';
          display: block;
          height: 1px;
          transform: translate(-104px, 9px);
          width: 98px;
          margin: auto;
          background: #3a354e;
          opacity: 0.5;
        }
        &::after {
          content: ' ';
          display: block;
          height: 1px;
          transform: translate(104px, -9px);
          width: 98px;
          margin: auto;
          background: #3a354e;
          opacity: 0.5;
        }
      }
    }
    .comment_box_message {
      background-color: #d8d8d8;
      width: 70%;
      min-width: 350px;
      min-height: 80px;
      margin-top: 16px;
      border-radius: 4px;
      padding: 10px 15px 11px 16px;
      text-align: right;
      float: right;
      margin-right: 21px;
      position: relative;
      p {
        margin: 0;
        font-size: 12px;
        line-height: 15px;
        color: #000;
        word-wrap: break-word;
        margin-bottom: 12px;
        &:first-of-type {
          font-weight: bold;
          margin-bottom: 5px !important;
        }
        &:last-of-type {
          margin-bottom: 0 !important;
          position: absolute;
          bottom: 11px;
          right: 16px;
          font-size: 10px;
          line-height: 12px;
          opacity: 0.5;
        }
      }
      &:last-of-type {
        margin-bottom: 16px;
      }
    }
    .comment_box_message_guest {
      background-color: #eff2fa !important;
      margin-left: 21px;
      text-align: left !important;
      float: left !important;
    }
  }
  .comment_box_type {
    height: 54px;
    border: 1.5px solid rgba(74, 74, 74, 0.15);
    border-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(180, 180, 180, 0.5);
    .comment_box_input {
      min-width: 350px;
      width: 80%;
      padding: 0;
      margin: 7px 14px 14px 21px;
    }
    .comment_box_button {
      padding: 0;
      font-size: 18px;
      line-height: 22px;
      font-weight: bold;
      color: #000;
      transform: translate(0, 7px);
      &:hover {
        color: #2b6df8;
      }
    }
    .comment_box_button_disabled {
      &:hover {
        color: #000;
      }
    }
  }
  .comment_box_report_component {
    height: 377px;
    overflow: auto;
    ul {
      padding: 0 !important;
      margin-top: 18px;
      li {
        display: inline-block;
        &:first-child {
          vertical-align: top;
          width: 38%;
          //min-width: 100px;
          padding-left: 33px;
          :global {
            .ant-steps-item-icon {
              display: none !important;
            }
            .ant-steps-item-tail {
              padding: 3px 0 0 !important;
              display: none !important;
            }
            .ant-steps-item-title {
              opacity: 0.5;
              color: #000;
              font-size: 12px;
              line-height: 14px;
            }
            .ant-steps-item-description {
              opacity: 0.5;
              color: #000;
              font-size: 10px;
              line-height: 12px;
            }
            .ant-steps-item-content {
              transform: translate(0, 2px);
            }
            .ant-steps-item {
              min-height: 70px;
            }
          }
        }
        :global {
          .ant-steps-item-icon {
            margin-top: 0 !important;
          }
          .ant-steps-item-content {
            transform: translate(0, -2px);
            max-height: 60px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .ant-steps-item-title {
            color: #000;
            font-size: 14px;
            line-height: 17px;
          }
          .ant-steps-item-description {
            opacity: 0.6;
            color: #000;
            font-size: 11px;
            line-height: 13px;
          }
          .ant-steps-item {
            height: 70px;
            max-width: 265px;
            span {
              div {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                transform: translate(7px, 0);
                img {
                  line-height: 20px;
                  transform: translate(0, -8px);
                }
              }
            }
            .ant-steps-item-tail {
              padding: 3px 0 0 !important;
              &:after {
                width: 2px !important;
              }
            }
          }
          .ant-steps-item-finish {
            span {
              div {
                background-color: #65c652;
              }
            }
            .ant-steps-item-tail {
              &:after {
                background-color: #65c652;
              }
            }
          }
          .ant-steps-item-error {
            span {
              div {
                background-color: #f75b62;
              }
            }
            .ant-steps-item-tail {
              &:after {
                background-color: #f75b62;
              }
            }
          }
        }
        .comment_report_box_steps {
          .comment_report_step {
            :global {
              .ant-steps-item-icon {
                span {
                  div {
                    background-color: orange;
                  }
                }
              }
            }
          }
        }
      }
    }
    .comment_box_report_empty {
      text-align: center;
      padding: 134px 64px 155px 63px;
      p {
        margin: 0;
        font-size: 16px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.4);
      }
    }
  }
}

@media only screen and (max-width: 1180px) {
  .comment_box {
    width: 448px;
  }
}
