.titleHeader {
  padding-bottom: 24px;
  color: #161c29;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  line-height: 19px;
}

.balance {
  width: 890px;
  font-weight: normal;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;

  :global {
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      height: 42px;
      padding: 5px 20px;
    }
    .ant-divider-horizontal {
      margin: 0;
    }
    .ant-btn {
      height: 40px;
      padding: 0 40px;
      background-color: #ffa100;
      border: none;
      border-radius: 30px;
      span {
        color: white;
        font-weight: 500;
      }
      &:hover {
        background-color: #ffa100cc; // hex with alpha 0.8
      }
    }

    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border: 1px solid #d6dce4;
      border-radius: 5px;
    }

    .ant-form-item-label > label {
      color: #161c29;
      font-weight: 400;
      font-size: 14px;
      font-style: normal;
      line-height: 20px;
    }

    .ant-select .ant-select-arrow {
      transition: transform 0.2s ease-in;
    }
    .ant-select-open .ant-select-arrow {
      transform: rotate(180deg);
    }
  }

  .balanceFrom {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: #fff;

    border: 1px solid @border-color-base;
    border-radius: 5px;
    .textContent {
      padding-bottom: 16px;
      color: #161c29;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
    }
    .header {
      padding: 24px;
      /* identical to box height */
      color: #161c29;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
    }
    .footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 20px;
    }
    .straightLine {
      width: 100%;
      height: 1px;
      background-color: #e2e4e8;
    }
    .flex {
      display: flex;
      justify-content: space-between;
    }

    .from {
      box-sizing: border-box;
      width: 100%;
      height: 600px;
      border: 1px solid @border-color-base;
    }
    .subFrom {
      margin-top: 30px;
    }
    .fromBody {
      padding: 23px 30px;
    }
    .select {
      // border: 1px solid @border-color-base;
      box-sizing: border-box;
      width: 330px;
    }
  }
}
