.commonCss {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ebeff2;
  border-radius: 5px;
  width: 100%;
  background-color: white;
  padding: 24px;
  height: 100%;
  .abovePart {
    display: flex;
    flex-direction: column;
    div {
      margin-top: 5px;
      margin-bottom: 5px;
      p {
        line-height: 20px;
        color: #707177;
      }
    }
  }
  .describe {
    font-size: 13px;
    color: #707177;
    font-weight: 400;
    font-style: normal;
  }
  .describe1 {
    .describe();
    max-width: 65%;
  }
  .title {
    font-size: 18px;
    font-weight: 700;
    color: #161c29;
  }
  :global {
    .ant-btn {
      max-width: 200px;
      background-color: #ffa100;
      border-radius: 25px;
      border: none;
      height: 40px;
      span {
        color: white;
        font-weight: 700;
      }
      &:hover {
        background-color: #ffa100cc; // hex with alpha 0.8
      }
    }
  }
}
.ApplyRequest {
  &__hasBackground {
    .commonCss();
    background-repeat: no-repeat;
    background-size: 230px auto;
    background-position: 100% 100%;

    background-image: url(../../../../../../../public/assets/images/timeOffManNew.svg);
    p {
      margin-right: 50px;
    }
  }
  &__noBackground {
    .commonCss();
  }
}
