.commonCss {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 24px;
  background-color: white;
  border: 1px solid #ebeff2;
  border-radius: 5px;
  .abovePart {
    display: flex;
    flex-direction: column;
    div {
      margin-top: 5px;
      margin-bottom: 40px;
      p {
        color: #707177;
        line-height: 20px;
      }
    }
  }
  .describe {
    color: #707177;
    font-weight: 400;
    font-size: 13px;
    font-style: normal;
  }
  .describe1 {
    .describe();
    max-width: 65%;
  }
  .title {
    color: #161c29;
    font-weight: 700;
    font-size: 18px;
  }
  .button {
    :global {
      .ant-btn {
        height: 40px;
        padding-right: 28px;
        padding-left: 28px;
        background-color: #ffa100;
        border: none;
        border-radius: 25px;
        transition: 0.5s;
        span {
          position: relative;
          display: inline-block;
          color: #fff;
          font-weight: 700;
          cursor: pointer;
          transition: 0.5s;
        }
        &:hover {
          background-color: #ffa100cc; // hex with alpha 0.8
        }
        span:after {
          position: absolute;
          top: -9px;
          right: -20px;
          font-size: 24px;
          opacity: 0;
          transition: 0.5s;
          content: '\00bb';
        }

        &:hover span {
          padding-right: 27px;
        }

        &:hover span:after {
          right: 0;
          opacity: 1;
        }
      }
    }
  }
}
.ApplyRequest {
  &__hasBackground {
    .commonCss();

    background-image: url(../../../../../../../public/assets/images/timeOffManNew.jpg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 230px auto;

    transition: 0.5s;
    p {
      margin-right: 50px;
    }
    // &:hover {
    //   background-position: 100% 100%;
    //   background-size: 260px auto;
    //   transition: 0.5s;
    // }
  }
  &__noBackground {
    .commonCss();
  }
}
