.root {
  display: flex;
  flex-direction: row;
  .steps {
    height: 250px;
    .customStep {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      color: #fff;
      font-weight: 600;
      font-size: 14px;
      background-color: @primary-color;
      border-radius: 50%;
    }
  }
  :global {
    .ant-steps-vertical > .ant-steps-item > .ant-steps-item-container > .ant-steps-item-tail {
      position: absolute;
      top: 0;
      left: 16px;
      width: 3px !important;
      height: 100%;
      padding: 27px 0 0px;
    }
    .ant-steps-vertical
      > .ant-steps-item
      > .ant-steps-item-container
      > .ant-steps-item-tail::after {
      width: 3px;
      height: 100%;
    }

    .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-tail::after {
      background-color: #d9e5ff;
    }
  }
}
