.Notes {
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #d6dce0;
  border-radius: 5px;
  .documentHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    border-bottom: 1px solid #d6dce0;
    padding-inline: 24px;
    .documentHeaderTitle {
      line-height: 3;
      span {
        font-weight: 700;
        font-size: 16px;
      }
    }
    .documentHeaderFunction {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .documentBody {
    min-height: 200px;
    max-height: 500px;
    overflow-y: auto;
    padding-inline: @padding-lg;
    :global {
      .ant-col {
        margin-bottom: 32px;
      }
      .ant-table-thead {
        display: none;
      }
    }
    .note {
      &:not(:last-child) {
        border-bottom: 1px solid #d6dce0;
      }
      padding-block: @padding-lg;
      p {
        color: #707177;

        font-size: 14px;
        line-height: 24px;
      }
      .smallText {
        .author {
          display: inline-block;
          margin-right: 16px;
          color: @primary-color;
          font-weight: 500;
          font-size: 13px;
        }
        .time {
          color: #707177;
          font-size: 13px;
        }
      }
    }
  }

  .action {
    span {
      display: inline-block;
      width: 24px;
      height: 24px;

      margin-right: 9px;
      margin-bottom: 1px;
      // padding: 4px;
      font-size: 20px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.23);
      img {
        margin-top: -4px;
      }
    }
  }

  .notesFooter {
    // margin: 0 auto;
    padding: @padding-md @padding-lg;
    box-shadow: 0px 0px 19px rgba(0, 0, 2, 0.15);
  }
}

.tableRow {
  .itemTop {
    padding: 24px 0;
    border-top: 1px solid #d6dce0;
    .itemTopTitle {
      margin-bottom: 0;
      line-height: 3;
    }
  }
  .itemMiddle {
    .itemTop();
    .itemText {
      padding-right: 515px;
      color: #707177;
      font-size: 14px;
    }
  }
  .itemSpan {
    display: inline-block;
    margin-left: 10px;
  }
  .itemBottom {
    .itemTop();
    .itemText {
      padding-right: 400px;
      color: #707177;
      font-size: 14px;
    }
  }
}
