.tabTable {
  :global {
    .ant-tabs-tab-btn {
      font-weight: 500 !important;
      font-size: 14px;
      opacity: 0.5 !important;
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      opacity: 1 !important;
    }
    .ant-tabs-ink-bar {
      display: block !important;
      margin-top: 9px;
    }
    // .ant-tabs-tab {
    //   margin-bottom: 9px !important;
    // }
    .ant-tabs-nav::before {
      border-bottom: 1px solid #e2e4e8 !important;
    }
    .ant-tabs-tabpane {
      padding: 0 !important;
    }
    .ant-tabs-nav {
      width: 70%;
      padding: 0 0 12px 0 !important;
      background-color: #fff;
      border-radius: 4px;
      padding-left: 0px !important;
    }
    .ant-tabs-tab,
    .ant-tabs-tab-active {
      margin-top: 0px;
      // margin-bottom: 9px;
    }
    .ant-tabs-top > .ant-tabs-nav::before,
    .ant-tabs-top > div > .ant-tabs-nav::before {
      display: none;
    }
    .ant-tabs-nav-wrap {
      border-bottom: 1px solid #e2e4e8;
    }
    .ant-tabs-tab {
      // margin-right: 50px !important;
    }
  }
}
