.Information {
  padding: 24px;
  border-bottom: 1px solid #d6dce0;
  .eachItem {
    display: flex;
    align-items: flex-start;
    span {
      font-size: 13px;
    }
    .label {
      display: block;
      margin-right: 10px;
      color: #707177;
      font-size: 13px;
    }
    .value {
      display: block;
    }
    .boldText {
      font-weight: 500;
    }
  }
}
