.employee_report_new_breadcrumb {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  margin-bottom: 11px;
}
.employee_report_new_back {
  color: #3a354e;
  font-size: 15px;
  line-height: 17px;
  font-weight: 700;
  transform: translate(0, -2px);
  margin-right: 6px;
}
