.wrapStatus {
  :global {
    .anticon {
      width: 11px;
      height: 11px;
    }
  }
  display: flex;
  align-items: center;
  border-radius: 12px;
  height: 24px;
  opacity: 0.8;
  justify-content: center;
  .text {
    font-size: 10px;
    line-height: 12px;
  }
  .icon {
    margin-right: 8px;
  }
}
.completeStatus {
  border: 1px solid #6ac259;
  .text {
    color: #6ac259;
  }
  .icon {
    color: #6ac259;
  }
}
.pendingStatus {
  border: 1px solid #4a90e2;
  .text {
    color: #4a90e2;
  }
  .icon {
    color: #4a90e2;
  }
}
.inquiryStatus {
  border: 1px solid #9013fe;
  .text {
    color: #9013fe;
  }
  .icon {
    color: #9013fe;
  }
}
.rejectStatus {
  border: 1px solid #ff5d5d;
  .text {
    color: #ff5d5d;
  }
  .icon {
    color: #ff5d5d;
  }
}
.draftStatus {
  border: 1px solid #4a4a4a;
  .text {
    color: #4a4a4a;
  }
  .icon {
    color: #4a4a4a;
  }
}
