.reasonPutOnHold {
  margin-top: 30px;
  background-color: #ffffff;
  min-height: 150px;
  padding: 30px;

  .subText {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #464646;
  }
  .submit {
    width: 100px;
    height: 35px;
    border-radius: 25px;
    font-weight: 500;
    border: none;
    color: #ffffff;
    background: #ffa100;
  }
  &__title {
    font-weight: bold;
    font-size: 16px;
  }
  &__textArea {
    position: relative;
    .btn__submit {
      position: absolute;
      top: 0;
      right: 20px;
      width: 100px;
      height: 35px;
      border: none;
      color: #ffffff;
      background: #ffa100;
      border-radius: 25px;
      top: 50%;
      transform: translateY(-50%);
      font-weight: 500;
    }
  }

  &__action {
    margin-top: 6px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    &__text {
      font-size: 11px;
      color: #707177;
    }

    &__btn {
      .btn {
        width: 100px;
        height: 35px;
        border-radius: 25px;
        font-weight: 500;
        border: none;
      }
      .btn__cancel {
        .btn;
        margin-right: 30px;
        color: #464646;
        background: rgba(86, 138, 250, 0.07);
      }
    }
  }

  &__dateTime {
    span {
      font-weight: 500;
      color: #464646;
      span {
        font-weight: normal;
      }
    }
  }
  &__content {
    &__text {
      font-size: 14px;
      min-height: 66px;
      border: 1px solid #d6dce0;
      padding: 14px 10px;
      color: #464646;
    }
    &__note {
      margin-left: 4px;
      margin-top: 6px;
      font-size: 11px;
      color: #707177;
    }
  }
  :global {
    .ant-input {
      border: 1px solid #d6dce0;
      padding-right: 140px;
    }
    textarea.ant-input {
      min-height: 66px;
    }
    .ant-input:placeholder-shown {
      text-overflow: ellipsis;
      font-style: italic;
    }
  }
}
