.root {
  .Form {
    width: 100%;
    .fieldsContainer {
      padding: 24px 24px 8px;
      .addressTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #000000;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        margin-block: 24px;
        span {
          color: #161c29;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }

  .inputForm {
    border: solid 1px #d6dce0;
    border-radius: 5px;
  }
  .areaForm {
    border-radius: 5px;
  }
  .selectForm {
    border-color: #d6dce0;
    border-radius: 5px;
    box-shadow: none;

    &_loading {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      p {
        font-weight: 500;
      }
    }

    :global {
      .ant-select-selector {
        border-radius: 5px;
        box-shadow: none;
      }
      .ant-select-focused {
        border-color: #2c6df9;
        box-shadow: none;
      }

      .ant-select-selection-item {
        opacity: 1;
      }
    }
  }
  .selectForm:focus {
    border-radius: 5px;
    box-shadow: none;
  }
  .arrowDown {
    color: #161c29;
  }
  .arrowUP {
    color: #161c29;
  }
  :global {
    .ant-select-focused .ant-select-selector,
    .ant-select-selector:focus,
    .ant-select-selector:active,
    .ant-select-open .ant-select-selector {
      border-color: #2c6df9 !important;
      box-shadow: none !important;
    }
  }
  .spaceFooter {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 16px 24px;
    border-top: solid 1px #d6dce0;
  }
  .cancelFooter {
    margin-right: 40px;
    color: #ffa100;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
  }
  .cancelFooter:hover {
    color: #b1740c;
  }
  .buttonFooter {
    height: 40px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    background-color: #ffa100;
    border: solid 1px #ffa100;
    border-radius: 25px;
    padding-inline: 25px;
  }
  .buttonFooter:hover {
    background-color: #b1740c;
    border: solid 1px #b1740c;
  }
}
