.LeaveInformation {
  border: 1px solid #ebeff2;
  border-radius: 5px;
  background: white;
  width: 100%;
  padding: 20px;
  position: relative;
  .totalLeaveBalance {
    display: flex;
    // align-items: center;
    flex-direction: column;
    .title {
      font-weight: bold;
      font-size: 18px;
      color: #464646;
    }
    .leaveBalanceBox {
      margin: 15px 0 3px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      .circleProgress {
        margin-top: 10px;
        .percentValue {
          font-size: 28px;
          font-weight: bold;
          color: #464646;
        }
        .remainingText {
          font-size: 13px;
          color: #6c717a;
        }
      }
    }
    :global {
      .ant-collapse {
        width: 100%;
        background-color: white;
        > .ant-collapse {
          border: none;
        }
      }
      .ant-collapse-borderless > .ant-collapse-item {
        border: none;
      }
      .ant-collapse-header {
        text-align: center;
      }
      .ant-collapse-content > .ant-collapse-content-box {
        padding: 0;
      }
    }
    .showBtn {
      cursor: pointer;
      span {
        font-weight: bold;
        color: #2c6df9;
        text-decoration: underline;
        margin-right: 10px;
      }
      .defaultIcon {
        transition: 0.3s;
      }
      .rotateIcon {
        transform: rotate(180deg);
        transition: 0.3s;
      }
    }
  }

  .infoIcon {
    position: absolute;
    top: 23px;
    right: 12px;
    width: 20px;
    cursor: pointer;
    :global {
      .anticon {
        color: black;
        font-size: 14px;
        color: #ffa100;
      }
    }
    :hover {
      opacity: 0.8;
      transition: 0.3s;
    }
  }

  .CollapseInformation {
    margin: 20px 0;
    .secondTitle {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 30px;
      &__left {
        font-weight: bold;
        line-height: 1;
      }
      &__right {
        line-height: 1;
        font-size: 9px;
        a {
          text-decoration: underline;
        }
      }
    }
  }
  .leaveProgressBars {
    margin: 25px 0 40px 0;
  }
}
