@borderColor: @border-color-base;
@borderColor2: #d6dce4;
@blueColor: @primary-color;
@commonSpace: 24px;
.Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 32px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  .left {
    color: #212020;
    font-weight: 500;
    font-size: 12px;
  }
}
