.root {
  margin-top: 24px;
  width: 100%;
  border-radius: 5px;
  border: solid 1px #d6dce0;
  background-color: #ffffff;
  .viewTitle {
    height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #d6dce0;
    padding: 0 24px;
    &__text {
      margin-bottom: 0;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #161c29;
    }
    &__edit {
      display: flex;
      flex-direction: row;
      &__text {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.13px;
        color: #2c6df9;
      }
      &__icon {
        margin-top: 3px;
        margin-right: 18px;
        font-size: 14px;
        color: #2c6df9;
      }
    }
  }
  .viewBottom {
    padding: 24px;
  }
}
