.Template {
  .thumbnail {
    height: 152px;
    width: 152px;
  }
  .icon {
    cursor: pointer;
  }
  .template_info {
    padding: 15px 0 15px 0;
    display: grid;
    grid-template-columns: 90% 10%;
    p {
      width: 117px;
      height: 14px;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.11px;
      text-align: left;
      color: #161c29;
    }
  }
}

:global {
  .ant-dropdown {
    .ant-dropdown-menu {
      padding: 5px;
    }
    .ant-dropdown-menu-item > a {
      display: flex;
      img {
        margin-right: 10px;
      }
    }
    .ant-dropdown-menu-item > span {
      display: flex;
      img {
        margin-right: 10px;
      }
    }
  }
}
