@rowPaddingBlock: 16px;
@tagPadding: 16px;
@greenColor: #1ab88f;
.MyCalendar {
  .greenTag {
    color: @greenColor;
    background: #f9fffe;
    border: 1px solid @greenColor;
  }
  .orangeTag {
    color: #ffa100;
    background: #fffdf9;
    border: 1px solid #ffa100;
  }
  .redTag {
    color: #fd4546;
    background: #fff9f9;
    border: 1px solid #fd4546;
  }
  .whiteTag {
    color: #707177;
    background: #fff;
    border: 1px solid #eaecef;
  }
  .mainContainer {
    max-height: 400px;
    overflow-y: auto;
    .eachRow {
      &__left {
        height: 100%;
        background-color: #fff;
        div {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          height: 100%;
          margin-left: 24px;
          color: #464646;
          font-size: 13px;
          line-height: 19px;
        }
      }
      &__right {
        height: 100%;
        min-height: 60px;
        padding: @rowPaddingBlock / 2 @rowPaddingBlock @rowPaddingBlock / 2;
        background-color: #f7f9fe;
        .common {
          position: absolute;
          z-index: 999;
          width: 98%;
          height: 1px;
          background: red;
          border: 0;
        }
        .currentTime {
          .common();
          margin-top: -3px;
        }
        .currentTime1 {
          .common();
          margin-top: 3px;
        }
        .currentTime2 {
          .common();
          margin-top: 5px;
        }
        .currentTime3 {
          .common();
          margin-top: 7px;
        }
        .currentTime4 {
          .common();
          margin-top: 10px;
        }
        .currentTime5 {
          .common();
          margin-top: 13px;
        }
        .currentTime6 {
          .common();
          margin-top: 17px;
        }
        .currentTime7 {
          .common();
          margin-top: 22px;
        }
        .currentTime8 {
          .common();
          margin-top: 27px;
        }
        .currentTime9 {
          .common();
          // margin-top: 49px;
          margin-top: 30px;
        }
        .currentTime10 {
          .common();
          margin-top: 32px;
        }
        .currentTime11 {
          .common();
          margin-top: 35px;
        }
        .currentTime12 {
          .common();
          margin-top: 38px;
        }
        .currentTime13 {
          .common();
          margin-top: 42px;
        }
        .currentTime14 {
          .common();
          margin-top: 45px;
        }
        .currentTime15 {
          .common();
          margin-top: -8px;
        }
        .currentTime16 {
          .common();
          margin-top: -4px;
        }
      }
    }
  }
}
