@rowPaddingBlock: 16px;
@tagPadding: 16px;
@greenColor: #1ab88f;
.MyCalendar {
  .greenTag {
    color: @greenColor;
    background: #f9fffe;
    border: 1px solid @greenColor;
  }
  .orangeTag {
    color: #ffa100;
    background: #fffdf9;
    border: 1px solid #ffa100;
  }
  .redTag {
    color: #fd4546;
    background: #fff9f9;
    border: 1px solid #fd4546;
  }
  .whiteTag {
    color: #707177;
    background: #fff;
    border: 1px solid #eaecef;
  }
  .mainContainer {
    max-height: 400px;
    overflow-y: auto;
    .eachRow {
      &__left {
        height: 100%;
        background-color: #fff;
        div {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          height: 100%;
          margin-left: 24px;
          color: #464646;
          font-size: 13px;
          line-height: 19px;
        }
      }
      &__right {
        height: 100%;
        min-height: 60px;
        padding: @rowPaddingBlock / 2 @rowPaddingBlock @rowPaddingBlock / 2;
        background-color: #f7f9fe;
        .currentTime{
          border: 0; 
          height: 1px; 
          width: 100%;
          background: red;
          position: absolute;
          z-index: 999;
          margin-top: -3px;
        }
        .currentTime1{
          border: 0; 
          height: 1px; 
          width: 100%;
          background: red;
          margin-top: 3px;
          position: absolute;
          z-index: 999;
        }
        .currentTime2{
          border: 0; 
          height: 1px; 
          width: 100%;
          background: red;
          margin-top: 5px;
          position: absolute;
          z-index: 999;
        }
        .currentTime3{
          border: 0; 
          height: 1px; 
          width: 100%;
          background: red;
          margin-top: 7px;
          position: absolute;
          z-index: 999;
        }
        .currentTime4{
          border: 0; 
          height: 1px; 
          width: 100%;
          background: red;
          margin-top: 10px;
          position: absolute;
          z-index: 999;
        }
        .currentTime5{
          border: 0; 
          height: 1px; 
          width: 100%;
          background: red;
          margin-top: 13px;
          position: absolute;
          z-index: 999;
        }
        .currentTime6{
          border: 0; 
          height: 1px; 
          width: 100%;
          background: red;
          margin-top: 17px;
          position: absolute;
          z-index: 999;
        }
        .currentTime7{
          border: 0; 
          height: 1px; 
          width: 100%;
          background: red;
          margin-top: 22px;
          position: absolute;
          z-index: 999;
        }
        .currentTime8{
          border: 0; 
          height: 1px; 
          width: 100%;
          background: red;
          margin-top: 27px;
          position: absolute;
          z-index: 999;
        }
        .currentTime9{
          border: 0; 
          height: 1px; 
          width: 100%;
          background: red;
          // margin-top: 49px;
          margin-top: 30px;
          position: absolute;
          z-index: 999;
        }
        .currentTime10{
          border: 0; 
          height: 1px; 
          width: 100%;
          background: red;
          margin-top: 32px;
          position: absolute;
          z-index: 999;
        }
        .currentTime11{
          border: 0; 
          height: 1px; 
          width: 100%;
          background: red;
          margin-top: 35px;
          position: absolute;
          z-index: 999;
        }
        .currentTime12{
          border: 0; 
          height: 1px; 
          width: 100%;
          background: red;
          margin-top: 38px;
          position: absolute;
          z-index: 999;
        }
        .currentTime13{
          border: 0; 
          height: 1px; 
          width: 100%;
          background: red;
          margin-top: 42px;
          position: absolute;
          z-index: 999;
        }
        .currentTime14{
          border: 0; 
          height: 1px; 
          width: 100%;
          background: red;
          margin-top: 45px;
          position: absolute;
          z-index: 999;
        }
        .currentTime15{
          border: 0; 
          height: 1px; 
          width: 100%;
          background: red;
          margin-top: -8px;
          position: absolute;
          z-index: 999;
        }
        .currentTime16{
          border: 0; 
          height: 1px; 
          width: 100%;
          background: red;
          margin-top: -4px;
          position: absolute;
          z-index: 999;
        }
      }
    }
  }
}
