.TemplateDetailsForm {
  :global {
    .ant-typography {
      color: #707177;
      font-size: 13px;
      line-height: 1.31;
      letter-spacing: 0.12px;
      text-align: left;
    }
    .ant-btn-primary {
      // display: none;
      width: 94px;
      height: 40px;
      object-fit: contain;
      color: #ffffff;
      font-weight: 500;

      font-size: 14px;
      letter-spacing: 0.13px;
      text-shadow: none;
      background-color: #ffa100;
      border: solid 1px #ffa100;
      border-radius: 25px;
      box-shadow: none;
      &:hover {
        color: #ffffff;
        background-color: #ffa100;
      }
    }
    .ant-form-item-label {
      label {
        height: 42px;
        color: #707177;
        font-size: 13px;
        line-height: 1.15;
        text-align: left;
      }
    }
    .ant-input {
      height: 42px;
      background-color: #ffffff;
      border: solid 1px #d6dce4;
      border-radius: 5px;
    }
  }
  &_template {
    padding: 50px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.22);
    hr {
      margin-top: 30px;
      margin-bottom: 30px;
      border-top: none;
      border-bottom: solid 1px #d6dce0;
    }
    &_button {
      &_primary {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img {
        height: 13px;
        margin-right: 5px;
      }
    }
    &_content {
      max-height: 210px;
      margin-bottom: 30px;
      overflow-y: auto;
    }
    &_header {
      display: grid;
      grid-template-columns: 85% 15%;
      align-items: center;
      img {
        height: 50px;
      }
      p {
        margin: 0;
        color: #161c29;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: right;
      }
    }
  }
}
