.containerDirectory {
  // min-height: 100vh;
  background-color: #f6f7f9;
  .viewActivityBox {
    position: relative;
    margin-right: 40px;
  }

  .viewActivityButton {
    border: none;
    width: 168px;
    height: 40px;
    object-fit: contain;
    border-radius: 5px;
    background-color: rgba(86, 138, 250, 0.07);
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.13px;
    color: #2c6df9;
  }

  :global {
    // .ant-tabs > .ant-tabs-nav,
    // .ant-tabs > div > .ant-tabs-nav {
    //   height: 50px;
    // }
    .ant-tabs-tab-btn {
      color: #707177;
      opacity: 1;
      font-weight: 500;
    }
    .ant-tabs-ink-bar {
      display: none;
    }
  }
}
