.containerDirectory {
  min-height: 100vh;
  .Tab {
    :global {
      // view activity buttons
      .ant-btn {
        border: none;
        box-shadow: none;
        color: #2c6df9;
        font-weight: 500;
        font-size: 14px;
        margin-right: 7px;
      }
    }
  }
}
