.Trend {
  width: 100%;
  .emptyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    padding: 32px;
    p {
      margin-top: 32px;
      color: #474747;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
    }
  }
  .customTooltip {
    width: 198px;
    span {
      color: #fff;
      font-size: 10px;
    }
    .tooltipItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
