.viewLoading{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.ownerContact {
  width: 100%;
  border-radius: 5px;
  border: solid 1px #d6dce0;
  background-color: #ffffff;

  .Edit {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.13px;
    color: #2c6df9;
  }
  .flexEdit {
    display: flex;
    flex-flow: row;
    cursor: pointer;
    img {
      margin-right: 16px;
    }
  }
  .IconEdit {
    margin-top: 3px;
    margin-right: 18px;
    font-size: 14px;
    color: #2c6df9;
  }
  .EmployeeDetails {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
    border: solid 1px #d6dce0;
    background-color: #ffffff;
  }
  .spaceTitle {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    border-bottom: solid 1px #d6dce0;
  }

  &_title {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #161c29;
  }
}
