.HolidayList {
  // padding: 0 20px;
  height: 320px;

  overflow: auto;
  .eachRow_noData {
    align-items: center;
    margin-top: 0;
    padding: 10px 24px;
    background-color: #fff;
    span {
      color: #707177;
      font-size: 13px;
    }
  }
  .eachRow {
    align-items: center;
    margin-top: 7px;
    padding: 10px 24px;
    background-color: #fafafa;
    :global {
      .ant-col {
        color: #464646;
        font-size: 13px;
      }
    }
    .eventOfDay {
      padding-left: 10px;
      color: #161c29;
    }
    .dateName {
      color: rgba(22, 28, 41, 0.5);
      font-size: 12px;
    }
    .dateAndMonth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 5px 0;
      background-color: #f4f4f6;
      border-radius: 5px;
      span {
        color: #161c29;
        font-weight: 700;
      }
      .day {
        font-size: 14px;
      }
      .month {
        font-size: 11px;
      }
    }
    .dayInWeek {
      text-align: right;
    }
  }
}
