.SpecialLeaveBox {
  margin: 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .title {
    font-size: 13px;
    color: #707177;
    font-weight: 700;
    span {
      color: #6c717a;
    }
  }
  .daysBox {
    .smallCircle {
      font-weight: 700;
      display: flex;
      align-items: center;
      flex-direction: column;
      span {
        display: block;
      }
      .dayNumber {
        font-size: 13px;
      }
      .dayText {
        font-size: 10px;
      }
    }
  }
}
