:global {
  .ant-table-body {
    overflow-x: auto !important;
  }
}

.btnView {
  margin-right: 10px;
  color: #76d0ff;
  cursor: pointer;
}

.btnView:hover,
.btnDel:hover {
  color: #e67225;
}

.btnDel {
  color: #ff6f6f;
  cursor: pointer;
}
