.requesteeDetail {
  width: 100%;
  margin-bottom: 24px;
  background-color: white;
  border: 1px solid #d6dce0;
  border-radius: 5px;

  .formTitle {
    display: flex;
    align-items: center;
    padding: 24px;
    color: #161c29;
    border-bottom: 1px solid #e2e4e8;
    .title {
      color: #161c29;
      font-weight: 700;
      font-size: 16px;
    }
  }

  .formContent {
    padding: 24px 24px 15px 24px;
    font-size: 13px;
    .detailColumn {
      color: #707177;
      .fieldValue {
        margin-right: 10px;
      }
      .employeeLink {
        color: #2c6df9;
        cursor: pointer;
      }
    }
    .projectList {
      margin-top: 5px;
      padding-top: 17px;
      border-top: 1px solid #e2e4e8;
      .title {
        display: block;
        margin-top: 18px;
        margin-bottom: 15px;
        color: #161c29;
        font-weight: 700;
        font-size: 14px;
      }
      .divider {
        margin-bottom: 18px;
        border-bottom: 1px solid #e2e4e8;
      }
    }
    :global {
      .ant-row {
        padding-bottom: 15px;
      }
    }
  }
}
