@borderColor: #d6dce0;
@borderColor2: #d6dce4;
@commonSpace: 24px;
.FinanceReport {
  width: 100%;
  overflow: hidden;
  background: #ffffff;
  border: 1px solid @borderColor;
  border-radius: 5px;
}
