.LeaveType {
  .label {
    display: block;
    color: #707177;
    font-weight: 400;
    font-size: 13px;
  }
  :global {
    .ant-form-item-control-input {
      width: 100px;
    }
  }
  .prefix {
    position: absolute;
    top: 12.79px;
    right: 26px;
    color: #707177;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
  }
}
