.Certification {
  margin: 20px 16px 0;
  padding-bottom: 16px;
  border-bottom: 1px solid #d6dce0;
  :global {
    .ant-form-item-label label {
      height: 0;
      color: #707177;
      font-size: 13px;
    }
    .ant-checkbox-wrapper {
      span {
        font-size: 14px;
      }
    }
    .ant-input,
    .ant-picker {
      width: 100%;
      height: 40px;
      border-radius: 5px;
    }
    .ant-form-item {
      margin-bottom: 16px;
    }
  }
  .titleBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
    .title {
      font-weight: 500;
      font-size: 13px;
    }
    .deleteIcon {
      color: #2c6df9;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .divider {
    margin-top: 5px;
    margin-bottom: 17px;
  }
  .addDocumentName {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 40%;
    margin-left: 44px;
    .plusIcon {
      margin-left: 14px;
      color: #2c6df9 !important;
      font-weight: bold !important;
      font-size: 18px;
      cursor: pointer;
      &:hover {
        opacity: 0.9;
      }
    }
  }
  .removeIcon {
    margin-left: 14px;
    color: #2c6df9 !important;
    font-weight: bold !important;
    cursor: pointer !important;
    &:hover {
      opacity: 0.9;
    }
  }
}
