@padding-lg: 24px;

.PostCard {
    box-sizing: border-box;
    overflow: hidden;
    background: #ffffff;
    border: 1px solid #d6dce0;
    border-radius: 8px;
    .title {
        border-bottom: 1px solid #d6dce0;
    }
    .filter {
        padding-right: @padding-lg;
        padding-left: @padding-lg;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 57px;
    }

    .table {
        padding: @padding-lg;
    }
}