.changeHistoryTable {
  margin: 24px;
  :global {
    td.ant-table-cell {
      color: #707177;
    }
    .ant-table-tbody > tr > td {
      border-bottom: solid 1px #d6dce0;
    }

    .ant-table-tbody > tr:last-child > td {
      border-bottom: none;
    }

    .ant-table-footer{
      background-color: transparent;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
  .changeHistoryTable_action {
    letter-spacing: 0.12px;
    color: #2c6df9;
    font-weight: 500;
    cursor: pointer;
  }

  &__icons{
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &_icon {
      padding-right: 8px;
      font-size: 20px;
    }

    cursor: pointer;
  }

  .expand{
    color: #2c6df9;
  }

  .collapse {
    color: #FFA100;
  }
}
