.changeHistoryTable {
  margin: 24px;
  :global {
    thead[class*='ant-table-thead'] th {
      text-align: center;
      color: #fff;
      font-weight: 500;
      background-color: #568afa;
    }
    td.ant-table-cell {
      color: #707177;
    }
    .ant-table-thead > tr:first-child > th:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    .ant-table-thead > tr:first-child > th:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    .ant-table-tbody > tr > td {
      border-bottom: solid 1px #d6dce0;
    }

    .ant-table-tbody > tr:last-child > td {
      border-bottom: none;
    }
  }
  .changeHistoryTable_action {
    letter-spacing: 0.12px;
    color: #2c6df9;
    font-weight: 500;
  }
}
