@spacing-xxs: 4px;
@background-grey: #f6f7f9;
@color-grey: #707177;
@color-blue: #2c6df9;

.EligibilityDocs {
  :global {
    .ant-collapse > .ant-collapse-item {
      border: none;
    }
    .ant-collapse-extra {
      display: inline;
      float: none !important;
      color: @color-grey;
      font-size: 12px;
    }
    .ant-collapse-arrow {
      padding: 0px !important;
    }
    .ant-collapse-arrow {
      svg {
        width: 20px;
        height: 20px;
        margin-right: 21px !important;
        color: @color-blue;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .ant-collapse-content > .ant-collapse-content-box {
      padding: 0 16px;
    }
    .ant-collapse {
      overflow: hidden;
      border: none;
      .ant-collapse-item > .ant-collapse-header {
        display: flex;
        align-items: center;
        height: 70px;
        background-color: #fff;
        padding-inline: 32px;
      }
    }
  }
  .leftWrapper {
    .eliContainer {
      width: 100%;
      padding-left: 0px;
      font-family: 'Roboto', sans-serif;
    }
  }

  .rightWrapper {
    .boldText {
      margin-top: 16px;
      font-weight: 700;
    }
  }

  .bottomBar {
    margin-bottom: 24px;
    padding: 4 * @spacing-xxs 32px;
    background-color: #ffffff;
    border: solid 1px #d6dce0;
    // position: fixed;
    // bottom: 0;
    // width: inherit;
    // height: 72px;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 2, 0.15);

    div:nth-child(2) {
      margin-top: 12px;
    }

    .normalText {
      display: flex;
      color: #707177;
      font-size: 13px;
      font-family: 'Roboto';
      font-style: italic;
    }

    .redText {
      color: #ff4949;
      font-size: 13px;
      font-family: 'Roboto';
      font-style: italic;
    }

    .greenText {
      color: #47c97f;
      font-size: 13px;
      font-family: 'Roboto';
      font-style: italic;
    }

    &__button {
      text-align: right;

      &__disabled {
        opacity: 0.3;
      }

      :global {
        .ant-btn-primary {
          height: 40px;
          object-fit: contain;
          color: #ffffff;
          font-weight: 500;
          font-size: 14px;
          font-family: 'Roboto';
          letter-spacing: 0.13px;
          // display: none;
          text-shadow: none;
          background-color: #ffa100;
          border: solid 1px #ffa100;
          border-radius: 25px;
          box-shadow: none;
          padding-inline: 25px;

          &:hover {
            color: #ffffff;
            background-color: #ffa100;
          }
        }

        .ant-btn-secondary {
          height: 40px;
          padding-right: 41px;
          object-fit: contain;
          color: #ffa100;
          font-weight: 500;
          font-size: 14px;
          font-family: 'Roboto';
          letter-spacing: 0.13px;
          border: solid 0;
          border-radius: 25px;
          padding-inline: 25px;
        }
      }
    }
  }
}

.viewLoading {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // height: 200px;
}
