.beginScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .from {
    padding: 88px 75px;
    width: 822px;
    height: auto;
    background-color: #fff;
    border: 1px solid #ebeff2;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #161c29;
    padding-bottom: 19px;
  }
  .subTitle {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #707177;
    padding-bottom: 32px;
  }
  .footer {
    padding: 27px 28px;
  }
  .btnStart {
    width: 129px;
    height: 40px;
    color: #fff;
    background: #ffa100;
    border-radius: 25px;
  }
}
