.contentIncreaments {
  background-color: #fff;
  height: 260px;
  padding: 30px 24px;
  input {
    width: 52px;
    margin: 0 10px;
  }
  .text {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-right: 10px;
    color: #464646;
  }
}
