.payment_detail_summary {
  .payment_detail_summary_component {
    background-color: #fff;
    margin: auto !important;
    padding-top: 19px;
    padding-bottom: 4px;
    box-shadow: 0 2px 4px 0 rgba(180, 180, 180, 0.5);
  }
  .title {
    color: #3a354e;
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
    padding-bottom: 20px;
  }
  .paymentTitle {
    font-weight: 400;
    color: #000;
    opacity: 0.5;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
    p {
      height: 30px;
      margin-bottom: 5px;
    }
  }
  .paymentValue {
    font-weight: 600;
    color: #000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
    p {
      word-wrap: break-word;
      height: 30px;
      margin-bottom: 5px;
      min-width: 140px;
    }
  }
  .payment_detail_summary_amount {
    display: flex;
    font-size: 21px;
    letter-spacing: 0;
    line-height: 25px;
    .payment_summary_totalAmount {
      :global {
        .ant-statistic {
          line-height: 25px;
        }
        .ant-statistic-content {
          font-size: 21px;
          line-height: 25px !important;
          letter-spacing: 0;
        }
        .ant-statistic-content-value-decimal {
          font-size: 20px;
        }
      }
    }
  }
  @media only screen and (max-width: 1000px) {
    .payment_detail_summary_component {
      max-width: 370px;
      overflow: auto;
      float: left;
      margin-bottom: 35px !important;
    }
  }
}
