.CustomEditButton {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  box-shadow: none;
  span {
    color: @primary-color;
    font-weight: 500;
    font-size: 14px;
  }
  img {
    margin-right: 8px;
  }
}
