.TicketManagement {
  overflow: hidden;
  background: #ffffff;
  border: 1px solid @border-color-base;
  border-radius: 8px;
  :global {
    .ant-table-content {
      padding: @padding-lg @padding-lg 0;
    }
    .ant-pagination {
      margin: @padding-lg !important;
    }
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px @padding-lg;
    border-bottom: 1px solid #e2e4e8;

    .title {
      color: #464646;
      font-weight: 700;
      font-size: 16px;
    }
    .options {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      :global {
        .ant-btn {
          height: 40px;
        }
        .ant-select-selector {
          border: 1px solid @border-color-base;
          border-radius: 4px;
        }
      }
      .countrySelectBox {
        min-width: 220px;
        margin-right: 24px;
      }
    }
  }

  .queryTypeTag {
    display: inline-block;
    margin-right: 5px;
    padding: 6px;
    color: #464646;
    font-size: 11px;
    letter-spacing: 0.121875px;
    text-transform: capitalize !important;
    background: #f3f6fc;
    border-radius: 24px;
    margin-block: 2px;
  }
  .actions {
    img {
      cursor: pointer;
    }
  }
}
