@import '~antd/lib/style/themes/default.less';

.profileContainer {
  :global {
    .ant-input {
      background-color: #f0f2f5;
      height: 45px;
    }
    .ant-form-item-control {
      border: 1px solid #b8b8b8;
      border-radius: 4px;
    }
    .ant-form-item-label {
      label {
        font-size: 12px;
        font-weight: normal;
        line-height: 15px;
        color: #3a354e;
        opacity: 0.5;
      }
    }
    .ant-select-selection {
      padding: 11px 0 10px 20px;
      height: 45px;
      background-color: #fff;
    }
  }

  .languageWrap {
    margin-top: 75px;

    .select {
      margin-top: 7px;
      :global {
        .ant-select-selection-selected-value {
          font-size: 16px;
          line-height: 20px;
          color: #3a354e;
        }
      }
      width: 195px;
      height: 45px;
      border-radius: 4px;
      background-color: #fff;
    }
  }

  .mileageWrap {
    margin-top: 5px;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .title {
    font-size: 24px;
    line-height: 29px;
    color: #3a354e;
    font-weight: bold;
    margin-bottom: 21px;
  }
  .subtitle {
    font-size: 14px;
    line-height: 17px;
    color: #3a354e;
    font-weight: bold;
  }
  .editBtn {
    background-color: #d3e1fe;
    border-color: #d3e1fe;
    border-radius: 17px;
    color: #2b6df8;
    width: 110px;
    height: 20px;
    margin-top: 7px;
  }
  .mileage {
    height: 20px;
    width: 45px;
    padding: 7px 0 7px 0;
    font-size: 12px;
    line-height: 25px;
    color: #3a354e;
  }
  .wrapButton {
    .button {
      margin-top: 60px;
      width: 177px;
      height: 47px;
      border-radius: 4px;
      color: white;
      background-color: #fca00a;
    }
    .disabled {
      margin-top: 60px;
      width: 177px;
      color: white;
      height: 47px;
      background-color: #d8d8d8;
      border-radius: 4px;
    }
  }

  .hide {
    display: none;
  }
  .center {
    height: 155px;
    align-items: center;
    display: flex;
    word-wrap: break-word;
  }
  .avatarreporter {
    margin: 0 20px;
  }
  .myprofilechange {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px 30px 27px 30px;
    margin-bottom: 29px;
    margin-right: 28px;
    .avatar {
      min-width: 15;
      width: 155px;
      height: 155px;
      border-radius: 50%;
    }
    .name {
      font-size: 20px;
      font-weight: bold;
      color: #5b5b5b;
      line-height: 24px;
    }
    .contentTitle {
      font-size: 12px;
      color: #5c5c5c;
      line-height: 15px;
      margin-top: 8px;
    }
    .email {
      word-wrap: break-word;
      font-size: 14px;
      color: #5c5c5c;
      line-height: 17px;
      margin-top: 20px;
    }
  }
  .iconedit {
    position: absolute;
    transform: translateX(170%);
    margin-top: -25px;
  }
  .centercss {
    display: flex;
    justify-content: center;
    justify-items: center;

    .currency {
      margin-top: 15px;
      font-size: 12px;
      color: #333;
      line-height: 15px;
      font-weight: bold;
    }
  }

  .reporter {
    margin-top: 20px;
    border-radius: 8px;
    display: flex;
    height: 101px;
    width: 343px;
    background-color: #fff;
    padding: 20px;
    .reportInfo {
      display: flex;
      align-items: center;
      margin-right: 30px;
    }
    .wraplefticon {
      display: flex;
      float: left;
      align-items: center;
    }
    .avatar {
      width: 61px;
      height: 61px;
    }
    .name {
      font-size: 14px;
      font-weight: bold;
      color: #5b5b5b;
      line-height: 17px;
      margin-bottom: 3px;
    }
    .contentTitle {
      font-size: 12px;
      color: #999;
      line-height: 15px;
      margin-bottom: 3px;
    }
    .email {
      font-size: 12px;
      color: #999;
      line-height: 15px;
    }
  }
}
