.CardOverlay {
  position: absolute;
  left: 16px;
  right: 16px;
  border-radius: 8px;
  padding: 4px 16px;
  background-color: #FFF;
  border-left: 6px solid #04aa6d !important;
  border: 1px solid #04aa6d;

  .projectName {
    font-size: 13px;
    font-weight: bold;
  }
  .projectTime {
    font-size: 12px;
    font-weight: 500;
  }
}