.root {
  width: 100%;
  padding: 25px 56px;
  .content {
    background-color: #fff;
    height: 30vh;
    padding: 24px;
    .title {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #161c29;
    }
  }
}
