.tableContainer {
    // min-width: 1150px;
    margin: 24px;
    
    .tableContent{
        
        .tabComponent {
      :global {
        .ant-tabs-tab {
          margin: 0 30px 0 0 !important;
          font-weight: 700;
          font-size: 14px;
        }
        .ant-layout {
          min-height: 540px;
          background-color: #fff;
        }
        .ant-tabs-extra-content{
          display: flex;
          justify-content: space-between;
        }
        
      }
      
    }
  }
    .buttonAddImport {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      height: 42px;
      margin: 25px 0 22px 0;
      background-color: white;
      color: #2C6DF9;
      border-radius: 30px;
      cursor: pointer;
      img {
        margin-right: 10px;
      }
      &_imgImport {
        margin-right: 15px !important;
        transform: scale(1.5);
      }
      &_text {
        margin-bottom: 0px;
        color: #2C6DF9;
        font-weight: 700;
        font-size: 14px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: left;
      }
      :global {
        .anticon {
          padding: 6px;
          border-radius: 50px;
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.23);
          background-color: #fff;
          margin-right: 9px;
          margin-bottom: 1px;
          color: #2C6DF9;
          font-size: 20px;
        }
      }
    }
    .filterSider {
      position: relative;
      margin-right: 24px;
      cursor: pointer;
    }
    .tableContent {
      width: 100%;
      height: 100%;
      margin: 20px 0;
      overflow-x: auto;
      border: 1px solid #d6dce0;
      border-radius: 8px;
    }
    .tabExtraContent {
      display: flex;
      flex-direction: space-between;
      align-items: center;
      margin-right: 24px;
      .filterButton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 111px;
        height: 40px;
        cursor: pointer;
        img {
          margin-right: 10px;
        }
        :global {
          .anticon-filter {
            margin-right: 5px;
            padding-top: 4px;
            color: #2c6df9;
            font-size: 14px;
          }
        }
      }
      .textButtonFilter {
        margin-bottom: 0;
        margin-left: 6px;
        color: #ffa100;
        font-weight: 500;
        font-size: 14px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.13px;
      }
      .filterBackgroundButton {
        background-color: #f4f7ff;
        border-radius: 5px;
      }
      .searchInp{
        input{
          width: 300px;
        }
        :global{
          .ant-input-affix-wrapper{
            border-radius: 25px;
          }
        }
      }
    }
  }
  .btnForm{
    width: 100%;
    text-align: right;
    .btnApply{
        height: auto;
        padding: 10px 27px;
        margin-left: 20px;
        border-radius: 25px;
        background-color: #FFA100;
        color: #fff;
        border: none;
        outline: none;
    }
    .btnClose{
        border: none;
        background-color: #fff;
    }
}

.popoverHeader {
  display: flex;
  justify-content: space-between;
  p{margin: 0;}
  .headTitle{
    font-weight: 700;
    color: #2C6DF9;
  }
  .closeIcon{color: #000}
}


  @media screen and (max-width: 1366px) {
    .tableContainer {
      min-width: 500px;
      margin: 32px 24px;
    }
  }
  