.root {
  .btnWithDraw {
    // width: 100px;
    padding: 0 30px;
    height: 40px;
    color: #fff;
    font-weight: 700;
    background: #ffa100;
    border: none;
    border-radius: 25px;
    &:disabled {
      opacity: 0.5;
    }
    &:hover,
    &:active,
    &:focus {
      color: #fff;
      font-weight: 700;
      background: #ffa100;
      border: none;
      border-radius: 25px;
    }
  }
}
