.root {
  .btnWithDraw {
    width: 100px;
    height: 35px;
    background: #ffa100;
    border-radius: 25px;
    color: #fff;
    font-weight: 700;
    &:disabled {
      opacity: 0.5;
    }
    &:hover,
    &:active,
    &:focus {
      background: #ffa100;
      border-radius: 25px;
      color: #fff;
      font-weight: 700;
      border: none;
    }
  }
}
