.Tab {
  margin-bottom: -17px;
  :global {
    .ant-tabs-nav {
      height: 58px;
      padding-left: 51px;
      background-color: #f4f4f4;
    }
    .ant-tabs-tab {
      margin: 0 66px 0 0;
    }
    .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
      height: 9px;
    }
    .ant-tabs-ink-bar {
      height: 9px;
      background-color: #044040;
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: #044040;
      font-weight: bold;
      font-size: 18px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: left;
    }
    .ant-tabs-tab-btn {
      color: #044040;
      font-weight: 500;
      font-size: 18px;
      font-family: 'Noto Sans', sans-serif;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: left;
    }
  }
}
