.wrapContentExpand{
    padding-left: 200px !important;
    transition: 0.05s all ease-out;
    // -moz-transition: all 0.3s ease-in-out;
    // -ms-transition: all 0.3s ease-in-out;
    // -o-transition: all 0.3s ease-in-out;
    // -webkit-transition: all 0.3s ease-in-out;
    // transform: scale(0.9)
}

.wrapContentCollapsed {
    transition: 0.05s all ease-out;
    // -moz-transition: all 0.3s ease-in-out;
    // -ms-transition: all 0.3s ease-in-out;
    // -o-transition: all 0.3s ease-in-out;
    // -webkit-transition: all 0.3s ease-in-out;
    // transform: scale(1)
}