.root {
  :global {
    .ant-btn {
      background-color: #ffa100;
      border: none;
      border-radius: 30px;
      height: 40px;
      padding: 0 40px;
      span {
        color: white;
        font-weight: 500;
      }
      &:hover {
        background-color: #ffa100cc; // hex with alpha 0.8
      }
    }
    .ant-input-number {
      padding: 3px;
      width: 141px;
      height: 42px;
      border-radius: 5px;
    }
    .ant-picker {
      width: 83px;
      height: 42px;
    }
    .ant-radio-group {
      padding: 2px;
      border-radius: 5px;
      border: 1px solid #d6dce4;
    }
    .ant-radio-button-wrapper {
      border: none;
      color: #707177;
      background-color: white;
    }
    .ant-radio-button-wrapper-checked {
      background-color: #2c6df9;
    }
    .ant-radio-button-wrapper:first-child {
      border-radius: 5px;
    }
    .ant-radio-button-wrapper:last-child {
      border-radius: 5px;
    }
    .ant-radio-button-wrapper > .ant-radio-button {
      border-radius: 5px;
    }
    .ant-form-item {
      margin-bottom: 0px;
    }
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
      display: none;
    }
    .ant-radio-button-wrapper:not(:first-child)::before {
      background-color: #fff;
    }
  }
  .formActive {
    background-color: #fff;
    width: auto;
    height: auto;
    border: 1px solid #ebeff2;
    // padding: 27px 24px;
    .straight {
      height: 1px;
      width: 100%;
      background-color: #e2e4e8;
    }
    .formWorkHour {
      padding: 24px;
    }
    .content {
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #707177;
      padding-bottom: 11px;
    }
    .formInput {
      padding: 24px;
      height: auto;
      background: #fafafa;
      border-radius: 13px;
      margin-bottom: 20px;
    }
  }
  .bottom {
    margin-top: 40px;
  }
  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #161c29;
    padding-bottom: 20px;
  }
  .description {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #707177;
    padding-bottom: 14px;
  }
  .activeText {
    padding: 24px;
    span {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #161c29;
    }
    // padding-bottom: 16px;
  }
  .workHour {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #161c29;
    padding-bottom: 17px;
  }
  .pb17 {
    padding-bottom: 17px;
  }
  .radio {
    width: 72px;
    height: 30px;
    border-radius: 5px !important;
  }
  // .form {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-around;
  //   // padding-bottom: 28px;
  //   .formInput {
  //     // padding: 18px;
  //     height: 130px;
  //     background: #fafafa;
  //     border-radius: 13px;
  //   }
  // }

  .checkboxWrap {
    display: flex;
    // flex-direction: row;
    // justify-content: space-between;
  }
  .circle {
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #f1f6ff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 17px;
    .padding {
      color: #707177;
    }
  }
  .circleActive {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: #f1f6ff;
    border: 2px solid #2c6df9;
    box-sizing: border-box;
    margin: 0 17px;

    .padding {
      color: #2c6df9;
      font-weight: 500;
    }
  }
  .flex {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
