.root {
  background-color: #fff;
  padding: 27px 30px;
  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #464646;
    padding-bottom: 20px;
  }
  .description {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #464646;
    padding-bottom: 44px;
  }
  .activeText {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #2c6df9;
    padding-bottom: 16px;
  }
  .workHour {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
    padding-bottom: 17px;
  }
  .pb17 {
    padding-bottom: 17px;
  }
  .form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 28px;
  }
  .checkboxWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
