// color:
@background-grey: #f6f7f9;
.EligibilityDocs {
  .leftWrapper {
    .eliContainer {
      width: 100%;
      font-family: Roboto, sans-serif;
      padding-left: 0px;
    }
  }
  .rightWrapper {
    .boldText {
      margin-top: 16px;
      font-weight: 700;
    }
  }
}
.viewLoading {
  margin: 0 auto;
  height: 500px;
  width: 300px;
}
