.RightContent {
  .container {
    padding: @padding-lg @padding-lg 0;
  }
  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: @padding-md @padding-lg;
    border-top: 1px solid #e2e4e8;
  }
  :global {
    .ant-form-item-explain {
      padding-left: 24px !important;
    }
    .ant-input-group {
      .ant-input {
        border-radius: 5px 0 0 5px !important;
      }
      .ant-input-group-addon {
        width: 78%;
        color: #161c29;
        font-size: 12px;
        line-height: 14px;
        text-align: left;
        background: #f4f6f7;
        border-radius: 0 5px 5px 0 !important;
        opacity: 0.5;
      }
    }
    .ant-form-item-explain {
      div {
        font-size: 13px;
      }
    }
    .ant-select-selection-item {
      color: #161c29;
    }
    .ant-select-disabled {
      .ant-select-selection-item {
        color: #161c2980;
      }
    }
    .ant-select-selection-item,
    .ant-select-selection-placeholder {
      font-size: 13px !important;
      line-height: 30px !important;
    }
    .ant-input {
      height: 42px !important;
      padding: 5px 11px !important;
      font-size: 13px;
      border-radius: 5px !important;
    }
    .ant-select {
      width: 100% !important;
    }
    .ant-select-selector {
      min-height: 42px !important;
      padding: 5px 11px !important;
      font-size: 13px;
      border-radius: 5px !important;
    }
    .ant-select-selection-search-input {
      height: 42px !important;
    }

    .ant-form-item-label
      > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
      display: none;
    }
    .ant-form-item-label label {
      height: 0;
      color: #161c29;
      font-size: 13px;
    }
  }
}
