.WhatNext {
  width: 100%;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #d6dce0;
  border-radius: 5px;
  .header {
    display: flex;
    align-items: center;
    padding: 24px;
    color: #161c29;
    border-bottom: 1px solid #e2e4e8;
    span {
      color: #161c29;
      font-weight: 700;
      font-size: 16px;
    }
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    .description {
      color: #161c29;
      font-weight: normal;
      font-size: 12px;
      font-style: normal;
      line-height: 18px;
      opacity: 0.5;
    }
    :global {
      .ant-btn {
        background-color: #ffa100;
        border: none;
        border-radius: 30px;
        height: 40px;
        padding: 0 30px;
        span {
          color: white;
          font-weight: 700;
        }
        &:hover {
          background-color: #ffa100cc; // hex with alpha 0.8
        }
      }
    }
  }
}
