@import (css)
  url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.CompanySignatoryForm {
  height: 70vh;

  font-family: 'Roboto';
  padding: 0 42px 42px 42px;
  width: 100%;

  &_form {
    background-color: white;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
  }

  &_title {
    font-weight: bold;
  }
}
