.CustomAddButton {
  height: 40px;
  color: @primary-color;
  font-weight: 500;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  img {
    margin-right: 5px;
  }
  &:hover {
    background-color: transparent;
  }
}
