@black: rgb(48, 48, 48);
@header-color: #161c29;
@gray: #707177;
// @small-glow: #e4edff;
@small-glow: #e9f0ff;
// @big-glow: #e9f0ff;
@big-glow: #f6f7f9;
@blue: #2c6df9;
@orange: #ffa100;
@dark-orange: #e08e00;
@border-color: #d6dce0;

.previewContainer {
  display: flex;

  .left {
    // padding: 63px 55px 78px 55px;
    height: fit-content;
    flex: 1;
    background-color: white;
    border-radius: 5px;
    border: solid 1px @border-color;
    min-width: 475px;

    .leftContainer {
      header {
        display: flex;
        align-items: center;
        width: 100%;
        text-align: center;
        position: relative;
        padding-bottom: 20px;
        border-bottom: 1px solid #b7b7b7;

        img {
          max-width: 85px;
          height: auto;
          position: absolute;
          top: 0;
          left: 0;
        }

        h1 {
          text-transform: capitalize;
          margin: 0 auto;
          font-size: 16px;
          color: #636363;
          font-weight: 500;
        }
      }

      .content {
        padding: 5px 0;
        font-size: 12px;
        font-weight: 400;
        color: @black;
        height: 400px;
        overflow-y: scroll;
        min-height: 600px;

        div {
          display: inline-block;
          //   border-bottom: 1px solid @black;
          position: relative;
          //   margin: 0 5px;
          //   width: 200px;

          input {
            text-align: center;
            border: none;
            outline: none;
            width: 100%;
          }

          /* Chrome, Safari, Edge, Opera */
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          /* Firefox */
          input[type='number'] {
            -moz-appearance: textfield;
          }

          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: @black;
            bottom: 3px;
            left: 0;
          }
        }

        p {
          margin-top: 25px;
        }
      }
    }

    ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
  }

  .right {
    width: 321px;
    margin-left: 24px;

    .signature,
    .send {
      border-radius: 5px;
      border: solid 1px @border-color;
      background-color: white;
      padding: 25px;
      margin-bottom: 16px;

      button {
        height: 40px;
        border-radius: 25px;
        border: solid 1px #ffa100;
        background-color: #ffa100;

        span {
          color: white !important;
        }
      }

      header {
        display: flex;
        align-items: center;

        * {
          margin: 0;
          padding: 0;
        }

        h2 {
          font-weight: 500;
          font-size: 14px;
          color: @header-color;
          margin-left: 16px;
        }

        .icon {
          .bigGlow,
          .smallGlow {
            border-radius: 50%;
          }

          .bigGlow {
            width: 64px;
            height: 64px;
            background-color: @big-glow;

            display: flex;
            align-items: center;
            justify-content: center;

            .smallGlow {
              width: 41px;
              height: 41px;
              background-color: @small-glow;

              display: flex;
              align-items: center;
              justify-content: center;

              svg {
                width: 18px;
                height: 18px;
                fill: @blue;
              }
            }

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    .signature {
      margin-bottom: 16px;

      p {
        margin-top: 24px;
        font-size: 13px;
        color: #707177;
      }

      .upload {
        border: 1px solid #d6dce4;
        padding: 23px 28px 15px 28px;
        border-style: dashed;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        position: relative;

        .signatureImg {
          width: 212px;
          height: 85px;
          border: 0;
          outline: none;
        }

        button {
          color: #568afa;
          font-weight: 500;
          font-size: 16px;
          background-color: transparent;
          border: none;
          outline: none;
          cursor: pointer;
          margin: 0 auto;
          margin-top: 10px;
        }
      }

      .uploadInput {
        display: none;
      }

      .submitContainer {
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
          // padding: 12px 24px;
          width: 94px;
          height: 40px;
          background-color: @orange;
          border-radius: 25px;
          border: none;
          outline: none;
          cursor: pointer;
          transition: background-color 0.2s ease-in;

          span {
            font-size: 14px;
            font-weight: 500;
            color: white;
          }

          &.active {
            &:hover {
              background-color: @dark-orange;
            }
          }

          &.disable {
            opacity: 0.5;
          }
        }

        span {
          color: #47c97f;
          font-size: 13px;
        }
      }

      .proceed {
        margin-top: 24px;
        height: 40px;
        border-radius: 25px;
        border: solid 1px #ffa100;
        background-color: #ffa100;
        font-size: 14px;
        letter-spacing: 0.13px;
        font-weight: 500;

        span {
          color: white !important;
          margin: 0 12px;
        }

        &.disabled {
          opacity: 0.5;
        }
      }
    }

    .send {
      header {
        margin-bottom: 32px;
      }

      p:nth-of-type(1) {
        margin-bottom: 24px;

        span {
          color: @orange;
        }
      }

      p:nth-of-type(2) {
        color: #505050;
        font-weight: 600;
        position: relative;
        margin-bottom: 65px;

        &:after {
          position: absolute;
          bottom: -31px;
          content: '';
          // width: 288px;
          width: 100%;
          height: 2px;
          background-color: @border-color;
          left: 0;
        }
      }

      .mail {
        span {
          font-size: 15px;
          color: @gray;
          // margin-bottom: 8px;
        }

        input {
          margin-top: 8px;
          padding: 13px 16px;
          font-size: 16px;
          color: @header-color;
          border-radius: 5px;
          transition: border-color 0.2s ease-in;
        }

        &.red {
          input {
            border-color: #ff5252;
          }
        }
      }
    }

    .expiredMessage {
      margin: 20px 0 0;
      font-size: 13px;
      .subtitle {
        color: #ff5252;
        font-weight: 500;
        display: block;
      }
      .emails {
        display: block;
        // color: #2c6df9;
      }
    }
  }

  @media (max-width: 1165px) {
    flex-direction: column;

    .right {
      width: 100%;
      margin-left: 0;
      margin-top: 16px;

      .signature {
        .upload {
          img {
            margin: 0 auto;
          }
        }
      }
    }
  }

  .test {
    color: red;
  }
}
