.MaximumBalanceAllowed {
  .label {
    display: block;
    color: #707177;
    font-weight: 400;
    font-size: 13px;
  }
  :global {
    .ant-input-number {
      width: 100px;
    }
  }
  .prefix {
    position: absolute;
    top: 12.79px;
    right: 26px;
    color: #707177;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
  }
  .rightPart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .viewTypeSelector {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
