.documentButton {
  width: 120px;
  height: 40px;
  padding-right: 41px;
  object-fit: contain;
  color: #ffa100;
  font-weight: 500;
  font-size: 14px;
  font-family: 'Roboto';
  letter-spacing: 0.13px;
  border-radius: 25px;
  padding-inline: 25px;
  border: none;
}

.documentButtonPrimary {
  height: 40px;
  width: 120px;
  object-fit: contain;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  font-family: 'Roboto';
  letter-spacing: 0.13px;
  text-shadow: none;
  background-color: #ffa100;
  border: solid 1px #ffa100;
  border-radius: 25px;
  box-shadow: none;
  padding-inline: 25px;
}
