.MultipleCheckTablePopup {
  z-index: 10;
  display: block;
  width: fit-content;

  background-color: white;

  .container {
    display: flex;
    flex-direction: row;
    .button {
      margin-left: 10px;
      //   margin-right: 10px;
      cursor: pointer;
      .icon {
        // min-width: 25px;
        display: inline-block;
        margin: 0 auto;
        // margin-right: 10px;
      }
      span {
        font-weight: 700;
        font-weight: 13px;
      }
      .approve {
        color: #2c6df9;
      }
      .reject {
        color: #fd4546;
      }
      &:hover {
        transition: 0.3s;
        img {
          // filter: brightness(0) invert(1);
          transition: 0.3s;
        }
        span {
          color: white;
          transition: 0.3s;
        }
      }
    }
    .button1 {
      .button();
      img {
        filter: invert(32%) sepia(85%) saturate(2978%) hue-rotate(214deg) brightness(101%)
          contrast(95%);
      }
      &:hover {
        transform: scale(1.1);
        // background-color: #2c6df9;
        transition: 0.3s;
      }
    }
    .button2 {
      .button();
      img {
        filter: invert(28%) sepia(100%) saturate(1629%) hue-rotate(336deg) brightness(109%)
          contrast(98%);
      }
      &:hover {
        transform: scale(1.1);
        // background-color: #fd4546;
        transition: 0.3s;
      }
    }
  }
}
