.CustomEmployeeTag {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .avatar {
    width: 36px;
    height: 36px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 2px solid rgba(44, 109, 249, 0.35);
      border-radius: 50%;
    }
  }
  .nameTitle {
    margin-left: 10px;

    span {
      display: block;
      line-height: 20px;
    }
    .name {
      margin-top: 3px;
      margin-bottom: 8px;
      color: #464646;
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;
    }
    .title {
      color: #464646;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
    }
  }
}
