@import '~antd/lib/style/themes/default.less';

.wrapModalPopup {
  :global {
    .ant-modal-header {
      border: none !important;
      padding-bottom: 10px;
    }
    .ant-modal-title {
      font-size: 16px;
      color: #000;
      font-weight: bold;
    }
    .ant-modal-body {
      padding-top: 0 !important;
      padding-bottom: 0;
    }
    .ant-form-item {
      margin-top: 10px;
    }
    .ant-input {
      height: 89px;
      border: 1px solid rgba(151, 151, 151, 0.5) !important;
      border-radius: 6px !important;
      margin-top: 0;
      margin-bottom: 4px;
    }
    .ant-modal-footer {
      border: none;
    }
  }
  .des {
    font-size: 12px;
    color: #000;
    font-weight: 400;
  }
  .okBtnReject {
    height: 35px !important;
    background-color: #d0021b;
    font-size: 14px;
    font-weight: normal;
    margin-left: 25px;
    padding: 5px 20px;
    border: 1px solid #d0021b;
  }
  .okBtnApprove,
  .okBtnAskMore {
    height: 35px !important;
    background-color: #fca00a;
    font-size: 14px;
    font-weight: normal;
    margin-left: 25px;
    padding: 5px 25px;
    margin-bottom: 15px;
    border: 1px solid #fca004;
  }
  .cancelBtn {
    height: 35px;
    padding: 5px 25px;
    border: 1px solid #fca00a;
    color: #fca00a;
    margin-bottom: 15px;
  }
  .countWord {
    float: right;
    font-size: 12px;
    opacity: 0.5;
    color: #000;
  }
}
