.rightContent {
  background-color: #fff;
  height: 400px;
  .straightLine {
    width: 100%;
    height: 1px;
    background-color: #d6dce0;
  }
  .textTitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
  }

  .header {
    padding: 27px 30px 20px;
  }
  .bodyContent {
    padding: 25px 30px;
    .textData {
      font-weight: 500;
      font-size: 13px;
      line-height: 17px;
      color: #464646;
    }
    .viewDetail {
      text-decoration: underline;
      color: #2058d1;
      .textData();
    }
  }
}
