.TableProject {
  .tableProject {
    .projectName {
      color: #2c6df9;
      font-size: 13px;
      line-height: 15px;
      vertical-align: top;
    }
    :global {
      .ant-table-thead > tr > th {
        background: #2c6df9 !important;
      }
      .ant-table-tbody > .ant-table-row-level-0 {
        color: #464646;
      }
      // .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) {
      //   background-image: linear-gradient(to right, red , yellow)!important;
      // }
    }
  }
}
