.TableProject {
  .tableProject {
    .projectName {
      color: #2c6df9;
      font-size: 13px;
      line-height: 15px;
      vertical-align: top;
    }
    :global {
      .ant-table-thead > tr > th {
        background: #2c6df9 !important;
      }
      .ant-table-tbody > .ant-table-row-level-0 {
        color: #464646;
      }
      .ant-table-tbody > .ant-table-row-level-0:hover {
        background: repeating-linear-gradient(90deg, rgba(246, 247, 249, 0) 0%, #F6F7F9 100%);
        // background: linear-gradient(90deg, rgba(246, 247, 249, 0) 0%, #02102c 100%);
      }
    }
  }
}
