.root {
  height: 42px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  :global {
    .ant-input-affix-wrapper {
      height: 100%;
    }
    .ant-input-affix-wrapper > input.ant-input {
      background: #f3f6fc;
      font-size: 14px;
      line-height: 16px;
      color: #161c29;
      padding: 0 10px;
    }
    .ant-input-affix-wrapper-lg {
      padding: 6.5px 11px;
      font-size: 16px;
      background: #f3f6fc;
      border-radius: 20px;
      width: 600px;
      border: none;
    }
    .ant-input-affix-wrapper-focused {
      box-shadow: none;
    }
    .ant-input:placeholder-shown {
      text-overflow: ellipsis;
      font-size: 14px;
      line-height: 16px;
      color: #161c29;
      mix-blend-mode: normal;
      opacity: 0.37;
    }
  }
}

.viewAdvancedSearch {
  width: 100%;
  max-width: 600px;
  height: fit-content;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.232408);
  border-radius: 8px;
}
