.containerSearch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 79%;
  height: 44px;
  margin-right: 12px;
}
.viewClose {
  .containerSearch();
  :global {
    .ant-input-affix-wrapper {
      height: 100%;
    }
    .ant-input-affix-wrapper > input.ant-input {
      padding: 0 10px;
      color: #161c29;
      font-size: 14px;
      line-height: 16px;
      background: #f3f6fc;
    }
    .ant-input-affix-wrapper-lg {
      width: 600px;
      padding: 6.5px 11px;
      font-size: 16px;
      background: #f3f6fc;
      border: none;
      border-radius: 12px;
    }
    .ant-input-affix-wrapper-focused {
      box-shadow: none;
    }
    .ant-input:placeholder-shown {
      color: #161c29;
      font-size: 14px;
      line-height: 16px;
      text-overflow: ellipsis;
      opacity: 0.37;
      mix-blend-mode: normal;
    }
  }
}

.viewOpen {
  .containerSearch();
  :global {
    .ant-input-affix-wrapper > input.ant-input {
      padding: 0 10px;
      color: #161c29;
      font-size: 14px;
      line-height: 16px;
      // background: #f3f6fc;
    }
    .ant-input-affix-wrapper-lg {
      position: relative;
      width: 600px;
      padding: 6.5px 11px;
      font-size: 16px;
      border: none;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.13);
    }
    .ant-input-affix-wrapper-focused {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.232408);
    }
    .ant-input:placeholder-shown {
      color: #161c29;
      font-size: 14px;
      line-height: 16px;
      text-overflow: ellipsis;
      opacity: 0.37;
      mix-blend-mode: normal;
    }
  }
}

.viewAdvancedSearch {
  position: absolute;
  top: -4px;
  width: 100%;
  max-width: 600px;
  min-height: 451px;
  height: fit-content;
  background: #ffffff;
  -webkit-background: #ffffff;
  -moz-background: #ffffff;
  -o-background: #ffffff;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.232408);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.232408);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.232408);
  -o-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.232408);
}

.viewSuffix {
  display: flex;
  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      background: rgba(112, 113, 119, 0.17);
    }
    &__icon {
      font-size: 13px;
      opacity: 0.5;
    }
  }
}