.TableCatergory {
  :global {
    .ant-table-pagination.ant-pagination {
      display: none;
    }
  }
  .btnAction {
    display: flex;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }
}
