.TableCatergory {
  :global {
    .ant-table-pagination.ant-pagination {
      display: none;
    }
    .ant-table-thead > tr:first-child > th:last-child {
      text-align: center;
    }
  }
  .btnAction {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    &:hover {
      cursor: pointer;
    }
    :global {
      .ant-btn {
        padding: 0;
        box-shadow: none;
      }
    }
  }
}
