.hrApproved {
  margin-bottom: 20px;
  color: #161c29;
  font-size: 13px;
  background-color: #fff;
  border: 1px solid #d6dce0;
  border-radius: 5px;

  & > div {
    padding: 24px;
    border-bottom: 1px solid #d6dce0;
  }
  & > div:last-child {
    color: #161c29;
    font-size: 12px;
    line-height: 18px;
    border-bottom: none;
  }

  & > div:first-child {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
  }

  &__titleDate {
    margin-bottom: 15px;
    color: #707177;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    &__text {
      max-width: 60%;
      color: #161c29;
      font-size: 12px;
      line-height: 18px;
      opacity: 0.5;
    }
  }

  .btnCancel {
    margin-right: 10px;
    color: #de0e0e;
    font-weight: 700;
  }
  :global {
    .ant-input:focus,
    .ant-picker-focused {
      border-color: #2c6df9;
      outline: 0;
      box-shadow: unset;
    }

    .ant-input,
    .ant-picker-input {
      font-size: 13px;
      input {
        font-size: 13px;
      }
    }

    .ant-select-selection-search {
      align-content: center;
    }
    .ant-picker {
      min-width: 240px;
      min-height: 42px !important;
      font-size: 13px;
      border-radius: 5px !important;
    }
    .ant-btn-primary {
      height: 40px;
      padding: 0 30px;
      background-color: #ffa100;
      border: none;
      border-radius: 30px;
      span {
        color: white;
        font-weight: 700;
      }
      &:hover {
        background-color: #ffa100cc;
      }
    }
  }
}
