.EmptyComponent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  overflow: hidden;
  :global {
    .ant-empty {
      margin-block: 10px;
      .ant-empty-image {
        height: 109px;
      }
      .ant-empty-description {
        color: #474747;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
}
