@blueColour: #2c6df9;
.ChartPreviewModalContent {
  padding: 16px 24px;
  .selectMode {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .showAs {
      display: inline-block;
      margin-right: 12px;
      color: #707177;
      font-size: 13px;
    }
    .dropdownMenu {
      .options {
        span {
          margin-right: 12px;
          color: @blueColour;
          font-weight: 500;
          font-size: 13px;
          line-height: 19px;
        }
        cursor: pointer;
        img {
          margin-top: -3px;
        }
      }
    }
  }
}
