.mixin-border-bottom-row {
  border-bottom: solid 1px #d6dce0;
}

.SentEligibilityForms {
  padding: 24px;
  padding-bottom: 0;
  .table_actions {
    display: flex;
    align-items: end;
  }
  span {
    p {
      cursor: pointer;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
      letter-spacing: 0.12px;
      color: #2c6df9;
      font-weight: 500;
      margin-right: 10px;
    }
  }
  :global {
    .ant-table-row {
      height: 55px;
    }
    td.ant-table-cell {
      width: 84px;
      height: 15px;
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.12px;
      color: #464646;
    }
    .ant-table-tbody {
      tr:last-child td {
        border-bottom: solid 1px white;
      }
    }
    .ant-table-tbody > tr > td {
      .mixin-border-bottom-row();
    }
  }
}
