.lastWorkDay {
  margin-top: 20px;
  padding: 26px 40px;
  background-color: #fff;
  height: auto;
  .bettween {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    .padding {
      padding-right: 28px;
    }
    .titleText {
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
    }
    .edit {
      cursor: pointer;
      .editText {
        color: #ffa100;
      }
    }
    .subText {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #464646;
      .marginRight {
        margin-right: 30px;
      }
    }
    .icon {
      margin-top: -5px;
      padding: 5px;
    }
  }
  .datePicker {
    width: 268px;
    height: 56px;
  }
  .notifications {
    font-size: 11px;
    line-height: 13px;
    color: #707177;
  }
  .detalFrom {
    margin-top: -10px;
    height: auto;
    padding: 17px 23px;
    background-color: #fff4d1;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .flex {
    display: flex;
    justify-content: space-between;

    .paddingRight {
      padding-right: 15px;
    }
    .flexButton {
      display: flex;
      justify-content: space-between;
    }
  }
  .btnCancel {
    width: 100px;
    height: 35px;
    border: 1px solid #de0e0e;
    color: #de0e0e;
    box-sizing: border-box;
    border-radius: 25px;
  }
  .btnSubmit {
    width: 100px;
    height: 35px;
    background: #ffa100;
    color: #fff;
    box-sizing: border-box;
    border-radius: 25px;
  }
}
