.WorkLocations {
  .root {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    background: #ffffff;
    border: 1px solid #d6dce0;
    border-radius: 5px;
    p {
      margin: 0;
    }
    .mgb16 {
      margin-bottom: 16px;
    }
    .viewAddWorkLocation {
      display: flex;
      align-items: center;
      width: fit-content;
      border: none;
      color: #2c6df9;
      &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        background: #ffffff;
        border-radius: 50%;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.23);
      }
      &__text {
        margin-left: 11px !important;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        text-decoration-line: underline;
      }
    }
    .textInput {
      box-sizing: border-box;
      width: 430px;
      height: 42px;
      background: #ffffff;
      border-radius: 5px;
      &:focus {
        box-shadow: none;
      }
    }
    .title {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
    }
    .content {
      &__viewTop {
        padding: 24px;
        border-bottom: 1px solid #d6dce0;

        .text {
          margin-top: 10px;
          color: #707177;
          font-size: 12px;
          line-height: 20px;
          text-align: justify;
        }
      }
      &__viewBottom {
        height: fit-content;
        padding: 30px;
        color: #161c29;
        font-size: 13px;
        line-height: 15px;
        &__row {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;
          .viewFormVertical {
            width: fit-content;
            :global {
              .ant-input {
                .textInput();
                width: 187px !important;
              }
              .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
                .ant-select-selector {
                box-shadow: none;
              }
              .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
                box-sizing: border-box;
                width: 187px;
                height: 42px;
                padding: 5px 11px 0;
                background: #ffffff;
                border-radius: 5px;
              }
              .ant-select-single:not(.ant-select-customize-input)
                .ant-select-selector
                .ant-select-selection-search-input {
                height: 36px;
              }
            }
          }
          &__textLabel {
            width: 151px;
          }
          &__textLabelVertical {
            margin-bottom: 10px;
          }
          :global {
            .ant-form-item {
              margin-bottom: 0px;
            }
            .ant-input {
              .textInput();
            }
          }
        }
        // div:last-child {
        //   margin-bottom: 0;
        // }
      }
    }
    .divider {
      margin: 24px 0 0 0;
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .viewBtn {
      .btnSubmit {
        width: 150px;
        height: 40px;
        color: #ffffff;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        background: #ffa100;
        border: none;
        border-radius: 25px;
      }
    }

    :global{
      .ant-btn[disabled], .ant-btn[disabled]:hover, .ant-btn[disabled]:focus, .ant-btn[disabled]:active{
        background: none;
      }
    }
  }

  .viewSkeleton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 200px;
  }
}
