:global {
  .emoji-mart-emoji {
    line-height: 0;
    vertical-align: middle;
    > span {
      line-height: 0;
      vertical-align: bottom;
    }
  }
}

.flag {
  padding-right: 5px;
  font-size: 16px;
  color: #000;
}
