.root {
  p {
    margin: 0;
  }
  .center();
  flex-direction: column;
  width: 565px;
  height: 272px;
  background: #ffffff;
  border: 1px solid #d6dce0;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 30px;
  .viewIconDownload {
    width: 74px;
    height: 74px;
    background: #f8fbff;
    border-radius: 50%;
    margin-bottom: 20px;
    .center();
    &__circle {
      background: #e4edff;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      .center();
      &__icon {
        color: #2c6df9;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
  .title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 14px;
  }
  .text {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #707177;
  }
  .download {
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #2c6df9;
    cursor: pointer;
    margin-top: 16px;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
