.root {
  :global {
    .ant-breadcrumb {
      height: 37px;
      display: flex;
      align-items: center;
      padding: 9px 0 0 22px;
      background: #f8f9fb;
    }

    .ant-breadcrumb a {
      font-weight: 500;
      font-size: 13px;
      color: #161c29;
      opacity: 0.6;
      padding: 0 10px 0 0;
    }
    .ant-breadcrumb > span:last-child a {
      color: #161c29;
      font-size: 13px;
      font-weight: 500;
      height: 37px;
      background-color: #fff;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      align-items: center;
      display: flex;
      padding: 0 15px;
      opacity: 1;
      margin-left: 6px;
    }
    .ant-breadcrumb-link {
      display: inline-flex;
      // align-items: center;;
    }
  }
}
