.TableDocuments {
  padding: @padding-lg !important;
  background-color: #fff;
  border: solid 1px #d6dce0;
  border-radius: 8px;

  .containerAction {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    img {
      cursor: pointer;
    }
  }
  .uploadedBy {
    color: @primary-color;
    cursor: pointer;
  }
  .attachment {
    color: @primary-color;
    cursor: pointer;
  }
  .containerAttachment {
    display: flex;
    align-items: center;
    img {
      width: 15px;
      height: 15px;
      margin-right: 8px;
    }
  }
}
