.TableDocuments {
  :global {
    .ant-spin-container {
      padding: 24px !important;
    }
  }
  .containerAction {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    img {
      cursor: pointer;
    }
  }
  .uploadedBy {
    color: #2c6df9;
    cursor: pointer;
  }
  .attachment {
    color: #2c6df9;
    cursor: pointer;
  }
  .containerAttachment {
    display: flex;
    align-items: center;
    img {
      width: 15px;
      height: 15px;
      margin-right: 8px;
    }
  }
}
