.AllTickets {
  width: 100%;
  overflow: hidden;
  background: #ffffff;
  border: 1px solid @border-color-base;
  border-radius: 8px;
  :global {
    .ant-tabs-tab-btn {
      font-size: 14px !important;
    }
    .ant-tabs-nav {
      padding: 0 24px !important;
    }
  }
  .options {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
  }
}
