.filterForm{

    :global{
        .ant-form-item{
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .ant-form-item-label{
            text-align: left;

            > label{
               font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                text-transform: uppercase;
                color: #707177; 
            }
        }

        .ant-select-single .ant-select-selector, 
        .ant-select-multiple .ant-select-selector{
            min-height: 42px;
            background: #FFFFFF;
            border: 1px solid #D6DCE4;
            box-sizing: border-box;
            border-radius: 5px;
        }

        .ant-select-selector input{
            min-height: 100%;
        }

        .ant-select-multiple .ant-select-selection-item, .ant-tag{
            background: #FFFFFF;
            border: 1px solid #C9D3DC;
            box-sizing: border-box;
            border-radius: 4px;

            width: 100%;
            padding: 8px;
            height: 31px;

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.121875px;

            color: #464646;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }

        .ant-select-selection-overflow-item{
            margin: 4px;
        }

        .ant-tag-close-icon{
            margin-left: 12px;
        }

        .ant-tag::before{
            content: '';
            width: 4px;
            height: 31px;
            background: #2C6DF9;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            display: block;
            position: absolute;
            top: -1px;
            left: -1px;
        }

        .ant-select-single.ant-select-show-arrow .ant-select-selection-item, .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder{
            display: flex;
            align-items: center;
        }
    }

    
    .form{
        width: 100%;
        
        &__top{
            padding: 16px;


            :global{
                .ant-select-item-option-content{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                
            }

        }
        
        .doj{
            width: 100%;
            :global{
                .ant-form-item{
                    margin-bottom: 0 !important;
                }

                .ant-picker{
                    width: 132px;
                    height: 37px;
                    background: #FFFFFF;
                    border: 1px solid #D6DCE4;
                    border-radius: 5px;
                }

                .ant-picker-input > input {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;

                    color: #161C29;

                    opacity: 0.5;
                }
            }

            &__label{
                height: 32px;
                display: flex;
                align-items: center;
            }

            .labelText{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                text-transform: uppercase;
                color: #707177;
            }

            .labelTo{
                text-transform: lowercase;
            }
            
            &__date{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .calendarIcon{
                    filter: invert(27%) sepia(81%) saturate(3092%) hue-rotate(202deg) brightness(99%)
            contrast(101%);
                }
            }
        }

        .divider{
            border-top: 1px solid #E1DFDF;
            margin: 25px 0 16px 0;
        }

        .footer{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0 16px;

            :global{
                .ant-btn{
                    background: transparent;
                    box-shadow: none;
                    border: none;
                    border-radius: 18px;
                    padding: 10px 27px;
                    
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 15px;
                    letter-spacing: 0.2px;

                    color: #464646;
                    
                    height: 36px;
                    outline: none;
                }
            }
            
            &__apply{

                background: #FFA100 !important;

                font-weight: 500 !important;
                font-size: 14px !important;
                line-height: 16px !important;
                letter-spacing: 0.13125px !important;

                color: #FFFFFF !important;
            }
        }
    }
}

.optionName{
    padding-left: 10px !important;
}

:global{
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) .ant-select-item-option-state{
        display: none !important;
    }

    .ant-select-item-option-selected:not(.ant-select-item-option-disabled){
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;

        color: #2C6DF9;
    }

    .ant-select-item-option-selected:not(.ant-select-item-option-disabled), .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
        background-color: #fff;
    }

    .ant-select-item{
        padding: 7px 12px;
    }
}