.additional {
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  color: #161c29;
  font-style: normal;
  background: #ffffff;
  border: 1px solid #d6dce0;

  border-radius: 5px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 24px;

    border-bottom: 1px solid #e2e4e8;

    &__title {
      font-weight: bold;
      font-size: 16px;
      line-height: 18.75px;
    }
  }

  .listAdministrator {
    padding: 0 24px;
    .addAdminBtn {
      display: flex;
      align-items: center;
      margin: 24px 0;
      cursor: pointer;

      .addBtn {
        margin-left: 11px;
        color: #2c6df9;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-decoration-line: underline;
      }

      &:hover {
        opacity: 0.9;
      }
    }
  }
}
