.root {
  margin-top: 20px;
  width: 504px;
  background-color: #f6f7f9;
  .inputField {
    width: 80px;
    height: 24px;
    background: #ffffff;
    border: 1px solid #d6dce0;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .nondata {
    height: 160px;
    align-items: center;
    text-align: center;
    padding: 50px;
  }
  .flex {
    display: flex;
    justify-content: space-between;
  }
}
