.EmailExistModal {
  :global {
    .ant-modal-body {
      padding: 0;
    }
    .ant-modal-close {
      display: none;
    }
    .ant-modal-content {
      border-radius: 10px;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    .successIcon {
      width: 100%;
    }
    .alert {
      font-weight: 700;
    }
    p {
      margin: 5px 0;
      line-height: 22px;
      text-align: center;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      .continueBtn {
        margin-right: 20px;
      }
    }

    :global {
      .ant-modal-body {
        border-radius: 10px;
      }
      .ant-btn {
        height: 40px;
        margin-top: 15px;
        padding: 0 30px;
        background-color: #ffa100;
        border: none;
        border-radius: 30px;
        span {
          color: white;
          font-weight: 700;
        }
        &:hover {
          background-color: #ffa100cc; // hex with alpha 0.8
        }
      }
    }
  }
}
