.QuickLinks {
  box-sizing: border-box;
  width: 100%;
  background: #ffffff;

  p {
    margin-right: 8px;
    margin-bottom: 5px;
    color: #2c6df9;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
  }
  .link {
    margin-right: 8px;
    margin-bottom: 5px;
    color: #2c6df9;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
  }
  .new {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 20px;
    color: #fff;
    font-size: 10px;
    background: #f04b37;
    border-radius: 5px;
  }
  .listQuestion {
    overflow-y: scroll;
  }
}
