@import '~antd/lib/style/themes/default.less';
.containerView {
  height: 100%;
  width: 100%;
}
.contentView {
  padding: 0 20px;
  text-align: center;
}
.textContent {
  text-align: justify;
  color: #000;
}
.img {
  width: 60%;
  height: auto;
  border: 1px solid #000;
  border-radius: 10px;
  margin-bottom: 10px;
}
.textLv1 {
  text-align: justify;
  color: #000;
  margin-left: 20px;
}
.textLv2 {
  text-align: justify;
  color: #000;
  margin-left: 40px;
}
