.CustomFieldsContent {
  width: 100%;
  padding: 40px;
  :global {
    .ant-btn-primary {
      height: 40px;
      object-fit: contain;
      color: #ffffff;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.13px;
      text-shadow: none;
      background-color: #ffa100;
      border: solid 1px #ffa100;
      border-radius: 25px;
      box-shadow: none;
      &:hover {
        color: #ffffff;
        background-color: #ffa100;
      }
    }
    .ant-modal-content {
      width: 739px;
    }
    .ant-btn-secondary {
      height: 21px;
      margin-left: 20px;
      padding: 0;
      background-color: transparent;
      border: none;
      box-shadow: none;
      span {
        color: #2c6df9;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: left;
      }
    }
  }
  .subTitle {
    color: #161c29;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
  }
  &_header {
    display: grid;
    grid-template-columns: 50% 50%;
    &_title {
      color: #161c29;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.3px;
      text-align: left;
    }
    &_buttons {
      display: flex;
      justify-content: flex-end;
      // position: absolute;
      // right: 0;
    }
  }
  &_form {
    display: grid;
    grid-template-columns: 25% 75%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: none;
    border-bottom: solid 1px #d6dce0;
  }
  .saveButton {
    display: flex;
    justify-content: flex-end;
  }
}
