.container {
  padding-top: 60px;
  height: 230px;
  padding: 24px;
  width: 100%;
  border-radius: 5px;
  background-color: #fafafa;
  .title {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #161c29;
    margin-left: 12px;
  }
  .subText {
    padding: 7px 14px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #707177;
  }
  .center {
    display: flex;
    justify-content: center;
    margin-top: 17px;
  }
  .btnUpload {
    width: 247px;
    height: 32px;
    background: #fafafa;
    border: 1px solid #2c6df9;
    box-sizing: border-box;
    border-radius: 25px;
    color: #2c6df9;
    &:disabled {
      opacity: 0.5;
    }
    &:hover,
    &:active,
    &:focus {
      background: #fafafa;
      border-radius: 25px;
      color: #2c6df9;
      border: 1px solid #2c6df9;
    }
  }
}
