.FieldName {
  height: 47px;
  padding: 15px;
  display: flex;
  align-items: baseline;
  border-bottom: solid 1px #d6dce0;
  p {
    font-size: 13px;
    line-height: 1.31;
    letter-spacing: 0.12px;
    text-align: left;
    color: #707177;
    margin-right: auto;
  }
  .buttons {
    width: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
