.benefitNote {
  box-sizing: border-box;
  width: 100%;

  padding: 32px;
  background-color: #fff;
  border: 1px solid #d6dce0;
  border-radius: 5px;

  .headerNote {
    display: flex;
    align-items: center;

    &__text {
      padding-left: 16px;

      color: #161c29;
      font-weight: 500;
      font-size: 14px;

      font-style: normal;
      line-height: 16px;
    }

    &__content,
    &__bottom {
      padding-top: 24px;
      color: #707177;
      font-weight: normal;
      font-size: 13px;

      font-style: normal;
      line-height: 23px;

      span {
        color: #ffa100;
        font-weight: bold;
      }
    }

    &__bottom {
      padding-top: 24px;
      font-weight: bold;
    }
  }
}
