.benefitNote{
    width: 100%;
    background-color: #fff;
    border: 1px solid #D6DCE0;
    box-sizing: border-box;
    border-radius: 5px;

    padding: 32px;

    .headerNote{
        display: flex;
        align-items: center;

        &__text {
            padding-left: 16px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;

            color: #161C29;
        }

        &__content, &__bottom{
            padding-top: 24px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 23px;
            color: #707177;

            span{
                color: #ffa100;
                font-weight: bold;
            }
        }

        &__bottom{
            font-weight: bold;
            padding-top: 24px;
        }
    }
}