@black: #161c29;
@border-color: #d6dce0;
@gray: #707177;

.customFieldContainer {
  .leftWrapper {
    font-family: 'Roboto', sans-serif;

    .content {
      background-color: white;
      border-radius: 5px;
      border: solid 1px @border-color;

      p {
        color: @gray;
        font-size: 13px;

        &.label {
          display: block;
          margin-bottom: 8px;
          text-transform: capitalize;
        }
      }

      //   label {
      //     display: block;
      //     margin-bottom: 8px;
      //   }

      .header,
      .body {
        padding: 32px;
      }

      .row {
        margin-bottom: 32px;
      }

      .header {
        border-bottom: solid 1px @border-color;

        h3 {
          font-size: 16px;
          font-weight: 700;
          color: @black;
          text-transform: capitalize;
        }

        p {
          margin-top: 8px;
        }
      }

      .body {
        textarea.additional {
          min-height: 173px !important;
          max-height: 280px !important;
        }
      }
    }
  }

  :global {
    .ant-select {
      width: 100%;
    }

    .ant-select-arrow {
      color: @black;
    }

    .ant-select-selector {
      border-radius: 5px !important;
      color: @black !important;
    }

    .ant-select {
      height: 42px !important;

      .ant-select-selector {
        height: 42px !important;

        .ant-select-selection-item {
          display: flex !important;
          align-items: center !important;
          color: @black !important;
        }

        .ant-select-selection-placeholder {
          display: flex !important;
          align-items: center !important;
        }
      }
    }
  }
}
