.performanceReview {
  margin-bottom: 24px;
  :global {
    .ant-card-bordered {
      border: 1px solid #d6dce0;
    }
    .ant-card-head {
      border-color: #d6dce0;
    }
    .ant-card-head-title {
      height: 67px;
      padding: 0 !important;
      font-weight: 700;
      line-height: 67px;
    }
  }
  .performanceReview_card {
    font-size: 13px;
    border-radius: 5px;
    .textLabel {
      color: #000000;
    }
    .textValue {
      color: #707177;
    }
    .performanceReview_indicator {
      .performanceReview_ratingNiceWoah {
        color: #00c598;
      }
      .performanceReview_ratingBuilding {
        color: #ffd768;
      }
      .performanceReview_ratingImprove {
        color: #ff6565;
      }
    }
  }
}
