.performanceReview {
  :global {
    .ant-card-bordered {
      border: 1px solid #d6dce0;
    }
    .ant-card-head {
      border-color: #d6dce0;
    }
    .ant-card-head-title {
      height: 67px;
      line-height: 67px;
      padding: 0 !important;
      font-weight: bold;
    }
  }
  .performanceReview_card {
    border-radius: 5px;
    font-size: 13px;
    .textValue {
      color: #707177;
    }
    .performanceReview_indicator {
      .performanceReview_rectangle {
        width: 70px;
        height: 7px;
        line-height: 7px;
        object-fit: contain;
        border-radius: 2px;
        background-color: #e5f5f1;
        margin: 0 2px;
      }
    }
  }
}
