@blueColor: @primary-color;
.ImageTable {
  // padding: 24px;
  span {
    line-height: 20px;
  }
  .blueText {
    color: @primary-color;
    font-weight: 500;
  }
  .actions {
    img {
      cursor: pointer;
    }
  }
}
