.LeaveTimeRow {
  border: 1px solid #d6dce4;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 8px 0;

  :global {
    .ant-col {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .ant-row,
    .ant-form-item {
      width: 100%;
    }
    .ant-form-item {
      margin-bottom: 0 !important;
    }
    .ant-select-selector,
    .ant-input {
      border-radius: 5px !important;
      min-height: 22px !important;
      font-size: 13px;
    }
    .ant-form-item-control-input {
      width: 100% !important;
    }
  }
}
