@import (css)
  url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@spacing-xxs: 4px;

.payrollSetting {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  min-height: 216px;
  position: relative;

  .payrollSettingHeader {
    object-fit: contain;
    margin-bottom: 24px;
  }

  .payrollSettingContainer {
    border: solid 0.5px #d6dce0;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 120px 8 * @spacing-xxs;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .lolipopIcon {
      width: 20%;
      margin-bottom: 40px;
      img {
        width: 100%;
      }
    }
    p {
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: 0.12px;
      text-align: center;
      color: #707177;
      padding: 0 100px;
    }
  }

  &__bottom {
    position: fixed;
    height: 72px;
    bottom: 0;
    width: inherit;
  }

  .bottomBar {
    border-radius: 5px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 2, 0.15);
    border: solid 1px #d6dce0;
    background-color: #ffffff;
    padding: 4 * @spacing-xxs;

    .normalText {
      display: flex;
      font-family: Roboto;
      font-size: 13px;
      font-style: italic;
      color: #707177;
    }

    .redText {
      font-family: Roboto;
      font-size: 13px;
      font-style: italic;
      color: #ff4949;
    }

    .greenText {
      font-family: Roboto;
      font-size: 13px;
      font-style: italic;
      color: #47c97f;
    }

    &__button {
      text-align: right;
      &__disabled {
        opacity: 0.3;
      }
      :global {
        .ant-btn-primary {
          box-shadow: none;
          text-shadow: none;
          // display: none;
          width: 94px;
          height: 40px;
          object-fit: contain;
          border-radius: 25px;
          border: solid 1px #ffa100;
          background-color: #ffa100;
          font-family: Roboto;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.13px;
          color: #ffffff;
          &:hover {
            background-color: #ffa100;
            color: #ffffff;
          }
        }
        .ant-btn-secondary {
          width: 94px;
          height: 40px;
          object-fit: contain;
          border-radius: 25px;
          border: solid 0;
          font-family: Roboto;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.13px;
          color: #ffa100;
          padding-right: 41px;
        }
      }
    }
  }
}
