.container {
  width: 100%;
  height: auto;
  background-color: white;
  padding: 20px;
  scroll-behavior: smooth;
}
.viewRight {
  max-width: 400px;
}
.containerMenu {
  width: 100%;
  height: 'auto';
}
.textMenu {
  font-size: 12px;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.itemMenu {
  color: #314659;
  border-left: 1px solid #ebedf0;
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
}
.itemMenuActive {
  color: #1890ff;
  border-left: 1px solid #1890ff;
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
}
.textTitle {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #3a354e;
  font-weight: 600;
  font-size: 24px;
  width: 100%;
  text-align: center;
}
