.EventCalendar {
  position: relative;
  padding-bottom: 10px;
  .day,
  .empty-slot,
  .week-day {
    text-align: center;
  }

  .week-day {
    font-size: 0.8em;
  }

  .day {
    cursor: pointer;
    // height: 24px;
    font-size: 12px;
    padding: 7px 0;
    span {
      padding: 6px;
    }
  }

  .current-day {
    span {
      // border: 1px solid black;
      border-radius: 50%;
      font-weight: bold;
      color: white;
      background-color: #2058d1;
    }
  }

  .month-popup {
    position: absolute;
    padding: 5px;
    background: white;
    border: 2px solid skyblue;
  }

  .month-popup div {
    padding: 0.3em;
  }

  .nav-month {
    position: absolute;
    top: 0.6em;
    font-size: 0.6em;
    right: 3px;
  }

  .editor-year {
    max-width: 3.6em;
  }

  .label-month,
  .label-year {
    font-size: 14px;
  }
  .label-year {
    font-weight: bold;
    padding-left: 5px;
  }

  .label-month {
    cursor: pointer;
  }

  .headerContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
    .changeMonthBtn {
      span {
        padding: 3px;
        color: #2058d1;
        font-weight: bold;
        font-size: 10px;
        cursor: pointer;
        &:hover {
          background-color: #2058d1;
          color: white;
          border-radius: 1px;
        }
      }
    }
  }
  table {
    width: 100% !important;
    tr {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  // marks
  .markEventBegin {
    position: relative;
  }
  .markEventBegin::before {
    content: '•';
    position: absolute;
    margin-left: 6px;
    margin-top: 8px;
    z-index: 1;
    font-size: 24px;
  }
  .markEventBegin::after {
    content: '';
    position: absolute;
    right: 0;
    width: 50%;
    bottom: 0;
    margin-bottom: -2px;
    border-bottom: 3px solid #d6dce0;
  }
  .markEventEnd {
    position: relative;
  }
  .markEventEnd::before {
    content: '•';
    position: absolute;
    right: 50%;
    // margin-right: 10px;
    margin-top: 8px;
    z-index: 1;
    font-size: 24px;
  }
  .markEventEnd::after {
    content: '';
    position: absolute;
    left: 0;
    width: 50%;
    bottom: 0;
    margin-bottom: -2px;
    border-bottom: 3px solid #d6dce0;
  }

  .lineClassName {
    border-bottom: 3px solid #d6dce0;
    bottom: 0;
  }

  // eventDetailContainer
  .eventDetailContainer {
    margin: 25px 0;
    position: relative;
    padding-top: 1px;
    .eventDetailPart {
      margin-top: 10px;
      .title {
        font-size: 14px;
        font-weight: bold;
        line-height: 3;
      }
    }
  }
  .eventDetailContainer::before {
    content: '';
    position: absolute;
    left: -30px;
    width: 150%;
    border-top: 1px solid #d6dce0;
  }
}
