@spacing-xxs: 4px;

.basicInformation {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  min-height: 216px;
  position: relative;

  .bottomBar {
    // position: fixed;
    // bottom: 0;
    // width: inherit;
    // height: 72px;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 2, 0.15);
    border: solid 1px #d6dce0;
    background-color: #ffffff;
    padding: 4 * @spacing-xxs;

    .normalText {
      display: flex;
      font-family: 'Roboto';
      font-size: 13px;
      font-style: italic;
      color: #707177;
    }

    .redText {
      font-family: 'Roboto';
      font-size: 13px;
      font-style: italic;
      color: #ff4949;
    }

    .greenText {
      font-family: 'Roboto';
      font-size: 13px;
      font-style: italic;
      color: #47c97f;
    }

    &__button {
      text-align: right;

      &__disabled {
        opacity: 0.3;
      }

      :global {
        .ant-btn-primary {
          box-shadow: none;
          text-shadow: none;
          // display: none;
          width: 94px;
          height: 40px;
          object-fit: contain;
          border-radius: 25px;
          border: solid 1px #ffa100;
          background-color: #ffa100;
          font-family: 'Roboto';
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.13px;
          color: #ffffff;

          &:hover {
            background-color: #ffa100;
            color: #ffffff;
          }
        }

        .ant-btn-secondary {
          width: 94px;
          height: 40px;
          object-fit: contain;
          border-radius: 25px;
          border: solid 0;
          font-family: 'Roboto';
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.13px;
          color: #ffa100;
          padding-right: 41px;
        }
      }
    }
  }

  &__bottom {
    position: fixed;
    height: 72px;
    bottom: 0;
    width: inherit;
  }

  &__top {
    object-fit: contain;
    border-radius: 2.5px;
    border: solid 0.5px #d6dce0;
    background-color: #ffffff;
    // margin-bottom: 50px;

    hr {
      width: 100%;
      height: 0.5px;
      object-fit: contain;
      border-top: solid 0.5px #d6dce0;
      border-bottom: none;
    }
  }

  .basicInformation__form {
    padding: 8 * @spacing-xxs;

    width: 100%;

    :global {
      .ant-form-item-has-success {
        .ant-input {
          border: solid 1px #47c97f;
        }
      }

      .ant-form-item-label {
        padding-bottom: 0;

        label {
          color: #707177;
          font-size: 13px;
        }
      }
    }

    .formInput__email {
      position: relative;

      .formInput__domain {
        position: absolute;
        right: 4 * @spacing-xxs;
        top: 10px;
        z-index: 1000;
        color: #707177;
      }
    }

    .formInput {
      font-family: 'Roboto', sans-serif;
      height: 42px;
      object-fit: contain;
      border-radius: 8px;
      //   border: solid 0.5px #d6dce4;
      background-color: #ffffff;
    }
  }

  :global {
    .ant-input {
      box-shadow: none !important;
    }
  }
}

.RightComponents {
  width: 322px;

  .stepRow {
    width: 100%;
  }
}

.viewLoading {
  margin: 0 auto;
  height: 500px;
  width: 300px;
}
