.title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #161C29;
}
.conductExit {
  margin-bottom: 24px;
  // padding: 24px;
  border: 1px solid #d6dce0;
  background-color: #fff;
  border-radius: 5px;  

  :global{
    .ant-tooltip-inner{
      border-radius: 4px !important;
      font-family: Roboto !important;
      font-style: normal !important;
      font-weight: 500 !important;
      font-size: 8px !important;
      line-height: 9px !important;
    }
  }

  &__title {
    .title;
    padding: 24px;
    border-bottom: 1px solid #E2E4E8;
  }

  &__header{
    padding: 24px;

    .paragraph {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #707177;
    }

    &__action {
      margin-top: 2em; // 1em = 16px
      // display: flex;
      // align-items: center;
      // justify-content: space-between;
      .template {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 210px;
        background: #FFFFFF;
        padding: 16px;
        border-radius: 8px;
        border: 1px solid #D6DCE0;
        &__content {
          display: flex;
        }
        span {
          margin-left: 10px;
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 15px;
          color: #707177;
        }
      }
    }
  
  }

  .btn {
    color: #fff;
    background-color: #FFA100;;
  }

  .buttonAction{

    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    :global{

      .ant-btn{
        padding: 12px 31px;
        height: 40px;
        display: flex;
        align-items: center;
      }

    }

    .btnSchedule {
      .btn;
      border-radius: 25px;
      // width: 220px;
      // height: 42px;
      &:hover,
      &:focus {
        .btn;
      }
    }
  }


  &__bottom {
   
    padding: 24px;
    border-top: 1px solid #E2E4E8;

    &__header{
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // margin-bottom: 16px;
    padding-bottom: 18px
    }

    &__title {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #161C29;
    }
    &__action {
      display: flex;
      justify-content: space-between;
      img {
        cursor: pointer;
      }

      .tooltip {
        border-radius: 4px !important;
        font-family: Roboto !important;
        font-style: normal !important;
        font-weight: 500 !important;
        font-size: 8px !important;
        line-height: 9px !important;
      }
    }
    
    &__schedule {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #2C6DF9;
    }
  }

  .tooltip {
    border-radius: 4px !important;
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 8px !important;
    line-height: 9px !important;
  }
}
