.Certification {
  // margin-bottom: 24px;
  :global {
    .ant-form-item-label label {
      height: 0;
      color: #707177;
      font-size: 12px;
    }
    .ant-checkbox-wrapper {
      span {
        font-size: 14px;
      }
    }
    .ant-divider {
      margin-top: 5px;
      margin-bottom: 17px;
    }
  }
  .titleBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
    .title {
      font-weight: 500;
      font-size: 13px;
    }
    .deleteIcon {
      color: #2c6df9;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
