.Authorization {
  font-family: 'Roboto';
  height: 88px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.22);
  background-color: #ffffff;
  padding: 33px 40px;
  position: relative;
  display: flex;
  align-items: center;
  &_title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    text-align: left;
    color: #161c29;
  }
  &_author {
    margin-left: 30px;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    color: #161c29;
  }
  a {
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    color: #2c6df9;
    right: 40px;
    position: absolute;
  }
}
