.PaySlipMonth {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  .nameMonth {
    height: 15px;
    margin-bottom: 0;
    color: #000000;
    font-weight: normal;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  .downLoad {
    display: flex;
    flex-flow: row;
  }
  .downLoadText {
    height: 16px;
    margin-right: 24px;
    margin-bottom: 0;
    color: @primary-color;
    font-weight: 500;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.12px;
    cursor: pointer;
  }
  .downLoadIcon > svg {
    width: 16px;
    height: 16px;
  }
}
.PaySlipMonth:last-child {
  margin-bottom: 0;
}

.textPaySlips {
  color: grey;
  font-weight: normal;
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
