.FeedbackBar {
  border: 1px solid rgba(0, 0, 0, 0);
  margin-top: -25px;
  border-radius: 0 0 5px 5px;
  width: 100%;
  background-color: white;
  padding: 13px 24px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .leftPart {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .heartIcon {
        margin-right: 10px;
      }
      .title {
        color: #707177;
        font-weight: bold;
      }
      .doneTitle {
        font-weight: bold;
        color: #161c29;
        span {
          margin-left: 10px;
          color: #707177;
          font-weight: normal;
        }
      }
      .failedTitle {
        font-weight: bold;
        color: #161c29;
        span {
          margin-left: 10px;
          color: #2c6df9;
          font-weight: bold;
          text-decoration: underline;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }
        }
      }
      .likeButton {
        margin-left: 10px;
        border: 1px solid #e2e3e8;
        border-radius: 16px;
        padding: 3px 8px;
        cursor: pointer;
        &:hover {
          transition: 0.1s;
          border-color: #ffa100;
          span {
            transition: 0.1s;
            color: #ffa100;
          }
        }
        span {
          color: #b3b4b9;
        }
        .text {
          margin-left: 5px;
          color: black;
          font-weight: bold !important;
        }
      }
    }

    .rightPart {
      span {
        background: rgba(44, 109, 249, 0.08);
        border-radius: 30px;
        padding: 6px;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
