@orange: #ffa100;
@blue: #2c6df9;

.AddProjectModal {
  padding: 25px;
  height: fit-content;
  // min-width: ;

  .add {
    display: block;
    margin: 0 auto;
  }

  h3 {
    font-weight: 500;
    margin-bottom: 8px;
  }

  button {
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
    color: @blue;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    background: transparent;

    &.primary {
      margin: 0 auto;
      border-radius: 25px;
      background-color: @orange;
      height: fit-content;
      padding: 10px 25px;

      color: white;
    }
  }
}
