.AddCommentModalContent {
  padding: @padding-lg;
  :global {
    .ant-form-item {
      margin-bottom: 16px;
    }
    .ant-form-item-label {
      label {
        color: #707177;
        font-size: 13px;
      }
    }

    .ant-input-affix-wrapper {
      .ant-input-prefix {
        margin-right: 9px;
      }
      .ant-input {
        height: unset !important;
      }
      border: none !important;
    }
    // INPUT + DATE PICKER
    .ant-input,
    .ant-input-number,
    .ant-picker {
      width: 100%;
      height: 42px !important;
      border: 1px solid #d6dce4 !important;
      border-radius: 5px !important;
    }
    .ant-input-number,
    .ant-input {
      font-size: 13px;
    }

    .ant-input-number-input-wrap {
      input {
        height: 40px !important;
      }
    }
  }
}
