.ant-select-arrow {
  top: 40%;
  color: #161c29;
}

.select > img {
  width: 15px;
  height: 15px;
}

.ant-checkbox-wrapper,
.ant-radio-wrapper {
  span:nth-child(1) {
    margin-right: 8px;
  }
}

.ant-select-selection-search {
  input.ant-select-selection-search-input {
    display: none;
  }
}

.ant-select-selector .ant-select-selection-search {
  display: none;
}
