// .ant-radio-group.ant-radio-group-outline {
//   display: none;
// }

// span.ant-select-arrow {
//   display: none;
// }

.ant-select-arrow {
  //   display: none;
  top: 34%;
  color: #161c29;
}

// .ant-select.ant-select-selector {
//   border-color: #161c29 !important;
//   display: none;
// }

// .ant-radio-group
//   .ant-select
//   .ant-select-single:not(.ant-select-customize-input).ant-select-selector {
//   //   border-color: #161c29;
//   display: none;
// }

.select > img {
  width: 15px;
  height: 15px;
}
