.AnswerModal {
  :global {
    .ant-modal-header {
      padding: 24px;
      border-top-left-radius: 8px;
    }
    .ant-modal-content {
      border-top-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    .ant-form-item {
      margin-bottom: 12px;
    }
    .ant-modal-footer {
      padding: 13px 24px;
    }
    .ant-modal-close-x {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 54px;
      height: 48px;
      color: #fff;
      background-color: #2c6df9;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      &:active {
        opacity: 0.5;
      }
    }

    .ant-checkbox + span {
      padding: 0 24px;
    }
  }
  .container {
    display: flex;
    flex-direction: column;

    .title {
      padding: 10px 20px 0 20px;
      color: #2c6df9;
      font-weight: 700;
      font-size: 16px;
    }

    .formContainer {
      max-height: 400px;
      padding: 20px 30px 0 20px;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 20px;
      border-top: 1px solid rgb(219, 219, 219);
    }

    :global {
      .ant-btn {
        width: 108px;
        height: 40px;
        margin-top: 15px;
        background-color: #ffa100;
        border: none;
        border-radius: 30px;
        span {
          color: white;
          font-weight: 700;
        }
        &:hover {
          background-color: #ffa100cc; // hex with alpha 0.8
        }
      }
    }
  }
}
