.CustomEmailsTableField {
  box-sizing: border-box;
  // position: absolute;
  width: 100%;
  background-color: #fff;
  border: 1px solid #d6dce0;
  border-radius: 5px;
  &_title {
    display: flex;
    align-items: center;
    padding: 18px 20px;
    border-bottom: 1px solid #d6dce0;

    .title {
      // line-height: 1.14;
      color: @primary-color;
      font-weight: 700;
      font-size: 14px;
      font-style: normal;
    }
  }

  &_table {
    width: 100%;
    padding: 24px;
  }

  &_loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      font-weight: 500;
    }
  }

  .trashIcon {
    cursor: pointer;
  }

  .fileName {
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      margin-right: 10px;
    }
    span {
      color: @primary-color;
      font-weight: 700;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    img {
      margin-left: 10px;
      cursor: pointer;
    }
  }
  :global {
    .ant-table-wrapper {
      // overflow: hidden;
      /* Hide scrollbar for Chrome, Safari and Opera */
    }
    .ant-table-body {
      height: 300px;
      overflow-x: auto !important;
      color: #000000;
    }

    .ant-table-tbody {
      height: 100%;
      overflow: scroll;
    }
    .ant-table-thead {
      height: 35px;
      border-radius: 4px;
      .ant-table-cell {
        padding: 8px !important;
      }
    }
    .ant-table-thead > tr > th {
      font-weight: 500;
      font-size: 13px;
      background: @primary-color;
    }

    .ant-table-tbody > tr > td {
      color: #707177;
    }

    .ant-table-pagination.ant-pagination {
      margin: 24px 28px !important;
    }
    // tabs
    .ant-tabs-tab {
      text-transform: capitalize;

      .ant-tabs-tab-btn {
        font-weight: 700;
        font-size: 14px;
      }
    }
    .ant-tabs-nav-wrap {
      height: 56px;
    }
  }
  .emptyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 60px 80px;
    .emptyImage {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
    }
    .texts {
      margin-top: 30px;
      span {
        display: block;
        text-align: center;
      }
      .bigText {
        margin-bottom: 10px;
        color: #161c29;
        font-weight: 700;
        font-size: 16px;
        line-height: 29px;
      }
      .smallText {
        color: #707177;
        font-size: 13px;
        line-height: 19px;
      }
    }
  }
}
