.SignUpLayout2 {
  .header {
    background-color: white;
    .logo {
      font-weight: 700;
    }
  }
  @media only screen and (min-width: 0px) {
    .content {
      padding: 20px;
    }
  }
  @media only screen and (min-width: 600px) {
    .content {
      padding: 88px;
    }
  }
  .content {
    background: #f7f9fd;
    width: 100%;
    // .leftContent {
    //   padding: 20px;
    // }
    .rightImage {
      width: 100%;
      display: flex;
      justify-content: center;
      overflow: hidden;
      //   padding-top: 55px;
      img {
        width: 100%;
        // margin-right: -100px;
      }
    }
  }
}
