@blueColor: #2c6df9;
.ResourcesCard {
  :global {
    .ant-table-tbody > tr.ant-table-row-level-0:hover > td {
      background: unset;
    }
  }
  .tableContainer {
    padding: 0 24px 24px;
  }
  .options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
