@blueColor: #2c6df9;
.ResourcesCard {
  .tableContainer {
    padding: 0 24px 24px;
  }
  .options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
