@blueColor: #2c6df9;
.ResourcesCard {
  :global {
    .ant-table-tbody > tr.ant-table-row-level-0:hover > td {
      background: unset;
    }

    .ant-picker {
      width: 100%;
      min-height: 30px !important;
      font-size: 13px;
      border-radius: 5px;
    }
    .ant-picker-input {
      input {
        font-size: 13px;
      }
    }
  }
  .tableContainer {
    padding: 0 24px 24px;
  }
  .options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      cursor: pointer;
    }
  }
  .nameContainer {
    span {
      display: block;
      text-align: left;
    }
    .name {
      color: #2c6df9;
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
    }
    .userId {
      color: #2c6df9;
      font-weight: 500;
      font-size: 10px;
      line-height: 20px;
    }
  }
  .timeTitle {
    span {
      display: block;
      text-align: center;
    }
    .smallText {
      font-size: 9px;
    }
  }
}
