.CustomFields {
  background-color: #ffffff;
  min-height: 100vh;
  padding-bottom: 15px;
  .CustomFieldsTop {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 215px;
    background-color: #f6f7f9;
  }
  .contentLeft {
    padding-left: 40px;
  }
  .contentLeftTitle {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    color: #161c29;
  }
  .contentLeftText {
    margin-top: 16px;
    margin-bottom: 20px;
    font-size: 13px;
    text-align: left;
    color: #707177;
  }
  .buttonAddNewSection {
    width: 176px;
    height: 40px;
    font-size: 14px;
    color: #ffffff;
    border-radius: 25px;
    border: solid 1px #ffa100;
    background-color: #ffa100;
  }
  .buttonAddNewField {
    width: 157px;
    height: 40px;
    margin-left: 20px;
    font-size: 14px;
    color: #ffffff;
    border-radius: 25px;
    border: solid 1px #ffa100;
    background-color: #ffa100;
  }
  .imgContentRight {
    margin-top: 40px;
    margin-right: 45px;
  }
  .CustomFieldsBot {
    width: 872px;
    margin-left: 50px;
    :global {
      th.ant-table-cell {
        background: #ffffff !important;
        color: #161c29;
      }
      .ant-table-thead > tr > th {
        border-top: 1px solid #d6dce0;
        border-bottom: 1px solid #d6dce0;
      }
      .ant-table-thead > tr:first-child > th:first-child {
        border-bottom-left-radius: 0;
        border-left: 1px solid #d6dce0;
        padding-left: 16px;
      }

      .ant-table-thead > tr:first-child > th:nth-last-of-type(2) {
        padding-left: 20px;
      }
      .ant-table-thead > tr:first-child > th:last-child {
        border-bottom-right-radius: 0;
        border-right: 1px solid #d6dce0;
      }
      .ant-table-tbody > tr > td:first-child {
        border-left: solid 1px #d6dce0;
        // text-align: center;
      }
      .ant-table-tbody > tr > td {
        border-left: solid 1px #d6dce0;
      }
      .ant-table-tbody > tr:nth-last-of-type(2) > td:first-child {
        border-bottom-left-radius: 5px;
        border-left: solid 1px #d6dce0;
        // text-align: center;
      }
      .ant-table-tbody > tr:first-child > td:last-child {
        border-right: solid 1px #d6dce0;
      }
      .ant-table-tbody > tr > td:last-child {
        border-right: solid 1px #d6dce0;
        border-left: none;
      }
      .ant-table-tbody > tr:last-child > td:last-child {
        border-bottom-right-radius: 5px;
        border-right: solid 1px #d6dce0;
      }
      .ant-table-tbody > tr > td:nth-last-of-type(2) {
        padding-left: 16px;
      }
      .ant-table-tbody > tr > td:nth-last-of-type(2) {
        padding-left: 16px;
      }
    }
  }
  .CustomFieldsBotBackGround {
    padding-top: 50px;
    z-index: 1;
  }
  .CustomFieldsBotTitle {
    margin-left: 50px;
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 500;
    color: #161c29;
  }
  .actionIcon {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .iconTrash {
    margin-right: 16px;
  }
}

.loadingCustom {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}
