.ResourcesManagement {
  .options {
    display: flex;
    flex-wrap: wrap;
    gap: @padding-md;
    align-items: center;
    justify-content: flex-end;
    padding-inline: 24px;
  }
  :global {
    .ant-tabs-content-holder {
      padding: @padding-lg;
    }
  }
}
