@black: #161c29;
@gray: #707177;
@spacing-xxs: 4px;

.additionalQuestion {
  font-family: 'Roboto', sans-serif;
  .left > * {
    margin: 0;
    padding: 0;
  }

  .left {
    object-fit: contain;
    border-radius: 2.5px;
    border: solid 0.5px #d6dce0;
    background-color: #ffffff;

    header {
      padding: 32px;
      border-bottom: solid 0.5px #d6dce0;

      h1 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 8px;
        color: @black;
      }

      p {
        font-size: 13px;
        margin-bottom: 0;
        color: @gray;
      }
    }

    .mainContent {
      padding: 32px;

      .form {
        label {
          color: @gray;
          font-size: 13px;
        }

        .column {
          padding-right: 24px;
        }

        input {
          max-width: 270px !important;
        }
      }
    }
  }
  .bottomBar {
    // position: fixed;
    // bottom: 0;
    // width: inherit;
    // height: 72px;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 2, 0.15);
    border: solid 1px #d6dce0;
    background-color: #ffffff;
    padding: 4 * @spacing-xxs;

    .normalText {
      display: flex;
      font-family: 'Roboto';
      font-size: 13px;
      font-style: italic;
      color: #707177;
    }

    .redText {
      font-family: 'Roboto';
      font-size: 13px;
      font-style: italic;
      color: #ff4949;
    }

    .greenText {
      font-family: 'Roboto';
      font-size: 13px;
      font-style: italic;
      color: #47c97f;
    }

    &__button {
      text-align: right;
      display: flex;
      justify-content: space-between;
      &__disabled {
        opacity: 0.3;
      }
      :global {
        .ant-btn-primary {
          box-shadow: none;
          text-shadow: none;
          // display: none;
          width: 94px;
          height: 40px;
          object-fit: contain;
          border-radius: 25px;
          border: solid 1px #ffa100;
          background-color: #ffa100;
          font-family: 'Roboto';
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.13px;
          color: #ffffff;
          &:hover {
            background-color: #ffa100;
            color: #ffffff;
          }
        }
        .ant-btn-secondary {
          width: 94px;
          height: 40px;
          object-fit: contain;
          border-radius: 25px;
          border: solid 0;
          font-family: 'Roboto';
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.13px;
          color: #ffa100;
          padding-right: 41px;
        }
      }
    }
  }

  :global {
    .ant-input {
      height: 42px;
      object-fit: contain;
      border-radius: 8px;
      background-color: #ffffff;
    }

    .ant-form-item-label {
      color: @gray;
      font-size: 13px;
    }
    .ant-select {
      max-width: 270px !important;
    }
  }
}
