.root {
  font-weight: 500;
  font-style: normal;

  .previewTitle {
    margin-bottom: 24px;
    color: #161c29;
    font-size: 16px;
    line-height: 19px;
  }

  .previewAccrual {
    margin: 0 !important;
    padding: 10px 24px;
    color: #fff;
    background-color: #2c6df9;
    border-radius: 4px;

    &__col {
      padding: 0px !important;
      font-size: 13px;
      line-height: 15px;
    }
  }

  .item {
    border-bottom: 1px solid #d6dce0;
  }
}
