.ReviewResourceTable {
  width: 100%;
  min-height: 300px;
  :global {
    .ant-picker {
      width: 100%;
      min-height: 30px !important;
      font-size: 13px;
      border-radius: 5px;
    }
    .ant-picker-input {
      input {
        font-size: 13px;
      }
    }
  }
}
