.NextStep {
  border: 1px solid #ebeff2;
  border-radius: 5px;
  width: 100%;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  .abovePart {
    display: flex;
    flex-direction: column;
    span {
      margin-bottom: 10px;
    }
    .title {
      font-weight: bold;
      color: #464646;
    }
  }
  .stepBoxes {
    display: flex;
    justify-content: space-between;
    .divider {
      border-right: 1px solid #e8e8e8;
    }
    .eachBox {
      display: flex;
      justify-content: flex-start;
      padding: 10px;
      flex: 4/7;
      &:nth-of-type(1) {
        flex: 3/7;
      }
      .indexNumber {
        span {
          background: black;
          border-radius: 50%;
          height: 25px;
          width: 25px;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
        }
      }
      .content1,
      .content2 {
        padding-left: 10px;
        font-size: 13px;
      }
    }
  }

  .submitDocuments {
    margin: 20px 0;
    .abovePart {
      .title {
        font-weight: bold;
        color: #464646;
      }
    }
    .documentsRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .document:last-child {
        margin-right: 0;
      }
      .document {
        margin-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #ebeff2;
        border-radius: 5px;
        width: 100%;
        padding: 10px 20px;
        &:hover {
          cursor: pointer;
          border: 1px solid rgb(45, 120, 247);
          transition: 0.3s;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
        }
        .left {
          display: flex;
          align-items: center;
          .fileName {
            margin-left: 10px;
            font-size: 13px;
          }
        }
      }
    }
  }
}
