.NextStep {
  border: 1px solid #ebeff2;
  border-radius: 5px;
  width: 100%;
  background-color: white;
  margin-bottom: 20px;

  .aboveContainer {
    padding: 20px;
    .abovePart {
      display: flex;
      flex-direction: column;
      span {
        margin-bottom: 10px;
      }
      .title {
        font-weight: 700;
        // color: #464646;
        font-size: 16px;
      }
    }
    .stepBoxes {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      .divider {
        border-right: 2px solid #D6DCE0;
        margin: 0 68px;
      }
      .eachBox {
        display: flex;
        justify-content: flex-start;
        flex: 4/7;
        &:nth-of-type(1) {
          flex: 3/7;
        }
        .indexNumber {
          span {
            background: #2C6DF9;
            border-radius: 50%;
            height: 44px;
            width: 44px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
          }
        }
        .content1,
        .content2 {
          padding-left: 10px;
          font-size: 13px;
          p {
            margin-bottom: 0;
            color: #464646;
          }
        }
        .content2 {
          .scheduleTime {
            margin-top: 10px;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 19px;
            color: #2C6DF9;
          }
        }
      }
    }
  }

  
}

.mailExit{

  background: #FFFFFF;
  border: 1px solid #D6DCE0;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 24px;

  .titleBelow {
    padding: 24px;
    border-bottom: 1px solid #E2E4E8;
    .title {
      font-weight: 700;
      color: #464646;
    }
  }

  .belowContainer {
    padding: 24px;
    
    .submitDocuments {
      // margin: 10px 0;
      
      .loadingSpin {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
      }

      .submitFiles {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .submittedTime {
          font-size: 13px;
          color: #afafaf;
        }
        .submitButton {
          font-weight: 700;
          color: #2c6df9;
          text-decoration: underline;
          cursor: pointer;
          transition: all .3s ease-in-out;
          &:hover {
            opacity: 0.5;
          }
        }
        .disableButton {
          opacity: 0.5;
          cursor: default;
        }
      }
    }
  }
}