.GeneralInfo {
  .backgroundTitle {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    height: 45px;
    background-color: #e9f0ff;
  }
  .GenTitle {
    height: 24px;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #2c6df9;
  }
  .titleDetail {
    height: 22px;
    margin: 20px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #2c6df9;
  }
  .TextDetail {
    height: 22px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #2c6df9;
  }
  .GenLink {
    height: 22px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #408bf9;
    text-decoration: underline;
  }
  .Genspage {
    margin-top: 25px;
  }
  .GenLine {
    opacity: 0.26;
    border: solid 1px #707070;
  }
}
