.containerView {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.textContent {
  text-align: justify;
  color: rgba(0, 0, 0, 0.65);
}
.video {
  position: absolute;
  left: 10%;
  width: 80%;
  height: 80%;
  border: 1px solid #ebedf0;
}
