.layoutCompanyDetail {
  display: flex;
  flex-direction: row;
  background-color: #f6f7f9;
  min-height: 90vh;
  .viewLeft {
    width: 250px;
    height: auto;
    &__menu {
      box-shadow: 0 0 2px 0 rgba(0, 0, 2, 0.15);
      padding: 24px 0 24px 20px;
      background-color: #ffffff;
      div:last-child {
        border-bottom: none;
        // margin-bottom: 50px;
      }
    }
  }
  .viewRight {
    width: 100%;
    padding: 25px;
    &__infoCompany {
      width: 100%;
      height: auto;
      background-color: #fff;
      border-radius: 5px;
      border: solid 1px #d6dce0;
      overflow: hidden;
      .infoCompany {
        &__imgCover {
          height: 103px;
          width: 100%;
          object-fit: cover;
          position: relative;
        }
        &__imgAvt {
          border: solid 1px #d6dce0;
          background-color: #ffffff;
          position: absolute;
          left: 0;
          right: 0;
          top: 54px;
          margin: auto;
          width: 96px;
          height: 96px;
          border-radius: 50%;
          object-fit: cover;
          &__upload {
            position: absolute;
            cursor: pointer;
            right: -65px;
            margin: auto;
            left: 0;
            top: 120px;
            // &:active,
            // &:hover {
            //   opacity: 0.5;
            // }
          }
        }
        &__textNameAndTitle {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-top: 60px;
          &__name {
            font-size: 16px;
            font-weight: 500;
            color: #161c29;
            margin: 0;
          }
          &__title {
            opacity: 0.5;
            font-size: 12px;
            color: #161c29;
            margin: 0;
          }
        }
        &__viewBottom {
          padding: 7.5px 16px;
          &__row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
          .titleTag {
            font-size: 12px;
            font-weight: 500;
            color: #161c29;
          }
          &__description {
            opacity: 0.5;
            font-size: 12px;
            line-height: 1.5;
            color: #161c29;
            text-align: justify;
            margin: 0;
          }
          :global {
            .ant-divider-horizontal {
              margin: 16px 0;
            }
            .ant-tag {
              border: none;
              border-radius: 5px;
              margin-bottom: 10px;
              font-weight: 500;
            }
          }
        }
      }
    }
    .viewBtnAction {
      margin: 52px 0 10px 0;
      padding: 0 16px;
      width: 100%;
      .btnAction {
        height: 40px;
        width: 100%;
        border-radius: 5px;
        border: none;
        background-color: rgba(86, 138, 250, 0.07);
        &__text {
          font-size: 14px;
          font-weight: 500;
          color: #2c6df9;
        }
      }
    }
    .viewLoading {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
    }
  }
}

.itemDropdownMenu {
  color: #8a8d93;
  font-size: 14px;
  &:hover {
    color: #2c6df9;
  }
}

.formEditBio {
  padding: 24px;
  &__title {
    text-align: center;
    color: #161c29;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 24px;
  }
  &__description1 {
    text-align: center;
    color: #707177;
    font-size: 13px;
    line-height: 1.38;
    margin-bottom: 24px;
  }

  &__description2 {
    margin-top: 8px;
    color: #707177;
    font-style: italic;
    line-height: 1.38;
  }

  .viewBtnSave {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    .btnSave {
      font-size: 14px;
      width: 80px;
      height: 40px;
      font-weight: 500;
      border-radius: 30px;
      color: #fff;
      background-color: #ffa100;
      border: none;
      &:disabled {
        opacity: 0.5;
      }
    }
  }
  :global {
    textarea.ant-input {
      padding: 16px;
      border-radius: 8px;
      font-size: 13px;
      color: #000;
    }
    .ant-avatar > img {
      object-fit: contain;
    }
  }
}
