.FieldsComponent {
  padding: 32px;

  .Input {
    width: 100%;
    border-radius: 5px;
    border: solid 1px #d6dce4;
    background-color: #ffffff;
    margin-top: 8px;
    margin-bottom: 32px;
  }
}
