.FieldsComponent {
  padding: 24px 32px 32px;

  .Input {
    width: 100%;
    height: 42px;
    margin-top: 8px;
    margin-bottom: 32px;
    padding: 0 11px;
    background-color: #ffffff;
    border: solid 1px #d6dce4;
    border-radius: 5px;
  }
}
