.root {
  padding: 24px;
  .textLabel {
    color: #000000;
    font-size: 13px;
  }
  .textValue {
    color: #707177;
    font-size: 13px;
  }

  .iconQuestTion {
    margin-top: 2px;
    margin-left: 9px;
  }
  .iconBox {
    // border-radius: 4px;
    // background-color: #f6f7f9;
    // background-color: red;
    display: flex;
    justify-content: flex-end;
  }
  .iconRadio {
    display: flex;
    background-color: #f6f7f9;
    border-radius: 4px;
    :global {
      .ant-radio-button-wrapper {
        display: flex;
        align-items: center;
        color: #cdd2e6;
        background-color: #f6f7f9;
        border-color: #e4edff;
      }
      .ant-radio-button-wrapper-checked {
        color: #2c6df9;
        background: #e4edff;
        border-color: #e4edff;
        border-right-color: unset;
        border-radius: 4px;
      }
      .ant-radio-button-wrapper {
        border: unset;
      }
      .ant-radio-button-wrapper::before {
        background: unset;
      }
      .ant-radio-button-wrapper-checked:hover::before {
        background-color: unset;
      }
      .ant-radio-button-wrapper-checked::before {
        background-color: unset;
      }
      .ant-radio-button-wrapper-checked:focus-within {
        box-shadow: unset;
      }
      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
        z-index: 0 !important;
      }
    }
  }
}
.GenPITooltip {
  :global {
    .ant-tooltip-content {
      border-radius: 5px;
    }
    .ant-tooltip-inner {
      color: #ffffff;
      font-weight: 500;
      font-size: 12px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
    }
  }
}
