.FirstChangePassword {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 34px 24px 24px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    .title {
      display: inline-block;
      font-weight: 500;
      font-size: 16px;
    }
    .icon {
      margin-top: 9px;
      color: #707177;
      font-size: 17px;
      cursor: pointer;
    }
  }
  .changePassword__form {
    display: block;
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    padding: 24px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 rgb(214, 220, 229);
    .container {
      width: 100%;
      .titleAndDescription {
        padding-bottom: 6px;
        .description {
          color: #707177;
          font-size: 13px;
        }
      }
      .passwordContainer {
        :global {
          .ant-input-password,
          .ant-input-affix-wrapper {
            width: 100%;
            height: 42px !important;
            background-color: #ffffff;
            border: solid 1px #d6dce4;
            border-radius: 5px;
          }

          .ant-form-item-label label {
            margin-bottom: 5px;
            color: #707177 !important;
            font-weight: 500;
            font-size: 13px;
          }
          .ant-form-item-explain {
            margin: 10px 0;
            font-size: 12px;
          }

          .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled).ant-input-affix-wrapper-focused, .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled).ant-input-affix-wrapper:focus, .ant-form-item-has-error :not(.ant-input-disabled).ant-input-focused, .ant-form-item-has-error :not(.ant-input-disabled).ant-input:focus{
            box-shadow: none !important;
          }
        }
      }
    }
  }
  .changePasswordButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
    :global {
      .ant-btn-primary {
        height: 40px;
        color: white;
        font-weight: 600;
        font-size: 14px;
        text-shadow: none;
        background-color: #ffa100;
        border: none;
        border-radius: 30px;
        box-shadow: none;
        padding-inline: 40px;
      }
    }
  }
}
