@border-color: #d6dce0;
@orange: #fe5d27;
@new-background: #fff4f1;
@border-color: #d6dce0;
@checkbox-background: #e7eaee;
@checkbox-border: #707177;
@gray: #707177;
@red: #ff5252;
@blue: #2c6df9;

.mixin-border-bottom-row {
  border-bottom: solid 1px #d6dce0;
}

.TaskTable {
  // max-height: 350px;
  padding: 24px;
  overflow-y: auto;
  background-color: #ffffff;
  .boldText {
    font-weight: 500;
  }
}
