.FilterButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #ffa100;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  margin-inline: 16px;
  img {
    margin-right: 6px;
  }
}
