.projectHistory {
  :global {
    .ant-card-bordered {
      border: 1px solid @border-color-base;
    }
    .ant-card-head {
      border-color: @border-color-base;
    }
    .ant-card-head-title {
      height: 67px;
      padding: 0 !important;
      font-weight: 700;
      line-height: 67px;
    }
    .ant-card-extra {
      padding-right: 8px;
    }
  }
  .projectHistory_card {
    font-size: 13px;
    border-radius: 5px;
    .textValue {
      color: #707177;
    }
    .extraCard {
      .extraCard_search {
        width: 220px;
        margin-left: 16px;
        background-color: #ffffff;
        border: solid 1px #d6dce4;
        border-radius: 6px;
        :global {
          .ant-input-search-icon::before {
            display: none;
          }
          .ant-input-suffix {
            font-size: 20px;
          }

          .ant-input {
            height: 42px;
            border: none;
          }

          .ant-btn {
            height: 42px;
            border: none;
          }
        }
      }
      .extraCard_searchDisabled {
        opacity: 0.5;
      }
      :global {
        .ant-input-affix-wrapper-focused {
          box-shadow: none;
        }
      }
      .extraCard_filter {
        .extraCard_filterBtn {
          width: 111px;
          height: 42px;
          text-align: center;
          border: unset;
          border-radius: 5px;
          box-shadow: unset;
          &:focus {
            background-color: rgba(86, 138, 250, 0.07);
          }
        }
        .extraCard_filterBtnDisabled {
          opacity: 0.5;
        }
        span {
          margin-left: 11px;
          color: @primary-color;
          font-weight: 500;
          font-size: 14px;
          letter-spacing: 0.13px;
        }
      }
    }
  }

  .recentEmptyBlocks {
    display: flex;
    justify-content: center;
  }
}

.extraCard_dropdownMenu {
  :global {
    .ant-dropdown-menu {
      width: 245px;
    }
    .ant-dropdown-menu-item > span,
    .ant-dropdown-menu-submenu-title > span {
      color: #707177;
      font-size: 14px;
    }
    .ant-dropdown-menu-item:hover,
    .ant-dropdown-menu-submenu-title:hover {
      background-color: rgba(86, 138, 250, 0.07);
      span {
        color: @primary-color;
      }
    }
  }
}
