.projectHistory {
  :global {
    .ant-card-bordered {
      border: 1px solid #d6dce0;
    }
    .ant-card-head {
      border-color: #d6dce0;
    }
    .ant-card-head-title {
      height: 67px;
      line-height: 67px;
      padding: 0 !important;
      font-weight: bold;
    }
  }
  .projectHistory_card {
    border-radius: 5px;
    font-size: 13px;
    .textValue {
      color: #707177;
    }
  }
}
