.requesteeDetail {
  background-color: #fff;
  padding: 30px 40px;
  color: #464646;
  margin-bottom: 20px;
  font-size: 13px;
  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    margin-bottom: 30px;
  }
  &__text {
    font-size: 14px;
    font-weight: 500;
  }
  &__center {
    text-align: center;
  }
  &__avatar {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }
  :global {
    .ant-progress-outer {
      width: 70%;
    }
    .ant-progress-inner {
      width: 135px;
      height: 5px;
      background-color: #fff;
      border-radius: unset;
      border: 1px solid #707177;
    }
    .ant-progress-success-bg,
    .ant-progress-bg {
      height: 5px !important;
      background-color: #2aee19;
      border-radius: unset;
      border: 1px solid #2aee19;
    }
    .ant-progress-text {
      color: #000;
      font-size: 13px;
    }
  }
}
