.requesteeDetail {
  margin-bottom: 20px;
  padding: 24px 0;
  color: #464646;
  font-size: 13px;
  background-color: #fff;
  border: 1px solid #d6dce0;
  border-radius: 5px;
  .textNoProject {
    color: #000;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }
  & > div {
    padding: 0px 24px;
  }
  &__title {
    margin-bottom: 24px;
    padding-bottom: 24px !important;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    border-bottom: 1px solid #d6dce0;
  }
  &__item {
    display: flex;
    margin-top: 1.5rem;
    font-size: 13px;
    line-height: 15px;
    & > div:first-child {
      min-width: 200px;
      color: #161c29;
    }
    & > div:last-child {
      color: #707177;
    }
  }
  :global {
    .ant-progress-outer {
      width: 73%;
    }
    .ant-progress-inner {
      width: 90%;
      height: 5px;
      background-color: #fff;
      border: 1px solid #707177;
      border-radius: unset;
    }
    .ant-progress-success-bg,
    .ant-progress-bg {
      height: 5px !important;
      background-color: #2aee19;
      border: 1px solid #2aee19;
      border-radius: unset;
    }
    .ant-progress-text {
      color: #000;
      font-size: 13px;
    }
  }
}
