.mixin-border-bottom-row {
  border-bottom: solid 1px #d6dce0;
}

.mixin-ant-pagination {
  width: 17px;
  min-width: 17px;
  height: 17px;
  padding: 0;
  line-height: 17px;
}

.mixin-ant-pagination-disabled {
  background-color: #acacac;
}

.directoryTable {
  :global {
    div.ant-table-header {
      border: 24px solid #fff;
      border-radius: 35px;
    }

    .ant-table-body {
      color: #000000;
      padding-left: 24px;
      padding-right: 24px;
    }
    .ant-table-tbody {
      height: 100%;
      overflow: scroll;
    }
    .ant-table-tbody > tr > td {
      .mixin-border-bottom-row();
    }

    div.ant-table-column-sorters {
      padding-left: 70px;
    }

    span.anticon.anticon-caret-up.ant-table-column-sorter-up {
      display: none;
    }

    span.anticon.anticon-caret-down.ant-table-column-sorter-down {
      padding-top: 10px;
      color: #044040;
      font-size: 14px;
    }

    thead[class*='ant-table-thead'] th {
      text-align: center;
      color: #fff;
      font-weight: 500;
      background-color: #2c6df9;
    }

    .ant-table-tbody > tr.ant-table-row:hover > td {
      cursor: pointer;
    }

    .ant-table-cell-scrollbar {
      box-shadow: none;
    }

    /* Pagination */

    .ant-table-pagination.ant-pagination {
      padding-left: 40px;
      padding-top: 55px;
      padding-bottom: 14px;
      margin: 0;
      width: 100%;
      background-color: #f7f7f7;
    }

    li.ant-pagination-item {
      display: none;
    }

    li.ant-pagination-total-text {
      font-size: 16px;
      opacity: 0.4;
      color: #000000;
    }

    li.ant-pagination-prev {
      .mixin-ant-pagination();
    }

    li.ant-pagination-next {
      .mixin-ant-pagination();
    }

    button.ant-pagination-item-link {
      padding: 0;
      color: #ffffff;
      font-size: 12px;
      text-align: center;
      border: none;
      border-radius: unset;
    }

    li.ant-pagination-prev.ant-pagination-disabled button {
      .mixin-ant-pagination-disabled();
    }

    li.ant-pagination-next.ant-pagination-disabled button {
      .mixin-ant-pagination-disabled();
    }

    /* End Pagination */
  }

  .directoryTableName {
    display: flex;
    align-items: center;

    .avatar {
      width: 44px;
      height: 44px;
      background-color: #ffffff;
      border: solid 1px #707070;
    }

    p {
      text-decoration: underline;
      text-align: left;
      white-space: nowrap;
      width: 70%;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
      padding-left: 15px;
    }
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 3px;
    background-color: #f7f7f7;
    border: none;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.41);
    border-radius: 3px;
  }
}
