.EditForm {
  padding: 20px 10px;
  // max-height: 500px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in red */
  // &::-webkit-scrollbar-thumb {
  //   background: #ff0000;
  // }

  :global {
    .tox {
      min-height: 430px;
    }
    .tabs {
      .ant-form-item-label {
        label {
          color: #161c29;
          font-weight: 500;
          font-size: 14px;
          line-height: 1.14;
          text-align: left;
        }
      }
    }
    .ant-btn {
      width: 108px;
      height: 40px;
      margin-top: 15px;
      background-color: #ffa100;
      border: none;
      border-radius: 30px;
      span {
        color: white;
        font-weight: 700;
      }
      &:hover {
        background-color: #ffa100cc; // hex with alpha 0.8
      }
    }
    .ant-btn-primary {
      position: absolute;
      right: 40px;
      bottom: 30px;
      width: 94px;
      height: 40px;
      object-fit: contain;
      color: #ffffff;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.13px;
      text-shadow: none;
      background-color: #ffa100;
      border: solid 1px #ffa100;
      border-radius: 25px;
      box-shadow: none;
      &:hover {
        color: #ffffff;
        background-color: #ffa100;
      }
    }
    .ant-tabs-tab-active {
      background-color: #e9f0ff;
      border-top-left-radius: 23px;
      border-top-right-radius: 23px;
    }
    .ant-tabs-ink-bar {
      display: none;
    }
    .ant-tabs-tab-btn {
      height: 16px;
      color: #161c29;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-align: left;
      opacity: 1;
    }
    .ant-tabs-nav {
      height: 46px;
      padding: 0;
    }
    .ant-tabs-nav-list {
      width: 100%;
    }
    .ant-tabs-tab {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-right: 0;
    }
  }
  .buttonArea {
    display: flex;
    justify-content: flex-end;
  }
}
