@import '~antd/es/style/mixins/scrollbar.less';

.TabFilter {
  :global {
    .ant-layout-header {
      background: none;
    }

    .ant-layout-sider {
      overflow-y: auto;
      height: 766px;
      background-color: #e3e3e3;
    }
  }

  .customScrollbar();

  .openSider {
    position: relative;
    width: 17.1px;
    height: 21px;
    margin-top: 14px;
    background-color: #0d61dd;
    cursor: pointer;
    z-index: 1;
  }

  .openSider::before {
    position: absolute;
    top: 0;
    // right: -8px;
    left: 20px;
    width: 0;
    height: 0;
    border-top: 10.5px solid transparent;
    border-bottom: 10.5px solid transparent;
    border-left: 8px solid #0d61dd;
    content: '';
  }

  .openSider::after {
    position: absolute;
    content: '';
    height: 21px;
    width: 20px;
    background: #0d61dd;
  }

  .topFilter {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    background-color: #d1d1d1;

    .textFilters {
      width: 50px;
      height: 22px;
      margin-bottom: 0;
      margin-left: 51px;
      color: #044040;
      font-weight: bold;
      font-size: 16px;
      font-family: 'Noto Sans', sans-serif;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.38;
      letter-spacing: normal;
      text-align: left;
    }

    .resetHide {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      p {
        width: 44px;
        height: 22px;
        margin-right: 21.6px;
        margin-bottom: 0;
        color: #0d61dd;
        font-weight: bold;
        font-size: 16px;
        font-family: 'Noto Sans', sans-serif;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: left;
      }

      .shapeHide {
        position: relative;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        width: 46.4px;
        height: 21px;
        padding-top: 3px;
        background-color: #0d61dd;
        cursor: pointer;
      }

      .shapeHide::before {
        position: absolute;
        top: 0;
        left: -8px;
        width: 0;
        height: 0;
        border-top: 10.5px solid transparent;
        border-bottom: 10.5px solid transparent;
        border-right: 8px solid #0d61dd;
        content: '';
      }

      span {
        width: 27px;
        height: 17px;
        color: #fff;
        font-weight: 600;
        font-size: 12px;
        font-family: 'Noto Sans', sans-serif;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.42;
        letter-spacing: normal;
        text-align: left;
      }
    }
  }

  .textName {
    width: 48px;
    height: 22px;
    margin: 14px 0 14px 51px;
    color: #044040;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
  }

  .formInput {
    width: 310px;
    height: 53px;
    margin-bottom: 33px;
    margin-left: 51px;
    color: #044040;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    background-color: #fff;
  }
}
