.TabFilter {
  :global {
    .ant-layout-header {
      background: none;
    }
    .ant-layout-sider {
      width: 410px;
      height: 702px;
      background-color: #e3e3e3;
    }
  }
  .topFilter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .resetHide {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      p {
        margin-bottom: 0;
      }
    }
  }
}
