.ViewDocumentModal {
  position: relative;
  :global {
    .ant-modal-body {
      padding: 0;
    }
    .ant-modal-content {
      border-radius: 5px;
    }
    .ant-modal-close {
      display: none;
    }
  }
  .handleButtons {
    position: absolute;
    right: 0;
    margin-top: -40px;
    img {
      margin-left: 10px;
      cursor: pointer;
      &:hover {
        // opacity: 0.8;
        transition: 0.3s;
        // transform: rotate(360deg);
        transform: scale(1.2);
      }
      &:active {
        transition: 0.3s;
        transform: scale(1);
      }
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    position: relative;
    .contentViewPDF {
      .content();
      // height: 75vh;
      padding: 32px 48px 100px;
    }
    .contentViewImage {
      .content();
      max-height: 75vh;
      height: 100%;
      padding: 20px;
    }
    .content {
      overflow: hidden;
      .fileName {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 24px;
      }
      .pdfFrame {
        // background-color: #7071772a;
        // margin: 0 auto;
        border: 1px solid #7071772a;
        border-radius: 5px;
        overflow-y: auto;
        .pdfPage {
          margin-bottom: 20px;
          box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.1);
          canvas {
            width: 100% !important;
            height: auto !important;
          }
        }
      }
      .imageFrame {
        max-width: 500px;
        min-width: 300px;
        width: 100%;
        img {
          width: 100%;
        }
      }
      .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        width: 100%;
      }
    }
    .stickyFooter {
      box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.15);
      position: absolute;
      bottom: 0;
      background: white;
      padding: 17px 48px;
      width: 100%;
      overflow: hidden;
      border-radius: 0 0 5px 5px;
    }
    :global {
      .ant-btn {
        margin-top: 15px;
        background-color: #ffa100;
        border: none;
        border-radius: 30px;
        height: 40px;
        width: 108px;
        span {
          color: white;
          font-weight: 700;
        }
        &:hover {
          background-color: #ffa100cc; // hex with alpha 0.8
        }
      }
    }
  }

}
