.FilterBar {
  :global {
    .ant-tabs-tab-btn {
      font-weight: bold !important;
      font-size: 14px;
    }
    .ant-tabs-ink-bar {
      display: none;
    }
    .ant-tabs-tabpane {
      padding: 0 !important;
    }
    .ant-tabs-nav {
      background-color: #568afa12;
      border-radius: 4px;
      margin: 10px 0;
      height: 35px;
    }
    .ant-tabs-tab,
    .ant-tabs-tab-active {
      margin-top: 0px;
    }
  }
}
