.root {
  padding: 24px;
  .textLabel {
    color: #000000;
    font-size: 13px;
  }
  .textValue {
    color: #707177;
    font-size: 13px;
    .urlData {
      margin-right: 16px;
      margin-bottom: 0;
      text-decoration: underline;
    }
    .viewFileUpLoad {
      position: absolute;
      top: 7px;
      right: 24px;
      display: flex;
      cursor: pointer;
    }
  }
  .line {
    margin-top: 20px;
    border-top: solid 2px #d6dce0;
  }
  .line:last-child {
    margin-top: unset;
    border-top: unset;
  }
  .EarlyIcon {
    display: flex;
    justify-content: flex-end;
    padding-right: 24px;
  }
  .setIconEarly {
    position: relative;
  }
  .iconEarly {
    position: absolute;
    top: 10px;
    right: 24px;
  }
}
