.benefitSection {

    :global{
        .ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before{
            border-bottom: 1px solid #D6DCE0;
        }

        .ant-tabs > .ant-tabs-nav, .ant-tabs > div > .ant-tabs-nav{
            padding-left: 33px;
        }

        .ant-tabs-ink-bar{
            width: 178px !important;
        }
        .ant-tabs-tab{
            padding-left: 12px;
        }
    }

    .locationSelection{
        padding: 16px 33px;
        :global{

        }

        &__text{
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 19px;
                color: #161C29;
                
                padding-bottom: 19px;
            }
            
            &__selectCountry{
                :global{
                    
                    .ant-select-selector{
                        width: 300px;
                        height: 42px;
                        background: #FFFFFF;
                        box-sizing: border-box;
                        border-radius: 4px;
                        border: 1px solid #D6DCE0;
                    }

                    .ant-select-selection-search-input{
                        height: 100%;
                    }

                    // .ant-select-selection-placeholder {
                    //     padding-top: 6px;
                    // }

                    .ant-select-single.ant-select-show-arrow .ant-select-selection-item, .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder, 
                    .ant-select-single.ant-select-show-arrow .ant-select-selection-search{
                        display: flex;
                        align-items: center;
                    }
                }
            }
    }
}