.titlePage {
  height: 50px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 40px 0 20px;
  box-shadow: 0 1px 2px 0 #eeeeee;
  &__text {
    font-size: 18px;
    font-weight: 500;
    color: #2c6df9;
    margin: 0;
  }
}
.HRManagerLandingPage {
  margin: 23px;

  :global {
    .ApplyRequest__hasBackground___390SC .abovePart___1Y9KW div p,
    .ApplyRequest__noBackground___3NsUx .abovePart___1Y9KW div p {
      line-height: 20px;
      font-size: 13px;
      color: #707177;
      font-weight: 400;
      font-style: normal;
    }
  }
}
