@spacing-xxs: 4px;

.salaryStructureTemplate {
  &_form {
    margin-bottom: 8 * @spacing-xxs;
    height: 517px;
    border-radius: 5px;
    border: solid 1px #d6dce0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      width: 448px;
      height: 36px;
      font-family: Roboto;
      font-size: 13px;
      line-height: 1.38;
      letter-spacing: 0.12px;
      text-align: center;
      color: #707177;
    }
  }
}
