@spacing-xxs: 4px;
.firstColumn {
  padding-left: 62px;
}

.p_title_select {
  width: 80%;
  margin-bottom: 8px;
  font-size: 13px;
  color: #707177;
}

.spin{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.salaryStructureTemplate {
  :global {
    .ant-btn.ant-btn-primary {
      display: flex;
      align-items: center;
    }

    .ant-table-placeholder {
      // display: none;
      td.ant-table-cell {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      .ant-empty-description {
        // margin: 0 !important;
        width: unset !important;
      }
    }

    .ant-input {
      height: 27px;
      background: #ffffff;
      border: 1px solid #d6dce0;
      box-sizing: border-box;
      border-radius: 5px;
      font-size: 13px;
    }

    .ant-input-number {
      max-width: 50px;
      margin-right: 5px;
    }

    .ant-input-number-handler-wrap {
      display: none;
    }

    .blue-text {
      color: #2c6df9;
    }

    .big-text {
      font-size: 18px;
    }

    // .ant-form-item-control {
    //   height: 0;
    // }

    .ant-btn:focus .ant-btn.focus {
      background-color: red !important;
    }

    .ant-form-item {
      margin-bottom: 0;
    }
    .ant-btn-primary {
      box-shadow: none;
      text-shadow: none;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: baseline;
      right: 0;
      top: -5px;
      border-radius: 25px;
      border: none;
      box-shadow: none;
      background-color: transparent;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.13px;
      color: #ffa100;
      &:hover {
        background-color: transparent;
        color: #ffa100;
      }
    }

    .ant-table-cell.thirdColumn {
      padding-bottom: 0;
      padding-top: 0;
    }

    .ant-table-thead {
      display: none;
    }
    .ant-table-tbody {
      tr {
        td {
          border: none;
        }
        td:first-child {
          padding-left: 32px;
        }
        td:nth-child(2) {
          border-right: 1px solid #d6dce0;
          border-left: 1px solid #d6dce0;
          text-align: center;
        }
        td:last-child {
          padding-left: 62px;
        }
      }
    }

    .ant-form-item-label > label {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 19px;
      color: #464646
    }

    .ant-select {
      width: 245px;
    }

    .ant-select-placeholder {
      color: red !important;
      font-weight: bolder;
    }
  }
  &_select {
    // margin-bottom: 30px;
    :global {
      .ant-select {
    width: 245px !important;

      }
      .ant-form-item {
        display: block;
      }

      .ant-select:not(.ant-select-customize-input) .ant-select-selector{
        background: #FFFFFF;
        border: 1px solid #D6DCE0;
        box-sizing: border-box;
        border-radius: 5px;
      }

      .ant-select-arrow{
        color: #464646;
      }
    }
    p {
      font-family: 'Roboto';
      font-size: 13px;
      line-height: 19px;
      color: #464646;
    }
  }
  .buttons {
    img {
      margin-right: 5px;
      margin-bottom: 2px;
    }

    .actionBtn{
      .cancelBtn{
        margin-right: 100px;
      }
    }
  }
  &_table {
    // margin-bottom: 8 * @spacing-xxs;
    min-height: 570px;
    height: max-content;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: solid 1px #d6dce0;
    background-color: #ffffff;
    padding: 30px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    p {
      width: 448px;
      height: 36px;
      font-family: 'Roboto';
      font-size: 13px;
      line-height: 1.38;
      letter-spacing: 0.12px;
      text-align: center;
      color: #707177;
    }

    .formNumber {
      display: flex;

      input {
        border: 1px solid #d6dce0;
        font-size: 13px;
        padding: 4px 11px;
        text-align: center;
        width: 100%;
        outline: 0;
      }
    }

    .formInput{
      
      &__field{
        height: 32px;
        width: 162px;
      }
    }
  }

  &_footer {
    margin-bottom: 8 * @spacing-xxs;
    min-height: 79px;
    height: max-content;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid 1px #d6dce0;
    background-color: #ffffff;
    padding: 12px 62px;
    display: grid;
    grid-template-columns: 30% 30%;
    &_info {
      .title {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #707177;
        margin-bottom: 10px;
      }
      .value {
        font-weight: 500;
        font-size: 13px;
        line-height: 21px;
        color: #707177;
      }
    }
  }
  // Custom table
  .bottomBar {
    // position: fixed;
    // bottom: 0;
    // width: inherit;
    position: relative;
    display: grid;
    height: 72px;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 2, 0.15);
    border: solid 1px #d6dce0;
    background-color: #ffffff;
    padding: 4 * @spacing-xxs;

    .normalText {
      display: flex;
      font-family: 'Roboto';
      font-size: 13px;
      font-style: italic;
      color: #707177;
    }

    .redText {
      font-family: 'Roboto';
      font-size: 13px;
      font-style: italic;
      color: #ff4949;
    }

    .greenText {
      font-family: 'Roboto';
      font-size: 13px;
      font-style: italic;
      color: #47c97f;
    }

    &__button {
      text-align: right;
      display: flex;
      align-items: center;
      &__disabled {
        opacity: 0.3;
      }
      :global {
        .ant-btn-primary {
          box-shadow: none;
          text-shadow: none;
          // display: none;
          display: flex;
          align-items: center;
          top: 0;
          width: 94px;
          height: 40px;
          object-fit: contain;
          border-radius: 25px;
          border: solid 1px #ffa100;
          background-color: #ffa100;
          font-family: 'Roboto';
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.13px;
          color: #ffffff;
          &:hover {
            background-color: #ffa100;
            color: #ffffff;
          }
        }
        .ant-btn-secondary {
          width: 94px;
          height: 40px;
          object-fit: contain;
          border-radius: 25px;
          border: solid 0;
          font-family: 'Roboto';
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.13px;
          color: #ffa100;
          padding-right: 41px;
        }
      }
    }
  }

}
