@darkColour: #161c29;
@blueColour: #2c6df9;
@lightGrayColor: #707177;
@commonPadding: 15px;
@contentPadding: 24px;
@borderColor: #d6dce0;
@yellow: #f5a623;
@blue: #2c6df9;
@red: #fd4546;

.TimesheetDetailModal {
  width: 80% !important;
  max-height: 600px !important;
  .btnCancel {
    box-sizing: border-box;
    width: 95px;
    height: 40px;
    color: rgba(253, 69, 70, 1);
    font-weight: 600;
    font-size: 14px;
    background: #ffffff;
    border: 1px solid @red;
    border-radius: 25px;

    &:active {
      opacity: 0.5;
    }
  }
  
  :global {
    .ant-modal-body {
      max-height: 400px !important;
      overflow-y: scroll;
    }
    .ant-form-item-explain {
      div {
        font-size: 13px;
      }
    }
    .ant-select-selection-item {
      color: #161c29;
    }
    .ant-select-disabled {
      .ant-select-selection-item {
        color: #161c2980;
      }
    }

    .ant-select-selector,
    .ant-input {
      height: 42px !important;
      padding: 5px 11px !important;
      // background: transparent !important;
      border-radius: 5px !important;
    }
    .ant-select-selection-search-input {
      height: 42px !important;
      //   border-radius: 5px;
    }
    .ant-select-multiple {
      .ant-select-selection-search-input {
        height: unset !important;
      }
    }
    .ant-picker {
      width: 100%;
      min-height: 42px !important;
      font-size: 13px;
      border-radius: 5px;
    }
    .ant-form-item-label
      > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
      display: none;
    }
    .ant-form-item-label label {
      height: 0;
      color: #161c29;
      font-size: 13px;
    }

    .ant-btn-primary {
      height: 40px;
      padding: 0 30px;
      object-fit: contain;
      color: #ffffff;
      font-weight: 500;
      font-size: 14px;
      font-family: Roboto;
      letter-spacing: 0.13px;

      text-shadow: none;
      background-color: #ffa100;
      border: solid 1px #ffa100;
      border-radius: 25px;
      box-shadow: none;
      &:hover {
        color: #ffffff;
        background-color: #ffa100;
      }
    }
    .ant-btn-primary[disabled] {
      color: #fff;
      opacity: 0.5;
    }
    .ant-btn-secondary {
      width: 94px;
      height: 40px;
      padding-right: 41px;
      object-fit: contain;
      color: #ffa100;
      font-weight: 500;
      font-size: 14px;
      font-family: Roboto;
      letter-spacing: 0.13px;
      border: solid 0;
      border-radius: 25px;
      box-shadow: none;
    }
    .ant-modal-header {
      padding: 24px;
      border-top-left-radius: 8px;
      border: none;
    }
    .ant-modal-content {
      border: 1px solid #d6dce0;
      border-radius: 8px;    
    }
    .ant-form-item {
      margin-bottom: 12px;
    }
    .ant-modal-footer {
      padding: 24px;
      border:none
    }
    .ant-select-selection-overflow-item .ant-select-selection-overflow-item-suffix {
      display: none;
    }
    .ant-modal-close-x {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 54px;
      height: 48px;
      color: #fff;
      background-color: #2c6df9;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      &:active {
        opacity: 0.5;
      }
    }

    // checkbox
    .ant-checkbox-wrapper {
      span {
        font-size: 13px;
      }
    }
  }

  .taskNumberCount {
    span {
      display: inline-block;
      margin-right: 5px;
      color: #464646;
      font-size: 13px;
    }
    .number {
      color: #2c6df9;
      font-weight: 500;
    }
  }

  .btnSubmit {
    color: #fff;

    font-weight: 600;
    font-size: 14px;
    background-color: #ffa100;
    border: none;
    border-radius: 25px;
  }
  .btnSubmit:disabled {
    color: #fff;
    opacity: 0.5;
  }
  .status{     
    &__Pending { 
      font-size: 12px;
      border-radius: 25px;
      padding: 4px 12px;
      margin-bottom: 12px;
      color: @yellow !important;
      background-color: #FFEED1;
    }
    &__Approved {
      font-size: 12px;
      border-radius: 25px;
      padding: 4px 12px;
      margin-bottom: 12px;
      color: @blue !important;
      background-color: #E0EAFF;
    }
    &__Rejected {
      font-size: 12px;
      border-radius: 25px;
      padding: 4px 12px;
      margin-bottom: 12px;
      color: @red !important;
      background-color: #ffc0cb;
    }
  }
  .header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    span {
      display: block;
    }
    
    &__text {
      margin: 0;
      color: #161c29;
      font-weight: 600;
      font-size: 16px;
    }
    &__date {
      color: #000000;
      font-weight: 500;
      font-size: 13px;
      text-align: center;
    }
    
  }

  .content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: auto;
    max-width: 92%;
    &__comments {
      margin-bottom: 12px;
      color: #161c29;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.noPadding {
  :global {
    .ant-modal-body {
      padding: 0;
    }
  }
}
.withPadding {
  :global {
    .ant-modal-body {
      padding: @contentPadding;
    }
  }
}
