.Information {
  padding: 24px;
  border-bottom: 1px solid #d6dce0;
  :global {
    // TOOLTIP
    .ant-avatar-group .ant-avatar:not(:first-child) {
      margin-left: -9px;
    }
    .ant-avatar-lg {
      width: 32px;
      height: 32px;
    }
    .ant-avatar-group .ant-avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      text-transform: uppercase;
      border-width: 2px;
    }
    .ant-tooltip-inner {
      z-index: 10;
      padding: 8px;
      color: #ffffff;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      background: #1a1a46;
      border: none;
      border-radius: 4px;
    }
  }
  .eachItem {
    display: flex;
    align-items: center;
    span {
      font-size: 13px;
    }
    .label {
      display: block;
      margin-right: 10px;
      color: #707177;
      font-size: 13px;
    }
    .value {
      display: block;
    }
    .boldText {
      font-weight: 500;
    }
    .dueDate {
      .calendarIcon {
        margin-top: -2px;
        margin-right: 10px;
        filter: invert(57%) sepia(76%) saturate(7481%) hue-rotate(216deg) brightness(102%)
          contrast(95%);
      }
    }
    .taskMembers {
      width: -moz-fit-content;
      width: fit-content;
    }
    // FIRST COLUMNS
    .renderProject {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
      .avatar {
        width: 32px;
        height: 32px;
        object-fit: cover;
        border-radius: 50%;
      }

      .icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 32px;
        height: 32px;
        background: #a42ba8;
        border: 1px solid rgba(255, 255, 255, 0);
        border-radius: 50%;
        outline: none;
        cursor: default;
        span {
          color: #fff;
          font-weight: 500;
          font-size: 13px;
          text-transform: uppercase;
        }
      }
      .right {
        padding-left: 10px;
        .name {
          display: block;
          color: #212020;
          font-weight: 500;
          font-size: 12px;
          text-align: left;
        }
      }
    }
  }
}
