.ViewDocument {
  // margin: 20px 10px 0 10px;
  border-radius: 5px;
  border: solid 1px #d6dce0;
  background-color: white;
  width: 100%;
  .tableTitle {
    display: flex;
    justify-content: space-between;
    span {
      font-weight: bold;
      font-size: 16px;
    }
    .goBackButton {
      cursor: pointer;
      img {
        margin-top: -5px;
      }
      span {
        color: #2c6df9;
        margin-left: 15px;
      }
      &:hover {
        opacity: 0.8;
      }
    }
    border-bottom: solid 1px #d6dce0;
    padding: 20px;
  }
  .tableContent {
    padding: 20px;
    border-bottom: solid 1px #d6dce0;
    .documentPreviewFrame {
      border-radius: 5px;
      background-color: #f3f7ff;
      height: 450px;
      overflow-x: hidden;
      border: 1px solid #2c6df9;
      margin-bottom: 0;
      .pdfFrame {
        .pdfPage {
          margin-bottom: 20px;
          canvas {
            margin: 0 auto;
            width: 100% !important;
            height: 100% !important;
          }
        }
      }
    }

    .documentPagination {
      display: flex;
      justify-content: space-between;
      margin-top: 7px;
      align-items: center;
      .numberOfFiles {
        font-size: 18px;
        font-weight: bold;
        span {
          color: #2d6ef9;
        }
      }
      .filesPagination {
        img {
          margin-left: 10px;
          cursor: pointer;
        }
      }
    }
    .documentInfo {
      .infoRow {
        margin: 15px 0;
        .infoCol1 {
          font-weight: bold;
        }
        .infoCol2 {
          color: #707177;
        }
      }
      .shareViaEmailInput {
        width: 250px;
      }
    }
  }
  .operationButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px;
    :global {
      .ant-upload {
        color: #ffa100 !important;
        font-weight: bold !important;
        cursor: pointer;
        margin-right: 10px;
      }
    }
    .loadingIcon {
      color: #ffa100;
      margin-left: 5px;
      font-size: 20px;
    }
    .saveButton {
      font-weight: bold;
      border-radius: 25px;
      border: solid 1px #ffa100;
      background-color: #ffa100;
      padding: 0 25px;
      color: white;
    }
  }
}
