.Compensation {
  :global {
    .ant-tabs-tab {
      color: #707177;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
    }
    .ant-tabs > .ant-tabs-nav,
    .ant-tabs > div > .ant-tabs-nav {
      margin-bottom: 24px;
      background-color: unset !important;
    }
  }
}
