.mileageAddNewContainer {
  background-color: #fff;
  display: flex;
  padding: 30px 30px 25px 24px;
  flex-direction: column;
  box-shadow: rgba(180, 180, 180, 0.5) 0 2px 4px 0;
  border-radius: 4px;
  .label {
    color: rgba(58, 53, 78, 0.5);
    font-size: 12px;
    font-weight: normal;
  }

  .totalAmountError {
    clear: both;
    min-height: 22px;
    margin-top: -2px;
    color: #f5222d;
    font-size: 14px;
    line-height: 1.5;
    transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355);
  }

  .labelFail {
    color: red;
    font-size: 12px;
    font-weight: normal;
  }

  .inputFail,
  .selectFail > :global(.ant-select-selection),
  .dateFail :global(.ant-input) {
    border: none;
    border-bottom: 1px solid red !important;
    border-radius: 0;
    box-shadow: none !important;
    &:focus,
    input:focus {
      box-shadow: none !important;
      border-color: red !important;
    }

    &:hover,
    input:hover {
      box-shadow: none !important;
      border-color: red !important;
    }
  }

  .required {
    color: rgba(58, 53, 78, 0.5);
    font-size: 14px;
  }
  .requiredFail {
    color: #f5222d;
    font-size: 14px;
  }

  .delIconSearchForm {
    display: flex;
    flex-direction: row-reverse;
    height: 40px;
    font-size: 18px;
    align-items: flex-end;
    padding-bottom: 2px;
  }
  .wrapHeader {
    margin-bottom: 40px;
    .mileageAddNewTitle {
      font-size: 24px;
      line-height: 29px;
      color: #3a354e;
      font-weight: bold;
    }
    .iconTitle {
      font-size: 24px;
      color: #3a354e;
      font-weight: bold;
      margin-right: 6px;
    }
  }
  .mileageLabel {
    font-size: 12px;
    color: #3a354e;
    line-height: 15px;
    opacity: 0.5;
    font-weight: normal;
  }
  :global {
    .ant-input {
      font-size: 18px;
      color: black;
    }
    .ant-form-item-label > label::after {
      content: '' !important;
    }
    .ant-select-selection-selected-value {
      font-size: 18px;
      color: black;
    }
    .ant-dropdown-button.ant-btn-group > .ant-btn:last-child:not(:first-child) {
      height: 47px;
      border: none;
      border-left: 0.5px solid white;
      background-color: #fca00a;
    }
    .ant-btn-group > .ant-btn:hover {
      background-color: rgba(252, 160, 10, 0.7) !important;
      z-index: unset;
    }
    .ant-btn-primary {
      margin-left: 24px;
      background-color: #fca00a;
      color: white;
      border: 1px solid #fca00a;
      height: 47px;
      padding-left: 40px;
      padding-right: 40px;
      font-size: 14px;
    }
  }
  .addStopBtn {
    width: 80px;
    height: 25px;
    background-color: white;
    color: #fca00a;
    border-color: #fca00a;
    &:hover {
      color: rgba(252, 160, 10, 0.7) !important;
      border-color: rgba(252, 160, 10, 0.7) !important;
    }
  }
  .wrapTotalAmout {
    height: 103px;
  }
  .wrapContent {
    height: 79px;
    margin-bottom: 24px;
    background-color: #f2f6ff;
    padding-left: 12px;
    border-radius: 4px;
  }
  .labelTotalAmount {
    height: 39px;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 15px;
    color: #000;
  }
  .totalAmountValue {
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #000;
    font-weight: 600;
  }
  .wrapRightContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
  }
  .googleMapArea {
    height: 560px;
    border: 1px solid rgba(184, 184, 184, 0.3);
    margin-top: 33px;
  }
  .googleMapAreaSpan {
    height: 560px;
    border: 1px solid rgba(184, 184, 184, 0.3);
    margin-top: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3.5px;
    background-color: rgba(242, 246, 255, 0.3);
  }
  .googleMapArea > div {
    height: 560px !important;
  }
  .googleMapPlaceHoder {
    font-size: 16px;
    color: #3a354e;
    line-height: 20px;
    opacity: 0.4;
  }
  .wrapGroupBtnAction {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 30px;
    .saveNNewBtn {
      min-width: 140px;
      height: 47px;
      padding-left: 40px;
      padding-right: 40px;
      background-color: white;
      color: #fca00a;
      border-color: #fca00a;
      font-size: 14px;
      &:hover {
        color: rgba(252, 160, 10, 0.7) !important;
        border-color: rgba(252, 160, 10, 0.7) !important;
      }
    }

    .input,
    .select > :global(.ant-select-selection),
    .date :global(.ant-input) {
      border: none;
      border-bottom: 1px solid #d9d9d9;
      border-radius: 0;
      box-shadow: none !important;
      &:focus,
      input:focus {
        box-shadow: none !important;
        border-color: #2b6df8 !important;
      }

      &:hover,
      input:hover {
        box-shadow: none !important;
        border-color: #2b6df8 !important;
      }
    }
    .menu {
      :global {
        .ant-dropdown-menu-item {
          width: 155px !important;
        }
        .ant-dropdown-menu-item:hover {
          background-color: #eff2fa !important;
        }
      }
    }
    .btnAdd {
      min-width: 140px;
      height: 47px;
      padding-left: 60px;
      padding-right: 66px;
      color: white;
      border-color: #fca00a;
      font-size: 14px;
      background-color: #fca001;
      margin-left: 30px;
      &:hover {
        background-color: rgba(252, 160, 10, 0.7) !important;
        border-color: rgba(252, 160, 10, 0.7) !important;
      }
    }
  }
  .viewCheckbox {
    margin-top: 8px;
    :global {
      .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #2b6df8 !important;
        border-color: #2b6df8 !important;
      }
      .ant-form-item {
        margin-bottom: 0;
      }
    }
    .textCheckBox {
      color: #3a354e;
      font-weight: normal;
      font-size: 18px;
      float: right;
    }
  }
}
.deleteTitle {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 24px;
  color: black;
}
.deleteModal {
  width: 400px !important;
  :global {
    .ant-modal-body {
      font-size: 12px;
      letter-spacing: 0;
      line-height: 15px;
      color: black;
      padding-bottom: 29px;
    }
    .ant-modal-footer {
      border: none;
      padding-top: 0;
      padding-bottom: 28px;
      .ant-btn {
        width: 100px;
        height: 35px;
        border-color: #fca00a;
        color: #fca00a;
        &:hover,
        &:focus {
          opacity: 0.6;
        }
      }
      .ant-btn-primary {
        background-color: #fca00a;
        color: white;
      }
    }
  }
}
