.HistoryTable {
  margin-top: 32px;

  .title {
    font-weight: 700;
    font-size: 18px;
  }

  .currentBalance {
    color: @primary-color;
  }
  .filter {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 9px;
  }
}

.FilterContent {
  .separator {
    display: block;
    margin-top: 12px;
    color: #707177;
    font-size: 12px;
    text-align: center;
  }
}
