.formProject {
  margin-bottom: 10px;

  .label {
    margin-right: 7px;
  }

  :global {
    .ant-col {
      display: flex;
      align-items: center;
    }

    .ant-select {
      width: 100%;
    }

    .ant-input-number-handler-wrap {
      display: none;
    }
  }
}
