.DropdownSearch {
  .searchContainer {
    padding: 8px;
    border-bottom: 1px solid #d6dce0;
  }
  .listEmployee {
    max-height: 200px;
    overflow-y: auto;
    .employee {
      padding: 8px 16px;
      cursor: pointer;
      span {
        font-size: 13px;
      }
      &:hover {
        background: #f5f5f5;
      }
    }
    .emptyContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px;
    }
  }
}
