.TicketInfo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
    align-items: center;
    .ticketInfo__cart{
        background: #FFFFFF;
        border: 1px solid #D6DCE0;
        border-radius: 8px;
        width: 414px;
        height: 108px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .assignIcon{
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border-radius: 50%;
            background: #DEE1FF;
            margin-left: 24px;
            margin-right: 16px;
        }
        .priorityIcon{
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border-radius: 50%;
            background: #FFE9E9;
            margin-left: 24px;
            margin-right: 16px;
        }
        .unresolvedIcon{
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border-radius: 50%;
            background: #FFF4E1;
            margin-left: 24px;
            margin-right: 16px;
        }
    }
    .ticketInfo__name{
        h1{
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            color: #212020;
        }
        p{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 15px;
            color: #161C29;
        }
    }
}