.tabTable {
  :global {
    .ant-tabs-tab-btn {
      font-weight: 500 !important;
      opacity: 0.5 !important;
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      opacity: 1 !important;
    }
    .ant-tabs-ink-bar {
      display: block !important;
      margin-top: 9px;
    }
    .ant-tabs-tabpane {
      padding: 0 !important;
    }
    .ant-tabs-nav {
      width: 55%;
      padding: 0 0 24px 0 !important;
      background-color: #ffffff;
      border-radius: 4px;
    }
    .ant-tabs-tab,
    .ant-tabs-tab-active {
      margin-top: 0px;
      // margin-bottom: 9px;
    }
    .ant-tabs-top > .ant-tabs-nav::before,
    .ant-tabs-top > div > .ant-tabs-nav::before {
      display: none;
    }

    .ant-tabs-nav-wrap {
      border-bottom: 1px solid #e2e4e8;
    }
    .ant-tabs-tab {
      // margin-right: 24px !important;
    }
  }
}
