.root {
  .form {
    padding: 34px;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
  }
  .import {
    // width: 100%;
    height: 340px;
    justify-content: center;
    align-items: center;
    margin-bottom: 37px;
    // &:hover {
    //   border: 1px dashed #2c6df9;
    // }

    :global{
      .ant-upload.ant-upload-drag{
        border: 1px dashed #2C6DF9;
        background: #FAFCFF;
        border-radius: 6px;
      }
    }
  }

  .textBottom{
    width: 210px;
    text-align: left;
    color:#161C29;
    line-height: 20px;
  }

  .save {
    display: flex;
    padding: 24px;
    justify-content: flex-end;
    .btnSave {
      width: 108px;
      height: 40px;
      background: #ffa100;
      color: #fff;
      border-radius: 25px;
    }
  }
  .straightLine {
    width: 100%;
    height: 1px;
    background-color: #e2e4e8;
  }
  .datePicker {
    width: 225px;
    height: 42px;
    border-radius: 5px;
    color: #707177;
  }
  .choosefile {
    font-weight: 500;
    padding: 0 10px;
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #2c6df9;
  }
  .choosefileText {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;

    color: #000000;
  }
}
