.root {
  padding: 34px;
  .import {
    // width: 100%;
    height: 340px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px dashed gray;
    margin-bottom: 37px;
    &:hover {
      border: 1px dashed #2c6df9;
    }
  }
  .save {
    display: flex;
    justify-content: flex-end;
    margin-top: 70px;
    .btnSave {
      width: 108px;
      height: 40px;
      background: #ffa100;
      border-radius: 25px;
    }
  }
}
