.root {
  .form {
    padding: 34px;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
  }
  .import {
    align-items: center;
    justify-content: center;
    // width: 100%;
    height: 340px;
    margin-bottom: 37px;
    // &:hover {
    //   border: 1px dashed @primary-color;
    // }

    :global {
      .ant-upload.ant-upload-drag {
        background: #fafcff;
        border: 1px dashed @primary-color;
        border-radius: 6px;
      }
    }
  }

  .textBottom {
    width: 210px;
    color: #161c29;
    line-height: 20px;
    text-align: left;
  }

  .save {
    display: flex;
    justify-content: flex-end;
    padding: 24px;
    .btnSave {
      width: 108px;
      height: 40px;
      color: #fff;
      background: #ffa100;
      border-radius: 25px;
    }
  }
  .straightLine {
    width: 100%;
    height: 1px;
    background-color: #e2e4e8;
  }
  .datePicker {
    width: 225px;
    height: 42px;
    color: #707177;
    border-radius: 5px;
  }
  .choosefile {
    padding: 0 10px;
    color: @primary-color;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
  }
  .choosefileText {
    color: #000000;
    font-weight: 500;
    font-size: 13px;
    font-style: normal;
    line-height: 15px;
  }
}
