.TablePolicy {
  :global {
    .ant-table-column-has-sorters {
      &:hover {
        background: #568afa !important;
      }
    }
    .ant-table-thead th.ant-table-column-sort {
      background: #568afa;
    }
    .ant-table-column-sorter {
      color: #ffffff;
    }
    .ant-table-column-sorters:hover .ant-table-column-sorter {
      color: #ffffff;
    }
    .ant-dropdown-trigger {
      cursor: pointer;
      img {
        padding-left: 20px;
      }
    }
    .ant-dropdown-menu {
      width: 167px !important;
    }
  }
  .btnAction {
    display: flex;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }
}
