.DetailTicket {
  padding: @padding-lg;
  .ticketTimeoffInfo {
    padding: 24px 16px;
    background: #f6f7f9;
    border-radius: 5px;

    &__more {
      margin-bottom: 24px;
      padding-top: 24px;
      border-top: 1px solid @border-color-base;
      border-bottom: 1px solid @border-color-base;
    }

    &__row {
      margin-bottom: 24px;

      .title {
        color: #707177;
        font-size: 13px;
      }
      .containEmployee {
        color: @primary-color;
        font-weight: 500;
        font-size: 13px;
        cursor: pointer;
      }
      .contain {
        color: #161c29;
        font-size: 13px;
      }
    }

    &__detail {
      color: @primary-color;
      font-weight: 500;
      font-size: 13px;
      cursor: pointer;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
      }
    }
  }

  .ticketTimesheetInfo {
    // padding: 12px 20px;
    border-radius: 5px;
    .titleText {
      margin-left: 5px;
      font-weight: 500;
    }
  }

  .addComment {
    margin-top: 24px;
    color: @primary-color;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;

    span {
      margin-right: 10px;
    }
  }

  .comment {
    min-height: 130px;
    margin-top: 24px;
    border-radius: 5px;
  }

  .blueText {
    color: @primary-color;
    font-weight: 500;
    font-size: 13px;
  }

  .status {
    height: 20px;
    padding: 4px 8px;
    color: #ffffff;
    font-size: 12px;
    background: #ffa100;
    border-radius: 13px;
  }
}
