@black: #161c29;
@gray: #707177;
@blue: #2c6df9;
@orange: #ffa100;
@dark-orange: #e49000;
@red: #e81010;

.container {
  width: 100%;
  height: 100%;

  color: @black;

  h2,
  p,
  button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .card {
    position: relative;
    margin-bottom: 30px;
    padding: 33px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.22);

    .header {
      font-weight: 500;
      font-size: 16px;

      &:nth-of-type(1) {
        margin-bottom: 21px;
      }

      &:nth-of-type(2) {
        margin-top: 38px;
        margin-bottom: 30px;
      }
    }

    p,
    label {
      color: @gray;
      font-size: 14px;
      line-height: 1.57;
      letter-spacing: 0.17px;
      text-transform: capitalize;
    }
  }

  .vertical {
    display: flex;
    flex-direction: column;
  }

  label {
    width: 100%;
  }

  input {
    height: 42px;
    padding: 0 16px;
    font-size: 14px;
    border-radius: 5px;
  }

  .add {
    color: @blue;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
  }

  .btnWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 37px;

    button {
      width: 121px;
      height: 40px;
      color: white;
      font-weight: 500;
      letter-spacing: 0.13px;
      text-transform: capitalize;
      background-color: @orange;
      border: 1px solid @orange;
      border-radius: 25px;
      outline: none;
      transition: background-color 0.2s ease-in;

      //   &:hover {
      //     background-color: @dark-orange;
      //     border-color: @dark-orange;
      //   }

      &:first-child {
        color: @orange;
        background-color: white;
      }
    }
  }

  // .remove {
  //   color: @red;
  //   font-size: 13px;
  //   position: absolute;
  //   right: 31px;
  //   top: 34px;
  //   cursor: pointer;

  //   img {
  //     margin-right: 7.3px;
  //   }
  // }

  :global {
    .ant-input-number {
      width: 100%;
      height: 42px;
    }

    .ant-select-arrow {
      color: @black;
    }

    .ant-select-disabled {
      .ant-select-arrow {
        color: rgba(0, 0, 0, 0.25);
      }
    }

    .ant-input-number-handler-wrap {
      display: none;
    }

    .ant-select-selector {
      display: flex;
      align-items: center;
      height: 42px !important;
    }

    .ant-form-item-required::before {
      display: none !important;
    }
  }
}
