.InformationUploadForm {
  border: 1px solid #d6dce0;
  border-radius: 8px;
  background-color: white;
  padding: 20px;
  .formTitle {
    span {
      font-weight: bold;
      color: #464646;
      font-size: 18px;
    }
    margin-bottom: 20px;
  }
  :global {
    .ant-form-item {
      margin-bottom: 0;
    }
    .ant-picker {
      width: 100%;
    }
    .ant-form-item-explain {
      margin-top: 5px;
    }
  }
  .inputLabel {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #464646;
  }
}
