.ModalAddDoc{
    :global{
        .ant-modal-close{
            right: -57px;
            background-color: #2C6DF9;
            border-radius: 0 8px 8px 0;
            color: #fff;
            .ant-modal-close-x{
                color: #fff;
            }
          }
    }
    .content {
        display: flex;
    justify-content: center;
    align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        
        .viewIconDownload {
          width: 74px;
          height: 74px;
          background: #f8fbff;
          border-radius: 50%;
          margin-bottom: 20px;
          display: flex;
    justify-content: center;
    align-items: center;
          &__circle {
            background: #e4edff;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
    justify-content: center;
    align-items: center;
            &__icon {
              color: #2c6df9;
              font-size: 20px;
              font-weight: 700;
            }
          }
        }
        .title {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: #000000;
          margin-bottom: 8px;
        }
        .text {
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          text-align: center;
          color: #707177;
          margin-bottom: 12px;
        }
        .helpText {
          font-size: 12px;
          line-height: 22px;
          text-align: center;
          color: #707177;
        }
        .browse {
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            text-decoration-line: underline;
            color: #2c6df9;
            cursor: pointer;
          }
        
}
.btnForm{
    .btnCancel{
        border: none;
        color: #FD4546;
        font-weight: bold;
    }
    .btnAdd{
        height: auto;
        border-color: #ffa100;
        background-color: #ffa100;
        color: #fff;
        padding: 12px 24px;
        border-radius: 25px;
        font-weight: 700;
    }
}
}