.AnnualResetPolicy {
  .label {
    display: block;
    color: #707177;
    font-weight: 400;
    font-size: 13px;
  }
  :global {
    .ant-input-number {
      width: 100px;
    }
    .ant-radio-group {
      margin: 24px 0;
      border: none;
    }
    .ant-row {
      display: flex;
      align-items: center;
    }

    .ant-input,
    .ant-input-number,
    .ant-picker {
      width: 100%;
      height: 42px !important;
      border-radius: 5px !important;
    }
    .ant-input-number,
    .ant-input {
      font-size: 13px;
    }
    .ant-picker {
      input {
        font-size: 13px;
      }
    }
    .ant-input-number-input-wrap {
      input {
        height: 40px !important;
      }
    }
  }
  .annualResetBottom {
    display: flex;
    align-items: center;
    margin-top: 24px;
    .label {
      margin-right: 100px;
    }
  }
}
