@color-grey: #707177;

.InputField {
  margin-bottom: 1.5rem;
  padding-left: 21px;
  padding-top: 1.3rem;
  .bottomTitle {
    color: @color-grey;
  }
  .text {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: @color-grey;
    margin-bottom: 1.5rem;
  }
  .form {
    margin-top: 1.5rem;
    label {
      color: @color-grey;
    }
    .colLeft {
      .input {
        height: 42px;
        padding: 10px 15px;
        outline: none;
        border-radius: 5px;
        border: solid 1px #d6dce4;
        &:focus {
          box-shadow: none;
        }
      }
    }
    .colRight {
      .inputDate {
        width: 100%;
        height: 42px;
        padding: 10px 15px;
        outline: none;
        border-radius: 5px;
        border: solid 1px #d6dce4;
        &:focus {
          box-shadow: none;
        }
        svg {
          margin-right: 0px;
        }
        :global {
          .ant-picker-input {
            .ant-picker-suffix {
              .anticon-calendar {
                svg {
                  margin-right: 0px;
                }
              }
            }
          }
        }
      }
    }
  }
}
