.root {
  padding: 24px;
  .textLabel {
    color: #000000;
    font-size: 13px;
  }
  .textValue {
    color: #707177;
    font-size: 13px;
  }
  .line {
    // margin-left: 24px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: solid 1px #d6dce0;
  }
}

.rootNoValue {
  display: flex;
  flex-direction: column;
  padding: 24px;
}
