.root {
  padding: 24px 24px 8px;
  .textLabel {
    font-size: 13px;
    color: #000000;
  }
  .textValue {
    font-size: 13px;
    color: #707177;
  }
  .line {
    margin-top: 20px;
    margin-bottom: 20px;
    // margin-left: 24px;
    width: 100%;
    border-top: solid 1px #d6dce0;
  }
}

.rootNoValue {
  display: flex;
  flex-direction: column;
  padding: 24px 24px 8px;
}
