.root {
  padding: 24px;
  .textLabel {
    color: #000000;
    font-size: 13px;
  }
  .textValue {
    color: #707177;
    font-size: 13px;
  }
  .line {
    width: 100%;
    border-top: solid 1px @border-color-base;
    margin-block: 4px;
  }
}

.rootNoValue {
  display: flex;
  flex-direction: column;
  padding: 24px;
}
