.root {
  .Form {
    width: 100%;
    :global {
      .ant-select .ant-select-arrow {
        transition: transform 0.2s ease-in;
      }
      // .ant-select.ant-select-open .ant-select-arrow {
      //   transform: rotate(180deg);
      // }

      .ant-form-item-label {
        text-align: left;
      }
      .ant-form-item-label > label {
        color: #000000;
        font-size: 13px;
      }
      .ant-form-item-label > label::after {
        content: '';
      }
      .ant-form-item {
        width: 100%;
        padding: 0px 48px;
      }
      .ant-form-item:first-child {
        margin-top: 35px;
      }
      .ant-input:focus {
        border-color: #2c6df9;
        outline: 0;
        box-shadow: unset;
      }
      .ant-picker-focused {
        border-color: #2c6df9;
        box-shadow: unset;
      }
      .ant-picker-suffix {
        color: #161c29;
      }
    }
  }
  .isDate {
    color: #ff4d4f;
    font-size: 14px;
  }
  .dateForm {
    width: 100%;
    border: solid 1px #d6dce4;
    border-radius: 5px;
    &:focus {
      outline: 0;
      box-shadow: unset;
    }
  }
  .dateFormValidate {
    width: 100%;
    border: solid 1px #d6dce4;
    border-radius: 5px;
    &:hover {
      border: solid 1px #ff4d4f;
    }
  }
  .inputForm {
    border: solid 1px #d6dce0;
    border-radius: 5px;
  }
  .inputFormImageValidate {
    border: solid 1px #ff6c6c;
    border-radius: 5px;
  }
  .selectForm {
    border-color: #d6dce0;
    border-radius: 5px;
    box-shadow: none;
    :global {
      .ant-select-selector {
        border-radius: 5px;
        box-shadow: none;
      }
      .ant-select-focused {
        border-color: #2c6df9;
        box-shadow: none;
      }

      .ant-select-selection-item {
        opacity: 1;
      }
    }
  }
  .selectForm:focus {
    border-radius: 5px;
    box-shadow: none;
  }
  .arrowDown {
    color: #161c29;
  }
  .arrowUP {
    color: #161c29;
  }
  :global {
    .ant-select-focused .ant-select-selector,
    .ant-select-selector:focus,
    .ant-select-selector:active,
    .ant-select-open .ant-select-selector {
      border-color: #2c6df9 !important;
      box-shadow: none !important;
    }
  }
  .line {
    width: 93%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 24px;
    border-top: solid 2px #d6dce0;
  }
  .styleUpLoad {
    position: relative;
  }
  .labelUpload {
    .urlUpload {
      color: #2c6df9;
      font-size: 13px;
      text-decoration: underline;
    }
    :global {
      .ant-form-item-label > label {
        color: #707177;
        font-size: 13px;
        font-style: italic;
      }
    }
  }
  .viewUpLoadData {
    position: absolute;
    top: 5px;
    right: 24px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    .viewUpLoadDataURL {
      margin-right: 16px;
      margin-bottom: 0;
      color: #2c6df9;
      text-decoration: underline;
    }
    .viewUpLoadDataText {
      display: inline;
      margin-right: 20px;
      margin-bottom: 0;
      color: #47c97f;
      font-weight: 500;
      font-size: 14px;
    }
    .viewUpLoadDataIconCancel {
      cursor: pointer;
    }
  }

  .textUpload {
    position: absolute;
    top: 5px;
    right: 50px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    :global {
      .ant-upload {
        color: #2c6df9;
      }
    }
  }

  .removeIcon {
    position: absolute;
    top: -20px;
    right: 25px;
    cursor: pointer;
  }

  .spaceFooter {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    padding: 24px;
    border-top: solid 1px #d6dce0;
  }
  .cancelFooter {
    margin-right: 40px;
    color: #ffa100;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
  }
  .cancelFooter:hover {
    color: #b1740c;
  }
  .buttonFooter {
    height: 40px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    background-color: #ffa100;
    border: solid 1px #ffa100;
    border-radius: 25px;
    padding-inline: 25px;
  }
  .buttonFooter:hover {
    background-color: #b1740c;
    border: solid 1px #b1740c;
  }
  .addMoreButton {
    margin-bottom: 12px;
    padding-left: 15px;
    color: #2c6df9;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    .addMoreButtonIcon {
      margin-right: 16px;
      font-size: 16px;
    }
  }
}
