.edit {
  width: 100%;
  :global {
    .ant-form-item-label {
      text-align: left;
    }
    .ant-form-item-label > label {
      font-size: 13px;
      color: #000000;
    }
    .ant-form-item-label > label::after {
      content: '';
    }
    .ant-form-item {
      width: 100%;
      padding: 0px 24px;
    }
    .ant-form-item:first-child {
      margin-top: 35px;
    }
    .ant-input:focus {
      border-color: #2c6df9;
      outline: 0;
      box-shadow: unset;
    }
    .ant-picker-focused {
      border-color: #2c6df9;
      box-shadow: unset;
    }
    .ant-picker-suffix {
      color: #161c29;
    }
    .ant-form-item-has-error .ant-form-item-explain,
    .ant-form-item-has-error .ant-form-item-split {
      color: #ff4d4f;
      font-size: 13px;
    }
  }

  .nothingChangedBanner{
    background-color: #FD4546;
    border-radius: 2px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    padding: 12px 24px;
    
    .icon {
      margin-right: 15px;
    }
    span {
      display: inline-block;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      font-family: 'Roboto';
    }
  }

  &_btn {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    border-top: solid 1px #d6dce0;

    :global{
      .ant-btn-primary[disabled], .ant-btn-primary[disabled]:hover, .ant-btn-primary[disabled]:focus, .ant-btn-primary[disabled]:active{
        border: solid 1px #ffa100;
        background-color: #ffa100;
        color: #ffffff;
        opacity: 0.5;
      }

      .ant-btn-text[disabled], .ant-btn-text[disabled]:hover, .ant-btn-text[disabled]:focus, .ant-btn-text[disabled]:active{
        color: #ffa100;
        opacity: 0.5;
      }
    }


    &_save {
      width: 95px;
      height: 40px;
      font-size: 14px;
      font-weight: 500;
      color: #ffffff;
      border-radius: 25px;
      border: solid 1px #ffa100;
      background-color: #ffa100;
      &:hover {
        border: solid 1px #b1740c;
        background-color: #b1740c;
      }
      &:focus {
        border: solid 1px #b1740c;
        background-color: #b1740c;
      }
    }
    &_cancel {
      width: 95px;
      height: 40px;
      font-size: 14px;
      font-weight: 500;
      margin-right: 10px;
      color: #ffa100;
      border-radius: 25px;
      background-color: unset;
      &:hover {
        color: #b1740c;
      }
    }
  }

  &_form{
    .savedBanner{
      background-color: #00c598;
      border-radius: 2px;
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      padding: 12px 24px;
      
      .icon {
        margin-right: 15px;
      }
      span {
        display: inline-block;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        font-family: 'Roboto';
      }
    }
  }
}
