.performanceHistory {
  .performanceHistory_syncEPASS {
    margin-bottom: 24px;
    .performanceHistory_syncEPASS_btn {
      height: 46px;
      color: @primary-color;
      font-weight: 500;
      background-color: #f3f7ff;
      border: solid 1px @primary-color;
      border-radius: 5px;
      img {
        margin-right: 16px;
      }
    }
  }
}
