.content {
  background-color: #fff;
  height: 260px;
  padding: 30px 24px;
  .titleText {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #464646;
  }
  input {
    width: 52px;
    margin-right: 10px;
  }
  .inputText {
    margin-top: 13px;
    padding-bottom: 22px;
  }
}
