@blueColor: @primary-color;
@lightBlueColor: #e4edff;
@borderColor: @border-color-base;

.Grade {
  padding: @padding-lg;
  background: #ffffff;
  border: 1px solid @border-color-base;
  border-radius: 8px;
  .header {
    display: flex;
    justify-content: flex-end;
    height: 37px;
    margin-bottom: 16px;
  }

  .roleName {
    font-weight: 500;
  }
  .actions {
    img {
      cursor: pointer;
    }
  }
}
