.spaceDetails {
  padding: 24px 24px 0 24px;
  .flexbox {
    display: flex;
    flex-flow: row;
    margin-bottom: 16px;
  }
  .Name {
    height: 15px;
    margin-bottom: 0;
    color: #000000;
    font-weight: normal;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  .Text {
    height: 15px;
    margin-bottom: 0;
    color: #707177;
    font-weight: normal;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }
}
