.CustomEmailsHeader {
  background-color: #f6f7f9;
  margin-bottom: 24px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .leftPart {
    .title {
      height: 21px;
      font-family: 'Roboto';
      font-size: 18px;
      font-weight: 700;
      line-height: 1.17;
      letter-spacing: 0.3px;
      color: #161c29;
      margin-bottom: 17px;
    }

    .subTitle {
      width: 734px;
      font-family: 'Roboto';
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 0.12px;
      text-align: left;
      color: #707177;
    }
  }

  .rightPart {
    .addButton {
      padding: 9px 12px;
      background: rgba(86, 138, 250, 0.12);
      border-radius: 5px;
      cursor: pointer;
      span {
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #2c6df9;
      }
      &:hover {
        background: rgba(86, 138, 250, 0.048);
      }
    }
  }
}
