@blueColor: #2c6df9;
@orangeColor: #ffa100;
.ResourceTableCard {
  .assignBtn {
    border: none;
    outline: none;
    box-shadow: none;
    span {
      color: @orangeColor;
      font-weight: 500;
      font-size: 12px;
    }
    img {
      margin-right: 10px;
    }
  }
  .tableContainer {
    padding: 0 24px 24px;
  }
  .options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
