@darkColour: #161c29;
@lightGrayColor: #707177;
@commonPadding: 15px;
@borderColor: @border-color-base;

.UpcomingEvents {
  .eachItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 90px;
    padding-block: @commonPadding;
    .eventIcon {
      width: 50px;
      margin-right: 10px;
    }
    .eventContent {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 13px;
    }
  }
  .divider {
    border-bottom: 1px solid @borderColor;
  }
}
