
  .modal__add {
    .accrualSetting{
        margin-top:24px;
        padding: 24px;
        border-top: 1px solid #D6DCE0;
        border-bottom: 1px solid #D6DCE0;
        p {
            margin: 0px;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
        }
    }
    .btnCancel{
      background: #fff;
      border: none;
      color: #FFA100;
      font-weight: 700;
    }
    .btnSubmit {
      width: 95px;
      background: #FFA100;
      border: 1px solid #FFA100;
      box-sizing: border-box;
      border-radius: 25px;
      color: #fff;
      padding: 12px 32px 12px 32px;
      height: 40px;
      line-height: 16px;
    }
    .lastFormItem {
      margin-bottom: 24px;
    }
   
    :global{
      .ant-modal-content{
        border-radius: 8px 0px 8px 8px;
      }
      .ant-modal-close{
          background: #2C6DF9;
          border-radius: 0px 8px 8px 0px;
          right: -56px;
          color: #fff;
          font-weight: 700;
          font-size: 16px;
      }
      .ant-modal-body{
        padding: 0;
          .ant-form{
            .ant-form-item{
              padding:24px 24px 0px 24px;
              margin: 0px;
              .ant-form-item-label{
                label{
                    font-size: 13px;
                    line-height: 15px;
                    color: #707177;
                }
              }
              .ant-form-item-control{
                .ant-form-item-control-input{
                  .ant-form-item-control-input-content{
                    .ant-input-group-wrapper{
                        .ant-input-group{
                            .ant-input{
                                border-right: none;
                            }
                            .ant-input-group-addon{
                                border-left: none;
                                font-size: 14px;
                                line-height: 16px;
                                color: #707177;
                            }
                        }
                    }
                  }
                }
                // &:last-child{
                //   padding: 0px;
               
                // }
              }
              &:last-child{
                  border-top: 1px solid #D6DCE0;
                  margin: 24px 0px 24px 0px;
    padding: 24px 0px 24px 321px;
              }
            }
            
          }
      }
//       .ant-modal-footer{
//           margin-top: 24px;
//           .ant-btn {}
//           .ant-btn-primary{
//             background: #FFA100;
// border: 1px solid #FFA100;
// box-sizing: border-box;
// border-radius: 25px;
//           }
//       }
    }
  }