.content {
  background-color: #fff;
  margin: 24px;
  padding: 24px;
}

.titleAdd {
  font-size: 24px;
  color: #e67225;
  font-weight: bold;
  text-align: center;
}

.input {
  border: none;
  border-bottom: 1px solid #d9d9d9;
  border-radius: 0;
  box-shadow: none !important;
  &:focus,
  input:focus {
    box-shadow: none !important;
    border-color: #f2954e;
  }

  &:hover,
  input:hover {
    box-shadow: none !important;
    border-color: #f2954e;
  }
}

.select {
  :global {
    .ant-select-selection {
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-radius: 0 !important;
    }
  }
}

.formAdd {
  :global {
    .ant-form-item-label {
      line-height: 24px;
    }
  }
}
