.root {
  p {
    margin: 0;
  }
  .textInput {
    height: 42px;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
    &:focus {
      box-shadow: none;
    }
  }
  .title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #707177;
    margin-bottom: 8px;
  }
  .actionDeleteTeam {
    margin-left: 27px;
    height: 25px;
    margin-top: 30px;
  }
  .action {
    display: flex;
    align-items: center;
    cursor: pointer;
    span {
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;
      text-decoration-line: underline;
      color: #707177;
    }
    &__icon {
      color: #2c6df9 !important;
      margin: 2px 7px 0 0;
    }
    &:active {
      transform: translateY(-1px);
    }
  }
  .viewRow {
    display: flex;
    margin: 16px 35px;
    &__input {
      width: 267px;
    }
  }
  :global {
    .ant-form-item {
      margin-bottom: 0;
    }
    .ant-input {
      .textInput();
    }
  }
}
