.menuFilter{
    padding: 20px;
    width: 320px;
    .btnForm{
        width: 100%;
        text-align: right;
        .btnApply{
            padding: 10px 27px;
            margin-left: 20px;
            border-radius: 25px;
            background-color: #FFA100;
            color: #fff;
            border: none;
            outline: none;
        }
        .btnClose{
            border: none;
            background-color: #fff;
        }
    }
}