.TicketDetails {
  .titlePage {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 0 16px 20px;
    background: #ffffff;
    &__text {
      margin-bottom: 0;
      color: #2c6df9;
      font-weight: 500;
      font-size: 16px;

      font-style: normal;
      line-height: 19px;
    }
  }
  .container {
    padding: 20px;
  }
}
