.onboardingAll {
  font-family: 'Roboto';
  margin-top: 32px;
  // height: 319px;
  object-fit: contain;
  border-radius: 8px;
  overflow: auto;
  border: solid 1px #d6dce0;
  background-color: #ffffff;

  .title {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    color: #000000;
  }
}
