.onboardingAll {
  margin-top: 32px;
  // height: 319px;
  object-fit: contain;
  overflow: auto;
  background-color: #ffffff;
  border: solid 1px #d6dce0;
  border-radius: 8px;

  .title {
    color: #000000;
    font-weight: 500;

    font-size: 16px;
  }
}
