.formWrapper {
  width: 100%;
  min-height: 60%;
  padding: 20px 30px 40px;
  color: #000;
  &__title {
    color: #161c29;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
  }

  &__description {
    margin-bottom: 1.5rem;
    color: #707177;
    font-size: 14px;
    text-align: justify;
  }

  &__descriptionSuccessfully {
    width: 120%;
    margin-bottom: 0;
    color: #707177;
    font-size: 12px;
    text-align: center;
    span {
      color: #2c6df9;
    }
  }

  .textSignIn {
    padding-top: 30px;
    color: #2c6df9;
    font-weight: 600;
    cursor: pointer;
  }

  .toLogin {
    :global {
      margin: 0;
      color: #707177;
      font-size: 13px;
      text-align: center;
      text-decoration: underline;
    }
  }

  :global {
    .ant-input {
      height: 31px;
      color: #000;
      border-radius: 4.5px;
    }
    .ant-btn-primary {
      width: 100%;
      height: 35px;
      margin-top: 4px;
      margin-bottom: 19.3px;
      color: #fff;
      font-weight: 600;
      font-size: 12px;
      text-shadow: none;
      background-color: #ffa100;
      border: none;
      border-radius: 30px;
      box-shadow: none;
    }
    .ant-form-item {
      margin-bottom: 1rem;
      color: #707177;
    }
    .ant-form label {
      color: #707177;
      font-weight: 500;
      font-size: 13px;
    }
  }

  input:-webkit-autofill,
  input:focus:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px #fff inset;
    box-shadow: 0 0 0 100px #fff inset;
  }
}

@media screen and (max-width: 768px) {
  .formWrapper {
    width: 100%;
  }
}
