.stepContain {
  :global {
    .ant-tabs-content-holder {
      padding: 10px 20px 0px;
    }
  }

  .titleBody {
    margin-top: 60px;
    background-color: #fff;
    padding: 29px 40px 0px;
    height: 261px;
    border-radius: 5px;
  }

  .textTime {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.41px;
    color: #464646;
  }

  .textBox {
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
    color: #000000;
  }

  .title_Box {
    border-radius: 5px;
    width: 100%;
    padding: 17px;
    background-color: #fff4d1;
    display: flex;
  }

  .boxReason {
    border: 1px solid #d6dce0;
    height: 141px;
    box-sizing: border-box;
    resize: none;

    padding: 13px 40px 20px;
    &:focus {
      box-shadow: none;
    }
    &:disabled {
      color: #464646 !important;
      background-color: #fff;
    }
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .icon {
    margin-left: 5px;
    margin-right: 21px;
  }

  .title_Text {
    font-weight: 400;
    font-size: 13px;
    color: #464646;
    line-height: 17px;
  }

  .subTitle_Text {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    font-family: Roboto;
    margin: 14px 0px 16px;
  }

  .submitButton {
    width: 220px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 30px;
    background-color: #2c6df9;
    color: #fff;
  }

  .titelContainer {
    height: 35px;
    background: rgba(86, 138, 250, 0.07);
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 10px;
    text-align: center;
    padding: 8px;
  }

  .requestHRForm {
    margin-top: 30px;
    padding: 25px 40px 0px;
    height: 173px;
    background: #ffffff;
    border-radius: 5px;
    .boxHRReason {
      border: 1px solid #d6dce0;
      height: 65px;
      box-sizing: border-box;
      color: #464646 !important;
      padding: 13px 40px 8px;
    }
  }
}
