@import '~antd/lib/style/themes/default.less';
.containerView {
  height: 100%;
  width: 100%;
}
.titleView {
  // background-color: #252933;
  text-align: center;
  align-items: center;
  color: #252933;
  font-size: 50px;
}
.contentView {
  padding: 0 20px;
  margin: 0 auto;
}
.textContent {
  text-align: justify;
  color: gray;
}
