@borderColor: #d6dce0;
@borderColor2: #d6dce4;
@commonSpace: 24px;
.ManagerView {
  width: 100%;
  background: #ffffff;
  border: 1px solid @borderColor;
  border-radius: 5px;

  :global {
    .ant-table .ant-table-title,
    .ant-table .ant-table-footer,
    .ant-table .ant-table-tbody > tr > td,
    .ant-table tfoot > tr > td {
      padding: 16px !important;
    }
    .ant-table .ant-table-thead > tr > th,
    .ant-table tfoot > tr > th {
      padding: 8px 16px !important;
    }
  }
}
