.root {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  .content {
    width: 629px;
    height: 154px;
    background: #ffffff;
    border: 1px solid #d6dce0;
    box-sizing: border-box;
    border-radius: 6px;
    .btnOutline {
      width: 138px;
      height: 40px;
      font-size: 14px;
      font-weight: 500;
      color: #ffa100;
      border-radius: 25px;
      border: solid 1px #ffa100;
      cursor: pointer;
      &:hover {
        color: #b1740c;
        border: solid 1px #b1740c;
      }
    }
  }
}
