.container {
  padding: 2rem;
  .viewSearch {
    width: 30%;
    min-width: 300px;
  }
  .viewAction {
    display: flex;
    justify-content: space-between;
    width: 40%;
    &__text {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 0px;
      cursor: pointer;
      &:hover,
      &:active {
        opacity: 0.5;
      }
    }
    &__textDownload {
      font-size: 18px;
      text-decoration: underline;
    }
  }
}
