.container {
  padding: 2rem;
  .viewLoading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
  }
  .chartNode {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 259px;
    height: 79px;
    padding: 0px 24px;
    background: #ffffff;
    border: 1px solid #e8eef2;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.14);
    & > .chartAvt {
      width: 30%;
    }
    & > .chartDetails {
      width: 70%;
    }
    &__textName {
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 14px;
    }
    &__info {
      margin-left: 5px;
      text-transform: capitalize;
      &__name {
        color: #161c29;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
      }
      &__title {
        display: flex;
        margin-top: 5px;
        color: #707177;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
      }
    }
    &__subInfoCollap {
    }

    &__subInfo {
      position: absolute;
      bottom: -11px;
      display: flex;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      user-select: none;
      > div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 22px;
        border-radius: 13px;
      }
      &__amount {
        width: 95px;
        color: #161c29;
        background: #ffa100;
        cursor: pointer;
      }
      &__amountCollap {
        width: 95px;
        color: #161c29;
        background: #2c6df9;
        cursor: pointer;
      }
      &__you {
        width: 40px;
        margin-left: 5px;
        color: #ffffff;
        background: #00c598;
        border-radius: 13px;
      }
    }
  }
  :global {
    .oc-node::before,
    .oc-node::after {
      width: 1px !important;
      background-color: #a7b2b9 !important;
    }
    .oc-hierarchy::before {
      border-top: 0.5px solid #a7b2b9;
    }
    .oc-edge.bottomEdge {
      display: none;
    }
  }

  .orgChart{
    width: 100%;
    height: auto;
    
    &__detailEmplChart{
      position: absolute;
      top: 120px;
      left: 120px;
    }
      
      .chartContainer {
        // display: flex;
        // align-items: center;
        // justify-content: center;
      position: relative;
      width: 100%;
      height: 90vh;
      border: none;
      background-color: #F6F7F9;
      .myChart {
        background-image: none;
        // transform: matrix(0.479603, 0, 0, 0.479603, -19, -213);
      }
  
      .myChart .oc-node .position {
        box-sizing: border-box;
        width: 130px;
        height: 65px;
        padding: 2px;
        color: #fff;
        background-color: #215a88;
      }
      .myChart .oc-node .fullname {
        box-sizing: border-box;
        width: 130px;
        height: 65px;
        padding: 2px;
        color: #215a88;
        background-color: #fff;
        border: 1px solid #215a88;
      }
      .myChart .oc-node .horizontalEdge {
        display: none;
      }
    }
  }
}
