.ticket {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #D6DCE0;
  border-radius: 8px;
  cursor: pointer;

  &__main {
    .header {
      font-size: 14px;
      color: #2C6DF9;
    }

    .title {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.48);
    }
  }
}
