@import '~antd/es/style/themes/default.less';

.root {
  :global {
    .ant-affix {
      z-index: 10 !important;
    }
    .ant-breadcrumb-separator {
      display: none;
      margin: 0px 20px;
      color: rgba(0, 0, 0, 0.45);
      font-size: large;
    }
    .ant-breadcrumb {
      display: flex;
      align-items: center;
      height: 42px;
      border-bottom: 1px solid #e4e7eb;
      a {
        color: #161c29;
        font-size: 13px;
        opacity: 0.6;
      }
      span {
        display: flex;
        align-items: center;
      }
      .ant-breadcrumb-link {
        display: inline-flex;
        a {
          z-index: 1;
        }
      }

      > span:nth-child(n):not(:last-child):not(:first-child) {
        a {
          display: inline-block;
          color: #707177;
          font-weight: 500;
          font-size: 13px;
          font-style: normal;
        }
        span.ant-breadcrumb-link {
          position: relative;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          &::after {
            display: block;
            height: 16px;
            content: url('../../../../public/assets/images/arrowBreakcum.svg');
            padding-inline: 8px;
          }
        }
        span.ant-breadcrumb-separator {
          display: block;
          display: none;
          margin-bottom: -4px;
        }
      }

      > span:first-child {
        a {
          display: inline-block;
          padding-left: @padding-lg;
          color: #707177;
          font-weight: 500;
          font-size: 13px;
          font-style: normal;
        }
        span.ant-breadcrumb-link {
          position: relative;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          &::after {
            display: block;
            height: 16px;
            content: url('../../../../public/assets/images/arrowBreakcum.svg');
            padding-inline: 8px;
          }
        }
        span.ant-breadcrumb-separator {
          display: block;
          display: none;
          margin-bottom: -4px;
        }
      }

      > span:last-child a {
        display: flex;
        align-items: center;
        color: @primary-color;
        font-weight: 500;
        font-size: 13px;
        font-style: normal;
        // line-height: 15px;
        background: none;
        opacity: 1;
      }
    }

    .ant-pro-menu-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    .ant-layout.ant-layout-has-sider > .ant-layout,
    .ant-layout.ant-layout-has-sider > .ant-layout-content {
      width: 100%;
      overflow: hidden;
    }
    .ant-layout {
      background-color: #f6f7f9;
    }

    .ant-pro-global-header-layout-mix {
      background-color: #fff;
    }
    .ant-pro-page-container-children-content {
      margin: 0;
    }

    .ant-pro-sider.ant-layout-sider-collapsed .ant-pro-sider-logo {
      padding: 0;
    }
    .ant-pro-sider-logo {
      position: relative;
      display: flex;
      align-items: center;
      height: 76px;
      padding: 0;
      line-height: 32px;
      background-color: #161c29;
      cursor: pointer;
    }

    .ant-pro-global-header {
      padding: 0;
      padding-right: 16px;
    }

    .ant-pro-global-header-logo {
      display: none;
    }
    .ant-pro-basicLayout-content {
      position: relative;
      height: 100%;
      margin: 0px;
      padding: 0 0 @padding-lg;
    }
    .ant-page-header {
      width: 100%;
      padding: 0;
      background-color: #f6f7f9;
    }

    .ant-page-header-heading {
      display: none;
    }

    .ant-menu-inline-collapsed-tooltip {
      display: none;
    }
    // hover side menu will fade out the background color
    .ant-layout-has-sider {
      transform: 0.3s;
      &:has(.ant-pro-sider-light:hover) {
        .ant-pro-basicLayout-content {
          transform: 0.3s;
          opacity: 0.6;
        }
      }
    }

    .ant-pro-sider-light {
      width: 70px !important;
      min-width: 70px !important;
      max-width: 70px !important;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.123);

      transition: min-width 0.3s, max-width 0.3s;
      .ant-menu-item .anticon + span,
      .ant-menu-submenu-title .anticon + span {
        display: none;
        width: 0;
        margin-left: 0;
        opacity: 0;
        transition: 0.3s;
      }
      .ant-menu-vertical .ant-menu-item,
      .ant-menu-vertical-left .ant-menu-item,
      .ant-menu-vertical-right .ant-menu-item,
      .ant-menu-inline .ant-menu-item,
      .ant-menu-vertical .ant-menu-submenu-title,
      .ant-menu-vertical-left .ant-menu-submenu-title,
      .ant-menu-vertical-right .ant-menu-submenu-title,
      .ant-menu-inline .ant-menu-submenu-title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 24px;
        text-overflow: none !important;
      }

      .ant-pro-sider-logo {
        img {
          width: 19.7px;
          height: 18.8px;
          margin: auto;
        }
      }

      &:hover {
        z-index: 1000 !important;
        width: 242px !important;
        min-width: 242px !important;
        max-width: 242px !important;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.456);

        .ant-pro-sider-logo {
          img {
            width: 19.7px;
            height: 18.8px;
            margin: 0;
            margin-left: 30.5px;
          }
        }

        .ant-menu-vertical .ant-menu-item,
        .ant-menu-vertical-left .ant-menu-item,
        .ant-menu-vertical-right .ant-menu-item,
        .ant-menu-inline .ant-menu-item,
        .ant-menu-vertical .ant-menu-submenu-title,
        .ant-menu-vertical-left .ant-menu-submenu-title,
        .ant-menu-vertical-right .ant-menu-submenu-title,
        .ant-menu-inline .ant-menu-submenu-title {
          justify-content: start;
          // padding-left: 24px !important;
        }
        .ant-pro-menu-item {
          justify-content: flex-start;
        }
        .ant-menu-item .anticon + span,
        .ant-menu-submenu-title .anticon + span {
          display: inline-block;
          width: fit-content !important;
          margin-left: 10px !important;
          color: rgba(255, 255, 255, 0.801);
          font-weight: 500;
          font-size: 13px;
          opacity: 1 !important;
        }
      }
      .ant-menu {
        background-color: @primary-color;
      }
      .ant-menu-item {
        &:hover {
          background-image: linear-gradient(to right, @primary-color, @primary-color-active);
        }
        &:active,
        &:focus {
          background: #000;
        }
      }
      .ant-menu-item a {
        color: #fff;
      }
    }
    .ant-layout-sider-dark {
      .ant-pro-sider-light();
    }
    .ant-pro-sider.ant-menu-inline-collapsed .ant-menu-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 24px;
    }

    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background-color: @primary-color;
    }
    .ant-menu-item-selected {
      // border-right: 3px solid #fff;
      position: relative;
      background-image: linear-gradient(to right, @primary-color, @primary-color-active);
      &::after {
        position: absolute;
        top: 50%;
        left: 0;
        width: 4px;
        height: 50%;
        background-color: #fff;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        transform: translateY(-50%);
        content: '';
      }
    }

    .ant-menu-item-selected > a > .ant-pro-menu-item > .ant-pro-menu-item-title {
      opacity: 1;
    }

    .ant-menu-item-active > a > .ant-pro-menu-item > .ant-pro-menu-item-title {
      opacity: 1;
    }

    .ant-menu-item-active {
      background-color: rgba(0, 0, 0, 0.204);
    }

    .ant-menu-item .anticon,
    .ant-menu-submenu-title .anticon {
      min-width: 35px;
      margin-right: 0 !important;
    }
    .ant-menu-item-only-child {
      display: flex;
      align-items: center;
      height: 70px;
      margin: 0 !important;
      border-bottom: 1px solid @primary-color-active;
      &:active {
        margin: 0 !important;
        background-color: @primary-color;
      }
    }
    .ant-menu-vertical .ant-menu-item::after,
    .ant-menu-vertical-left .ant-menu-item::after,
    .ant-menu-vertical-right .ant-menu-item::after,
    .ant-menu-inline .ant-menu-item::after {
      border-right: none;
    }
  }

  @media screen and (max-width: 768px) {
    :global {
      .ant-pro-page-container-children-content {
        margin: 0;
        // padding: 0 2rem;
      }
    }
  }

  .rootLogo {
    display: flex;
    align-items: center;
    width: auto;
    height: 76px;
    margin-right: 24px;

    .currentName {
      margin-left: @margin-lg;
      color: #212020;
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 3px;
      text-transform: uppercase;
    }

    .logoSection {
      display: flex;
      width: 70px;
      // height: 100%;
      padding: 8px;
      overflow: hidden;
      box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.05);
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
