.AssignTeamModal {
  :global {
    .ant-modal-body {
      overflow-y: auto;
    }
    .ant-form-item-explain {
      div {
        font-size: 13px;
      }
    }
    .ant-select-selection-item {
      color: #161c29;
    }
    .ant-select-disabled {
      .ant-select-selection-item {
        color: #161c2980;
      }
    }

    .ant-select-selector,
    .ant-input {
      min-height: 42px !important;
      padding: 5px 11px !important;
      border-radius: 5px !important;
    }
  }
}
