.TableTickets {
  padding: 24px 24px 0 24px;
  .priority {
    display: flex;
    justify-content: flex-start;
    .priorityTag {
      width: fit-content;
      padding: 4px 8px;
      font-size: 11px;
      text-align: center;
      border-radius: 12px;
    }
    .priorityHigh {
      .priorityTag();
      background: #ffb6b6;
    }
    .priorityMedium {
      .priorityTag();
      background: #eefffb;
    }
    .priorityUrgent {
      .priorityTag();
      background: #ff8484;
    }
    .priorityLow {
      .priorityTag();
      background: #ffe9c5;
    }
  }
  .ticketID,
  .userID {
    color: #2c6df9;
    font-weight: 500;
    word-wrap: break-word;
    word-break: break-word;
    &:hover {
      cursor: pointer;
    }
  }
  :global {
    .ant-table-thead > tr > th {
      background: #2c6df9 !important;
    }
    .ant-table-pagination-right {
      justify-content: flex-start !important;
    }
    .ant-pagination {
      margin: 20px 24px !important;
    }
    .ant-table-body {
      height: 400px;
    }
    .ant-dropdown-trigger {
      color: #2c6df9 !important;
      border: none !important;
      box-shadow: none !important;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .viewEmpty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 360px;
  }
}
.dropdownPopover {
  :global {
    .ant-popover-inner {
      width: 270px;

      padding: 0;
      border: 1px solid #eaecef;
      border-radius: 8px;
    }
    .ant-popover-inner-content {
      padding: 0 !important;
    }
    .ant-popover-arrow {
      //   left: -2.5px !important;
      width: 18px;
      height: 18px;
      .ant-popover-arrow-content {
        width: 12px;
        height: 12px;
        box-shadow: none;
      }
    }
    .ant-popover-title {
      padding: 16px;
    }
  }
}
