.CandidateFields {
  .title {
    margin-top: 32px !important;
    margin-bottom: 32px !important;
  }
  .warning {
    width: 100%;
    border-radius: 5px;
    border: solid 1px #e9b551;
    background-color: #fffdf7;
    padding: 4px 0px 4px 14px;
    position: relative;
    .contentWrapper {
      .s {
        display: flex;
      }
      :global {
        svg {
          fill: #e9b551;
        }
      }
      padding-top: 17px;
      .TitleText {
        font-stretch: normal;
        font-style: normal;
        line-height: 14px;
        letter-spacing: normal;
        color: #000000;
        font-size: 12px;
        font-weight: 500;
        margin-left: 9px;
      }
    }
    .ContentText {
      font-size: 10px;
      color: #808080;
      padding-bottom: 14px;
      line-height: 16px;
      .BoldText {
        font-weight: 700;
        height: 10px;
      }
    }
  }
}
