.CandidateFields {
  .warning {
    width: 222px;
    height: 84px;
    border-radius: 5px;
    border: solid 1px #e9b551;
    background-color: #fffdf7;
  }

  .title {
    :global {
      .ant-typography {
        margin-top: 32px;
        margin-bottom: 32px;
      }
    }
  }
}
