.Line {
  width: 100%;
  height: 2px;
  background: #d6dce0;
}

.arrow {
  width: 100%;
  border-radius: 5px;
  border: solid 1px #d6dce4;
  background-color: #ffffff;
  margin-top: 8px;
  margin-bottom: 32px;
  :global {
    span.ant-select-arrow {
      color: #161c29;
      transform: rotate(180deg);
    }
  }
}
