.FieldsComponent {
  padding: 32px;

  .Input {
    width: 100%;
    border-radius: 5px;
    border: solid 1px #d6dce4;
    background-color: #ffffff;
    margin-top: 8px;
    margin-bottom: 32px;
  }
  .viewLoading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  :global {
    .ant-picker-disabled {
      background: #f5f5f5 !important;
    }
  }
}

@media screen and (max-width: 1100px) and (min-width: 840px) {
  .FieldsComponent {
    padding: 32px;

    .Input {
      width: 100%;
      border: 0;
      margin-top: 8px;
      margin-bottom: 32px;
    }
  }
}
