.relievingTemplates {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 20px;
  overflow: hidden;
  background: #ffffff;
  border: 1px solid #d6dce0;
  border-radius: 5px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      margin-bottom: 15px;
      color: #464646;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -11px;
      img {
        cursor: pointer;
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
  .border {
    position: absolute;
    left: 0;
    width: 100%;
    border-top: 1px solid #d6dce0;
    border-bottom: none;
  }
  hr {
    border-top: 1px solid #d6dce0;
    border-bottom: none;
  }
  .templateList {
    padding-top: 20px;

    .title {
      align-items: baseline;
      color: #161c29;
      font-weight: 500;
      font-size: 14px;
      font-family: Roboto;
      font-style: normal;
      line-height: 16px;

      &__text {
        span {
          color: #707177;
        }
      }
    }
    .list {
      .template {
        margin-top: 10px;
        margin-bottom: 10px;

        &__text {
          display: flex;
          align-items: center;
        }

        .templateName {
          color: #707177;
          font-weight: 500;
          font-size: 13px;
          font-family: Roboto;
          font-style: normal;
          line-height: 15px;
        }
        .icons {
          display: flex;
          align-items: center;

          img {
            margin-right: 12px;
          }

          img {
            cursor: pointer;
          }
        }
      }
    }
  }
}
