.relievingTemplates {
  background: #ffffff;
  border: 1px solid #d6dce0;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  margin-bottom: 30px;
  .header {
    p {
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      color: #464646;
      margin-bottom: 15px;
    }
  }
  .border {
    position: absolute;
    width: 100%;
    left: 0;
    border-top: 1px solid #d6dce0;
    border-bottom: none;
  }
  hr {
    border-top: 1px solid #d6dce0;
    border-bottom: none;
  }
  .templateList {
    padding-top: 20px;

    .title {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #161C29;
      align-items: baseline;

      &__text{
        span{
          color: #707177;
        }
      }
    }
    .list {
      .template {
        margin-bottom: 10px;
        margin-top: 10px;
        .templateName {
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 15px;
          color: #707177;
        }
        .icons {
          display: flex;
          // grid-template-columns: 50% 50%;
          align-items: center;

          img:first-child{
            margin-right: 12px;
          }

          img {
            cursor: pointer;
          }
        }
      }
    }
  }
}
