@yellow-0: #ffc65a;
@yellow-1: #fffdf7;
@black-0: #202020;

.Warning {
  width: 100%;
  padding: 10px 0;
  background-color: @yellow-1;
  object-fit: contain;
  border-radius: 5px;
  border: solid 1px @yellow-0;
  text-align: center;
  margin-bottom: 24px;
  .warningIcon {
    margin-right: 10px;
  }
  span {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: @black-0;
  }
}
