.root {
  padding: 24px;
  .reviewBox {
    display: flex;
    padding-right: 25px;
  }
  .btnHistory {
    margin-left: 10px;
  }
  .tag {
    width: 160px;
    padding: 5px;
    text-align: center;
    border-radius: 50px;
    height: auto;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
  }
  .currency {
    font-size: 24px;
    margin-bottom: 12px;
    color: black;
    text-align: right;
  }
  .row {
    margin-bottom: 15px;
    .text {
      padding-left: 10px;
    }
    .textReportID {
      padding-left: 10px;
      color: rgba(0, 0, 0, 0.45);
    }
  }
}

.ml10 {
  margin-left: 10px;
}

.history {
  p {
    margin: 0;
  }
}

.navigation {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
