.root {
  :global {
    .ant-menu {
      background-color: #fff;
    }
    .ant-menu-horizontal {
      border: none;
    }
    .ant-menu-horizontal > .ant-menu-item-selected {
      border-bottom: 2px solid #e67225;
      color: #e67225;
      font-weight: 500;
    }
    .ant-menu-horizontal > .ant-menu-item-selected > a,
    .ant-menu-horizontal > .ant-menu-item > a:hover {
      color: #e67225;
    }
  }

  .header {
    background-color: #fff;
    padding: 2px 32px 0;
    height: 50px;
  }

  .title {
    font-size: 18px;
    font-weight: 600 !important;
    width: 150px;
    text-align: center;
  }

  .content {
    margin: 24px;
  }
}

.btnAction {
  color: #76d0ff;
  margin: 5px;
}

.btnEllipsis {
  font-size: 22px;
  cursor: pointer;
  padding-left: 5px;
}

.btnEllipsis:hover {
  color: #e67225;
}

.ml10 {
  margin-left: 10px;
}
