.root {
  width: 100%;
  height: 436px;
  background: #ffffff;
  border: 1px solid #ebeff2;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
  padding: 31px;
  :global {
    .ant-picker-calendar-full .ant-picker-panel .ant-picker-body td {
      padding: 0 18px;
    }
    .ant-picker-cell-disabled {
      pointer-events: none;
      background: #ffffff;
      opacity: 0.3;
      box-sizing: border-box;
    }
  }
  .iconCheck {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
  }
  .date {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 13px;
    cursor: pointer;
    &:disabled {
      background-color: cyan;
    }
  }
  .check {
    background: #00c598;
    border: 1px solid #00c598;
  }
  .notCheck {
    background: #ffffff;
    border: 1px solid #ff3030;
  }
}
