.DidYouKnow {
  width: 100%;
  padding: 24px;
  background: #fff;
  background-color: #fff;
  border: 1px solid #d6dce0;
  border-radius: 5px;
  .NoteHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .NoteTitle {
      display: flex;
      align-items: center;
      .title {
        display: block;
        margin-left: 20px;
        color: #161c29;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
      }
    }
    .NoteCollapse {
      cursor: pointer;
      .collapseIcon {
        color: #2c6df9;
        font-weight: 500;
        font-size: 24px;
      }
    }
  }
  .noteData {
    &__content {
      padding-top: 24px;
    }

    &__divider {
      margin: 0;
      border-top: 1px solid #d6dce0;
    }
    .btn {
      margin-top: 24px;
    }
  }
  :global {
    span.ant-typography {
      color: #707177;
      font-weight: normal;
      font-size: 13px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.77;
      letter-spacing: normal;

      .bold-text {
        color: #707177;
      }
    }
  }
}
