.TemplateDetailsNote {
  width: 100%;

  min-height: 150px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.22);
  &_list {
    padding: 0 32px 32px 32px;
    &_note {
      display: flex;
      align-items: end;
      margin-bottom: 24px;
      .content {
        padding-left: 15px;
        color: #707177;
        font-size: 13px;
        line-height: 1.31;
        letter-spacing: 0.12px;
        text-align: left;
      }
    }
  }
  &_header {
    position: relative;
    display: flex;
    padding: 48px;

    &_title {
      padding-left: 48px;
      color: #161c29;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      text-align: left;
    }
    &_icons {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        position: absolute;
      }
      .outsideCircle {
        position: absolute;

        width: 64px;
        height: 64px;
        background-color: #e9f0ff;
        border-radius: 100px;
        opacity: 0.55;
      }
      .insideCircle {
        position: absolute;

        width: 46px;
        height: 46px;
        background-color: #e4edff;
        border-radius: 100px;
      }
    }
  }
}
