@darkColour: #161c29;
@blueColour: #2c6df9;
@lightGrayColor: #707177;
@commonPadding: 15px;
@contentPadding: 24px;
@borderColor: #d6dce0;

.DuplicateTaskModal {
  :global {
    .ant-modal-body {
      min-height: 400px;
      max-height: 500px;
      overflow-y: auto;
    }
    .ant-form-item-explain {
      div {
        font-size: 13px;
      }
    }
    .ant-select-selection-item {
      color: #161c29;
    }
    .ant-select-disabled {
      .ant-select-selection-item {
        color: #161c2980;
      }
    }

    .ant-select-selector,
    .ant-input {
      height: 42px !important;
      padding: 5px 11px !important;
      border-radius: 5px !important;
    }
    .ant-select-selection-search-input {
      height: 42px !important;
    }
    .ant-select-multiple {
      .ant-select-selection-search-input {
        height: unset !important;
      }
    }
    .ant-picker {
      width: 100%;
      min-height: 42px !important;
      font-size: 13px;
      border-radius: 5px;
    }
    .ant-form-item-label
      > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
      display: none;
    }
    .ant-form-item {
      margin-bottom: 0 !important;
    }
    .ant-form-item-label label {
      height: 0;
      color: #161c29;
      font-size: 13px;
    }
    .ant-form-item-explain {
      display: none;
    }

    .ant-btn-primary {
      height: 40px;
      padding: 0 30px;
      object-fit: contain;
      color: #ffffff;
      font-weight: 500;
      font-size: 14px;
      font-family: Roboto;
      letter-spacing: 0.13px;

      text-shadow: none;
      background-color: #ffa100;
      border: solid 1px #ffa100;
      border-radius: 25px;
      box-shadow: none;
      &:hover {
        color: #ffffff;
        background-color: #ffa100;
      }
    }
    .ant-btn-secondary {
      width: 94px;
      height: 40px;
      padding-right: 41px;
      object-fit: contain;
      color: #ffa100;
      font-weight: 500;
      font-size: 14px;
      font-family: Roboto;
      letter-spacing: 0.13px;
      border: solid 0;
      border-radius: 25px;
      box-shadow: none;
    }
    .ant-modal-header {
      padding: 24px;
      border-bottom: 1px solid #d6dce0;
      border-top-left-radius: 8px;
    }
    .ant-modal-content {
      border-top-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    .ant-row-center {
      align-items: center;
    }
    .ant-row-center:not(:last-child) {
      margin-bottom: 12px;
    }
    .ant-modal-footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 13px 24px;
      border-top: 1px solid #d6dce0;
    }
    .ant-select-selection-overflow-item .ant-select-selection-overflow-item-suffix {
      display: none;
    }
    .ant-modal-close-x {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 54px;
      height: 48px;
      color: #fff;
      background-color: #2c6df9;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      &:active {
        opacity: 0.5;
      }
    }

    // checkbox
    .ant-checkbox-wrapper {
      span {
        font-size: 13px;
      }
    }
  }

  .taskNumberCount {
    span {
      display: inline-block;
      margin-right: 5px;
      color: #464646;
      font-size: 13px;
    }
    .number {
      color: #2c6df9;
      font-weight: 500;
    }
  }
  .mainButtons {
    .btnSubmit {
      color: #fff;

      font-weight: 600;
      font-size: 14px;
      background-color: #ffa100;
      border: none;
      border-radius: 25px;
    }
    .btnSubmit:disabled {
      color: #fff;
      cursor: default;
      opacity: 0.5;
    }
    .btnCancel {
      display: inline-block;
      margin-right: 20px;
      color: #fd4546;
      font-weight: 500;
      font-size: 14px;
      border: none;
      box-shadow: none;
      cursor: pointer;
      &:active {
        opacity: 0.5;
      }
    }
  }

  .header {
    span {
      display: block;
    }
    &__title {
      margin: 0;
      color: #2c6df9;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
    }
    &__label {
      margin-bottom: 8px;
      color: #5d6473;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }
    &__date {
      color: #000000;
      font-weight: 500;
      font-size: 13px;
      text-align: center;
    }
  }
  .timeInput {
    max-height: 400px;
    margin-top: 24px;
    padding: 24px 10px;
    overflow-y: scroll;
    background: #fafcff;
    border: 1px solid #e3e8ef;
    border-radius: 8px;
  }
  .dateInput {
    :global {
      .ant-form-item-control-input {
        min-height: 0;
      }
      .ant-input {
        height: 0 !important;
        padding: 5px 0 !important;
        color: #2c6df9 !important;
        font-weight: 500;
        font-size: 14px !important;
        background: #fafcff !important;
        border: none !important;
      }
      .ant-input[disabled] {
        cursor: default;
      }
    }
  }
  .dayInput {
    :global {
      .ant-form-item-control-input {
        min-height: 0;
      }
      .ant-input {
        height: 25px !important;
        padding: 5px 0 !important;
        color: #9aa3b2 !important;
        font-weight: 400 !important;
        font-size: 12px !important;
        background: #fafcff !important;
        border: none !important;
      }
      .ant-input[disabled] {
        cursor: default;
      }
    }
  }
}
.formModal {
  padding: 24px;
}

.noPadding {
  :global {
    .ant-modal-body {
      padding: 0;
    }
  }
}
.withPadding {
  :global {
    .ant-modal-body {
      padding: @contentPadding;
    }
  }
}
