.PostContent {
  position: relative;
  height: 100%;
  :global {
    .ant-image {
      width: 100%;
      height: 100%;
    }
    .ant-image-img {
      height: 100%;
      object-fit: cover;
    }
  }
  .content {
    padding: 0 24px 24px;
    color: #161c29;
    font-weight: normal;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    line-height: 24px;
    white-space: pre-line;
    p {
      margin: 0;
    }
    a {
      font-weight: 500;
    }
  }
  .previewImage {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .previewContainer {
    margin: 0 24px 24px;

    .previewLink {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      background: #ffffff;
      border: 1px solid #d8dde9;
      :global {
        .Image {
          width: 200px !important;
          border-radius: 8px 0 0 8px !important;
        }
        .LowerContainer,
        .Title {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .SiteDetails {
          display: none;
        }
      }
    }
  }

  .countTag {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    padding: 8px;
    background-color: #161c298e;
    border-radius: 5px 0 0 0;
    span {
      color: #fff;
      font-size: 16px;
    }
  }
}
