@darkColour: #161c29;
@blueColour: #2c6df9;
@lightGrayColor: #707177;
@commonPadding: 15px;
@contentPadding: 24px;
@borderColor: #d6dce0;

.EditBufferHeadCountContent {
  :global {
    .ant-form-item-explain {
      div {
        font-size: 13px;
      }
    }

    .ant-input {
      height: 42px !important;
      padding: 5px 11px !important;
      font-size: 13px;
      // background: transparent !important;
      border-radius: 5px !important;
    }

    .ant-form-item-label
      > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
      display: none;
    }
    .ant-form-item-label label {
      height: 0;
      color: #161c29;
      font-size: 13px;
    }
    .ant-form-item .ant-upload.ant-upload-drag {
      background-color: #fff;
    }
    .ant-btn-primary {
      height: 40px;
      padding: 0 30px;
      object-fit: contain;
      color: #ffffff;
      font-weight: 500;
      font-size: 14px;

      letter-spacing: 0.13px;

      text-shadow: none;
      background-color: #ffa100;
      border: solid 1px #ffa100;
      border-radius: 25px;
      box-shadow: none;
      &:hover {
        color: #ffffff;
        background-color: #ffa100;
      }
    }
    .ant-btn-secondary {
      width: 94px;
      height: 40px;
      padding-right: 41px;
      object-fit: contain;
      color: #ffa100;
      font-weight: 500;
      font-size: 14px;

      letter-spacing: 0.13px;
      border: solid 0;
      border-radius: 25px;
      box-shadow: none;
    }
    .ant-modal-header {
      padding: 24px;
      border-bottom: 1px solid #d6dce0;
      border-top-left-radius: 8px;
    }
    .ant-modal-content {
      border-top-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    .ant-form-item {
      margin-bottom: 12px;
    }
    .ant-modal-footer {
      padding: 13px 24px;
      border-top: 1px solid #d6dce0;
    }
    .ant-select-selection-overflow-item .ant-select-selection-overflow-item-suffix {
      display: none;
    }
    .ant-modal-close-x {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 54px;
      height: 48px;
      color: #fff;
      background-color: #2c6df9;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      &:active {
        opacity: 0.5;
      }
    }
  }
  .btnSubmit {
    color: #fff;

    font-weight: 600;
    font-size: 14px;
    background-color: #ffa100;
    border: none;
    border-radius: 25px;
  }
  .btnSubmit:disabled {
    color: #fff;
    opacity: 0.5;
  }
  .btnCancel {
    display: inline-block;
    margin-right: 20px;
    color: #fd4546;
    font-weight: 500;
    font-size: 14px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    &:active {
      opacity: 0.5;
    }
  }

  position: relative;
  overflow-x: hidden;
  .abovePart {
    padding: 16px 24px !important;
    .calendarIcon {
      filter: invert(57%) sepia(76%) saturate(7481%) hue-rotate(216deg) brightness(102%)
        contrast(95%);
    }
    .item {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      .label {
        display: inline-block;
        margin-right: 8px;
        color: #707177;
        font-size: 13px;
      }
      .value {
        color: #161c29;
        font-weight: 500;
        font-size: 13px;
      }
    }
  }

  .divider {
    border-bottom: 1px solid #d6dce0;
  }
}
