@commonPadding: 24px;
@blue: @primary-color;
@black: #171924;

.ModeSwitcher {
  margin-bottom: @margin-lg;
  padding: @padding-md @padding-lg;
  overflow: hidden;
  background: #ffffff;
  border: 1px solid @border-color-base;
  border-radius: 8px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .text {
      color: @black;
      font-weight: 500;
      font-size: 16px;
    }
    .button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 200px;
      padding: 5px 2px;
      border: 1px solid #d0d5dd;
      border-radius: 50px;
      button:disabled {
        cursor: not-allowed;
      }
    }

    .active {
      position: absolute;
      top: 2px;
      width: 95px;
      height: 90%;
      background: @blue;
      border-radius: 50px;
      transition: all 0.3s;
      &:focus,
      &:active {
        border: none;
        outline: none;
        box-shadow: none;
      }
    }

    .active1 {
      transform: translateX(99px);
    }

    .active2 {
      transform: translateX(0px);
    }

    .buttonTabs {
      color: #fff;
    }

    .spanTabs {
      z-index: 1;
      display: inline-block;
      width: 95px;
      height: 32px;
      font-weight: 500;
      line-height: 32px;
      text-align: center;
      // padding-right: 25px;
      // padding-left: 25px;
      background-color: transparent;
      border: none;
      box-shadow: none;
      cursor: pointer;
    }
  }
  .sharePost {
    margin-top: @margin-lg;
    &__content {
      display: flex;
      margin-bottom: 0;
      padding: @padding-md;
      background: #f2f4f7;
      border-radius: 5px;
      cursor: pointer;
      opacity: 0.7;
    }
  }
}
