.RequestScopeTabs {
  margin-top: 16px;
  :global {
    .ant-tabs-ink-bar {
      display: none;
    }
    .ant-tabs-nav-wrap {
      padding: 0 !important;
      background-color: #fff !important;
    }
    .ant-tabs-tab {
      margin-bottom: 0 !important;
      // height of tab name
      padding: 0 !important;
      background-color: #fff !important;
      border-radius: 0 !important;
      // margin-right: 60px !important;
    }
    .ant-tabs-tab-active {
      background-color: #fff !important;
      .ant-tabs-tab-btn {
        color: #2c6df9 !important;
        font-weight: bold !important; // 500
      }
    }
    .ant-tabs-tab-btn {
      color: #464646 !important;
      font-weight: bold !important;
      font-size: 14px;
      opacity: 1;
    }
    .ant-tabs-tabpane {
      padding: 0 !important;
    }
    .ant-tabs-nav {
      // margin: 10px 0 0 0;
      height: 45px !important;
      padding-left: 0 !important;
      background-color: #fff !important;
    }
    .ant-tabs-tab,
    .ant-tabs-tab-active {
      margin-top: 0px !important;
    }
    .ant-tabs-top > .ant-tabs-nav::before,
    .ant-tabs-top > div > .ant-tabs-nav::before {
      display: none;
    }
  }
}
