.HolidayList {
  // padding: 0 20px;
  .eachRow {
    &:last-child {
      border-bottom: none;
    }
    align-items: center;
    border-bottom: 1px solid #d6dce0;
    padding: 10px 0px;
    margin: 0 20px;
    :global {
      .ant-col {
        font-size: 13px;
        color: #464646;
      }
    }
    .eventOfDay {
      padding-left: 5px;
    }
    .dateAndMonth {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span {
        font-size: 11px;
        font-weight: bold;
      }
    }
    .dayInWeek {
      text-align: right;
    }
  }
}
