.CommentOverlay {
  width: 150px;
  .comment {
    position: relative;
    display: -webkit-box;
    width: 140px;
    padding-left: 10px;
    overflow: hidden;
    font-weight: 400;
    //font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    // display: flex;
    text-overflow: ellipsis;
    word-wrap: break-word;
    //-webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: table;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: right;
    vertical-align: middle;
  }

  .buttonContainer {
    display: table-cell;
    margin: auto 4px;
    padding: 4px;
    //self-align: center;
  }

  .image {
    width: 34px;
    height: 34px;
  }

  .showEditComment {
    display: none;
    float: right;
  }
  .showViewComment {
    display: none;
    float: right;
  }
}
.CommentOverlay:hover {
  color: white;
  .showEditComment {
    display: flex;
    align-items: center;
    margin-top: -10px;
    margin-right: 10px;
  }
  .showViewComment {
    display: flex;
    align-items: center;
    margin-top: -10px;
    margin-right: 10px;
  }
}
