.modalAdd {
    :global {
      .ant-modal-close{
        right: -57px;
        background-color: #2C6DF9;
        border-radius: 0 8px 8px 0;
        color: #fff;
        .ant-modal-close-x{
            color: #fff;
        }
      }
      .ant-modal-body{
          padding: 0;
      }
      .ant-modal-footer{
          padding: 24px;
      }
    }
    .basicInfoForm{
        padding: 32px;
        padding-bottom: 0px;
        border-bottom: 1px solid #D6DCE0;
        .basicInfoTitle p{
          font-weight: 700;
        }
        :global{
            .ant-popover-content{
                background-color: #000;
                color: #fff;
            }
        }
    }
    .contactDetail{
        padding: 32px 32px 12px 32px;
        border-bottom: 1px solid #D6DCE0;
        .contactDetailTitle{
            font-weight: 700;
        }
    }
    .otherDetail{
        padding: 32px 32px 12px 32px;
        border-bottom: 1px solid #D6DCE0;
        .otherDetailTitle{
            font-weight: 700;
        }
    }
    .btnForm{
        .btnCancel{
            border: none;
            color: #FD4546;
            font-weight: bold;
        }
        .btnAdd{
            height: auto;
            border-color: #ffa100;
            background-color: #ffa100;
            color: #fff;
            padding: 12px 24px;
            border-radius: 25px;
            font-weight: 700;
        }
    }
    .note{
      display: inline-block;
      margin-left: 5px;
      padding: 5px;
      border: 1px solid #000;
      border-radius: 50%;
    }
    .popover{
        :global{
         .ant-popover-content{
             background-color: #000;
         }
        }
        .popoverImg{
            display: inline-block;
            margin-bottom: 4px;
            margin-left: 8px;
        }
    }
}