.ModalContent {
  padding: 40px;
  display: flex;
  // justify-content: center;
  align-items: center;
  // flex-direction: column;
  :global {
    .ant-form {
      width: 100%;
    }
    .ant-form-item {
      display: block;
    }
    .ant-form-item-label {
      padding-bottom: 0;
      label {
        color: #707177;
        font-size: 13px;
      }
    }

    .ant-btn-primary {
      box-shadow: none;
      text-shadow: none;
      height: 40px;
      border-radius: 25px;
      border: solid 1px #ffa100;
      background-color: #ffa100;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.13px;
      color: #ffffff;
      &:hover {
        background-color: #ffa100;
        color: #ffffff;
      }
    }
  }
  .spin {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    text-align: center;
    color: #161c29;
    margin-top: 32px;
    margin-bottom: 18px;
  }
  &_content {
    font-size: 13px;
    line-height: 1.31;
    letter-spacing: 0.12px;
    text-align: center;
    color: #707177;
    margin-bottom: 32px;
  }
}
