.FilterBar {
  margin-bottom: 10px;
  :global {
    .ant-tabs-tab-btn {
      color: #464646; // hex with alpha 0.5
      opacity: 0.5 !important;
    }
    .ant-tabs-tab-active {
      .ant-tabs-tab-btn {
        opacity: 1 !important;
      }
    }
    .ant-tabs-ink-bar {
      display: block !important;
    }
    .ant-tabs-nav {
      border-bottom: 1px solid #e2e4e8 !important;
    }
    .ant-badge {
      color: unset;
    }
  }
}
