.FilterBar {
  margin-bottom: 10px;
  :global {
    .ant-tabs-tab-btn {
      color: #46464680 !important; // hex with alpha 0.5
    }
    .ant-tabs-ink-bar {
      display: block !important;
    }
    .ant-tabs-nav {
      border-bottom: 1px solid #e2e4e8 !important;
    }
  }
}
