.LeaveType {
  .label {
    display: block;
    color: #707177;
    font-weight: 400;
    font-size: 13px;
  }
  :global {
    .ant-input {
      width: 100px;
    }
  }
  .prefix {
    position: relative;
    right: 53px;
    color: #707177;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
  }
}
