.ProcessStatus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  color: #464646;
  font-size: 13px;
  background-color: #fff;
  border: 1px solid #d6dce0;
  border-radius: 5px;
  .left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .hintText {
      color: #161c29;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    span {
      display: inline-block;
    }
    .label {
      padding-right: 16px;
      color: #161c29;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
    }
  }
}
