.eachCollapse {
  :global {
    .ant-collapse-content > .ant-collapse-content-box {
      padding: 0;
      border: none;
    }
    .ant-collapse-header {
      font-weight: bold;
      font-size: 13px;
      .ant-collapse-arrow {
        margin-top: -3px;
      }
    }
  }
  &:last-child {
    .eachPanel {
      border: none;
    }
  }
  .eachPanel {
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 2px;
    .eachRow {
      font-size: 13px;
      padding: 17px 17px 0 17px;
      &:last-child {
        padding-bottom: 25px;
      }
      .fileName {
        display: flex;
        align-items: center;
        span {
          margin-left: 15px;
          font-weight: 500;
          text-decoration: underline;
        }
        .fileIcon {
          height: 30px;
          font-size: 20px;
          color: #2c6df9;
        }
        overflow: auto;
      }
    }
  }

  .statusAndButtons {
    display: flex;
    align-items: center;
    a {
      color: #00ba73;
      margin-right: 20px;
      font-weight: 500;
      font-size: 13px;
      align-self: center;
      margin-top: -3px;
    }
    .downloadButton {
      color: #2c6df9;
      font-size: 25px;
      margin-right: 20px;
      :hover {
        opacity: 0.7;
      }
    }
    .menuButton {
      color: #bfbfbf;
      font-size: 25px;
      :hover {
        opacity: 0.7;
      }
    }
  }
  .collapseIcon {
    color: #707070 !important;
    font-size: 16px !important;
  }
}
