.root {
  display: flex;
  flex-direction: row;
  min-height: 90vh;
  background-color: #f6f7f9;
  .affix {
    height: auto;
    .viewLeft {
      width: 250px;
      height: auto;
      &__menu {
        padding: 24px 0 24px 20px;
        background-color: #ffffff;
        // border-top: 1px solid rgba(0, 0, 2, 0.15);

        border-right: 1px solid rgba(0, 0, 2, 0.15);
        border-bottom: 1px solid rgba(0, 0, 2, 0.15);
        // box-shadow: 0 0 2px 0 rgba(0, 0, 2, 0.15);
        border-radius: 0 0 5px 0;

        div:last-child {
          border-bottom: none;
          // margin-bottom: 50px;
        }
        &__btn {
          width: 83%;
          height: 40px;
          margin-top: 24px;
          color: #ffffff;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          background: #ffa100;
          border: none;
          border-radius: 25px;
          &:disabled {
            opacity: 0.5;
          }
        }
      }
    }
  }
  .viewRight {
    width: 100%;
    padding: 25px;
    &__infoEmployee {
      width: 100%;
      height: auto;
      overflow: hidden;
      background-color: #fff;
      border: solid 1px #d6dce0;
      border-radius: 5px;
      .btnEdit{
        position: absolute;
        top: 7px;
        right: 10px;
        z-index: 1;
        background: transparent;
        color: #fff;
        border-radius: 10px;
      }
      .infoEmployee {
        &__imgCover {
          position: relative;
          width: 100%;
          height: 103px;
          object-fit: cover;
        }
        &__imgAvt {
          position: absolute;
          top: 54px;
          right: 0;
          left: 0;
          width: 96px;
          height: 96px;
          margin: auto;
          object-fit: cover;
          // border: solid 1.5px #fff;
          border-radius: 50%;
          &__upload {
            position: absolute;
            top: 120px;
            right: -65px;
            left: 0;
            margin: auto;
            cursor: pointer;
            &:active,
            &:hover {
              opacity: 0.5;
            }
          }
        }
        &__textNameAndTitle {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-top: 60px;
          &__name {
            margin: 0;
            color: #161c29;
            font-weight: 500;
            font-size: 16px;
          }
          &__title {
            // margin: 5px 0;
            color: #161c29;
            font-size: 12px;
            text-align: right;
            opacity: 0.5;
          }
        }
        &__viewBottom {
          padding: 0 16px;
          font-size: 13px;
          &__row {
            // display: flex;
            // flex-direction: row;
            // align-items: flex-start;
            // justify-content: space-between;
            :global{
              .ant-col-6{
                text-align: right;
              }
            }
          }

          &__certifications{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px 20px;
            padding-bottom: 10px;
          }

          .showAvatar {
            span {
              color: #161c29;
              font-size: 12px;
            }
            margin-bottom: 10px;
          }
          .titleTag {
            color: #161c29;
            font-weight: 500;
            font-size: 12px;
          }
          .titleTag1 {
            color: #161c29;
            font-weight: 400;
            font-size: 12px;
          }
          &__description {
            margin: 0;
            color: #161c29;
            font-size: 12px;
            line-height: 1.5;
            // text-align: justify;
            text-align: center;
            opacity: 0.5;
            padding-bottom: 12px;
          }
          :global {
            .ant-divider-horizontal {
              margin: 5px 0 15px 0;
            }
            .ant-tag {
              margin-bottom: 10px;
              color: #00c598;
              font-weight: 500;
              border: none;
              border-radius: 5px;
            }
          }
        }
        &__socialMedia {
          margin-bottom: 20px;
        }
      }
    }
    .viewBtnAction {

      width: 100%;
      padding-bottom: 24px;
      
      .actionBtn{
        display: flex;
        align-items: center;
        justify-content: center;

        background: rgba(86,138,250, 0.07); // #568AFA;
        height: 40px;
        width: 100%;
        padding: 24px;
        cursor: pointer;
        border-radius: 4px;
        
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.13px;
        color: #2c6df9;
        img {
          padding-left: 4px;
        }
      }
    }
    .viewLoading {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2;
    }
  }
  
}

.itemDropdownMenu {
  color: #8a8d93;
  font-size: 14px;
  &:hover {
    color: #2c6df9;
  }
}

.formEditBio {
  padding: 24px;
  &__title {
    margin-bottom: 24px;
    color: #161c29;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
  }
  &__description1 {
    margin-bottom: 24px;
    color: #707177;
    font-size: 13px;
    line-height: 1.38;
    text-align: center;
  }

  &__description2 {
    margin-top: 8px;
    color: #707177;
    font-style: italic;
    line-height: 1.38;
  }

  .viewBtnSave {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    .btnSave {
      width: 80px;
      height: 40px;
      color: #fff;
      font-weight: 500;
      font-size: 14px;
      background-color: #ffa100;
      border: none;
      border-radius: 30px;
      &:disabled {
        opacity: 0.5;
      }
    }
  }
  :global {
    textarea.ant-input {
      padding: 16px;
      color: #000;
      font-size: 13px;
      border-radius: 8px;
    }
  }
}

.menuDropdown{
  width: 100%;

  .subMenu{

    :global{
      .ant-dropdown-menu-submenu-title{
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #8a8d93;

         &:hover{
           color: #2C6DF9;
         }
      }
    }
  }

  .menuItem{
      font-family: Roboto;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #8a8d93;

      &:hover{
        color: #2C6DF9;
      }
  }

  :global{
    .ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover{
      background-color: rgba(86,138,250, 0.07);
    }
  }
}


