.FAQCategory {
  box-sizing: border-box;
  margin: 24px;
  padding: 24px;
  background: #ffffff;
  border: 1px solid #d6dce0;
  border-radius: 5px;
  .headerCatergories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
    padding-bottom: 23px;
    border-bottom: 1px solid #d6dce0;
    &__text {
      color: #161c29;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
    }
    &__btnAdd {
      :global {
        .ant-btn {
          padding: 0;
          border: none;
          box-shadow: none;
        }
      }
      img {
        margin-right: 8px;
        &:hover {
          cursor: pointer;
        }
      }
      span {
        color: #2c6df9;
        font-weight: 500;
        font-size: 14px;
        font-style: normal;
        line-height: 16px;
      }
    }
  }
}
