.employeeTable {
  .viewEmpty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 255px;
    .textEmpty {
      font-weight: 400;
      font-size: 16px;
      line-height: 18.75px;
      color: black;
      margin-top: 20px;
    }
  }
  :global {
    .ant-table-thead > tr > th {
      background-color: #2c6df9;
      padding: 7px 16px;
    }
    .ant-table-tbody > tr > td {
      // border-bottom: solid 1px #d6dce0;
      // color: #464646;
      font-size: 13px;
      padding: 16px 16px;
    }
    .ant-pagination, .ant-table-pagination, .ant-table-pagination-right {
      display: none;
    }
  }

  .title {
    color: #fff;
    font-size: 13px;
    line-height: 15.23px;
    font-weight: 400;
  }

  .tableText {
    font-size: 13px;
    line-height: 15px;
    color: #464646;
  }
  .rowAction {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #2c6df9;
    cursor: pointer;
    margin-right: 18px;

    display: flex;
    justify-content: space-between;
    
    &__action{
      text-decoration-line:underline;
      color: #FD4546;
    }
    &__view{
      text-decoration-line:underline;
      margin-left: 14px;
    }
  }
  .reason {
    // width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;

    color: #464646
  }

  .lastEdited{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #2C6DF9;
  }

  .update {
    // width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
  }
}

// border: 1px solid #D6DCE0;
// border-radius: 5px;
