.contentTenua {
  :global {
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      width: 445px;
      height: 42px;
      padding: 5px 20px;
    }
    .ant-input-number {
      box-sizing: border-box;
      width: 83px;
      height: 42px;
      padding: 3px;
      border: 1px solid #d6dce4;
      border-radius: 5px;
    }
    .ant-picker {
      width: 252px;
      height: 42px;
    }
    // .ant-radio-group {
    //   padding: 2px;
    //   border: 1px solid #d6dce4;
    //   border-radius: 5px;
    // }
    // .ant-radio-button-wrapper:first-child {
    //   border-radius: 10px;
    // }
    // .ant-radio-button-wrapper:last-child {
    //   border-radius: 10px;
    // }
    // .ant-radio-button-wrapper > .ant-radio-button {
    //   border-radius: 10px;
    // }
    // .ant-form-item {
    //   margin-bottom: 0px;
    // }
    // .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    //   display: none;
    // }
    // .ant-radio-button-wrapper:not(:first-child)::before {
    //   background-color: #fff;
    // }

    .ant-select-selector {
      background: #ffffff;
      border: 1px solid #d6dce4;
      border-radius: 5px;
    }
  }
  height: auto;
  background-color: #fff;
  border: 1px solid #d6dce0;
  border-radius: 5px;
  .flex {
    display: flex;
    justify-content: space-between;
    padding: 30px 24px;
    .titleText {
      color: #161c29;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
    }
    .btnAdd {
      width: 211px;
      height: 34px;
      padding: 9px;
      color: #2c6df9;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      background: rgba(86, 138, 250, 0.12);
      border-radius: 5px;
      border: transparent;
    }
  }
  // .form {
  //   padding: 24px;
  //   .effectForm {
  //     box-sizing: border-box;
  //     padding: 24px;
  //     font-weight: normal;
  //     font-style: normal;
  //     background-color: #fafafa;
  //     border: 1px solid #d6dce0;
  //     border-radius: 12px;

  //     &__firstContent,
  //     &__lastContent {
  //       color: #707177;
  //       font-size: 13px;
  //       line-height: 15.23px;
  //     }
  //     &__secondContent {
  //       color: #707177;
  //       font-size: 13px;
  //       line-height: 20px;
  //     }

  //     &__deleteSection{
  //       display: flex;
  //       justify-content: flex-end;
  //     }

  //     &__deleteIcon{
  //       position: relative;
  //       width: 30px;
  //       height: 30px;
  //       background-color: #FFF4F4;
  //       border-radius: 20px;
  //       cursor: pointer;
  //       .iconImg{
  //         color: red;
  //         position: absolute;
  //         top: 50%;
  //         left: 50%;
  //         transform: translate(-50%, -50%);
  //       }
  //     }

  //     .inputText {
  //       display: flex;
  //       align-items: center;
  //     }

  //     :global {
  //       .ant-select-selector {
  //         background: #ffffff;
  //         border: 1px solid #d6dce4;
  //         border-radius: 5px;
  //       }
  //     }
  //   }
  // }
  // .effectFrom {
  //   .text {
  //     padding-bottom: 5px;
  //     color: #464646;
  //     font-weight: normal;
  //     font-size: 13px;
  //     line-height: 24px;
  //   }
  //   margin-top: 20px;
  //   padding-bottom: 31px;
  // }
  // .select {
  //   box-sizing: border-box;
  //   color: #161c29;
  //   font-weight: normal;
  //   font-size: 14px;
  //   line-height: 16px;
  //   border: 1px solid #d6dce0;
  //   border-radius: 5px;
  // }
  // .btnAdd {
  //   width: 259px;
  //   height: 40px;
  //   color: #fff;
  //   font-weight: 500;
  //   font-size: 14px;
  //   line-height: 16px;
  //   background: #ffa100;
  //   border-radius: 25px;
  // }
  // .radioGroup {
  //   // padding: 3px;
  //   color: #707177;
  //   font-weight: normal;
  //   font-size: 13px;
  //   font-style: normal;
  //   line-height: 15px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  // }
  // .borderStyles {
  //   width: 100%;
  //   height: 1px;
  //   background-color: #d6dce0;
  // }
}
