@blueColor: #2c6df9;
.AddButton {
  height: 40px;
  margin-left: 10px;
  color: @blueColor;
  font-weight: 500;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  img {
    margin-right: 5px;
  }
  &:hover {
    background-color: transparent;
  }
}
