.Domain {
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  background: #ffffff;
  border: 1px solid #d6dce0;
  border-radius: 5px;
  .domainTitleContainer {
    padding: 26px 24px;
    .domainTitle {
      margin: 0;
      font-weight: 700;
      font-size: 16px;
    }
  }
  .domainContent {
    padding: 40px 38px;
    .contentInside {
      color: #464646;
      font-size: 13px;
      line-height: 2;
    }
    .formSetDomain {
      margin-top: 32px;
      color: #707177;
      .deleteIcon {
        margin-left: 8px;
        cursor: pointer;
      }
      .btnAdd {
        display: flex;
        align-items: center;
        padding: 0 8px;
        color: #3a70f0;
        font-weight: 500;
        font-size: 14px;
        font-style: normal;
        line-height: 24px;
        text-align: center;
        .addIcon {
          margin-right: 8px;
        }
      }
      .btnSave {
        display: inline-block;
        height: auto;
        padding: 12px 24px;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        text-shadow: none;
        background-color: #ffa100;

        border-color: #fff;
        border-radius: 25px;
        box-shadow: none;
      }
      .inpDomain {
        padding: 13px 16px;
      }
      .primary {
        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;

        .primaryText {
          margin-left: 8px;
          color: #667085;
          font-weight: 400;
          font-size: 14px;
          font-style: normal;
          line-height: 20px;
        }
        .check {
          margin-left: 8px;
          color: #2c6df9;
          font-weight: 400;
          font-size: 14px;
          font-style: normal;
          line-height: 20px;
        }
      }

      :global {
        .ant-form-item-label label {
          color: #707177;
        }
        .ant-input {
          padding: 13px 16px;
          color: #161c29;
        }
      }
    }
  }
}
.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .title {
    font-weight: 500;
    font-size: 15px;
    font-style: normal;
    line-height: 12px;
    text-align: center;
  }
  .description {
    font-size: 13px;
    font-style: normal;
    line-height: 2;
    text-align: center;
  }
}
