.hrDetailTicket {
  // background-color: rgba(0, 0, 0, 0.3);
  min-height: 100vh;
  .detailTicket__content {
    padding: 24px;
    .viewListComment {
      margin-top: 24px;
      // background-color: #fff;
      // padding: 24px;
      // color: #464646;
      // margin: 20px 0;
      // font-size: 13px;
      // border-radius: 5px;
      // border: 1px solid #d6dce0;
    }
  }
  .titlePage {
    height: 60px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 0 20px;
    box-shadow: 0 1px 2px 0 #eeeeee;
    &__text {
      font-size: 18px;
      font-weight: bold;
      color: #2c6df9;
      margin: 0;
    }
  }
  &__content {
    padding: 24px;
  }
}

.notification {
  position: fixed;
  width: calc(100% - 73px);
  padding: 40px 30px;
  bottom: 0;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    height: 70px;
    border-radius: 5px;
    bottom: 0;
    width: 100%;
    background-color: #d6dce0;
    border: 1px solid rgba(86, 138, 250, 0.07);
    box-sizing: border-box;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    .text {
      font-weight: 500;
      font-size: 18px;
    }
    span {
      cursor: pointer;
    }
    span:first-child {
      font-weight: 500;
      font-size: 16px;
      color: #464646;
    }
    span:nth-child(2) {
      .text;
      color: #ce06ae;
    }
    span:nth-child(3) {
      .text;
      color: #de0e0e;
    }
    span:last-child {
      .text;
      color: #2058d1;
      padding-right: 70px;
    }
  }
}

.viewLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}
