.AddQuickLink {
  :global {
    .ant-card {
      overflow: hidden;
      border: 1px solid #d6dce0;
      border-radius: 5px;
      .ant-card-head {
        display: flex;
        align-items: center;
        height: 70px;
        border-bottom: 1px solid #d6dce0;
        .ant-card-head-wrapper {
          display: flex;
          justify-content: space-between;
          width: 100%;
          .ant-card-head-title {
            color: #161c29;
            font-weight: 500;
            font-size: 16px;
          }
        }
      }
      .ant-card-body {
        padding: 0px;
      }
    }
    .ant-form-item {
      margin-bottom: 16px;
    }
    .ant-form-item-label {
      label {
        color: #707177;
        font-size: 13px;
        line-height: 15px;
      }
    }
    .ant-input-textarea-show-count::after {
      margin-top: 5px !important;
      color: #707177;
      font-size: 13px !important;
    }

    // SELECT
    .ant-select {
      width: 100% !important;
    }
    .ant-select-selector {
      min-height: 42px !important;
      border: 1px solid #d6dce4 !important;
      border-radius: 5px !important;
    }
    .ant-select-single {
      .ant-select-selection-search-input {
        height: 42px !important;
      }
    }
    .ant-select-selection-item,
    .ant-select-selection-placeholder {
      font-size: 13px !important;
      line-height: 42px !important;
    }
    .ant-select-multiple {
      .ant-select-selection-item {
        height: 28px !important;
        padding-top: 3px !important;
        font-size: 13px;
        line-height: unset !important;
        background: #ffffff;
        border: 1px solid #d6dce0;
        border-left: 4px solid #2c6df9;
        border-radius: 5px;
      }
      .ant-select-selection-item-remove {
        margin-top: 3px;
        margin-inline: 5px;

        .anticon-close {
          border: 0.75px solid #707177;
          border-radius: 50%;
        }
      }
    }
    .ant-select-multiple .ant-select-selection-item-remove > * {
      line-height: 0;
    }

    // INPUT + DATE PICKER
    input.ant-input,
    .ant-input-number,
    .ant-picker {
      width: 100%;
      height: 42px !important;
      border: 1px solid #d6dce4 !important;
      border-radius: 5px !important;
    }
    .ant-input-number,
    .ant-input {
      font-size: 13px;
    }
    .ant-picker {
      input {
        font-size: 13px;
      }
    }
    .ant-input-number-input-wrap {
      input {
        height: 40px !important;
      }
    }
    textarea.ant-input {
      width: 100%;
      border: 1px solid #d6dce4 !important;
      border-radius: 5px !important;
    }
    .ant-upload-list-picture .ant-upload-list-item-thumbnail img,
    .ant-upload-list-picture-card .ant-upload-list-item-thumbnail img {
      object-fit: contain;
    }
  }
  .backBtn {
    color: #2c6df9;
    font-weight: 500;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    padding-inline: 5px !important;
  }
  .formContainer {
    .form {
      padding: 16px 24px;
    }
  }
  .previewContainer {
    .title {
      color: #161c29;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
    }
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 16px 24px;
    text-align: right;
    border-top: 1px solid #d6dce0;
    // border-top: 1px solid #e1dfdf;
    .btnSave {
      height: 40px;
      margin-left: 20px;
      color: #fff;
      font-weight: 500;
      background-color: #ffa100;
      border: none;
      border-radius: 25px;
      outline: none;
      box-shadow: none;
      padding-inline: 25px;
    }
    .btnReset {
      color: #ffa100;
      font-weight: 500;
      font-size: 14px;
      background-color: #fff;
      border: none;
      outline: none;
      box-shadow: none;
    }
  }
}
