.root {
  width: 100%;

  .header,
  .userInfo {
    width: 100%;
    padding: 24px;

    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  .header {
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    font-size: 16px;
    border-bottom: 1px solid @border-color-base;

    &__title {
      color: #161c29;
    }

    &__icon {
      color: @primary-color;
      cursor: pointer;
      span {
        margin-left: 10px;
      }
    }
  }

  .userInfo {
    .rootView {
      .textLabel {
        color: #161c29;
        font-weight: 500;
        font-size: 14px;
      }

      .textValue {
        color: #707177;
        font-weight: 400;
      }
    }
  }
}
