@gray: #707177;
@border-color: #e4e7eb;
@blue: #2c6df9;

.phase {
  margin-top: 32px;
  padding-bottom: 7px;
  border-bottom: 1px solid @border-color;

  h3 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    margin-left: 29px;
    color: black;
    margin-bottom: 8px;
  }

  .menuItem {
    margin-left: 13px;
    margin-bottom: 0;
    padding: 16px 14px 16px 16px;
    display: block;
    color: @gray;
    cursor: pointer;

    &.active {
      background-color: #e9f0ff;
      color: @blue;
      font-weight: bold;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
    }
  }
}
