@color-grey: #707177;
@color-blue: @primary-color;

.TechnicalCertification {
  overflow: hidden;
  border: 1px solid @border-color-base;
  border-radius: 5px;
  .container {
    margin: 20px 16px 0;
    padding-bottom: 16px;
    &:not(:last-child) {
      border-bottom: 1px solid @border-color-base;
    }
  }
}
