.nameDocument {
  display: flex;
  justify-content: space-between;
  margin: 12px 24px;
  :global {
    .ant-input {
      width: 60%;
      height: 70px;
      resize: none;
    }
  }
  .starSymbol {
    display: inline-block;
    margin-left: 4px;
    color: #ff6c6c;
  }
}
