.nameDocument {
  margin: 12px 16px;
  :global {
    .ant-input {
      height: 90px;
      border-radius: 5px;
      resize: none;
    }
  }
  .starSymbol {
    display: inline-block;
    margin-left: 4px;
    color: #ff6c6c;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .waiting {
    color: #ffa100;
    font-weight: 500;
    cursor: pointer;
    img {
      margin-left: 9px;
    }
  }
  .received {
    color: #47c97f;
    font-weight: 500;
    cursor: pointer;
    img {
      margin-left: 9px;
    }
  }
}
