.JobDetailForm {
  padding: 24px;
  :global {
    .ant-form-item {
      margin-bottom: 16px;
    }
    .ant-form-item-label {
      label {
        color: #707177;
        font-size: 13px;
      }
    }
    .ant-form-item-explain {
      display: none;
    }
    // SELECT
    .ant-select {
      width: 100% !important;
    }
    .ant-select-selector {
      min-height: 42px !important;
      border: 1px solid #d6dce4 !important;
      border-radius: 5px !important;
    }
    .ant-select-single {
      .ant-select-selection-search-input {
        height: 42px !important;
      }
    }
    .ant-select-selection-item,
    .ant-select-selection-placeholder {
      font-size: 14px !important;
      line-height: 42px !important;
    }
    .ant-select-multiple {
      .ant-select-selection-item {
        height: 28px !important;
        padding-top: 3px !important;
        font-size: 14px;
        line-height: unset !important;
        background: #ffffff;
        border: 1px solid #d6dce0;
        border-left: 4px solid #2c6df9;
        border-radius: 5px;
      }
      .ant-select-selection-item-remove {
        margin-top: 3px;
        margin-inline: 5px;

        .anticon-close {
          border: 0.75px solid #707177;
          border-radius: 50%;
        }
      }
    }
    .ant-select-multiple .ant-select-selection-item-remove > * {
      line-height: 0;
    }
    .ant-select-auto-complete {
      .ant-input {
        border: none !important;
      }
    }

    .ant-select-selector {
      overflow: hidden;
    }
    .ant-input-affix-wrapper {
      .ant-input-prefix {
        margin-right: 9px;
      }
      .ant-input {
        height: unset !important;
      }
      border: none !important;
    }
    // INPUT + DATE PICKER
    .ant-input,
    .ant-input-number,
    .ant-picker {
      width: 100%;
      height: 42px !important;
      border: 1px solid #d6dce4 !important;
      border-radius: 5px !important;
    }
    .ant-input-number,
    .ant-input {
      font-size: 14px;
    }
    .ant-picker {
      input {
        font-size: 14px;
      }
    }
    .ant-input-number-input-wrap {
      input {
        height: 40px !important;
      }
    }
  }
  .selectors {
    padding-bottom: 24px;
  }
  .items {
    padding-top: 24px;
    border-top: 1px solid #d6dce0;
  }
  .checkBoxesContainer {
    :global {
      .ant-checkbox-group-item {
        margin-right: 60px;
      }
    }
  }
}
