.DirectoryComponent {
  margin: 0 24px;
  @keyframes displayOpenSider {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  .openSider {
    position: relative;
    opacity: 1;
    width: 17.1px;
    height: 21px;
    margin-top: 14px;
    background-color: #0d61dd;
    cursor: pointer;
    z-index: 1;
    animation-name: displayOpenSider;
    animation-duration: 1s;
  }

  .openSider::before {
    position: absolute;
    top: 0;
    // right: -8px;
    left: 20px;
    width: 0;
    height: 0;
    border-top: 10.5px solid transparent;
    border-bottom: 10.5px solid transparent;
    border-left: 8px solid #0d61dd;
    content: '';
  }

  .openSider::after {
    position: absolute;
    content: '';
    height: 21px;
    width: 20px;
    background: #0d61dd;
  }
  .CloseSider {
    display: none;
  }
  .buttonCreate {
    margin: 30px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 42px;
    border-radius: 30px;
    border: 1px solid #ffa100;
    background-color: white;
    .NameNewProfile {
      margin-bottom: 0px;
      width: 145px;
      height: 22px;
      font-family: 'Noto Sans', sans-serif;
      font-size: 16px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: normal;
      text-align: left;
      color: #ffa100;
    }
    :global {
      .anticon {
        margin-right: 9px;
        margin-bottom: 1px;
        color: #ffa100;
        font-size: 14px;
      }
    }
  }
  .boxCreate {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 24px;
    .Text {
      display: flex;
      flex-flow: row nowrap;
      text-decoration: underline;
      margin-top: 35px;
      margin-bottom: 26.3px;
      .ViewText {
        width: 130px;
        height: 24px;
        margin-bottom: 0;
        font-family: 'Noto Sans', sans-serif;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: #140606;
      }
      .ViewNumber {
        width: 32px;
        height: 24px;
        font-family: 'Noto Sans', sans-serif;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: #de0e0e;
      }
    }
  }
  .filterSider {
    // width: 300px;
    padding-right: 24px;
  }
  .contentContainer {
    width: 100%;
    padding: 24px 0;
    overflow-x: auto;
    border: 1px solid #d6dce0;
    border-radius: 8px;
    margin: 20px 0;
    height: 100%;
  }
}
