.DirectoryComponent {
  :global {
    .ant-tabs > .ant-tabs-nav,
    .ant-tabs > div > .ant-tabs-nav {
      height: 50px;
    }
  }
  min-width: 1150px;
  // margin: 32px 105px;
  padding: 24px;

  .TabComponent {
    :global {
      .ant-tabs-tab {
        margin: 0 30px 0 0 !important ;
        font-weight: 700;
        font-size: 14px;
      }
      .ant-tabs-ink-bar {
        display: block;
      }
      .ant-layout {
        min-height: 540px;
        background-color: #fff;
      }

      .ant-tabs-tab-btn {
        color: #707177;
        opacity: 1;
      }
      .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: #2c6df9;
      }

      .ant-tabs-nav-list .ant-tabs-tab-btn {
        color: #707177;
        opacity: 1;
      }
    }
  }
  .AddTeamimg {
    margin-right: 10px;
    margin-bottom: 5px;
  }
  .buttonAddImport {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 42px;
    background-color: white;
    border-radius: 30px;
    cursor: pointer;
    margin-inline: 10px;
    img {
      margin-right: 10px;
    }
    &_imgImport {
      margin-right: 15px !important;
      transform: scale(1.5);
    }
    &_text {
      margin-bottom: 0px;
      color: #ffa100;
      font-weight: 500;
      font-size: 14px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.38;
      letter-spacing: normal;
      text-align: left;
    }
    .download_icon {
      margin-top: 4px;
      margin-right: 12px;
      color: #ffa100;
      font-size: 20px;
    }
  }
  .buttonCreate {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 42px;
    margin: 25px 32px 22px 0;
    background-color: white;
    border-radius: 30px;
    .NameNewProfile {
      width: 145px;
      height: 22px;
      margin-bottom: 0px;
      color: #ffa100;
      font-weight: 500;
      font-size: 14px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.38;
      letter-spacing: normal;
      text-align: left;
    }
    :global {
      .anticon {
        margin-right: 9px;
        margin-bottom: 1px;
        color: #ffa100;
        font-size: 20px;
      }
    }
  }
  .boxCreate {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 20px 24px;
    .Text {
      display: flex;
      flex-flow: row nowrap;
      margin-top: 35px;
      margin-bottom: 26.3px;
      text-decoration: underline;
      .ViewText {
        width: 130px;
        height: 24px;
        margin-bottom: 0;
        color: #140606;
        font-weight: 500;
        font-size: 18px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
      }
      .ViewNumber {
        width: 32px;
        height: 24px;
        color: #de0e0e;
        font-weight: 700;
        font-size: 18px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
      }
    }
  }
  .filterSider {
    position: relative;
    margin-right: 24px;
    cursor: pointer;
  }
  .contentContainer {
    width: 100%;
    height: 100%;
    // margin: 20px 0;
    overflow-x: auto;
    border: 1px solid #d6dce0;
    border-radius: 8px;
    .directoryLayout {
      position: relative;
      :global {
        .ant-layout-footer {
          height: 70px;
          background: #ffffff;
          border-top: solid 1px #d6dce0;
        }
      }
      .directoryLayout_inner {
        min-height: unset;
      }
    }
  }
  .tabBarExtra {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    .filterButton {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 111px;
      height: 40px;
      img {
        margin-right: 10px;
      }
    }
    .tagCountFilter {
      padding: 5px;
      border-radius: 15px;
      position: absolute;
      left: 45%;
    }
    .textButtonFilter {
      margin-bottom: 0;
      color: #2c6df9;
      font-weight: 500;
      font-size: 14px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.13px;
    }
    .filterBackgroundButton {
      background-color: #f4f7ff;
      border-radius: 5px;
    }

    .loadingFilterBtn {
      opacity: 0.3;
    }
  }
}

@media screen and (max-width: 1366px) {
  .DirectoryComponent {
    min-width: 500px;
    // margin: 32px 24px;
  }
}
