.DirectoryComponent {
  min-width: 1150px;
  margin: 32px 100px;
  .TabComponent {
    :global {
      .ant-tabs-tab {
        font-size: 14px;
        font-weight: bold;
      }
      .ant-layout {
        min-height: 540px;
        background-color: #fff;
      }
    }
  }
  .AddTeamimg {
    margin-right: 10px;
    margin-bottom: 5px;
  }
  .buttonCreate {
    margin: 25px 32px 22px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 42px;
    border-radius: 30px;
    background-color: white;
    .NameNewProfile {
      margin-bottom: 0px;
      width: 145px;
      height: 22px;
      font-family: 'Noto Sans', sans-serif;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: normal;
      text-align: left;
      color: #ffa100;
    }
    :global {
      .anticon {
        margin-right: 9px;
        margin-bottom: 1px;
        color: #ffa100;
        font-size: 20px;
      }
    }
  }
  .boxCreate {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 24px;
    .Text {
      display: flex;
      flex-flow: row nowrap;
      text-decoration: underline;
      margin-top: 35px;
      margin-bottom: 26.3px;
      .ViewText {
        width: 130px;
        height: 24px;
        margin-bottom: 0;
        font-family: 'Noto Sans', sans-serif;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: #140606;
      }
      .ViewNumber {
        width: 32px;
        height: 24px;
        font-family: 'Noto Sans', sans-serif;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: #de0e0e;
      }
    }
  }
  .filterSider {
    position: relative;
    margin-right: 24px;
    cursor: pointer;
  }
  .contentContainer {
    width: 100%;
    overflow-x: auto;
    border: 1px solid #d6dce0;
    border-radius: 8px;
    margin: 20px 0;
    height: 100%;
    .directoryLayout {
      position: relative;
      :global {
        .ant-layout-footer {
          height: 70px;
          border-top: solid 1px #d6dce0;
          background: #ffffff;
        }
      }
      .directoryLayout_inner {
        min-height: unset;
      }
    }
  }
  .tabBarExtra {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    .filterButton {
      position: absolute;
      top: 25%;
      left: 25%;
      content: '';
      display: flex;
      align-items: flex-end;
      flex-flow: row;
      img {
        padding-right: 10px;
      }
      :global {
        .anticon-filter {
          font-size: 14px;
          color: #2c6df9;
          padding-top: 4px;
          margin-right: 11px;
        }
      }
    }
    .textButtonFilter {
      margin-bottom: 0;
      height: 17px;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.13px;
      color: #2c6df9;
    }
    .filterBackgroundButton {
      width: 111px;
      height: 40px;
      object-fit: contain;
      opacity: 0.07;
      border-radius: 5px;
      background-color: #568afa;
    }
    .filterBackgroundButton_isCollapsed {
      width: 111px;
      height: 40px;
      object-fit: contain;
      opacity: 0.07;
      border-radius: 5px;
    }
  }
}
