.root {
  background-color: #fff;
  padding: 40px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #d6dce0;
  .viewTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
    }
    &__info {
      max-width: 55%;
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      color: #464646;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .boxComment {
    resize: none;
    min-height: 66px;
    margin: 15px 0;
    border: 1px solid #d6dce0;
    box-sizing: border-box;
    &:focus {
      box-shadow: none;
    }
    &:disabled {
      background: #ffffff;
      color: #464646;
    }
  }

  .viewRehire {
    padding-left: 10px;
    &__text1 {
      margin: 0 6px 0 10px;
      font-size: 13px;
      line-height: 19px;
      color: rgba(44, 109, 249, 0.7);
    }
    &__text2 {
      font-size: 11px;
      line-height: 19px;
      color: #707177;
    }
  }
}
