.containerEmployeeOnboarding {
  position: relative;
  min-height: 100vh;
  font-family: 'Roboto';
  background-color: #f6f7f9;

  .employeeOnboarding__tab {
    position: relative;
  }
  .options {
    display: flex;
    margin-right: 12px;
    :global {
      .generate {
        background-color: red;
      }
      .ant-row {
        align-items: baseline;
      }
      .ant-btn-link {
        height: 16px;
        height: 40px;
        color: #2c6df9;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.13px;
        background-color: transparent;
        border: none;
      }
      .ant-btn-text {
        height: 40px;
        color: #2c6df9;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.13px;
        background-color: #e6edff;
        border: none;
        border-radius: 35px;
      }
    }
  }

  :global {
    .ant-tabs-nav-wrap {
      height: 100%;
    }

    .ant-tabs-tab-btn {
      color: #707177;
      opacity: 1;
    }

    .ant-tabs-nav {
      height: 56px;
    }

    .ant-tabs-tab {
      padding: 13px 0 6px 0;
    }
  }
}
