.containerEmployeeOnboarding {
  position: relative;
  min-height: 100vh;
  font-family: 'Roboto';
  background-color: #f6f7f9;

  .employeeOnboarding__tab {
    position: relative;
  }
  
  .options {
    display: flex;
    margin-right: 12px;
    .generate {
      background-color: red;
    }
    :global {
      
      .ant-row {
        align-items: baseline;
      }
      .ant-btn-link {
        height: 16px;
        height: 40px;
        color: #2c6df9;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.13px;
        background-color: transparent;
        border: none;
      }
      .ant-btn-text {
        height: 40px;
        color: #2c6df9;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.13px;
        background-color: #e6edff;
        border: none;
        border-radius: 35px;
      }
    }
  }

  :global {
    .ant-tabs-nav-wrap {
      height: 100%;
    }

    .ant-tabs-tab-btn {
      color: #707177;
      opacity: 1;
    }
    .ant-tabs-extra-content {
      .ant-btn.ant-btn-text {
        background: #FFFFFF;
    border: 1px solid #FFA100;
    box-sizing: border-box;
    border-radius: 21px;
    color: #FFA100;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.13125px;
    .ant-icon-download {
      
      font-size: 20px;
    svg {
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0.13125px;
    }
    }
      }
    }
  }
}
