@color-grey: #707177;
@color-blue: #2c6df9;

.TechnicalCertification {
  margin-bottom: 16px;
  overflow: hidden;
  border: 1px solid #d6dce0;
  border-radius: 5px;
  .addBtn {
    display: flex;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    height: 60px;
    cursor: pointer;
    padding-inline: 16px;
    .plusIcon,
    .title {
      color: #2c6df9 !important;
      font-weight: bold !important;
    }
    .plusIcon {
      margin-right: 16px;
      font-size: 24px !important;
    }
    .title {
      padding-top: 2px;
      font-weight: bold;
      font-size: 13px;
    }
  }
}
