.LeaveHistoryCalendar {
  position: relative;

  .eventDetailContainer {
    border-top: 1px solid #e2e4e8;
    .eventDetailPart {
      .eventsContainer {
        max-height: 250px;
        overflow: auto;
      }
      .title {
        padding: 0 24px;
        font-weight: 700;
        font-size: 14px;
        line-height: 4;
      }
    }
  }
}
