.borderLeaveBalanceInfoBox {
  border: 1px solid #ebeff2;
  border-radius: 5px;
}
.CollapseInformation {
  background-color: #f6f7f9;
  .hrLine {
    height: 20px;
    background-color: rgb(246, 247, 249);
  }
  .container {
    .borderLeaveBalanceInfoBox();
    padding: 20px 20px 5px 20px;
    background-color: white;
    border-top: 1px solid #ebeff2;
    .secondTitle {
      display: flex;
      flex-direction: column;
      &__left {
        color: #464646;
        font-weight: 700;
        line-height: 1;
      }
      &__right {
        // line-height: 2;
        margin: 10px 0;
        font-size: 10px;
        a {
          color: #2c6df9;
          font-weight: 700;
          text-decoration: underline;
        }
      }
    }
  }
}
