.closedTable {
  padding: 20px;
  .toolbar {
    position: absolute;
    right: 35px;
    top: 22px;
    display: flex;
    justify-content: space-between;
    .filter {
      display: flex;
      align-items: center;
      margin-right: 20px;
      :global {
        .ant-btn-round.ant-btn-sm {
          border: none;
          color: #2c6df9;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .ant-btn > span {
          display: inline-block;
          margin-left: 10px;
        }
        .ant-input-affix-wrapper {
          border: 1px solid #d6dce0;
          box-sizing: border-box;
          border-radius: 5px;
        }
      }
    }
  }
}
