@import '~antd/es/style/themes/default.less';

@pro-header-hover-bg: rgba(0, 0, 0, 0.025);

.menu {
  :global(.anticon) {
    margin-right: 8px;
  }

  :global(.ant-dropdown-menu-item) {
    min-width: 160px;
  }

  :global {
    .ant-dropdown-menu-item-divider {
      background-color: #d6dce0;
    }
  }

  :global {
    .ant-dropdown-menu-item,
    .ant-dropdown-menu-submenu-title {
      padding: 8px 24px;
      color: #000;
      font-weight: 500;
      font-size: 13px;
      line-height: 15.23px;
      text-align: left;
    }

    .ant-dropdown-menu-item-group-list {
      margin: 0 0 10px 0;
      padding: 0;
    }

    .ant-dropdown-menu-item-group-title {
      padding: 0;
    }
  }

  position: relative;
  min-width: 240px;
  text-align: center;
  border-radius: 4%;
  box-shadow: 0 6px 16px -8px rgba(0, 0, 0, 0.5), 0 9px 28px 0 rgba(0, 0, 0, 0.05),
    0 12px 48px 16px rgba(0, 0, 0, 0.03);

  &__customItem {
    all: unset !important;
  }

  .selectLocation {
    color: #707177;
    font-weight: 400;
    pointer-events: none;
  }

  .viewProfileBtn {
    margin: 18px 20px !important;

    .buttonLink {
      width: 100%;
      color: #2c6df9;
      font-weight: 500;
      font-size: 13px;
      text-decoration: none;
      border: 1px solid #2c6df9;
      border-radius: 50px;

      &:hover {
        color: #fff;
        background-color: #2c6df9;
      }
    }
  }

  .firstDivider {
    margin-top: 18px;
  }

  .menuItemLink {
    overflow: hidden;
    // if the location name is too long, I solve this issue by three lines of css
    white-space: nowrap;
    text-overflow: ellipsis;
    &__withIcon {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      img {
        width: 16px;
        margin-right: 9px;
      }
      span {
        color: #161c29;
        font-size: 14px;
        line-height: 21px;
      }
    }
    &__withIconPolici {
      img {
        width: 12px;
        margin-right: 13px;
      }
    }
  }

  .menuItemLink2 {
    .menuItemLink();
    color: #2c6df9;
    pointer-events: none;
  }

  .menuItemLogout {
    position: relative;
    color: #fd4546 !important;
  }

  .viewProfile {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
    padding-top: 18px;
    padding-right: 24px;
    padding-left: 24px;
    // padding-left: @padding-xs + 2px;
    text-align: left;

    .viewProfileAvatar {
      .avatar {
        margin-top: 5px;
        background: @black;
        box-shadow: 0 0 0 1.75px @white, 0 0 0 3.75px #2294e3;
      }
    }

    .viewProfileInfo {
      padding-left: 20px;

      p {
        margin: 0 0 2px 0;
        font-size: 12px;
      }

      p:first-child {
        font-weight: 500;
        font-size: 14px;
      }

      p:not(:first-child) {
        color: #707177;
      }
    }
  }

  .menuItemIcon {
    position: absolute;
    top: 18px;
    right: 2px;
    color: #1890ff;
    font-size: 16px;
    opacity: 0.75;
  }

  .groupMenuItem {
    position: relative;

    .sessionLogin {
      // position: absolute;
      // bottom: -30px;
      padding-top: 5px;
      color: #707177;
      font-weight: normal;
      font-size: 13px;
      text-align: left;
      pointer-events: none;
    }
  }
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  // float: right;
  height: 100%;
  margin-left: auto;
  overflow: hidden;
  line-height: normal;

  .action {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 12px;
    cursor: pointer;
    transition: all 0.1s;

    > span {
      vertical-align: middle;
    }

    // &:hover {
    //   background: @pro-header-hover-bg;
    // }

    // &:global(.opened) {
    //   background: @pro-header-hover-bg;
    // }
  }

  .search {
    margin: 0 12px;
    padding-left: 13px;
    color: #161c29;
    font-size: 17px;
    cursor: pointer;

    &:hover {
      background: transparent;
    }
  }

  .calendar {
    width: 44px;
    height: 44px;
    margin: 0 12px;
    padding-left: 13px;
    color: #161c29;
    font-size: 17px;
    background-color: #f3f6fc;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background: transparent;
    }
  }

  .notify {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    margin: 0 12px;
    // padding-left: 13px;
    color: #161c29;
    font-size: 17px;
    background-color: #f3f6fc;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background: transparent;
      border: 1px solid #00c598;
    }
  }

  .switchRole {
    display: flex;
    justify-content: center;

    min-width: 100px;
    height: 44px;
    margin: 0 12px;
    padding: 0 10px;
    background-color: #f3f6fc;
    // border: 1px solid rgba(255, 255, 255, 0);
    border: 1px solid #f3f6fc;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background: transparent;
      border: 1px solid #00c597;
    }

    .roleTitle {
      font-weight: 500;
      font-size: 13px;
    }
  }

  .account {
    .avatar {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      // margin:~'calc((@{layout-header-height} - 24px) / 2)'0;
      margin-right: 7px;
      color: @primary-color;
      color: #fff;
      vertical-align: top;
      background: @black;
      // box-shadow: 0 0 0 1.75px @white, 0 0 0 3.75px #99a9cd;
    }
  }
}

.dark {
  .action {
    color: rgba(255, 255, 255, 0.85);

    > span {
      color: rgba(255, 255, 255, 0.85);
    }

    &:hover,
    &:global(.opened) {
      background: @primary-color;
    }
  }
}

:global(.ant-pro-global-header) {
  .dark {
    .action {
      color: @text-color;

      > span {
        color: @text-color;
      }

      &:hover {
        color: rgba(255, 255, 255, 0.85);

        > span {
          color: rgba(255, 255, 255, 0.85);
        }
      }
    }
  }
}
