@import '~antd/es/style/themes/default.less';

@pro-header-hover-bg: rgba(0, 0, 0, 0.025);

.menu {
  :global(.anticon) {
    margin-right: 8px;
  }

  :global(.ant-dropdown-menu-item) {
    min-width: 160px;
  }

  :global(.ant-dropdown-menu-item-divider) {
    background-color: #79ccda;
  }

  :global {
    .ant-dropdown-menu-item:not(:last-child),
    .ant-dropdown-menu-submenu-title {
      text-align: left;
      padding-left: 62px;
    }
    .ant-dropdown-menu-item-group-list {
      margin: 0 0 10px 0;
      padding: 0;
    }
  }

  position: relative;
  min-width: 240px;
  padding: 10px;
  text-align: center;
  border-radius: 4%;
  box-shadow: 0 6px 16px -8px rgba(0, 0, 0, 0.5), 0 9px 28px 0 rgba(0, 0, 0, 0.05),
    0 12px 48px 16px rgba(0, 0, 0, 0.03);

  .menuItemLink {
    margin-top: @margin-xs + 2px;
    margin-bottom: @margin-xs + 2px;
    color: #1890ff;
    font-size: @font-size-base;
    text-decoration: underline;
  }

  .menuItemLink.menuItemViewProfile {
    padding-left: 62px;
    text-align: left;
  }

  .menuItemLogout {
    position: relative;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    color: red;
  }

  .viewProfile {
    display: flex;
    width: 100%;
    padding-top: 5px;
    padding-left: @padding-xs + 2px;
    text-align: left;

    .viewProfileAvatar {
      .avatar {
        margin-top: 5px;
        background: @black;
        box-shadow: 0 0 0 1.75px @white, 0 0 0 3.75px #2294e3;
      }
    }

    .viewProfileInfo {
      padding-left: 20px;

      p {
        margin: 0 0 2px 0;
      }

      p:first-child {
        font-weight: 700;
      }

      p:not(:first-child) {
        color: #c2c2c2;
      }
    }
  }

  .menuItemIcon {
    position: absolute;
    top: 18px;
    right: 2px;
    color: #1890ff;
    font-size: 16px;
    opacity: 0.75;
  }

  .groupMenuItem {
    position: relative;
    .sessionLogin {
      position: absolute;
      bottom: -30px;
      left: 62px;
      color: #c2c2c2;
      font-size: 14px;
    }
  }
}

.right {
  display: flex;
  float: right;
  height: 48px;
  margin-left: auto;
  overflow: hidden;

  .action {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 12px;
    cursor: pointer;
    transition: all 0.3s;

    > span {
      vertical-align: middle;
    }

    &:hover {
      background: @pro-header-hover-bg;
    }

    &:global(.opened) {
      background: @pro-header-hover-bg;
    }
  }

  .search {
    padding-left: 13px;
    margin: 0 12px;
    cursor: pointer;
    font-size: 17px;
    color: #161c29;
    &:hover {
      background: transparent;
    }
  }

  .calendar {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: #f3f6fc;
    margin: 0 12px;
    padding-left: 13px;
    cursor: pointer;
    font-size: 17px;
    color: #161c29;
    &:hover {
      background: transparent;
    }
  }

  .notify {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: #f3f6fc;
    padding-left: 13px;
    margin: 0 12px;
    cursor: pointer;
    font-size: 17px;
    color: #161c29;
    &:hover {
      background: transparent;
    }
  }

  .account {
    .avatar {
      margin: ~'calc((@{layout-header-height} - 24px) / 2)' 0;
      margin-right: 8px;
      color: @primary-color;
      vertical-align: top;
      background: rgba(255, 255, 255, 0.85);
    }
  }
}

.dark {
  .action {
    color: rgba(255, 255, 255, 0.85);

    > span {
      color: rgba(255, 255, 255, 0.85);
    }

    &:hover,
    &:global(.opened) {
      background: @primary-color;
    }
  }
}

:global(.ant-pro-global-header) {
  .dark {
    .action {
      color: @text-color;

      > span {
        color: @text-color;
      }

      &:hover {
        color: rgba(255, 255, 255, 0.85);

        > span {
          color: rgba(255, 255, 255, 0.85);
        }
      }
    }
  }
}
