.GoToTop {
  :global {
    .ant-back-top {
      right: 12px;
      bottom: 8px;
      z-index: 1000 !important;
      width: 30px;
      height: 30px;
      color: rgb(255, 255, 255);
      font-size: 18px;
      line-height: 33px;
      text-align: center;
      background-color: @primary-color;
      border-radius: 4px;
    }
  }
}
