.GoToTop {
  :global {
    .ant-back-top {
      right: 12px;
      bottom: 10px;
      z-index: 1000 !important;
      width: 24px;
      height: 24px;
      color: #fff;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      background-color: @primary-color;
      border-radius: 4px;
    }
  }
}
