.feedback {
  display: flex;
  justify-content: flex-end;
  width: auto;

  .btnFeedback {
    width: 48px;
    height: 48px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    background: #ffa100;
    border: none;
    border-radius: 50px;
    transition: width 0.5s;

    .spanText {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    &:hover {
      width: 129px;
      .feedbackText {
        max-width: 300px;
        -webkit-transition: color 0.25s 0.25s, max-width 1s;
        transition: color 0.25s 0.25s, max-width 1s;
      }
    }

    .feedbackText {
      display: inline-block;
      max-width: 0;
      overflow: hidden;

      color: #ffffff;
      font-weight: 500;
      font-size: 14px;

      font-style: normal;
      line-height: 16px;
      white-space: nowrap;
      vertical-align: top;
      -webkit-transition: color 0.25s 0.25s, max-width 0.25s;
      transition: color 0.25s 0.25s, max-width 0.25s;
    }
  }
}

.feedbackRoot {
  position: relative;
  width: auto;

  background: #f6f7f9;
  :global {
    .ant-affix {
      // padding-right: 24px;
      right: 24px;
      z-index: 1000;
      // width: 100px !important;
    }
  }
}
