.root {
  display: flex;
  align-items: center;
  color: #161c29;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 15.23px;
  .dot {
    margin: 0 5px;
    font-size: 32px;
  }
}
