.salaryAcceptanceContent {
  &__select {
    margin-top: 32px;
  }
  :global {
    .ant-row {
      .radio__title {
        margin-bottom: 0;
        color: #464646;
        font-size: 13px;
        line-height: 18px;
      }
      .salaryAcceptance__note {
        height: 32px;
        color: #707177;

        font-size: 10px;
        line-height: 1.6;
        white-space: initial;
      }
    }
    .ant-radio-wrapper {
      span {
        color: #161c29;
        font-weight: 500;

        font-size: 14px;
        white-space: initial;
      }
    }
    .ant-typography {
      height: 36px;
      color: #161c29;
      font-weight: 500;

      font-size: 14px;
      line-height: 1.29;
    }
    h5.ant-typography {
      margin: 0;
      color: #161c29;
      font-size: 14px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }
  }
}
