.salaryAcceptanceContent {
  &__select {
    margin-top: 32px;
  }
  :global {
    .ant-row {
      .radio__title {
        font-size: 13px;
        line-height: 18px;
        color: #464646;
        margin-bottom: 0;
      }
      .salaryAcceptance__note {
        white-space: initial;
        height: 32px;
        font-family: 'Roboto';
        font-size: 10px;
        line-height: 1.6;
        color: #707177;
      }
    }
    .ant-radio-wrapper {
      span {
        white-space: initial;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 500;
        color: #161c29;
      }
    }
    .ant-typography {
      height: 36px;
      font-family: 'Roboto';
      font-size: 14px;
      font-weight: 500;
      line-height: 1.29;
      color: #161c29;
    }
    h5.ant-typography {
      font-size: 14px;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #161c29;
      margin: 0;
    }
  }
}
