.mixin-border-bottom-row {
  border-bottom: solid 1px #d6dce0;
}

.TableOffBoarding {
  padding: 0 24px 0 24px;
  border-radius: 8px;
  background-color: white;
  overflow: hidden;
  :global {
    .ant-table-body {
      overflow-x: auto !important;
    }

    .ant-checkbox-checked .ant-checkbox-inner{
      background-color: #fff;
    }

    .ant-checkbox-checked .ant-checkbox-inner::after {
      background-color: #2c6df9;
      border: 1px solid #2c6df9;
      border-left: unset;
      border-radius: 50%;
      transform: rotate(0deg) scale(1) translate(0%, -50%);
      width: 8px;
      height: 8px;
    }

    .ant-table.ant-table-small:after {
      position: absolute;
      content: '';
      width: 150%;
      z-index: -3;
      height: 1px;
      background-color: #d6dce0;
      left: -24px;
      bottom: -1px;
    }

    .ant-table-body {
      color: #000000;
      // height: 400px;
    }

    // .ant-table-tbody {
    //   height: 100%;
    //   overflow: scroll;
    // }

    .ant-table-tbody > tr:last-child > td {
      // border-bottom: none;
    }

    .ant-table-tbody > tr > td {
      .mixin-border-bottom-row();
      color: #464646;
    }

    .ant-table-column-sort {
      background-color: #fff;
    }
    th.ant-table-column-sort {
      background-color: rgb(86, 138, 250);
    }
    // Sort active icon

    .ant-table-column-sorter-down {
      margin-left: -1em;
    }

    .ant-table-column-sorter-inner {
      display: inline;
    }

    .ant-table-column-sorter-up.active,
    .ant-table-column-sorter-down.active {
      color: #ffffff;
      opacity: 1;
    }

    .ant-table-column-sorter-up,
    .ant-table-column-sorter-down {
      font-size: 14px;
      opacity: 0;
      // margin-top: 0.5em;
    }

    .ant-table-thead th.ant-table-column-has-sorters:hover {
      background: #6495ff;
      opacity: 1;
    }

    //Box-shadow first column
    td.ant-table-cell.ant-table-cell-fix-left.ant-table-cell-fix-left-last {
      box-shadow: 4px 0 5px 0 rgba(0, 0, 0, 0.05);
    }

    .ant-table-column-sorters-with-tooltip {
      box-shadow: 4px 0 5px 0 rgba(0, 0, 0, 0.05);
    }

    .ant-table.ant-table-small .ant-table-thead .ant-table-column-sorters {
      padding: 8px 17px;
    }

    .ant-table-cell-scrollbar {
      box-shadow: none;
    }

    // checkbox
    .ant-checkbox-inner {
      border-radius: 30px;
      height: 16px;
      width: 16px;
    }
    .ant-checkbox-checked::after {
      border-radius: 30px;
    }

    .ant-table .table {
      width: 100%;
      height: 20px !important;
    }
  }
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    border-radius: 5px;
    background-color: #f4f4f4;
    border: none;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #e0e4e9;
    border-radius: 5px;
  }

  .userPasswordReset {
    .userPassword {
      margin-right: 15px;
      color: black !important;
      font-weight: 700;
    }
    div {
      cursor: pointer;
      background-color: #c4c4c4;
      display: inline-block;
      padding: 0 10px;
      border-radius: 1px;
      span {
        color: #565656;
        font-weight: 500;
      }
    }
  }

  .documentAction {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .viewDocumentBtn {
      color: #568afa;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
    .deleteDocumentBtn {
      color: red;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
