.WithdrawModal {
  :global {
    .ant-modal-content {
      border-radius: 10px;
    }
    .ant-modal-body {
      padding: 0;
    }
    .ant-modal-close {
      display: none;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    .title {
      color: #161c29;
      font-weight: 700;
      font-size: 18px;
    }
    .subtitle1 {
      margin-top: 10px;
      color: #161c29;
      font-size: 14px;
    }
    .subtitle2 {
      color: #707177;
      font-size: 13px;
    }
    .operationButtons {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 15px;
      .cancelBtn {
        height: 40px;
        margin-left: 20px;
        padding: 0 30px;
        background-color: #ffa1001a;
        border: none;
        border-radius: 30px;
        // width: 108px;
        span {
          color: #161c29;
          font-weight: 700;
        }
        &:hover {
          background-color: #ffa1001a; // hex with alpha 0.8
        }
      }
    }

    :global {
      .ant-modal-body {
        border-radius: 10px;
      }
    }
  }
}
