.tableDocuments {
  p {
    margin: 0;
  }
  .viewDownload {
    min-width: 60px;
  }
  .viewEmpty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 255px;
    .textEmpty {
      margin-top: 20px;
      color: black;
      font-weight: 400;
      font-size: 16px;
      line-height: 18.75px;
    }
  }
  :global {
    .ant-table-thead > tr > th {
      padding: 7px 16px;
      background-color: @primary-color;
    }
    .ant-table-tbody > tr > td {
      padding: 10px 16px;
      color: #464646;
      font-size: 13px;
      border-bottom: solid 1px #d6dce0;
    }
    .ant-table-pagination.ant-pagination {
      margin: 0 !important;
      margin-top: 24px !important;
    }
  }

  .documentName {
    color: @primary-color;
    font-weight: 500;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  .textEmpty {
    color: black;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
  }

  .textDownload {
    color: #ffa100;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
  }

  .title {
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    line-height: 15.23px;
  }

  .tableText {
    color: #464646;
    font-size: 13px;
    line-height: 15px;
  }
  .rowAction {
    color: @primary-color;
    cursor: pointer;
  }
  .reason {
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .viewOwner {
    display: flex;
  }
}
