.root {
  padding: 24px 24px 8px;
  .textLabel {
    font-size: 13px;
    color: #000000;
    display: flex;
    align-items: center;
    span {
      display: inline-block;
      font-size: 16px;
      font-weight: 700;
      color: #161c29;
      margin-right: 10px;
    }
    .flag {
      max-width: 16px;
      height: 16px;
      display: inline-flex;
      align-items: center;
      img {
        width: 100%;
        border-radius: 50%;
        height: 100%;
        // height: auto;
        // border-radius: 50%;
      }
    }
  }
  .textValue {
    font-size: 13px;
    color: #707177;
    .urlData {
      margin-right: 16px;
      margin-bottom: 0;
      text-decoration: underline;
    }
    .viewFileUpLoad {
      display: flex;
      position: absolute;
      top: 7px;
      right: 24px;
      cursor: pointer;
    }
  }
  .line {
    margin-top: 20px;
    border-top: solid 2px #d6dce0;
  }
  .line:last-child {
    margin-top: unset;
    border-top: unset;
  }
  .EarlyIcon {
    display: flex;
    justify-content: flex-end;
    padding-right: 24px;
  }
  .setIconEarly {
    position: relative;
  }
  .iconEarly {
    position: absolute;
    top: 10px;
    right: 24px;
  }
}
