.InfoCollapseType2 {
  margin: 20px 10px 0 10px;
  border-radius: 5px;
  border: solid 1px #d6dce0;
  .tableTitle {
    span {
      font-weight: bold;
      font-size: 16px;
    }
    border-bottom: solid 1px #d6dce0;
    padding: 20px;
  }
  .tableContent {
    padding: 23px;
  }
  .columnName {
    display: flex;
    justify-content: space-between;
    background-color: #568afa;
    border-radius: 5px;
    padding: 10px 19px;
    font-size: 13px;
    :global {
      .ant-col {
        font-weight: bold;
        color: white;
      }
    }
    .status {
      text-align: right;
    }
  }
}
