.InfoCollapseType2 {
    margin-top: 20px;
}

.tableTitle {
    background-color: #f4f4f4;
    padding: 10px 17px;
    span {
        font-weight: bold;
    }
}
.columnName {
    display: flex;
    justify-content: space-between;
    padding: 10px 17px;
    span {
        font-weight: bold;
    }
}
