@blue: @primary-color;

.TimeOffCard {
  position: absolute;
  right: 0;
  left: 0;
  box-sizing: border-box;
  background: #fffbf5;
  border: 1px solid @border-color-base;
  border-left: 6px solid #fd4546 !important;
  border-radius: 6px;
  margin-inline: 16px;

  .container {
    height: 100%;
    padding-inline: 16px;
    padding-block: 10px;
  }
  .alignCenter {
    display: flex;
    justify-content: center !important;
  }
  .normalCell {
    display: flex;
    flex-direction: row;
    align-items: center !important;
    justify-content: center;
    color: #212020;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
  }
}
