@blue: #2c6df9;

.TimeOffCard {
  position: absolute;
  right: 0;
  left: 0;
  box-sizing: border-box;
  background: #FFFBF5;
  border: 1px solid #D6DCE0;
  border-left: 6px solid #FD4546 !important;
  border-radius: 6px;
  margin-inline: 16px;

  .container {
    padding-inline: 16px;
    padding-block: 10px;
    height: 100%;
  }
  .alignCenter {
    display: flex;
    justify-content: center !important;
  }
  .normalCell {
    display: flex;
    flex-direction: row;
    align-items: center !important;
    justify-content: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #212020;
  }
}
