.TimeOffFilter {
  display: flex;
  justify-content: space-between;
}

.RightContentHeader {
  display: flex;
  justify-content: space-around;
}
.FilterContent {
  .separator {
    span {
      display: block;
      margin-top: 12px;
      color: #707177;
      font-size: 11px;
      text-align: center;
    }
  }
}

.AppliedTag {
  border-radius: 8px;
}
