.TimeOffFilter {
  display: flex;
  justify-content: space-between;
  .appliedTag {
    padding: 5px;
    border-radius: 15px;
  }
  .rightContentHeader {
    display: flex;
    justify-content: space-around;
  }
}

.FilterContent {
  .separator {
    span {
      display: block;
      margin-top: 12px;
      color: #707177;
      font-size: 11px;
      text-align: center;
    }
  }
}
