.container {
  margin-top: 24px;
  font-family: 'Roboto', sans-serif;

  h3 {
    text-transform: capitalize;
  }

  :global {
    .ant-tabs {
      width: 100%;
    }
    .ant-tabs-nav {
      padding: 0;
    }
    // .ant-tabs-tab {
    //   margin: 0;
    // }
    // .ant-tabs-tab:nth-child(1) {
    //   margin: 5px;
    // }
    .ant-tabs-tab-btn {
      font-size: 14px;
    }
  }
}
