@gray: #707177;

.container {
  position: relative;

  h3 {
    font-size: 16px;
    text-transform: capitalize;
  }

  .actionContainer {
    position: absolute;
    top: 5px;
    right: 0;
    display: flex;
    align-items: center;

    .action {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:first-child {
        margin-right: 20px;
      }

      span {
        color: @gray;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-transform: capitalize;
      }

      svg {
        margin-right: 6px;
      }
    }
  }

  .main {
    max-height: 450px;
    margin: 4px 0;
    overflow-y: scroll;

    /* width */
    &::-webkit-scrollbar {
      width: 3px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: white;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #e0e4e9;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #bcbfc4;
    }
  }

  :global {
    .ant-tabs {
      width: 100%;
    }

    .ant-tabs-nav {
      height: auto;
      margin-bottom: 15px;
      padding: 0;
    }

    .ant-tabs-tab-btn {
      font-size: 14px;
    }

    .ant-tabs-tab {
      margin-right: 30px;
      padding: 12px 0 0 0;
    }
  }
}
