.root {
  :global {
    .ant-table {
      margin-top: 15px;
    }
  }
  .has-error :local(.root) .ant-input,
  .has-error :local(.root) .ant-input-affix-wrapper:hover .ant-input {
    border-color: #d9d9d9;
  }
  .ant-table-body {
    overflow-x: auto !important;
  }
}

.btnView {
  margin-right: 10px;
  color: #76d0ff;
}

.btnView:hover,
.btnDel:hover {
  color: #e67225;
}

.btnDel {
  color: #ff6f6f;
  cursor: pointer;
}

.btnSearch {
  width: 200px;
}

:global(.ant-calendar-picker-input) {
  border: none;
}

.description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 120px;
}

.divider {
  margin-bottom: 35px;
  padding-left: 15px;
}

.priceInput {
  display: flex;
  align-items: flex-end;
}
