.performanceReviewIndicator {
  .performanceReview_content {
    margin-top: 8px;
  }
  .performanceReview_shape {
    width: 70px;
    height: 7px;
    border-radius: 2px;
    margin: 0 2px;
  }
  .performanceReview_woah {
    background-color: #00c598;
  }
  .performanceReview_woah_blur {
    background-color: #e5f5f1;
  }
  .performanceReview_building {
    background-color: #ffd768;
  }
  .performanceReview_building_blur {
    background-color: #fffbee;
  }
  .performanceReview_improve {
    background-color: #ff6565;
  }
  .performanceReview_improve_blur {
    background-color: #fff1f1;
  }
}

@media screen and (max-width: 1366px) {
  .performanceReviewIndicator {
    .performanceReview_shape {
      width: 60px;
    }
  }
}
