.root {
  position: relative;
  font-family: 'Roboto';
  background-color: #f6f7f9;

  :global {
    .ant-tabs-nav-wrap {
      height: 100%;
    }

    .ant-tabs-tab-btn {
      color: #707177;
      opacity: 1;
    }
  }

  .resultContent {
    margin: 24px;
    background: #FFFFFF;
    border: 1px solid #D6DCE0;
    border-radius: 8px;
    // min-height: 600px;

    .filter {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 32px;
      height: 54px;
      border-bottom: 1px solid #D6DCE0;

      img {
        width: 50px;
        cursor: pointer;
      }
    }

    .result {
      margin: 20px 30px;

      .blueText {
        color: #2C6DF9;
        cursor: pointer;
        font-weight: 500;
      }

      .document {
        display: flex;
        align-items: center;
        padding-top: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid #EAECEF;
        cursor: pointer;

        .text {
          font-size: 13px;
          line-height: 15px;
          padding-right: 20px;
          color: #2C6DF9;
          text-decoration: underline;
        }
      }
    }

    //advance search
    .headerFilter {
      padding: 32px 32px 24px 32px;
      border-bottom: 1px solid #D6DCE0;

      &__title {
        font-size: 16px;
        line-height: 19px;
        font-weight: bold;
        color: #161C29;
      }

      &__description {
        font-size: 13px;
        line-height: 15px;
        color: #707177;
      }
    }

    .headerFilter2 {
      padding: 32px 32px 24px 32px;
      border-top: 1px solid #D6DCE0;

      &__title {
        font-size: 16px;
        line-height: 19px;
        font-weight: bold;
        color: #161C29;
      }

      &__description {
        font-size: 13px;
        line-height: 15px;
        color: #707177;
      }
    }

    .containFilter {
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 32px;

      .filterItem {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;

        :global {

          .ant-input,
          .ant-picker,
          .ant-select-selector {
            height: 42px;
            width: 320px;
            background: #FFFFFF;
            border: 1px solid #D6DCE4;
            box-sizing: border-box;
            border-radius: 5px;
          }

          .ant-select-selection-item {
            align-items: center !important;
            // height: 30px !important;
          }

          .ant-input:focus,
          .ant-picker-focused {
            border-color: #2c6df9;
            outline: 0;
            box-shadow: unset;
          }

          .ant-select-focused .ant-select-selector,
          .ant-select-selector:focus,
          .ant-select-selector:active,
          .ant-select-open .ant-select-selector {
            border-color: #2c6df9;
            outline: 0;
            box-shadow: unset !important;
          }

          .ant-select-selection-item {
            margin-top: 0px;
          }

          .ant-select-selector {
            // min-height: 42px !important;
            padding-top: 5px !important;
            font-size: 14px;
            border-radius: 5px !important;
          }

          .ant-select-selection-search-input {
            padding-top: 10px !important;
          }

          .ant-select-multiple {
            .ant-select-selection-search-input {
              padding-top: 0 !important;
            }
          }
        }
      }

      .filterItem2 {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;

        :global {

          .ant-input,
          .ant-select-selector {
            height: 42px;
            width: 320px;
            background: #FFFFFF;
            border: 1px solid #D6DCE4;
            box-sizing: border-box;
            border-radius: 5px;
          }

          .ant-select-selection-item {
            align-items: center !important;
            // height: 30px !important;
          }

          .ant-input:focus,
          .ant-picker-focused {
            border-color: #2c6df9;
            outline: 0;
            box-shadow: unset;
          }

          .ant-select-focused .ant-select-selector,
          .ant-select-selector:focus,
          .ant-select-selector:active,
          .ant-select-open .ant-select-selector {
            border-color: #2c6df9;
            outline: 0;
            box-shadow: unset !important;
          }

          .ant-select-selection-item {
            margin-top: 0px;
          }

          .ant-select-selector {
            // min-height: 42px !important;
            padding-top: 5px !important;
            font-size: 14px;
            border-radius: 5px !important;
          }

          .ant-select-selection-search-input {
            padding-top: 10px !important;
          }

          .ant-select-multiple {
            .ant-select-selection-search-input {
              padding-top: 0 !important;
            }
          }
        }

        &__title {
          font-size: 16px;
          line-height: 19px;
          font-weight: bold;
          color: #161C29;
        }

        &__description {
          font-size: 13px;
          line-height: 15px;
          color: #707177;
        }
      }
    }
  }

  .filterFooter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 24px;
    padding: 16px 60px;
    background: #FFFFFF;
    border: 1px solid #D6DCE0;
    border-radius: 8px;
    font-size: 14px;

    .btnReset {
      border: none;
      height: 40px;
      color: #FFA100;
    }

    .btnSubmit {
      height: 40px;
      background: #FFA100;
      border: 1px solid #FFA100;
      box-sizing: border-box;
      border-radius: 25px;
      color: #FFFFFF;
    }
  }

}
