.LeaveHistoryCalendar {
  position: relative;

  .listStatus {
    width: 100%;
    border-top: 1px solid #e2e4e8;

    .dots {
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }

    .dotAll {
      background-color: #2c6df9;
    }
    .dotApplied {
      background-color: #ffa100;
    }
    .dotApproved {
      background-color: #00c598;
    }
    .dotRejected {
      background-color: #f04b37;
    }

    &__text {
      padding-left: 8px;

      color: #6c717a;
      font-weight: 500;
      font-size: 13px;
      font-family: Roboto;
      font-style: normal;
      line-height: 15px;
    }

    &__top,
    &__status {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__top {
      justify-content: flex-start;
      padding: 16px;
    }
    &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px;
      border-top: 1px solid #e2e4e8;
    }
  }

  .eventDetailContainer {
    border-top: 1px solid #e2e4e8;
    .eventDetailPart {
      .eventsContainer {
        max-height: 250px;
        overflow: auto;
      }
      .title {
        padding: 0 24px;
        font-weight: 700;
        font-size: 14px;
        line-height: 4;
      }
    }
  }
}
