@spacing-xxs: 4px;

.basicInformation {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  min-height: 216px;
  position: relative;

  &__bottom {
    position: fixed;
    height: 72px;
    bottom: 0;
    width: inherit;
  }

  &__top {
    object-fit: contain;
    border-radius: 2.5px;
    border: solid 0.5px #d6dce0;
    background-color: #ffffff;
    margin-bottom: 50px;
    hr {
      width: 100%;
      height: 0.5px;
      object-fit: contain;
      border-top: solid 0.5px #d6dce0;
      border-bottom: none;
    }

    .basicInformation__form {
      padding: 8 * @spacing-xxs;
      width: 100%;
      :global {
        .ant-form-item-has-success {
          .ant-input {
            border: solid 1px #47c97f;
          }
        }
        .ant-form-item-label {
          padding-bottom: 0;
          label {
            color: #707177;
            font-size: 13px;
          }
        }
      }

      .formInput__email {
        position: relative;
        .formInput__domain {
          position: absolute;
          right: 4 * @spacing-xxs;
          top: 10px;
          z-index: 1000;
          color: #707177;
        }
      }
      .formInput {
        font-family: 'Roboto', sans-serif;
        height: 42px;
        object-fit: contain;
        border-radius: 8px;
        //   border: solid 0.5px #d6dce4;
        background-color: #ffffff;
      }
    }
  }
}
