.ReassignModal {
  padding: 24px;
  :global {
    .ant-select-selection-item {
      color: #161c29 !important;
    }
    .ant-select-selector,
    .ant-input {
      height: 42px !important;
      // padding-top: 10px !important;
      padding: 5px 11px !important;
      // border: none !important;
      background: transparent !important;
      border-radius: 5px;
    }
    .ant-input[disabled] {
      color: #161c29 !important;
    }
    .ant-select-selection-search-input {
      height: 42px !important;
      border-radius: 5px;
    }
    .ant-form-item-label label {
      height: 0;
      color: #707177;
      font-size: 12px;
    }
    .ant-form-item {
      margin-bottom: 12px;
    }
  }
}
