.modalSchedule__content {
  padding: 25px 22px;
  background-color: #fff;
  margin-top: 20px;
  height: auto;
  .flex {
    display: flex;
    justify-content: space-between;
  }
  .modal__Content {
    width: 200px;
    font-size: 18px;
    line-height: 19px;
    font-weight: 500;
    color: #464646;
  }
  .modal__text {
    margin-top: 15px;
    line-height: 16.41px;
    font-size: 14px;
    color: #464646;
  }
}
