.recentBlock {
  display: block;
  overflow: hidden;
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(180, 180, 180, 0.5);

  .recentReports {
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(180, 180, 180, 0.5);
    min-width: 600px;

    .headerBlock {
      display: flex;
      flex-direction: row;
      background-color: #f4f7fe;
      padding: 13px 0;
      margin-left: 0 !important;
      margin-right: 0 !important;
      // min-width: 1060px;
      .title {
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
        color: #3a354e;
        padding-right: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .itemLabel {
        font-size: 14px;
        line-height: 17px;
        color: #525252;
        font-weight: lighter;
      }
      .item {
        font-size: 14px;
        line-height: 17px;
        color: #525252;
        font-weight: 600;
      }
      .item_top {
        padding-top: 3px;
      }
      .itemPrice {
        :global {
          .ant-statistic-content {
            font-size: 24px;
            font-weight: 700;
            color: #3a354e;
          }
        }
      }
    }
    .content {
      padding: 25px 0;
      // min-width: 1060px;
    }
  }
  .projectEmptyBlocks {
    text-align: right;
    margin-top: -20px;
    .emptyLink {
      color: #fca00a;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 17px;
    }
  }

  .recentExpenses {
    display: block;
  }

  .recentEmptyBlocks {
    margin: 105px auto;
    .emptyLink {
      display: block;
      height: 72px;
      width: 72px;
      margin: 0 auto;
      margin-bottom: 20px;
      .emptyIcon {
        height: 72px;
        width: 72px;
      }
    }
    .emptyText {
      opacity: 0.2;
      color: #000;
      font-size: 24px;
      letter-spacing: 0;
      line-height: 29px;
      text-align: center;
    }
  }

  .stepsNavi {
    :global {
      .ant-steps-item-description {
        font-size: 11px;
        color: #6c6c6c;
      }
      .ant-steps-item-tail::after {
        width: calc(100% - 7px);
        margin-left: 5px;
      }

      .ant-steps-item-title {
        font-size: 11px;
        color: #6c6c6c;
      }
    }
  }

  .Reported {
    :global {
      .ant-steps-item-finish {
        .ant-steps-item-tail::after {
          background-color: #2b6df8;
        }
        .ant-steps-icon-dot {
          background: #2b6df8 !important;
        }
      }
      .ant-steps-item-active {
        .ant-steps-icon-dot {
          background: #2b6df8 !important;
        }
      }
    }
  }

  .Inquiry {
    :global {
      .ant-steps-item-finish {
        .ant-steps-item-tail::after {
          background-color: #9013fe;
        }
        .ant-steps-icon-dot {
          background: #9013fe !important;
        }
      }
      .ant-steps-item-active {
        .ant-steps-icon-dot {
          background: #9013fe !important;
        }
      }
    }
  }

  .Rejected {
    :global {
      .ant-steps-item-finish {
        .ant-steps-item-tail::after {
          background-color: #d0021b;
        }
        .ant-steps-icon-dot {
          background: #d0021b !important;
        }
      }
      .ant-steps-item-active {
        .ant-steps-icon-dot {
          background: #d0021b !important;
        }
      }
    }
  }

  .Completed {
    :global {
      .ant-steps-item-finish {
        .ant-steps-item-tail::after {
          background-color: #417505;
        }
        .ant-steps-icon-dot {
          background: #417505 !important;
        }
      }
      .ant-steps-item-active {
        .ant-steps-icon-dot {
          background: #417505 !important;
        }
      }
    }
  }
}

:global {
  .ant-popover-inner-content {
    // color: #fff;
    padding: 0;
  }
  .ant-popover-arrow {
    // border-color: #2b6df8 !important;
    border-color: transparent !important;
    // display: none !important;
  }
  .ant-popover-inner {
    // background: #2b6df8;
    background: transparent;
    box-shadow: none;
  }
  .ant-statistic-content {
    font-size: 18px;
    font-weight: 700;
  }
}

.tabRecentForm {
  :global {
    .ant-tabs-tab {
      font-size: 20px;
      line-height: 24px;
      text-align: left;
      padding-left: 0;
      padding-right: 71px;

      &:active {
        color: #2b6df8 !important;
      }

      &:hover {
        color: #2b6df8 !important;
      }
    }

    .ant-tabs-bar {
      margin-bottom: 0;
      border: none;
    }

    .ant-tabs-ink-bar {
      background-color: #2b6df8 !important;
      height: 3px;
      width: 150px !important;
    }

    .ant-tabs-tab-active {
      color: #2b6df8 !important;
    }
  }
}

.popover {
  // :global {
  //   .ant-popover-inner-content {
  //     color: yellow;
  //   }
  // }
  color: #fff;
  padding: 12px 16px;
  border-radius: 5px;
  .arrow {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid transparent;
    position: absolute;
    top: 1%;
    left: 47%;
  }
  &.Reported {
    background-color: #2b6df8 !important;
    .arrow {
      border-bottom-color: #2b6df8;
    }
  }
  &.Inquiry {
    background-color: #9013fe !important;
    .arrow {
      border-bottom-color: #9013fe;
    }
  }
  &.Rejected {
    background-color: #d0021b !important;
    .arrow {
      border-bottom-color: #d0021b;
    }
  }
  &.Completed {
    background-color: #417505 !important;
    .arrow {
      border-bottom-color: #417505;
    }
  }
}

.textAlignRight {
  text-align: right;
}

.pl_12 {
  padding-left: 12px;
}

.pr_14 {
  padding-right: 14px;
}

// .Reported {
//   :global {
//     .ant-popover-arrow {
//       border-color: #2b6df8 !important;
//     }
//     .ant-popover-inner {
//       background: #2b6df8;
//     }
//   }
// }

// .Inquiry {
//   :global {
//     .ant-popover-arrow {
//       border-color: #9013fe !important;
//     }
//     .ant-popover-inner {
//       background: #9013fe;
//     }
//   }
// }

// .Rejected {
//   :global {
//     .ant-popover-arrow {
//       border-color: #d0021b !important;
//     }
//     .ant-popover-inner {
//       background: #d0021b;
//     }
//   }
// }

// .Completed {
//   :global {
//     .ant-popover-arrow {
//       border-color: #417505 !important;
//     }
//     .ant-popover-inner {
//       background: #417505;
//     }
//   }
// }
