.OverviewComment {
  height: 34px;
  &:hover {
    .comment {
      display: none;
    }
    .showEditComment {
      display: flex;
      align-items: center;
    }
  }
  .comment {
    width: 200px;
    height: 34px;
    padding-left: 10px;
    overflow: hidden;
    font-weight: 400;
    font-size: 13px;
    font-style: normal;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
  }
  .showEditComment {
    display: none;
  }
  img {
    cursor: pointer;
  }
}
