.OverviewComment {
  position: relative;
  &:hover {
    .comment {
      opacity: 0;
    }
    .showEditComment {
      opacity: 1;
    }
  }
  .comment {
    width: 200px;
    font-weight: 400;
    font-size: 13px;
    font-style: normal;
    letter-spacing: 0em;
    text-align: left;
  }
  .showEditComment {
    position: absolute;
    top: 5px;
    right: 0;
    display: flex;
    align-items: center;
    opacity: 0;
  }
  img {
    cursor: pointer;
  }
}
