@error_border: #FDA29B;
@error_text: #EB5146;

.SelectPeriod {
  padding: 24px;
  :global {
    .ant-form-item {
      margin-bottom: 0 !important;
    }
    .ant-form-item-explain {
      display: none;
    }
  }
  .abovePart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  .container_selectedTask {
    max-height: 336px;
    margin-top: 8px;
    margin-bottom: 8px;
    overflow-y: scroll;
    background: #f9fafc;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    .selected__Date {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 !important;

      .timePicker {
        min-width: 100px !important;
      }
      .overlap {
        border: 1px solid @error_border;
        border-radius: 4px;
        min-width: 100px;
        :global {
          .ant-select-selector {
            border: none !important;
          }
          .ant-select-selection-item {
            color: @error_text;
          }
          .ant-select-arrow {
            color: @error_text;
          }
        }
      }
    }
  }
  .overlapError {
    color: @error_text;
    font-size: 12px;
  }
  .contentRight {
    margin: 16px !important;
    padding: 16px;
    border: 1px solid #d0d5dd;
    border-radius: 8px;
    &:nth-child(even) {
      border: none;
    }
    &:nth-child(2n + 1) {
      background-color: #fff;
    }
    &__taskContainer {
      padding: 0 !important;
    }
    &__taskName {
      padding: 0 !important;
      color: #3a70f0;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
    }
    &__notes {
      color: #555555;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
