.collapsed
{
    overflow: hidden;
    transition: 0.3s all ease-in-out !important;
    -moz-transition: 0.3s all ease-in-out !important;
    -ms-transition: 0.3s all ease-in-out !important;
    -o-transition: 0.3s all ease-in-out !important;
    -webkit-transition: 0.3s all ease-in-out !important;
}