.containerEmployeeOnboarding {
  .employeeOnboarding__tab {
    position: relative;
  }
  .options {
    position: absolute;
    right: 0;
    top: 0;
    width: fit-content;
  }

  :global {
    // .ant-tabs-nav {
    //   width: fit-content;
    // }
  }
}
