@gray: #707177;
@border-color: @border-color-base;
@header-color: #161c29;
@red: #ff5252;
@gray-icon: #636872;

.templateContainer {
  background-color: white;
  border: solid 1px @border-color;
  border-radius: 5px;

  &:first-child {
    margin-bottom: 16px;
  }

  .templateHeader {
    display: flex;
    align-items: center;
    padding: 32px;
    border-bottom: solid 1px @border-color;

    h3 {
      margin: 0;
      margin-right: 8px;
      color: @header-color;
    }

    span {
      color: @gray;
      font-size: 13px;
    }

    .newIcon {
      display: flex;
      align-items: center;
      margin-left: auto;

      cursor: pointer;

      span {
        color: #ffa100;
        font-weight: 500;
      }

      svg {
        path {
          fill: #ffa100;
        }
      }
    }
  }

  .defaultContainer {
    margin: 0 32px;
    padding: 16px 0;

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px 0;

      &:not(:first-child) {
        border-top: 1px solid @border-color;
      }

      span {
        color: @gray;
        font-size: 13px;
      }

      .rowIconContainer {
        display: flex;
        align-items: center;

        svg {
          width: 14px;
          height: 14px;
          margin-left: 14px;
          cursor: pointer;

          &:hover {
            path {
              fill: @red;
            }
          }

          path {
            fill: @gray-icon;
          }
        }
      }
    }
  }

  @media (max-width: 1090px) {
    &:first-child {
      margin-top: 16px;
    }
  }
}
