@color-grey: #707177;
@color-blue: #2c6df9;

.File {
  padding: 10px 0;
  img {
    width: 16px;
    height: 16px;
  }
  span {
    font-size: 14px;
  }
  .fileName {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .upload {
    display: flex;
    align-items: center;
    justify-content: end;
    span {
      color: #2c6df9;
      font-weight: 500;
      cursor: pointer;
    }
    img {
      margin-left: 9px;
    }
  }
  .resubmit {
    display: flex;
    align-items: center;
    justify-content: end;
    span {
      color: #ff6c6c;
      font-weight: 500;
      cursor: pointer;
    }
    img {
      margin-left: 9px;
    }
  }
  .notAvailable {
    display: flex;
    align-items: center;
    justify-content: end;
    span {
      color: #464646;
      font-weight: 500;
      cursor: pointer;
    }
  }
  .verified {
    display: flex;
    align-items: center;
    justify-content: end;
    color: #47c97f;
    font-weight: 500;
    img {
      margin-left: 9px;
    }
  }
  .file {
    display: flex;
    align-items: center;
    justify-content: end;
    img {
      margin-right: 9px;
    }
    span {
      color: #2c6df9;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .pending {
    display: flex;
    align-items: center;
    justify-content: end;
    span {
      color: #464646;
      text-align: right;
    }
    img {
      margin-left: 9px;
    }
  }
  .comments {
    display: flex;
    align-items: center;
    justify-content: end;
    span {
      color: #2c6df9;
      font-weight: 400;
      font-size: 13px;
      text-decoration: underline;
      cursor: pointer;
      opacity: 0.8;
    }
  }
}
