.mixin-border-bottom-row {
  border-bottom: solid 1px #d6dce0;
}

.tableEmployees {
  :global {
    .ant-table-body {
      overflow-x: auto !important;
    }

    .ant-table-tbody > tr.ant-table-row:hover > td {
      cursor: pointer;
    }

    .ant-table.ant-table-small:after {
      position: absolute;
      bottom: -1px;
      left: -24px;
      width: 150%;
      height: 1px;
      background-color: #d6dce0;
      content: '';
    }

    .ant-table-body {
      color: #000000;
      // height: 400px;
    }

    .ant-table-tbody {
      height: 100%;
      overflow: scroll;
    }

    .ant-table-tbody > tr:last-child > td {
      border-bottom: none;
    }

    .ant-table-tbody > tr > td {
      .mixin-border-bottom-row();
    }

    // Sort active icon

    .ant-table-column-sorter-down {
      margin-left: -1em;
    }

    .ant-table-column-sorter-inner {
      display: inline;
    }

    .ant-table-column-sorter-up.active,
    .ant-table-column-sorter-down.active {
      color: #ffffff;
      opacity: 1;
    }

    .ant-table-column-sorter-up,
    .ant-table-column-sorter-down {
      margin-top: 0.5em;
      font-size: 14px;
      opacity: 0;
    }

    .ant-table-thead th.ant-table-column-has-sorters:hover {
      background: #6495ff;
      opacity: 1;
    }

    //Box-shadow first column
    td.ant-table-cell.ant-table-cell-fix-left.ant-table-cell-fix-left-last {
      box-shadow: 4px 0 5px 0 rgba(0, 0, 0, 0.05);
    }

    .ant-table-column-sorters-with-tooltip {
      box-shadow: 4px 0 5px 0 rgba(0, 0, 0, 0.05);
    }

    .ant-table.ant-table-small .ant-table-thead .ant-table-column-sorters {
      padding: 8px 17px;
    }

    .ant-table-cell-scrollbar {
      box-shadow: none;
    }
  }
  &__content {
    :global {
      .ant-table-tbody > tr.ant-table-row:hover > td {
        cursor: pointer;
      }
    }
  }
  .directoryTable_fullName {
    .directoryTable_iconSort {
      margin-left: 0.5em;
      font-size: 14px;
    }
  }

  .directoryTableName {
    display: flex;
    align-items: center;

    .avatar {
      width: 36px;
      height: 36px;
    }

    .avatar_emptySrc {
      width: 36px;
      height: 36px;
      background-color: #ffffff;
      border: solid 1px #707070;
    }

    p {
      margin: 0;
      padding-left: 12px;
      color: #2c6df9;
      font-weight: 500;
      letter-spacing: 0.12px;
      white-space: normal;
      text-align: left;
      word-break: break-word;
    }
  }

  .directoryTable_deparmentText {
    padding: 4px 8px;
    background-color: #f6f7f9;
    border-radius: 5px;
  }
}
