.OffBoardingTableContainer {
  margin: 24px;
  background-color: white;
  border: 1px solid #d6dce0;
  border-radius: 8px;
  .contentContainer {
    margin-top: 20px;
    .directoryLayout {
      position: relative;
    }
  }
}

// @media screen and (max-width: 1366px) {
//   .OffBoardingTableContainer {
//     min-width: 500px;
//     margin: 32px 24px;
//   }
// }
