.PendingEligibilityChecks {
  font-family: 'Roboto';
  margin-top: 32px;
  // height: 319px;
  object-fit: contain;
  border-radius: 8px;
  overflow: auto;
  border: solid 1px #d6dce0;
  background-color: #ffffff;

  .title {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    color: #000000;
  }

  :global {
    .ant-tabs-tab {
      text-transform: capitalize;

      .ant-tabs-tab-btn {
        font-size: 14px;
        font-weight: 700;
      }
    }
    .ant-tabs-nav-wrap {
      height: 56px;
    }
    .ant-tabs-extra-content {
      margin-right: 24px;
      .ant-input-affix-wrapper{
        border-radius: 25px;
      }
    }
  }
}
