.ticket {
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 1px solid @border-color-base;
  border-radius: 8px;
  cursor: pointer;

  &__main {
    .header {
      color: @primary-color;
      font-size: 14px;
    }

    .title {
      color: rgba(0, 0, 0, 0.48);
      font-size: 12px;
    }
  }
}
