
// .arrow {
//   width: 100%;
//   border-radius: 5px;
//   border: solid 1px #d6dce4;
//   background-color: #ffffff;
//   margin-top: 8px;
//   margin-bottom: 32px;
//   :global {
//     span.ant-select-arrow {
//       color: #161c29;
//       transform: rotate(180deg);
//     }
//   }
// }

.Line {
  width: 100%;
  height: 2px;
  background: #d6dce0;
}

.listFields{

  :global{
    .ant-form{
      width: 100%;
    }

    .ant-form-item{
      display: flex;
      flex-direction: column;
      margin-bottom: 0 !important;
    }

    .ant-form-item-label{
      display: flex;
    }
    
    .ant-form-item-label > label{
      font-size: 13px;
      font-weight: 400;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #707177;
      margin: 0;
      height: fit-content;
    }

    .ant-form-item-explain {
      margin-top: -24px;
    }
  }

  .formItem{
  }
}
.spin{
  width: 100%;
}

