.Line {
  width: 100%;
  height: 2px;
  background: #d6dce0;
}

.listFields {
  :global {
    .ant-form {
      width: 100%;
    }

    .ant-form-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 0 !important;
    }

    .ant-form-item-label {
      display: flex;
    }

    .ant-form-item-label > label {
      height: fit-content;
      margin: 0;
      color: #707177;
      font-weight: 400;
      font-size: 13px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }

    .ant-form-item-explain {
      margin-top: -24px;
    }
  }

  .formItem {
  }
}
.spin {
  width: 100%;
}
