.Line {
  width: 100%;
  height: 2px;
  background: #d6dce0;
}

.listFields {
  :global {
    .ant-form {
      width: 100%;
    }

    .ant-form-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 0 !important;
    }

    .ant-form-item-label {
      display: flex;
    }

    .ant-form-item-label > label {
      height: fit-content;
      margin: 0;
      color: #707177;
      font-weight: 400;
      font-size: 13px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }

    .ant-form-item-explain {
      margin-top: -24px;
    }
  }

  .listTags {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    .nameTag{
      background: #F3F4F6;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      padding: 8px;
      margin-bottom: 8px;

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #707177;
    }
  }

  .formItem{

    .InputReportees{
       width: 100%;
        margin: 8px 0;
        background-color: #ffffff;
        // border: solid 1px #d6dce4;
        border-radius: 5px;
    }
  }
}
.spin {
  width: 100%;
}
