.LikeComment {
  border-top: 1px solid #d8d8d8;
  :global {
    .ant-collapse,
    .ant-collapse-content,
    .ant-collapse-item {
      background-color: #fff;
    }
    .ant-collapse-header {
      padding: 4px 14px 6px !important;
    }
    .ant-collapse-content-box {
      padding-block: 0 !important;
    }
  }

  .likes {
    display: flex !important;
    justify-content: flex-start;
    cursor: pointer;
    div {
      display: flex;
      align-items: center;
      padding: 10px;
      border-radius: 8px;

      &:hover {
        background-color: rgba(228, 237, 255, 0.822);
      }
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
    span {
      display: inline-block;
      color: #58667e;
      font-weight: normal;
      font-size: 13px;
      font-family: Inter;
      font-style: normal;
      line-height: 19px;
      cursor: pointer;
    }
    img {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
    img {
      &:hover {
        opacity: 0.8;
      }
    }
    &__pressed {
      span {
        color: #2c6df9;
      }
    }
  }
  .comments {
    display: flex;
    justify-content: flex-end;
    border-radius: 8px;
    cursor: pointer;
    div {
      display: flex;
      align-items: center;
      padding: 10px;
    }
    span {
      display: inline-block;
      color: #58667e;
      font-weight: normal;
      font-size: 13px;
      font-family: Inter;
      font-style: normal;
      line-height: 19px;
      cursor: pointer;
    }
    img {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
    &:hover {
      background-color: rgba(228, 237, 255, 0.822);
    }
  }

  .commentContainer {
    padding: 16px 0;
    .noComment {
      color: #707177;
      font-size: 12px;
      text-align: center;
    }
  }
}
