.formWrapper {
  width: 100%;
  height: auto;
  padding: 40px;
  color: #000;
  background-color: #fff;
  box-shadow: 0 0 11px #ececec;
  &__title {
    // color: #acacac;
    font-weight: 700;
  }

  &__description {
    color: #707177;
    font-size: 12px;
    text-align: justify;
  }

  &__descriptionSuccessfully {
    width: 90%;
    margin-bottom: 0;
    color: #000;
    font-size: 12px;
    text-align: center;
  }

  .inputPassword {
    :global {
      .ant-input {
        height: 30px;
        color: #000;
      }
      .ant-input-affix-wrapper {
        height: 40px;
      }
    }
  }

  :global {
    .ant-btn-primary {
      width: 100%;
      height: 40px;
      color: white;
      font-weight: 600;
      text-shadow: none;
      background-color: #ffa100;
      border: none;
      border-radius: 30px;
      box-shadow: none;
    }
    .ant-form-item {
      margin-bottom: 1rem;
    }
    .ant-form label {
      color: #707177;
      font-weight: 500;
      font-size: 12px;
    }
  }

  input:-webkit-autofill,
  input:focus:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px #fff inset;
    box-shadow: 0 0 0 100px #fff inset;
  }
}

@media screen and (max-width: 768px) {
  .formWrapper {
    width: 70%;
  }
}
