.formWrapper {
  width: 56%;
  min-height: 60%;
  background-color: #fff;
  padding: 20px 30px 40px;
  box-shadow: 0 0 11px #ececec;
  color: #000;
  &__title {
    color: #acacac;
    font-weight: 600;
  }

  &__description {
    color: #acacac;
    font-size: 12px;
    text-align: justify;
  }

  &__descriptionSuccessfully {
    color: #000;
    font-size: 12px;
    text-align: center;
    width: 90%;
    margin-bottom: 0;
  }

  .inputPassword {
    :global {
      .ant-input {
        height: 30px;
        color: #000;
      }
      .ant-input-affix-wrapper {
        height: 40px;
      }
    }
  }

  :global {
    .ant-btn-primary {
      height: 40px;
      width: 100%;
      font-weight: 600;
    }
    .ant-form-item {
      margin-bottom: 1rem;
    }
    .ant-form label {
      font-size: 12px;
      font-weight: 500;
    }
  }

  input:-webkit-autofill,
  input:focus:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px #fff inset;
    box-shadow: 0 0 0 100px #fff inset;
  }
}

@media screen and (max-width: 768px) {
  .formWrapper {
    width: 70%;
  }
}
