.Pagination {
  display: flex;
  align-items: center;
  padding: 0 24px 16px 24px;
  span {
    color: #707177;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.121875px;
  }
  .currentPage {
    font-weight: 500;
  }
  img {
    margin-left: 24px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}
