@borderColor: #d6dce0;
@borderColor2: #d6dce4;

.ProjectView {
  width: 100%;
  overflow: hidden;
  background: #ffffff;
  :global {
    .ant-table .ant-table-title,
    .ant-table .ant-table-thead > tr > th,
    .ant-table .ant-table-tbody > tr > td,
    .ant-table tfoot > tr > th,
    .ant-table tfoot > tr > td {
      padding: 0px !important;
    }
    .ant-table .ant-table-tbody tr td {
      &:last-child {
        border-right: none !important;
      }
    }
    .ant-table-measure-row {
      display: none;
    }
    .ant-table .ant-table-footer {
      padding: 0 !important;
      border: none;
      // enable this line if you enable scroll in weekly table
      // box-shadow: 4px 0px 40px rgba(0, 0, 0, 0.1);
    }
    .ant-table {
      ::-webkit-scrollbar {
        display: none;
      }
    }
    // border color
    .ant-table.ant-table-bordered
      > .ant-table-container
      > .ant-table-content
      > table
      > thead
      > tr
      > th,
    .ant-table.ant-table-bordered
      > .ant-table-container
      > .ant-table-header
      > table
      > thead
      > tr
      > th,
    .ant-table.ant-table-bordered
      > .ant-table-container
      > .ant-table-body
      > table
      > thead
      > tr
      > th,
    .ant-table.ant-table-bordered
      > .ant-table-container
      > .ant-table-summary
      > table
      > thead
      > tr
      > th,
    .ant-table.ant-table-bordered
      > .ant-table-container
      > .ant-table-content
      > table
      > tbody
      > tr
      > td,
    .ant-table.ant-table-bordered
      > .ant-table-container
      > .ant-table-header
      > table
      > tbody
      > tr
      > td,
    .ant-table.ant-table-bordered
      > .ant-table-container
      > .ant-table-body
      > table
      > tbody
      > tr
      > td,
    .ant-table.ant-table-bordered
      > .ant-table-container
      > .ant-table-summary
      > table
      > tbody
      > tr
      > td,
    .ant-table.ant-table-bordered
      > .ant-table-container
      > .ant-table-content
      > table
      > tfoot
      > tr
      > th,
    .ant-table.ant-table-bordered
      > .ant-table-container
      > .ant-table-header
      > table
      > tfoot
      > tr
      > th,
    .ant-table.ant-table-bordered
      > .ant-table-container
      > .ant-table-body
      > table
      > tfoot
      > tr
      > th,
    .ant-table.ant-table-bordered
      > .ant-table-container
      > .ant-table-summary
      > table
      > tfoot
      > tr
      > th,
    .ant-table.ant-table-bordered
      > .ant-table-container
      > .ant-table-content
      > table
      > tfoot
      > tr
      > td,
    .ant-table.ant-table-bordered
      > .ant-table-container
      > .ant-table-header
      > table
      > tfoot
      > tr
      > td,
    .ant-table.ant-table-bordered
      > .ant-table-container
      > .ant-table-body
      > table
      > tfoot
      > tr
      > td,
    .ant-table.ant-table-bordered
      > .ant-table-container
      > .ant-table-summary
      > table
      > tfoot
      > tr
      > td {
      border-color: #d6dce0;
    }
    // pagination
    .ant-pagination {
      align-items: center;
      margin: 0 !important;
      padding: 20px;
    }
    .ant-pagination-item-link {
      border: none;
    }
    .ant-pagination-prev,
    .ant-pagination-next,
    .ant-pagination-jump-prev,
    .ant-pagination-jump-next {
      min-width: 24px;
      height: 24px;
      line-height: 27px;
    }
  }

  :global {
    .ant-radio-group {
      overflow: hidden;
      border: 1px solid #d6dce0;
      border-radius: 6px;
    }
    .ant-radio-button-wrapper:not(:first-child)::before {
      display: none;
    }
    .ant-radio-button-wrapper {
      height: 35px;
      line-height: 35px;
      border: none;
      span {
        color: #6c717a;
        font-size: 13px;
      }
    }
    .ant-radio-group-solid
      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      background-color: #2c6df9;
      border-radius: 5px;
      span {
        color: #fff;
      }
    }
  }
}
