@orangeColor: #ffa100;
.ManagerReport {
  overflow: hidden;
  background: #ffffff;
  border: 1px solid @border-color-base;
  border-radius: 5px;
  :global {
    .ant-tabs-content-holder {
      padding: 0 !important;
    }
    .ant-tabs-tab + .ant-tabs-tab {
      margin-left: 74px !important;
    }
    .ant-tabs-nav {
      height: 45px !important;
      padding-left: 24px !important;
      box-shadow: none !important;
    }
    .ant-tabs-top > .ant-tabs-nav::before,
    .ant-tabs-bottom > .ant-tabs-nav::before,
    .ant-tabs-top > div > .ant-tabs-nav::before,
    .ant-tabs-bottom > div > .ant-tabs-nav::before {
      border-color: @border-color-base !important;
    }
    .ant-tabs-tab-btn {
      font-weight: 500;
      font-size: 14px !important;
      opacity: 1;
    }
  }
  .options {
    display: flex;
    gap: @padding-md;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
  }
}
