.InfoCollapseType2 {
  // margin: 20px 10px 0 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: white;
  border: solid 1px #d6dce0;
  .tableTitle {
    display: flex;
    align-items: center;
    span {
      font-weight: bold;
      font-size: 16px;
    }
    border-bottom: solid 1px #d6dce0;
    padding: 0 24px;
    height: 67px;
  }
  .tableContent {
    padding: 23px 23px 6px 23px;
  }
  .columnName {
    display: flex;
    justify-content: space-between;
    background-color: #568afa;
    border-radius: 5px;
    padding: 9px 24px;
    // height: 35px;
    font-size: 13px;
    :global {
      .ant-col {
        font-weight: bold;
        color: white;
      }
    }
    .status {
      text-align: right;
    }
  }
}
