.Address {
  .form {
    padding: 16px 24px 0;
  }
  .addressTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-inline: 24px;
    span {
      color: #161c29;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
    }
    :global {
      .ant-form-item {
        margin-bottom: 0;
      }
    }
  }
}
