.ViewRight {
  border: 1px solid #ebeff2;
  border-radius: 5px;
  width: 100%;
  background-color: white;
  margin-bottom: 20px;
  font-size: 16px;
  // height: 420px;

  :global{
    .ant-divider-horizontal{
      margin: 0 !important;
    }
  }

  .twoRight {
    font-style: normal;
    font-weight: normal;


    .divider{
      border-top: 1px solid #D6DCE0;
    }

    .headerTitle {
      font-size: 16px;
      font-weight: bold;
      line-height: 18.75px;
      color: #464646;

      padding: 24px;
    }

    .bottom{
      display: flex;
      justify-content: center;
      margin-bottom: 24px;

      .btnBottom {
        width: 158px;
        background: #568AFA;
        opacity: 0.12;
        height: 34px;
        border-radius: 5px;
        padding: 9px 22px;
        position: relative;

        &__btn{
          position: absolute;
          background: transparent;
          border: transparent;
          box-shadow: none;
          span{
            font-weight: 500;
            font-size: 14px;
            line-height: 16.41px;
            color: #2C6DF9;
          }
        }
      }
    }

    &__bottom{
      padding: 24px 16px;

      .rowInfo{
        // margin-bottom: 32px;
        .description {
          font-size: 12px;
          line-height: 20px;
          color: #707177;
        }
        .icon{
          width: 40px;
          height: 40px;
          background: #E4EDFF;
          border-radius: 50%;
          position: relative;
    
          img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

        }
      }
    }
  }

  // .text_Title {
  //   margin-top: 17px;
  //   line-height: 18.75px;
  //   font-size: 16px;
  //   font-weight: 700;
  //   // color: #464646;
  // }

  // .text_Schedule {
  //   margin-top: 11px;
  //   line-height: 17px;
  //   font-size: 13px;
  //   font-weight: 500;
  //   color: #2c6df9;
  //   text-decoration: underline;
  //   cursor: pointer;
  //   &:hover {
  //     opacity: 0.8;
  //   }
  // }

  // .text_Body {
  //   margin-top: 12px;
  //   font-size: 13px;
  // }
}
