.headings {
  margin-bottom: 24px;
  color: #161c29;
  font-weight: 700;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.container {
  position: relative;
  display: block;
  margin-bottom: 12px;
  padding-left: 25px;
  color: #161c29;
  font-size: 13px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  width: 0;
  height: 0;
  cursor: pointer;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #f0f3f9;
  border: 1px solid #2c6df9;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #f6f7f9;
  border: 1px solid #2c6df9;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  position: absolute;
  display: none;
  content: '';
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  top: 2px;
  left: 6px;
  width: 5px;
  height: 10px;
  border: solid #2c6df9;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.select {
  display: flex;
  width: 70%;
  margin-bottom: 24px;

  .label {
    width: 42%;
    color: #000000;
    font-size: 13px;
    line-height: 3.2;
  }
  :global {
    .ant-select-arrow .anticon {
      color: #161c29;
      font-weight: 700;
    }

    .ant-input-number-handler-wrap {
      display: none;
    }
  }
}
