.headings {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #161c29;
  margin-bottom: 24px;
}

.container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 13px;
  color: #161c29;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 18px;
  height: 18px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  border: 1px solid #2c6df9;
  background-color: #f0f3f9;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #f6f7f9;
  border: 1px solid #2c6df9;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #2c6df9;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.select {
  display: flex;
  margin-bottom: 24px;

  div:first-child {
    width: 30%;
    line-height: 2.5;
    font-size: 13px;
    color: #000000;
  }
  :global {
    .ant-select-arrow .anticon {
      font-weight: 700;
      color: #161c29;
    }
    .ant-select-show-search.ant-select-single:not(.ant-select-customize-input)
      .ant-select-selector {
      width: 300px;
      font-size: 14px;
      color: #161c29;
      cursor: pointer;
    }
    .ant-input-number-handler-wrap {
      display: none;
    }
  }
}
