.headings {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #161c29;
  margin-bottom: 24px;
}

.select {
  display: flex;
  margin-bottom: 24px;
  div:first-child {
    width: 30%;
    font-size: 13px;
    color: #000000;
  }
  :global {
    .ant-select-show-search.ant-select-single:not(.ant-select-customize-input)
      .ant-select-selector {
      width: 300px;
      font-size: 14px;
      color: #161c29;
    }
  }
}
