.Document {
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #D6DCE0;
  background: #FFFFFF;
  border-radius: 8px;
  width: 100%;
  padding: 10px 20px;
  &:hover {
    cursor: pointer;
    border: 1px solid rgb(45, 120, 247);
    transition: 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
  }
  .left {
    display: flex;
    align-items: center;
    img {
      margin-top: -2px;
    }
    .fileName {
      margin-left: 10px;
      font-size: 13px;
    }
  }

  .right {
    min-height: 30px;
    display: flex;
    align-items: center;
  }

  &:last-child {
    margin-right: 0;
  }
}
