@color-black-title: #161c29;
@color-grey-text: #707177;

.Title {
  .title {
    margin-bottom: 1.05rem;
    font-weight: 700 !important;
  }
  .text {
    color: @color-grey-text;
    font-weight: normal;
    font-size: 0.79rem;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }
}
