.EditEmailForm {
  // padding: 50px 50px 10px 50px;
  position: relative;
  background-color: #ffffff;

  border-radius: 5px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.22);

  :global {
    .ql-mention-list-item {
      background-color: #f5f5f5ed;
      &:hover {
        background-color: #2c6df9;
      }
    }
    .ant-form-item {
      margin-bottom: 0;
    }
    .ant-btn-primary {
      width: 95px;
      height: 40px;
      margin-left: 24px;
      object-fit: contain;
      color: #ffffff;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.13px;
      text-shadow: none;
      background-color: #ffa100;
      border: solid 1px #ffa100;
      border-radius: 25px;
      box-shadow: none;
      &:hover {
        color: #ffffff;
        background-color: #ffa100;
      }
    }
    .ant-btn-secondary {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 94px;
      height: 40px;
      object-fit: contain;
      color: #ffa100;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.13px;
      border: solid 1px #ffa100;
      border-radius: 25px;
    }

    .ant-select-selector {
      cursor: pointer !important;
    }

    .ant-tag.ant-tag-red {
      margin-bottom: 3px;
    }
  }

  .iconClose {
    cursor: pointer;
  }

  .label {
    color: #161c29;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
  }
  .quill {
    height: 478px;
    margin-bottom: 48px;
  }
  .receipients {
    padding: 0;
  }
  &_title {
    padding: 24px;
    color: #161c29;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    // position: relative;
  }

  &_loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    p {
      font-weight: 500;
    }
  }

  .divider {
    width: 100%;
    border-top: solid 1px #dfe3e8;
  }
  &_form {
    padding: 24px;
    .addNewButton {
      :global {
        .ant-btn {
          height: 40px;
          color: #2c6df9;
          font-weight: 500;
          font-size: 14px;
          letter-spacing: 0.13px;
          background-color: white;
          border: none;
          border-radius: 5px;
          box-shadow: none;
        }
      }
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .note {
      display: flex;
      align-items: center;
      height: 100%;
      margin-top: 14px;
      color: #707177;
      font-size: 13px;
      line-height: 1.15;
      letter-spacing: 0.12px;
      text-align: left;
    }

    .onAddConditionBtn {
      :global {
        width: 14px;
        cursor: pointer;
      }
    }
  }
  :global {
    .ant-form-item {
      display: block;
    }
    .ant-form-item-control-input-content {
      input {
        height: 42px;
      }
    }
    .ant-checkbox-wrapper {
      span {
        color: #707177;
        font-size: 14px;
        line-height: 1.14;
        text-align: left;
      }
    }
    .ant-form-item-label {
      label {
        color: #161c29;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        text-align: left;
      }
    }
    .ant-select .ant-select-single .ant-select-show-arrow {
      width: 100%;
    }

    .ant-radio-wrapper {
      span {
        color: #707177;
        font-size: 14px;
        line-height: 1.14;
        text-align: left;
      }
    }
    .ant-radio-wrapper-checked {
      span {
        color: #161c29;
        font-size: 14px;
        line-height: 1.14;
        text-align: left;
      }
    }
  }
}
