.putOnLeaveRoot {
    width: 100%;

    &__titleSection {
        width: 100%;
        background-color: #ffffff;
        border: solid 1px #d6dce0;
        border-radius: 5px;

        &__text{
            margin-bottom: 0;
            color: #161c29;
            font-weight: 700;
            font-size: 16px;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
        }

        .cancelButton {
            display: flex;
            align-items: center;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }

            img {
                margin-right: 16px;
            }

            .editBtn {
                color: #2c6df9;
                font-weight: 500;
                font-size: 14px;
                font-style: normal;
                font-stretch: normal;
                line-height: normal !important;
                letter-spacing: 0.13px;
                text-decoration: none;
            }
        }

        .viewBottom{
            padding: 24px;

            .lwpForm{
                &__form{

                    &__row{
                        padding: 24px 0;
                    }

                    &__col{
                        display: flex;
                        align-items: center;
                    }
                    :global{
                        .ant-form-item{
                            margin-bottom: 0;
                            width: 299px;
                            height: auto;
                        }
                        
                        .ant-picker{
                            width: 100%;
                            height: 42px;
                            border-radius: 6px;
                        }
                    }
                }
            }

            .notification{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                padding: 12px 24px;

                border: 1px solid #FFC65A;
                background-color: #FFFDF7;

                &__text{
                    font-size: 16px;
                    font-weight: bold;
                    padding-left: 16px;
                }

            }
        }

    }

    .spaceTitle {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        padding: 24px;
        border-bottom: solid 1px #d6dce0;
    }
}