.root {
  .Form {
    .formContainer {
      padding: 24px 24px 8px;
    }
    width: 100%;
    :global {
      .ant-form-item-label {
        text-align: left;
      }
      .ant-form-item-label > label {
        color: #000000;
        font-size: 13px;
      }
      .ant-form-item-label > label::after {
        content: '';
      }
      .ant-form-item {
        width: 100%;
      }
      .ant-input:focus {
        border-color: #2c6df9;
        outline: 0;
        box-shadow: unset;
      }
      .ant-picker-focused {
        border-color: #2c6df9;
        box-shadow: unset;
      }
      .ant-picker-suffix {
        color: #161c29;
      }
    }
  }
  .dateForm {
    width: 100%;
    border: solid 1px #d6dce4;
    border-radius: 5px;
    &:focus {
      outline: 0;
      box-shadow: unset;
    }
  }
  .inputForm {
    border: solid 1px #d6dce0;
    border-radius: 5px;
  }

  .inputFormImageValidate {
    border: solid 1px #ff6c6c;
    border-radius: 5px;
  }

  .textValue {
    color: #707177;
    font-size: 13px;
  }
  .iconQuestTion {
    margin-top: 2px;
    margin-left: 9px;
  }
  .styleUpLoad {
    position: relative;
  }
  .labelUpload {
    .urlUpload {
      color: #2c6df9;
      font-size: 13px;
      text-decoration: underline;
    }
    :global {
      .ant-form-item-label > label {
        color: #707177;
        font-size: 13px;
        font-style: italic;
      }
    }
  }
  .viewUpLoadData {
    position: absolute;
    top: 5px;
    right: 24px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    .viewUpLoadDataURL {
      margin-right: 16px;
      margin-bottom: 0;
      color: #2c6df9;
      text-decoration: underline;
    }
    .viewUpLoadDataText {
      display: inline;
      margin-right: 20px;
      margin-bottom: 0;
      color: #47c97f;
      font-weight: 500;
      font-size: 14px;
    }
    .viewUpLoadDataIconCancel {
      cursor: pointer;
    }
  }

  .textUpload {
    position: absolute;
    top: 5px;
    right: 50px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    :global {
      .ant-upload {
        color: #2c6df9;
      }
    }
  }
  .spaceFooter {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    padding: 16px 24px;
    border-top: solid 1px #d6dce0;
  }
  .cancelFooter {
    margin-right: 40px;
    color: #ffa100;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
  }
  .cancelFooter:hover {
    color: #b1740c;
  }
  .buttonFooter {
    height: 40px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    background-color: #ffa100;
    border: solid 1px #ffa100;
    border-radius: 25px;
    padding-inline: 25px;
  }
  .buttonFooter:hover {
    background-color: #b1740c;
    border: solid 1px #b1740c;
  }
}
.GenEITooltip {
  :global {
    .ant-tooltip-content {
      border-radius: 5px;
    }
    .ant-tooltip-inner {
      color: #ffffff;
      font-weight: 500;
      font-size: 12px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
    }
  }
}
