.title {
  color: #3a354e;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
  padding-bottom: 20px;
}

.expense {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #000;
  text-align: center;
}

.containerSelect {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(180, 180, 180, 0.5);
  .line {
    box-sizing: border-box;
    height: 1px;
    background-color: #979797;
    opacity: 0.15;
  }
}

.tableContainer {
  box-shadow: 0 2px 4px 0 rgba(180, 180, 180, 0.5);
  border-radius: 4px;
  :global {
    .ant-table-empty {
      .ant-table-body {
        height: 61px !important;
      }
    }
    .ant-table-placeholder {
      height: 163px !important;
    }
    .ant-table-body {
      background-color: #fff;
      height: 223px !important;
      overflow: auto !important;
      border-radius: 4px;
    }
    .ant-empty {
      height: auto;
    }
  }
  table {
    border-radius: 4px;
  }
  tr > th {
    background-color: #f4f7fe;
    padding: 13px 8px 13px 10px !important;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.15);
  }
  tr > td {
    font-size: 14px;
    line-height: 17px;
    color: #000;
    padding: 13px 8px 13px 10px !important;
    border-bottom: 1px solid rgba(151, 151, 151, 0.15);
  }
  tr:hover {
    background-color: #d8d8d8;
  }
  tr:last-child td:first-child {
    border-bottom-left-radius: 4px;
  }
  tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
  }
}

@media only screen and (max-width: 1190px) {
  .expenseSummary_container {
    width: 600px !important;
  }
}
