.RightContent {
  border: 1px solid #d6dce0;
  border-radius: 5px;
  width: 100%;
  background-color: white;
  .header {
    padding: 16px 24px;
    .title {
      font-size: 16px;
      color: #464646;
      font-weight: bold;
      display: block;
    }
    .description {
      margin-top: 16px;
      display: block;
      color: #707177;
    }
  }
  .content {
    padding: 0 24px 16px 24px;
    .title {
      font-size: 16px;
      color: #464646;
      font-weight: bold;
      display: block;
      margin-bottom: 16px;
    }
    .avatar {
      width: 36px;
      height: auto;
    }
    :global {
      // avatar label
      .ant-steps-item-title {
        color: #707177;
        font-size: 13px;
      }

      .ant-steps-item {
        .ant-steps-icon {
          img {
            border-radius: 50%;
          }
        }
      }
      .ant-steps-item-active {
        .ant-steps-icon {
          border-radius: 50%;
          img {
            border: 2px solid #2c6df9;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
