@import '~antd/lib/style/themes/default.less';

.root {
  height: 100%;
  .range {
    input[disabled] {
      background-color: #fff;
      pointer-events: none;
    }
  }

  .btnFilter {
    display: flex;
    justify-content: center;
    height: 35px;
    width: 120px;
  }

  .ml_10 {
    margin-left: 10px;
  }

  .mr_42 {
    margin-right: 42px;
  }

  .form {
    margin-bottom: 100px;
  }

  .controlButton {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 60px 10px 16px;
    background: #fff;
    text-align: right;
    .btnApply {
      width: 120px;
      height: 45px;
      background-color: #fca00a;
      border-color: #fca00a;
      color: white;
      &:hover,
      &:focus {
        opacity: 0.6;
      }
    }
    .btnReset {
      width: 120px;
      height: 45px;
      margin-left: 20px;
      background-color: white;
      border-color: #fca00a;
      color: #fca00a;
      &:hover,
      &:focus {
        opacity: 0.6;
      }
    }
  }

  :global {
    .ant-select-selection--multiple .ant-select-selection__placeholder {
      margin-left: 10px;
    }
    .ant-row {
      width: 100%;
    }

    // form
    .ant-form-item {
      margin-bottom: 18px;
    }
    .ant-form-item-label {
      margin-bottom: 6px;
    }

    // checkbox
    .ant-checkbox-inner {
      width: 18px;
      height: 18px;
      &::after {
        width: 7.571429px;
        height: 10.714286px;
      }
    }
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: @primary-color;
      border-color: @primary-color;
    }
  }
}
