.AddCategoryModalContent {
  padding: @padding-lg;
  :global {
    .ant-input-affix-wrapper {
      .ant-input-prefix {
        margin-right: 9px;
      }
      .ant-input {
        height: unset !important;
      }
      border: none !important;
    }
    .ant-input {
      width: 100%;
      min-height: 42px !important;
      border: 1px solid #d6dce4 !important;
      border-radius: 5px !important;
    }
    .ant-input {
      font-size: 13px;
    }
  }
}
