.root {
  padding: 25px 50px;
  .container {
    width: 100%;
    height: fit-content;
    background: #ffffff;
    border: 1px solid #d6dce0;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 24px;
  }
  .viewLeft {
    text-align: justify;
    p {
      font-size: 14px;
      line-height: 22px;
      color: #707177;
      margin-bottom: 24px;
    }
    .btnUpload {
      background: #ffa100;
      border-radius: 25px;
      height: 40px;
      width: 100%;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #fff;
      border: none;
    }
  }
  .viewRight {
    min-height: 50vh;
  }
}
