.viewChangeLastWorkingDay {
  background-color: #fff;
  padding: 40px;
  margin-bottom: 24px;
  border-radius: 5px;
  border: 1px solid #d6dce0;
  .viewTop {
    display: flex;
    justify-content: space-between;
  }
  .textEdit {
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    color: #ffa100;
  }
  .textClose {
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    color: #f81d22;
  }
  &__title {
    margin-bottom: 17px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000;
  }
  &__label {
    margin-bottom: 17px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000;
  }
  &__viewDateApproved {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 102%;
    &__datePicker {
      width: 100%;
      height: 56px;
      box-sizing: border-box;
      border-radius: 5px;
    }
    &__description {
      background: #fff4d1;
      padding: 17px 32px;
      border-radius: 5px;
      &__text1 {
        font-size: 13px;
        line-height: 17px;
        color: #464646;
      }
      &__text2 {
        font-weight: 700;
        font-size: 13px;
        line-height: 17px;
        color: #464646;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  &__textMessage {
    margin-top: 20px;
    &__bold {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
    }
    &__date {
      margin-left: 20px;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #464646;
    }
  }
}

.viewComment {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 5px;
  .viewTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__name {
      font-weight: 700;
      font-size: 16px;
      color: #000;
    }
    &__right {
      display: flex;
      justify-content: space-between;
      &__edit {
        // margin-right: 20px;
        font-weight: 500;
        font-size: 14px;
        color: #ffa100;
        cursor: pointer;
      }
      &__time {
        font-weight: 500;
        font-size: 14px;
        color: #464646;
      }
    }
  }
  .boxComment {
    resize: none;
    height: 66px;
    margin: 15px 0;
    &:focus {
      box-shadow: none;
    }
  }
  .viewBottom {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    .btnCancel {
      margin-right: 30px;
      border: 1px solid #de0e0e;
      box-sizing: border-box;
      border-radius: 25px;
      width: 100px;
      height: 35px;
      color: #de0e0e;
    }
    .btnSubmit {
      width: 100px;
      height: 35px;
      border-radius: 25px;
      font-weight: 500;
      color: #ffffff;
      background: #ffa100;
      border: none;
    }
  }
}

.containerButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  .contentViewButton {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btnApprove {
      color: #0b8235;
      &:disabled {
        opacity: 0.5;
      }
    }
    .btnReject {
      color: #f81d22;
      &:disabled {
        opacity: 0.5;
      }
    }
    .btnSubmit {
      width: 100px;
      height: 35px;
      background: #ffa100;
      border-radius: 25px;
      color: #fff;
      font-weight: 700;
      &:disabled {
        opacity: 0.5;
      }
      &:hover,
      &:active,
      &:focus {
        background: #ffa100;
        border-radius: 25px;
        color: #fff;
        font-weight: 700;
        border: none;
      }
    }
  }
}
