/* Open Sans @font-face kit */

@FontPath: './fonts';

/* BEGIN Light */
@font-face {
  font-family: 'Open Sans';
  src: url('@{FontPath}/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('@{FontPath}/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* END Light */

/* BEGIN Light Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('@{FontPath}/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('@{FontPath}/ProximaNova-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

/* END Light Italic */

/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src: url('@{FontPath}/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('@{FontPath}/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* END Regular */

/* BEGIN Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('@{FontPath}/OpenSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('@{FontPath}/ProximaNova-RegularItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

/* END Italic */

/* BEGIN Semibold */
@font-face {
  font-family: 'Open Sans';
  src: url('@{FontPath}/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('@{FontPath}/ProximaNova-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* END Semibold */

/* BEGIN Semibold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('@{FontPath}/OpenSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('@{FontPath}/ProximaNova-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

/* END Semibold Italic */

/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  src: url('@{FontPath}/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('@{FontPath}/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* END Bold */

/* BEGIN Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('@{FontPath}/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('@{FontPath}/ProximaNova-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

/* END Bold Italic */

/* BEGIN Extrabold */
@font-face {
  font-family: 'Open Sans';
  src: url('@{FontPath}/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('@{FontPath}/ProximaNova-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* END Extrabold */

/* BEGIN Extrabold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('@{FontPath}/OpenSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('@{FontPath}/ProximaNova-BoldItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

/* END Extrabold Italic */
