.JobDetailsComponent {
  border-radius: 5px;
  border: solid 1px #d6dce0;
  background: #fff;
  :global {
    h5.ant-typography {
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #707177;
      margin: 0;
    }
    h4.ant-typography {
      font-size: 16px;
      font-weight: bold;
    }
    .ant-typography {
      color: #000000;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
    }
    span.ant-picker-suffix {
      color: #161c29;
    }
  }
}

.RightComponents {
  width: 322px;
  .stepRow {
    width: 100%;
  }
}
