.popupContent{
  width: 346px; 

  .generalInfo{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .employeeInfo{
      text-align: left;
      padding-left: 16px;

      &__name{
        margin-bottom: 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #161C29;

        padding-bottom: 6px;
      }
  
      &__department, &__emplId{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        color: #707177;

        padding-bottom: 6px;
      }
    }


    .avatar{
      
    }
  }

  .contact{
    &__title {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;

      color: #707177;
    }

    &__value{
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;

      color: #161C29;

      opacity: 0.91;
    }
  }

  .divider{
    padding: 1px 0;
  }

  .popupActions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 8px;

    &__link{
      color: #2c6df9;
      font-weight: 500;
      font-size: 13px;
      font-style: normal;
      line-height: 15px;
      text-decoration-line: underline;
      cursor: pointer;
    }

    &__actions {
      width: 106px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}