.Documents {
  background-color: #f6f7f9;
  .noDocumentContainer {
    .buttonContainer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      .uploadNewBtn {
        background: #568afa;
        border-color: #568afa;
      }
    }
  }
  .loadingDocuments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      font-weight: 500;
    }
  }
}
