.modalUpload {
  :global {
    .ant-modal-header {
      padding: 24px;
      border-top-left-radius: 8px;
    }
    .ant-modal-content {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
    }
    .ant-modal-footer {
      padding: 24px;
    }
    .ant-modal-close-x {
      position: absolute;
      background-color: #2c6df9;
      color: #fff;
      width: 54px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      &:active {
        opacity: 0.5;
      }
    }

    .ant-upload.ant-upload-drag{
      padding: 10px 40px;
    }
  }

  .btnCancel{
    font-size: 14px;
    width: 95px;
    height: 40px;
    font-weight: 600;
    border-radius: 25px;
    border: 1px solid #ffa100;
  }

  .btnSubmit {
    font-size: 14px;
    width: 95px;
    height: 40px;
    font-weight: 600;
    border-radius: 25px;
    color: #fff;
    background-color: #ffa100;
    border: none;
  }
  .btnSubmit:disabled {
    color: #fff;
    opacity: 0.5;
  }
  .btnCancel {
    display: inline-block;
    color: #ffa100;
    margin-right: 16px;
    cursor: pointer;
    &:active {
      opacity: 0.5;
    }
  }
  .viewImg {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    &__img {
      height: auto;
      object-fit: contain;
      border-radius: 5px;
    }

    .uploadText{
      color: #707177;
      font-size: 15px;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__text {
      font-weight: 600;
      font-size: 16px;
      color: #161c29;
      margin: 0;
    }
    &__upload {
      cursor: pointer;
      &:active {
        transform: translateY(-1px);
      }
      &__icon {
        width: 20px;
        height: 20px;
      }
      &__text {
        color: #2c6df9;
        font-size: 14px;
        margin-left: 16px;
      }
    }
  }
}
