.SalaryNote {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 24px;
  background-color: #fff;
  border: solid 1px #d6dce0;
  border-radius: 5px;
  :global {
    .ant-input {
      font-size: 14px;
      background-color: white;
      border-radius: 5px;
    }
    .ant-input-disabled {
      color: rgba(0, 0, 2, 0.755);
    }
    .ant-btn {
      width: 100%;
      max-width: 40%;
      height: 40px;
      margin-top: 15px;
      object-fit: contain;
      color: #ffffff;
      font-weight: 500;
      font-size: 14px;

      letter-spacing: 0.13px;
      text-shadow: none;
      background-color: #ffa100;
      border: solid 1px #ffa100;
      border-radius: 25px;
      box-shadow: none;
      &:hover {
        color: #ffffff;
        background-color: #ffa100;
      }
    }
  }
  .title {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 13px;
  }
}
