.NewJoinees {
  height: 100%;
  :global {
    .ant-table-content,
    .ant-table-container {
      padding: 24px;
    }
    .ant-table-body {
      min-height: 380px;
    }
  }
  .optionContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // .options {
    //   margin-right: 16px;
    // }
  }
}
