@commonPadding: 24px;
@blue: #2c6df9;
@black: #171924;

.BarGraph {
  .questionText {
    color: @black;
    font-weight: 600;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    line-height: 20px;
  }
  .poll {
    width: 100%;
    margin-top: 16px;
    background: #ffffff;
    .reply {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 9px;
      overflow: hidden;
      background-color: #fff;
      border-color: transparent;
      border-radius: 4px;
      span {
        z-index: 1;
        display: inline-block;
        color: #384254;
        font-weight: 500;
        font-size: 13px;
        font-family: Inter;
        font-style: normal;
        line-height: 20px;
      }
      .percentBackground {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 0;
        background-color: #e4edff;
        // border-radius: 4px;
      }
    }
  }
  .votingInformation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 16px;
    span {
      display: inline-block;
    }
    .number {
      color: #707177;
      font-weight: normal;
      font-size: 12px;
      font-family: Inter;
      font-style: normal;
      line-height: 22px;
    }
    img {
      margin-inline: 10px;
    }
    .dueTime {
      color: #2c6df9;
      font-weight: 500;
      font-size: 12px;
      font-family: Inter;
      font-style: normal;
      line-height: 22px;
    }
  }
}
