.title {
  font-size: 16px;
  font-weight: 700;
}
.feedback {
  margin-bottom: 24px;
  padding: 24px;
  border: 1px solid #d6dce0;
  background-color: #fff;
  border-radius: 5px;
  &__title {
    .title;
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .template {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // width: 235px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid rgba(214, 220, 224, 1);
    padding: 0 14px;
    color: #464646;
    cursor: pointer;
    &__content {
      display: flex;
    }
    span {
      margin-left: 10px;
    }
  }
}
