@background-grey: #f6f7f9;
@spacing-xxs: 4px;

.textNote {
  color: #ffa100;
  font-weight: 500;
  font-size: 14px;

  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.13125px;
}

.DocumentVerification {
  :global {
    .ant-collapse {
      background-color: white;
      border: none !important;
      border-radius: 5px;
    }

    .ant-collapse-item {
      border-radius: 5px;
    }

    .ant-collapse-content {
      overflow: hidden;
      border-radius: 0 0 5px 5px !important;
    }

    .ant-collapse > .ant-collapse-item {
      border: none;
    }

    .ant-collapse-header {
      padding: 24px !important;
    }
    .ant-collapse-content-box {
      padding: 0 !important;
      background-color: white;
      p {
        margin-bottom: 0;
        color: #464646;
        font-size: 13px;
      }
    }
    // header checkbox
    .ant-checkbox-wrapper {
      margin-right: 24px;
    }

    .ant-checkbox-indeterminate .ant-checkbox-inner::after {
      display: none;
    }

    .ant-input-disabled,
    .ant-input[disabled] {
      color: #161c29;
      background: rgba(226, 228, 232, 0.5) !important;
    }
    .ant-checkbox-disabled + span {
      color: #161c29;
    }
  }

  .rightWrapper {
    .boldText {
      margin-top: 16px;
      font-weight: 700;
    }
  }

  .refreshBlockD {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
  }

  .bottomBar {
    padding: 15px 24px;
    background-color: #ffffff;
    border: solid 1px #d6dce0;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 2, 0.15);

    .normalText {
      display: flex;
      color: #707177;
      font-size: 13px;

      font-style: italic;
    }

    .redText {
      color: #ff4949;
      font-size: 13px;

      font-style: italic;
    }

    .greenText {
      color: #47c97f;
      font-size: 13px;

      font-style: italic;
    }

    &__button {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;

      &__disabled {
        opacity: 0.3;
      }

      :global {
        .ant-btn-primary {
          width: 94px;
          height: 40px;
          object-fit: contain;
          color: #ffffff;
          font-weight: 500;
          font-size: 14px;

          letter-spacing: 0.13px;

          text-shadow: none;
          background-color: #ffa100;
          border: solid 1px #ffa100;
          border-radius: 25px;
          box-shadow: none;

          &:hover {
            color: #ffffff;
            background-color: #ffa100;
          }
        }

        .ant-btn-secondary {
          width: 94px;
          height: 40px;
          padding-right: 41px;
          object-fit: contain;
          color: #ffa100;
          font-weight: 500;
          font-size: 14px;

          letter-spacing: 0.13px;
          border: solid 0;
          border-radius: 25px;
        }
      }
    }
  }

  .displayButtonChangeEmail {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }

  .buttonChangeEmailFilled {
    border-radius: 4px;
  }
}

.viewLoading {
  width: 300px;
  height: 500px;
  margin: 0 auto;
}
