:global {
  .has-error :local(.root) .ant-input,
  .has-error :local(.root) .ant-input-affix-wrapper:hover .ant-input {
    border-color: #d9d9d9;
  }
}

.root {
  :global {
    .ant-table {
      margin-top: 25px;
    }
  }
}

.btnView {
  color: #76d0ff;
}

.btnEdit {
  color: #76d0ff;
  padding: 0 10px;
}

.btnDel {
  color: #ff6f6f;
  cursor: pointer;
}

.title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 120px;
}
