@spacing-xxs: 4px;

.salaryStructureHeader {
  margin-bottom: 23px;

  &__title {
    width: 100%;
    // height: 19px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2 * @spacing-xxs;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }
  &__subtitle {
    width: 100%;
    // height: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    margin-bottom: 0;

    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    color: #464646;

    &__span{
      color: #3f73e3;
      text-decoration: underline;
    }
  }
}
