.WidgetCard {
  .cardContainer {
    box-sizing: border-box;

    background: #ffffff;
    border: 1px solid #d6dce0;
    border-radius: 12px;

    .preview {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 200px;
      padding: 16px;
    }
    .info {
      padding: 16px;
      border-top: 1px solid #d6dce0;
      span {
        display: block;
      }
      &__title {
        margin-bottom: 5px;
        color: #707177;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
      }
      &__description {
        color: #707177;
        font-size: 13px;
        line-height: 20px;
      }
    }
  }

  :global {
    .ant-checkbox-wrapper {
      margin-top: -3px;
    }
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: #f0f3f9;
      border: 1px solid #2c6df9;
    }
    .ant-checkbox-checked .ant-checkbox-inner::after {
      border-color: #2c6df9;
    }
    .ant-checkbox-inner {
      width: 24px;
      height: 24px;
      border-radius: 8px;
    }
    .ant-checkbox-inner::after {
      left: 25.5%;
      width: 7px;
      height: 12px;
      border-width: 3px;
    }
    .ant-checkbox-checked::after {
      border-radius: 8px;
    }
  }
}
