.EventDetailBox {
  background-color: #fafafa;
  align-items: center;
  padding: 7px 24px;
  margin-bottom: 10px;
  :global {
    .ant-col {
      font-size: 13px;
      color: #464646;
    }
  }
  .eventOfDay {
    padding-left: 5px;
    color: #161c29;
  }
  .dateName {
    color: rgba(22, 28, 41, 0.5);
    font-size: 12px;
  }
  .dateAndMonth {
    border-radius: 5px;
    background-color: #f4f4f6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 14px;
    .subtractSymbol {
      font-weight: 700;
    }
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // padding: 5px 10px;
      span {
        font-weight: 700;
        color: #161c29;
      }
      .day {
        font-size: 13px;
      }
      .month {
        font-size: 11px;
      }
    }
  }
  .dayInWeek {
    text-align: right;
    .arrowIcon {
      color: #707177;
      font-weight: 700;
      padding-left: 5px;
    }
  }
  .upcomingColor {
    color: #60f93a;
  }
  .leaveTakenColor {
    color: #ff5252;
  }
}
