.root {
  width: 100%;
  padding: 50px 0;
  height: 913px;
  background: #ffffff;
  border: 1px solid #d6dce0;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #161c29;
    padding-bottom: 21px;
  }
  .subText {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #707177;
    padding-bottom: 40px;
  }
}
