.root {
  padding: 24px 24px 8px;
  .textLabel {
    font-size: 13px;
    color: #000000;
  }
  .textValue {
    font-size: 13px;
    color: #707177;
    .urlData {
      margin-right: 16px;
      margin-bottom: 0;
      text-decoration: underline;
    }
    .viewFileUpLoad {
      display: flex;
      position: absolute;
      top: 7px;
      right: 24px;
    }
  }
  .line {
    margin-top: 20px;
    border-top: solid 2px #d6dce0;
  }
}
