.root {
  .textLabel {
    font-size: 13px;
    color: #000000;
  }
  .textValue {
    font-size: 13px;
    color: #707177;
  }
  .line {
    margin-top: 20px;
    border-top: solid 2px #d6dce0;
  }
}
