.OptionsHeader {
  border-bottom: solid 1px #d6dce0;
  .container {
    padding: 20px 24px 20px 24px;

    .itemLabel {
      padding-bottom: 10px;
      font-weight: 700;
      font-size: 13px;
    }
    .statusFilter {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      :global {
        .ant-form-item {
          padding-top: 0 !important;
        }
      }
      .itemLabel {
        display: inline;
        margin-right: 20px;
        margin-top: 10px;
      }
    }

    .buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: flex-end;
      margin-bottom: 10px;
      .submitBtn {
        background-color: #ffa100;
        border: none;
        border-radius: 35px;
        span {
          color: white;
          font-weight: 700;
        }
        margin-right: 10px;
      }

      .downloadCSVBtn {
        background-color: white;
        border-radius: 35px;
        span {
          color: #ffa100;
          font-weight: 700;
        }
      }
    }
  }
  :global {
    .ant-form-item {
      display: flex;
      flex-direction: column;
      padding-top: 10px;
      margin-bottom: 0;
    }
    .ant-picker {
      width: 100%;
    }
    .ant-col {
      width: 100%;
      justify-content: flex-start;
      padding-bottom: 0 !important;
    }
    .ant-form-item-label {
      text-align: left;
    }
    .ant-checkbox-wrapper {
      font-size: 13px;
    }

    // checked
    .ant-checkbox-inner {
      // border: 2px solid #29971f !important;
    }
    .ant-checkbox-checked .ant-checkbox-inner {
      border: 1px solid #29971f;
      background-color: white;
    }
    .ant-checkbox-checked .ant-checkbox-inner::after {
      border-color: #29971f;
    }
    .ant-checkbox-checked::after {
      border-color: #29971f;
    }
  }
}
