.root {
  box-sizing: border-box;
  width: 100%;
  height: 436px;
  overflow: hidden;
  background: #ffffff;
  border: 1px solid #ebeff2;
  border-radius: 5px;

  :global {
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      font-weight: 700;
      font-size: 16px;
    }
    .ant-tabs-tab-btn {
      color: #707177;
      font-weight: 700;
      font-size: 16px;
      opacity: 1;
    }

    .ant-tabs-tab {
      margin: 0px 25px 0 0;
    }
  }

  .extraBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.23);
    color: #2C6DF9;
    cursor: pointer;
    &:active {
      transform: translateY(-1px);
    }

    &:hover {
      transform: rotateZ(180deg);
      transition: 0.6s;
    }
  }
  .contentTab {
    width: 100%;
    height: 370px;
    padding: 20px;
    overflow-y: scroll;
    border-radius: 0 0 0 6px;
    &__loading {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
    &::-webkit-scrollbar {
      width: 6px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-track {
      margin: 0 30px;
    }
    &::-webkit-scrollbar-track-piece {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb:vertical {
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 10px;
    }
  }
  .containerItemMyTeam {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    min-width: 210px;
    height: 74px;
    padding: 16px;
    background: #ffffff;
    border: 1px solid #e8eef2;
    border-radius: 8px;
    cursor: pointer;
    &__viewInfo {
      display: flex;
      flex-direction: column;
      width: 72%;
      margin-left: 10px;
      &__name {
        margin-bottom: 6px;
        color: #161c29;
        font-size: 14px;
        line-height: 16px;
        .textEllipsis();
      }
      &__jobDetail {
        color: #707177;
        font-size: 13px;
        line-height: 15px;
        .textEllipsis();
      }
    }

    &:hover {
      border: 1px solid #2c6df9;
    }
  }
}

.textEllipsis {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.viewEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 370px;
  color: rgb(22, 28, 41);
  font-weight: 500;
  opacity: 0.3;
}
