.Candidate {
  margin: 24px 89px;
  .headerBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 24px;

    background-color: white;
    border-radius: 5px 5px 5px 0;
    box-shadow: 0px 1px 2px #eeeeee;
    .title {
      color: #2c6df9;
      font-weight: 500;
      font-size: 18px;
    }
    .actionBtn {
      :global {
        .ant-btn {
          display: inline-flex;
          align-items: center;
          height: 42px;
          padding: 12px 24px;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 0.13125px;
          border-radius: 25px;
        }
      }
      .finishLaterBtn {
        color: #ffa100;
        border: 1px solid #ffa100;
      }
      .cancelBtn {
        margin-left: 24px;
        color: #ff5252;
        border: 1px solid #ff5252;
      }
    }
  }
  .content {
    .stepContainer {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 2px;
      padding: 24px 24px 4px 24px;
      background-color: white;
      border-radius: 0 0 5px 5px;
      :global {
        .ant-steps-item-active {
          .ant-steps-item-title {
            color: #2c6df9 !important;
            font-weight: 500;
          }
        }
        .ant-steps-item-title {
          color: #7d7d7d;
          font-size: 14px;
        }
        .ant-steps-vertical > .ant-steps-item .ant-steps-item-content {
          min-height: 60px;
        }
      }
    }
  }
}
