.signup_step_1_component {
  .signup_step_1_header {
    h1 {
      color: #3a354e;
      font-size: 34px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 41px;
      margin: 0;
    }
    p {
      opacity: 0.7;
      color: #000;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 20px;
    }
  }
  .signup_step_1_back_to_signin {
    text-align: right;
    margin-top: -10px;
  }
  .signup_step_1_back_to_signin_link {
    color: #fca00a;
    &:hover {
      opacity: 0.8;
    }
  }
}
