.content {
  background-color: #fff;
  margin: 24px;
  padding: 24px;
}

.btnReset {
  &.btnNext {
    margin-left: 10px;
  }
}

.btnView {
  width: 200px;
  &.btnBack {
    margin-left: 20px;
  }
}

.styleStep {
  :global {
    .ant-steps-item-process .ant-steps-item-title {
      font-weight: 700;
      font-size: 15px;
    }
    .ant-steps-item-title {
      line-height: 20px;
    }
  }
}
