.root {
  width: 100%;
  height: 244px;
  background: #ffffff;
  border: 1px solid #ebeff2;
  box-sizing: border-box;
  border-radius: 5px;
  // overflow: hidden;
  overflow-y: scroll;
  padding: 24px;
  .viewTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 34px;
    margin-bottom: 10px;

    .title {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #161c29;
    }
    .btnViewAll {
      width: 73px;
      height: 34px;
      background: rgba(86, 138, 250, 0.12);
      border-radius: 5px;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #2c6df9;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        -webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
        transition: all 0.2s ease-in-out;
      }
    }
  }
  p {
    text-decoration: underline;
    color: #2c6df9;
    margin-bottom: 5px;
    margin-right: 8px;
    font-weight: 500;
    cursor: pointer;
  }
  .link {
    cursor: pointer;
    text-decoration: underline;
    color: #2c6df9;
    margin-bottom: 5px;
    margin-right: 8px;
    font-weight: 500;
  }
  .new {
    width: 41px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f04b37;
    color: #fff;
    border-radius: 5px;
    font-size: 10px;
  }
  .listQuestion {
    overflow-y: scroll;
  }
}
