.Divisions {
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #d6dce0;
  border-radius: 5px;
  .DivisionCard {
    box-sizing: border-box;
    background-color: #fff;
    &:not(:last-child) {
      border-bottom: 1px solid #d6dce0;
    }
    .divisionsHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: @padding-md @padding-lg;
      border-bottom: 1px solid #d6dce0;
      span {
        margin: 0;
        & > img {
          margin-right: 16px;
        }
        &.contactInfoHeaderTitle {
          display: block;
          color: #161c29;
          font-weight: 700;
          font-size: 16px;
        }
      }
    }

    .label {
      color: #707177;
      font-weight: 500;
      font-size: 14px;
    }
    .value {
      color: #161c29;
      font-size: 16px;
    }

    .btnEdit {
      color: @primary-color;
      font-weight: 700;
      cursor: pointer;
    }

    .divider {
      border-top: 1px solid #d6dce0;
    }

    .divisionFooter {
      padding: 24px;
      background-color: #fff;
      border-top: 1px solid #d6dce0;
    }
  }
  .addDivision {
    padding: 16px 0;
  }
}
