.Header {
  border-bottom: solid 1px #d6dce0;
  .container {
    padding: 24px;

    .itemLabel {
      display: block;
      height: 30px;
      padding-bottom: 10px;
      font-weight: 700;
      font-size: 13px;
    }
    .itemStatusLabel {
      font-weight: bold;
      line-height: 42px;
    }
    .statusRow {
      padding-top: 0;
      padding-left: 10px;
      line-height: 42px;
    }
    .statusFilter {
      display: inline;
      padding-bottom: 0;
      line-height: 100%;
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
      .downloadCSVBtn {
        width: 150px;
        height: 42px;
        background-color: white;
        border: 1px solid #2c6df9;
        border-radius: 40px;
        outline: none;
        box-shadow: none;
        img {
          padding-right: 6px;
        }
        span {
          color: #2c6df9;
          font-weight: 700;
        }
      }
    }
  }
  :global {
    .ant-form-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
      padding-top: 10px;
    }
    .ant-picker {
      width: 100%;
    }
    .ant-col {
      justify-content: flex-start;
      width: 100%;
      padding-bottom: 0 !important;
    }
    .ant-form-item-label {
      text-align: left;
    }
    .ant-checkbox-wrapper {
      font-size: 13px;
    }

    .ant-select {
      width: 100% !important;
    }
    .ant-select-selector {
      min-height: 42px !important;
      border: 1px solid #d6dce4 !important;
      border-radius: 5px !important;
    }
    .ant-select-single {
      .ant-select-selection-search-input {
        height: 42px !important;
      }
    }
    .ant-select-selection-item,
    .ant-select-selection-placeholder {
      font-size: 13px !important;
      line-height: 42px !important;
    }
    .ant-select-multiple {
      .ant-select-selection-item {
        height: 28px !important;
        padding-top: 3px !important;
        font-size: 13px;
        line-height: unset !important;
        background: #ffffff;
        border: 1px solid #d6dce0;
        border-left: 4px solid #2c6df9;
        border-radius: 5px;
      }
      .ant-select-selection-item-remove {
        margin-top: 3px;
        margin-inline: 5px;

        .anticon-close {
          border: 0.75px solid #707177;
          border-radius: 50%;
        }
      }
    }
    .ant-select-multiple .ant-select-selection-item-remove > * {
      line-height: 0;
    }
    .ant-select-auto-complete {
      .ant-input {
        border: none !important;
      }
    }

    .ant-select-selector {
      overflow: hidden;
    }
    .ant-input-affix-wrapper {
      .ant-input-prefix {
        margin-right: 9px;
      }
      .ant-input {
        height: unset !important;
      }
      border: none !important;
    }
    // INPUT + DATE PICKER
    .ant-input,
    .ant-input-number,
    .ant-picker {
      width: 100%;
      height: 42px !important;
      border: 1px solid #d6dce4 !important;
      border-radius: 5px !important;
    }
    .ant-input-number,
    .ant-input {
      font-size: 13px;
    }
    .ant-picker {
      input {
        font-size: 13px;
      }
    }
    .ant-input-number-input-wrap {
      input {
        height: 40px !important;
      }
    }
  }
}
