.chartSearch {
  width: 346px;
  margin-bottom: 10px;
  padding: 18px;
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  :global {
    .ant-form-item {
      margin-bottom: 0;
    }

    .ant-select {
      width: 100%;
    }

    .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector input {
      height: 100%;
    }

    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      box-sizing: border-box;
      height: 42px;
      background: #ffffff;
      border: 1px solid #d6dce4;
      border-radius: 5px;
    }

    .ant-select-selection-placeholder {
      display: flex;
      align-items: center;

      color: #707177;
      font-weight: normal;
      font-size: 13px;

      font-style: normal;
      line-height: 15px;

      opacity: 0.53;
    }

    .ant-input-affix-wrapper {
      font-size: 16px;
      border: none;
      &-focused {
        border: none;
        outline: none;
      }
    }
    .ant-btn.ant-btn-icon-only.ant-input-search-button {
      border: none;
    }

    .ant-select-arrow {
      top: 47%;
    }

    .ant-select-single .ant-select-selector .ant-select-selection-item,
    .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
      display: flex;
      align-items: center;
      padding: 0;
    }
  }

  .viewLoading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__name {
    padding-bottom: 16px;
    color: #161c29;
    font-weight: 500;
    font-size: 18px;

    font-style: normal;
    line-height: 21px;
    text-align: center;
  }
  &__search {
    color: #161c29;
    font-weight: 500;
    font-size: 18px;

    font-style: normal;
    line-height: 21px;
  }
}

.chartDetail {
  width: 346px;
  padding: 18px;

  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);

  :global {
    .ant-divider {
      border-top: 0.2px solid #b6b6b6;
      opacity: 0.3;
    }

    .ant-divider-horizontal {
      margin: 18px 0;
    }
  }

  &__Top {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;

    & > &_name {
      padding-left: 16px;
    }
    &_firstName {
      margin-bottom: 0;

      padding-bottom: 6px;
      color: #161c29;
      font-weight: 500;
      font-size: 18px;

      font-style: normal;
      line-height: 21px;
      word-break: break-all;
    }

    &_psi,
    &_department {
      padding-bottom: 6px;
      color: #707177;
      font-weight: normal;
      font-size: 13px;

      font-style: normal;
      line-height: 15px;
    }
  }

  &__Bottom {
    &_label {
      color: #707177;
      font-weight: 500;
      font-size: 13px;

      font-style: normal;
      line-height: 15px;
    }
    &_value {
      color: #161c29;
      font-weight: normal;
      font-size: 14px;
      font-style: normal;
      line-height: 16px;
      overflow-wrap: break-word;

      opacity: 0.91;
    }

    &_flexBottom {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
    }
    &_ViewProfile {
      color: #2c6df9;
      font-weight: 500;
      font-size: 14px;

      font-style: normal;
      line-height: 16px;
      text-align: center;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: #2c6df9;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    &_actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 106px;
      margin-top: -10px;
      margin-right: 20px;
    }
  }
}

.avatarPopup {
  img {
    width: 300px;
    height: 300px;
  }
}
