.chartSearch {
  margin-bottom: 10px;
  padding: 18px;
  width: 346px;
  background: #FFFFFF;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  cursor: pointer;

  :global {
    .ant-select {
      width: 100%;
    }

    .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector input{
      height: 100%;
    }

    .ant-select:not(.ant-select-customize-input) .ant-select-selector{
      height: 42px;
      background: #FFFFFF;
      border: 1px solid #D6DCE4;
      box-sizing: border-box;
      border-radius: 5px;
    }

    .ant-select-selection-placeholder{
      display: flex;
      align-items: center;

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 15px;

      color: #707177;

      opacity: 0.53;
    }

    .ant-input-affix-wrapper {
      font-size: 16px;
      border: none;
      &-focused {
        border: none;
        outline: none;
      }
    }
    .ant-btn.ant-btn-icon-only.ant-input-search-button {
      border: none;
    }

    .ant-select-arrow{
      top: 47%;
    }

    .ant-select-single .ant-select-selector .ant-select-selection-item, .ant-select-single .ant-select-selector .ant-select-selection-placeholder{
      padding: 0;
      display: flex;
      align-items: center;
    }
  }

  .viewLoading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__name {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #161C29;
    text-align: center;
    padding-bottom: 16px;
  }
  &__search {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #161C29;
  }
}

.chartDetail {
  padding: 18px;
  width: 346px;

  background: #FFFFFF;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 6px;

  :global{
    .ant-divider{
      border-top: 0.2px solid #B6B6B6;
      opacity: 0.3;
    }

    .ant-divider-horizontal{
      margin: 18px 0;
    }
  }

  &__Top {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;

    & > &_name {
      padding-left: 16px;
    }
    &_firstName {
      margin-bottom: 0;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #161C29;
      word-break: break-all;

      padding-bottom: 6px;
    }

    &_psi, &_department {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 15px;
      color: #707177;

      padding-bottom: 6px;
    }
  }

  &__Bottom {
    &_label {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;

      color: #707177;
    }
    &_value {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;

      color: #161C29;
      overflow-wrap: break-word;

      opacity: 0.91;
    }

    &_flexBottom {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
    }
    &_ViewProfile {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      cursor: pointer;
      color: #2C6DF9;
      text-decoration: underline;
      
      &:hover{
        cursor: pointer;
        color: #2C6DF9;
        text-decoration: underline;
      }
    }
    &_actions{
      width: 106px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}


