@import '~antd/es/style/themes/default.less';
@import (css)
  url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import (css)
  url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-weight: 'bold';
  font-family: 'Airin';
  src: local('Airin'), url(./fonts/Airin.ttf) format('truetype');
}

@font-face {
  font-weight: 'bold';
  font-family: 'GermanyScript';
  src: local('GermanyScript'), url(./fonts/GermanyScript.ttf) format('truetype');
}

@font-face {
  font-weight: 'bold';
  font-family: 'SH Imogen Agnes';
  src: local('SH Imogen Agnes'), url(./fonts/SH_Imogen_Agnes.ttf) format('truetype');
}

@font-face {
  font-weight: 'bold';
  font-family: 'AudreyAndReynold';
  src: local('AudreyAndReynold'), url(./fonts/AudreyAndReynold.ttf) format('truetype');
}

html,
body,
#root {
  height: 100%;
  font-family: 'Roboto', 'Inter', sans-serif;
  scrollbar-color: #e0e4e9 transparent !important;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}

ul,
ol {
  list-style: none;
}

/* Tabs */
.ant-tabs > .ant-tabs-nav,
.ant-tabs > div > .ant-tabs-nav {
  height: 60px;
  margin: 0;
  padding-left: 20px;
  background-color: #ffffff;
}

.ant-tabs-tab {
  // margin: 0 30px 0 0;
}

.ant-tabs-tab-btn {
  color: #161c29;
  font-weight: 500;
  opacity: 0.3;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  opacity: 1;
}

/*End Tabs*/

/* Pagination */
.ant-table-pagination.ant-pagination {
  margin: 24px 0 !important;
}

li.ant-pagination-item {
  display: none;
}

li.ant-pagination-total-text {
  margin-right: 20px;
  color: #707177;
  font-size: 13px;
  letter-spacing: 0.12px;
}

.ant-pagination.mini .ant-pagination-prev .ant-pagination-item-link,
.ant-pagination.mini .ant-pagination-next .ant-pagination-item-link {
  background: #f0f2f6;
  border-color: transparent;
}

.ant-pagination.mini .ant-pagination-next {
  margin-left: 25px;
}

button.ant-pagination-item-link {
  padding: 0;
  font-size: 10px !important;
  border-radius: 50% !important;
}

/* End Pagination */

/* Table */
.ant-table-thead > tr:first-child > th:last-child {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px;
}

.ant-table-thead > tr:first-child > th:first-child {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px;
}

.ant-table-header {
  border-radius: 5px;
}

li.ant-pagination-jump-next.ant-pagination-jump-next-custom-icon,
li.ant-pagination-jump-prev.ant-pagination-jump-prev-custom-icon {
  display: none;
}

li.ant-pagination-options {
  display: none;
}

/* End Table*/

/* Google Chart*/
.google-visualization-tooltip {
  z-index: +1;
  margin-top: 10px;
  border: none !important;
}

/* End Google Chart*/

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;

        > span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}

.ant-notification-notice {
  width: 100%;
  min-width: 170px;
  max-width: 400px;
  padding: 16px 16px 12px 10px !important;
  background-color: #fffffff0;
  // border: 1px solid #00c598;
  // border: 1px solid #00c5975b;
  border-left: 6px solid #00c598;
  border-radius: 5px 8px 8px 5px !important;
  backdrop-filter: blur(7px);

  .ant-notification-notice-message {
    align-items: center;
    // margin-top: -4px;
    margin-right: 24px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.1;
  }

  .ant-notification-notice-icon {
    color: #00c598;
  }

  .ant-notification-notice-description {
    padding-right: 34px;
    font-size: 13px;
    letter-spacing: 1.1;
    .ant-list-item {
      font-size: 13px;
    }
  }

  .ant-notification-notice-close {
    .anticon {
      font-size: 12px !important;
    }
  }
}

.ant-notification-notice-error {
  // border: 1px solid #fd45465b;
  border-left: 6px solid #fd4546 !important;
  .ant-notification-notice-icon-error {
    color: #fd4546 !important;
  }
}

.ant-notification-notice-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-weight: 500;
  background: #f0f2f5;
  border-radius: 50%;
}

// SCROLL BAR
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #f4f4f4;
  border: none;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #e0e4e9;
  border-radius: 5px;
}

// fix breaking layout in 11/25/2021 - only in staging server
.ant-form-item-control {
  min-width: unset !important;
}

.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: none !important;
}

.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}
