.headings {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #161c29;
  margin-bottom: 24px;
}

.radios {
  display: flex;
  width: 100%;
  font-size: 14px;
  color: #707177;
  margin-bottom: 18px;
}
