.content {
  margin-top: 20px;
  display: grid;
  :global {
    .ant-tabs-tab-btn {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #464646;
      opacity: 1;
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: #2c6df9;
    }
    .ant-tabs-tab {
      margin: 0 28px 0 0;
    }
  }
}
