.CurrentProjectDetails {
  width: 100%;
  font-size: 13px;
  background-color: white;
  border: 1px solid @border-color-base;
  border-radius: 5px;
  a {
    font-weight: 500;
  }
  .content {
    padding: @padding-lg;
  }
}
