.Withdraw2Modal {
  :global {
    .ant-input:focus {
      border-color: @primary-color;
      outline: 0;
      box-shadow: unset;
    }

    .ant-modal-content {
      border-radius: 10px;
    }
    .ant-modal-body {
      padding: 0;
    }
    .ant-modal-close {
      display: none;
    }
    .ant-picker,
    .ant-input {
      min-height: 42px !important;
      font-size: 13px;
      border-radius: 5px !important;
    }

    .ant-select-selector {
      height: 42px !important;
      padding-top: 5px !important;
      font-size: 13px;
      border-radius: 5px !important;
    }

    // text area
    .ant-form-item-control-input-content {
      textarea {
        padding-top: 9px;
      }
    }

    .ant-input {
      padding: 10px;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    .title {
      color: #161c29;
      font-weight: 700;
      font-size: 18px;
    }
    .subtitle1 {
      margin-top: 10px;
      color: #161c29;
      font-size: 14px;
    }
    .subtitle2 {
      color: #707177;
      font-size: 13px;
    }

    .formContainer {
      .formInput {
        margin: 15px 0;
      }
    }
    .operationButtons {
      display: flex;
      justify-content: flex-start;
      .proceedBtn {
      }
      .cancelBtn {
        margin-left: 20px;
        background-color: #ffa1001a !important;
        span {
          color: #161c29 !important;
        }
      }
    }

    :global {
      .ant-modal-body {
        border-radius: 10px;
      }
      .ant-btn {
        height: 40px;
        margin-top: 15px;
        // width: 108px;
        padding: 0 30px;
        background-color: #ffa100;
        border: none;
        border-radius: 30px;
        span {
          color: white;
          font-weight: 700;
        }
        &:hover {
          background-color: #ffa100cc; // hex with alpha 0.8
        }
      }
    }
  }
}
