.bottomBar {
  position: fixed;
  bottom: 0;
  width: inherit;
  height: 72px;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 2, 0.15);
  border: solid 1px #d6dce0;
  background-color: blue;

  &__wrapper {
    // bottom: 0;
    // width: inherit;
    // height: 72px;
    // border-radius: 5px;
    // box-shadow: 0 0 2px 0 rgba(0, 0, 2, 0.15);
    // border: solid 1px #d6dce0;
  }
}
