@import '~antd/es/style/themes/default.less';

@darkColour: #161c29;
@lightGrayColor: #707177;
@commonPadding: 15px;
@borderColor: @border-color-base;

.CommonModal {
  :global {
    .ant-modal-header {
      padding: 24px;
      border-bottom: 1px solid @border-color-base;
      border-top-left-radius: 8px;
    }
    .ant-modal-content {
      border-top-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    .ant-form-item {
      margin-bottom: 12px;
    }
    .ant-modal-footer {
      padding: 13px 24px;
      border-top: 1px solid @border-color-base;
    }
    .ant-select-selection-overflow-item .ant-select-selection-overflow-item-suffix {
      display: none;
    }
    .ant-modal-close-x {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 54px;
      height: 48px;
      color: #fff;
      background-color: @primary-color;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      &:active {
        opacity: 0.5;
      }
    }
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__text {
      margin: 0;
      span {
        display: block;
      }
      .text1 {
        color: @primary-color;
        font-weight: 600;
        font-size: 16px;
      }
      .text2 {
        margin-top: 10px;
        color: #344054;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
      }
    }
  }

  .footer {
    display: flex;
    gap: @padding-md;
    align-items: center;
    justify-content: flex-end;
  }
}

.noPadding {
  :global {
    .ant-modal-body {
      padding: 0;
    }
  }
}
.withPadding {
  :global {
    .ant-modal-body {
      padding: 24px;
    }
  }
}
