.formAdd {
  :global {
    .ant-form-item-label {
      line-height: 24px;
    }
  }
}

.input {
  border: none;
  border-bottom: 1px solid #d9d9d9;
  border-radius: 0;
  box-shadow: none !important;
  &:focus,
  input:focus {
    box-shadow: none !important;
    border-color: #f2954e;
  }

  &:hover,
  input:hover {
    box-shadow: none !important;
    border-color: #f2954e;
  }
}

.select {
  :global {
    .ant-select-selection {
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-radius: 0 !important;
    }
  }
}

.controlButton {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e9e9e9;
  padding: 10px 16px;
  background: #fff;
  text-align: right;
}
