.CustomSecondaryButton {
  :global {
    .ant-btn-link {
      height: 42px;
      padding-right: 25px;
      padding-left: 25px;
      background-color: transparent;
      border: none;
      border-radius: 25px;
      box-shadow: none;
      opacity: 1;
      span {
        color: #fd4546;
        font-weight: 500;
        font-size: 14px;
      }
      &:hover,
      &:disabled {
        background-color: transparent;
        opacity: 0.8;
      }
    }
  }
}
