.borderLeaveBalanceInfoBox {
  border: 1px solid @border-color-base;
  border-radius: 5px;
}
.LeaveInformation {
  position: relative;
  width: 100%;

  :global {
    .ant-collapse-header {
      justify-content: center;
    }
  }

  .totalLeaveBalance {
    display: flex;
    // align-items: center;
    flex-direction: column;
    overflow: hidden;
    background: white;
    border-radius: 5px;
    .aboveContainer {
      padding: 24px 24px 0 24px;
      border-top: 1px solid @border-color-base;
      border-right: 1px solid @border-color-base;
      border-left: 1px solid @border-color-base;
      border-radius: 5px 5px 0 0;
      .header {
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: space-between;
        span {
          display: block;
        }
        .title {
          color: #464646;
          font-weight: 700;
          font-size: 18px;
        }
      }
      .leaveBalanceBox {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0 8px 0;
        .circleProgress {
          margin-top: 10px;
          .percentValue {
            color: #464646;
            font-weight: 700;
            font-size: 28px;
          }
          .remainingText {
            color: #6c717a;
            font-size: 13px;
          }
        }
      }
    }
    :global {
      .ant-collapse {
        width: 100%;
        background-color: white;
        border-radius: 5px;
        > .ant-collapse {
          border: none;
        }
      }
      .ant-collapse-borderless > .ant-collapse-item {
        border: none;
      }
      .ant-collapse-header {
        // overflow: hidden;
        text-align: center;
        border-right: 1px solid @border-color-base;
        border-bottom: 1px solid @border-color-base;
        border-left: 1px solid @border-color-base;
        border-radius: 0 0 5px 5px !important;
      }
      .ant-collapse-content > .ant-collapse-content-box {
        padding: 0;
        padding-top: 0 !important;
      }
    }
    .showBtn {
      margin-bottom: 10px;
      cursor: pointer;
      span {
        margin-right: 10px;
        color: @primary-color;
        font-weight: 500;
        text-decoration: underline;
      }
      .defaultIcon {
        transition: 0.3s;
      }
      .rotateIcon {
        transform: rotate(180deg);
        transition: 0.3s;
      }
    }
  }

  .infoIcon {
    width: 20px;
    cursor: pointer;
    :global {
      .anticon {
        color: black;
        color: #ffa100;
        font-size: 14px;
      }
    }
    :hover {
      opacity: 0.8;
      transition: 0.3s;
    }
  }

  .leaveProgressBars {
    // margin-top: 16px;
    .hr {
      margin-top: 4px;
      border-bottom: 1px solid #e2e4e8;
    }
  }
}
