.payment_detail_employee_info {
  .payment_detail_employee_info_component {
    background-color: #fff;
    margin-left: auto !important;
    margin-right: 24px !important;
    margin-bottom: 35px;
    padding-top: 19px;
    padding-bottom: 4px;
    box-shadow: 0 2px 4px 0 rgba(180, 180, 180, 0.5);
  }
  .title {
    color: #3a354e;
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
    padding-bottom: 20px;
  }
  .employeeTitle {
    font-weight: 400;
    color: #000;
    opacity: 0.5;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
    p {
      height: 30px;
      margin-bottom: 5px;
    }
  }
  .employeeValue {
    font-weight: 600;
    color: #000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
    p {
      height: 30px;
      margin-bottom: 5px;
      min-width: 140px;
    }
  }
  @media only screen and (max-width: 1000px) {
    .payment_detail_employee_info_component {
      max-width: 525px;
      overflow: auto;
      float: left;
    }
    .employeeTitle {
      min-width: 70px;
    }
  }
}
