.root {
  :global(.ant-layout-header) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    padding: 0 16px 0 0;
    color: rgba(0, 0, 0, 0.85);
    background: #fff;
  }
  .content {
    background: #f6f7f9;
  }
  .logoText {
    font-weight: 700;
    font-size: 32px;
    margin-left: 20px;
    letter-spacing: 2px;
  }
}
