.root {
  :global(.ant-layout-header) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    padding: 0 16px 0 0;
    color: rgba(0, 0, 0, 0.85);
    background: #fff;
    // border-bottom: 1px solid #d6dce0;
    box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
  }
  .content {
    background: #f6f7f9;
    margin-bottom: 48px;
  }
  .logoText {
    font-weight: 700;
    font-size: 32px;
    margin-left: 20px;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.85);
  }
  .footerFlex {
    position: fixed;
    bottom: 0;
    z-index: 9;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    padding: 14px 150px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 12px;
    background-color: #fff;
    box-shadow: 0 10px 30px 3px #c7bcbc;
  }
}
