.root {
  width: 100vw;
  background-color: white;
  :global(.ant-layout-header) {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    color: rgba(0, 0, 0, 0.85);
    background: #fff;
  }
  .leftContent {
    .textAppName {
      margin-left: 1rem;
      font-weight: 600;
    }
  }

  .rightContent {
    .textSignUp {
      margin-left: 0.5rem;
      font-weight: 600;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .rootLogin {
    min-height: calc(100vh - 64px);
    .contentLeft {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 3rem;
      &__text1 {
        width: 70%;
        min-width: 20rem;
        font-size: 2rem;
        line-height: 2rem;
      }
      &__text2 {
        width: 70%;
        min-width: 20rem;
        color: #acacac;
        font-size: 18px;
      }
    }
    .contentRight {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @media screen and (max-width: 768px) {
      .contentLeft {
        display: none;
      }
    }
  }
}
