.root {
  width: 100vw;
  background-color: white;
  :global(.ant-layout-header) {
    display: flex;
    padding: 0 50px;
    color: rgba(0, 0, 0, 0.85);
    background: #fff;
    justify-content: space-between;
  }
  .leftContent {
    .textAppName {
      font-weight: 600;
      margin-left: 1rem;
    }
  }

  .rightContent {
    .textSignUp {
      text-decoration: underline;
      font-weight: 600;
      margin-left: 0.5rem;
      cursor: pointer;
    }
  }
}
