.root {
  width: 100vw;
  background-color: white;
  background-image: url(../assets/Ellipse.svg);
  background-repeat: no-repeat;
  background-position: -280px -50px;
  background-size: 70%;
  :global(.ant-layout-header) {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 0 50px;
    color: rgba(0, 0, 0, 0.85);
    background: none;
  }
  .leftContent {
    .textAppName {
      margin-left: 1rem;
      font-weight: 600;
    }
  }
  .rightContent {
    .textSignUp {
      margin-left: 0.5rem;
      color: #2c6df9;
      font-weight: 600;
      cursor: pointer;
    }
  }
  .content {
    .rootLogin {
      min-height: calc(100vh - 64px);
      .contentLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 7rem;
        margin-bottom: 48px;
        &__image {
          img {
            width: 100%;
            min-width: 15rem;
            margin-left: -25px;
          }
        }
        &__text1 {
          // width: 90%;
          min-width: 20rem;
          color: #161c29;
          font-weight: 700;
          font-size: 32px;
          line-height: 1.22;
          letter-spacing: 0.58px;
          text-align: left;
        }
        &__text2 {
          min-width: 20rem;
          // width: 80%;
          margin-top: -10px;
          color: #707177;
          font-size: 14px;
          line-height: 22px;
          letter-spacing: 0.17;
        }
      }
      .contentRight {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      @media screen and (max-width: 992px) {
        .contentLeft {
          display: none;
        }
      }
    }
  }

  .footerLogin {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 14px 150px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 12px;
    background-color: #fff;
    box-shadow: 0 10px 30px 3px #c7bcbc;
    .footerFlex {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 992px) {
  .root {
    background-image: none;
  }
}
