.content {
  display: flex;
  justify-content: center;
  background-color: #eff2fa;
  margin: 30px 35px 35px 115px;
  overflow: hidden !important;
  .contentChildren {
    max-width: 1120px;
    width: 100%;

    // animation /////////////
    opacity: 1;
    animation: fade 1s linear;

    @keyframes fade {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    // ///////////////////////
  }
}
