.containerBasiclayout {
  .titleHeader {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    &__textName {
      color: #fff;
      margin-left: 1rem;
    }
  }

  :global {
    .ant-layout {
      background-color: #fff;
    }
    .ant-page-header {
      padding: 0.5rem 5rem;
    }
    .ant-pro-global-header-layout-mix {
      background-color: #000;
    }
    .ant-pro-page-container-children-content {
      margin: 0;
      padding: 0 5rem;
    }
    .ant-page-header-heading {
      display: none;
    }
  }
}
