.containerBasiclayout {
  .titleHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    .buttonToggle {
      background-color: #161c29;
      width: 50px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__textName {
      margin-left: 1rem;
      color: #fff;
    }
  }

  :global {
    .ant-layout {
      background-color: #fff;
    }
    .ant-page-header {
      // padding: 0.5rem 5rem;
    }

    .ant-pro-global-header-layout-mix {
      background-color: #fff;
      padding: 0 16px 0 0;
    }
    .ant-pro-page-container-children-content {
      margin: 0;
      padding: 0 5rem;
    }
    .ant-page-header-heading {
      display: none;
    }
    .ant-pro-global-header-logo {
      display: none;
    }
    .ant-pro-sider-light .ant-menu-light {
      background-color: #2c6df9;
    }
    .ant-pro-sider.ant-layout-sider-light .ant-menu-item a {
      color: #fff;
    }
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background-color: #2c6df9;
    }
    .ant-menu-item-selected {
      background-image: linear-gradient(to right, #2c6df9, #144ecb);
      border-right: 1px solid #fff;
    }
    .ant-menu-item-only-child {
      border-bottom: 1px solid #144ecb;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 !important;
    }
  }

  @media screen and (max-width: 768px) {
    :global {
      .ant-page-header {
        padding: 0.5rem 2rem;
      }
      .ant-pro-page-container-children-content {
        margin: 0;
        padding: 0 2rem;
      }
    }
  }
}
