@import (css) url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@gray: #f2f2f2;
@black: #161c29;
@blue: #2c6df9;
@orange: #ffa100;

.candidate {
  width: 100%;
  background-color: @gray;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;

  h1,
  h2,
  h3,
  h4,
  h5,
  span,
  p {
    margin: 0;
    padding: 0;
  }

  .header {
    height: 76px;
    background-color: white;
    margin-bottom: 24px;
    padding-left: 24px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &::after {
      content: '';
      width: 0%;
      position: absolute;
      height: 2px;
      background-color: @blue;
      box-shadow: 0 2px 4px 0 rgba(153, 184, 255, 0.56);
      left: 0;
      bottom: 0;
      transition: width 0.2s ease-in;
    }

    &.one::after {
      width: calc(100% / 6);
    }

    &.two::after {
      width: calc(100% / 6 * 2);
    }

    &.three::after {
      width: calc(100% / 6 * 3);
    }

    &.four::after {
      width: calc(100% / 6 * 4);
    }

    &.five::after {
      width: calc(100% / 6 * 5);
    }

    &.six::after {
      width: 100%;
    }

    .headerLeft,
    .headerRight {
      display: flex;
      align-items: center;
    }

    .headerLeft {
      .imgContainer {
        height: 100%;
        width: 80px;
        padding: 15px;

        img {
          max-width: 100%;
          height: auto;
        }
      }

      .icon {
        margin: 0 26px;

        svg path {
          fill: #0a0a0a;
        }
      }

      .description {
        opacity: 0.7;
        font-size: 18px;
        font-weight: 500;
        color: #161c29;
        white-space: nowrap;
      }
    }

    .headerRight {
      .id {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.13px;
        color: #000000;
        padding: 0 16px;
        line-height: 40px;
        background-color: #f7f7f7;
        border-radius: 25px;
        white-space: nowrap;
      }

      button {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.13px;
        color: @blue;
        margin-left: 48px;
      }
      .headerIcon {
        outline: none;
        width: 44px;
        height: 44px;
        margin: 8px;
        border-radius: 50%;
        background: #F3F6FC;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        &:hover {
          background: transparent;
          border: 1px solid #00c598;
          transition: 0.2s;
        }
        border: 1px solid rgba(255, 255, 255, 0);
        .badgeNumber {
          position: absolute;
          top: -13px;
          right: -13px;
          background: #13A951;
          border: 3px solid #FFFFFF;
          outline: none;
          width: 20px;
          height: 20px;
          margin: 8px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          font-weight: 700;
          padding: 4px;
          font-size: 12px;
        }
      }
    }
  }

  .main {
    padding: 0 72px 24px;
  }

  .stepContainer {
    margin-left: auto;
    padding: 28px;
    // width: 262px;
    // height: 424px;
    object-fit: contain;
    border-radius: 5px;
    border: solid 1px #d6dce0;
    background-color: #ffffff;

    .btn {
      display: block !important;
      margin: 0 auto;
      border: 1px solid @orange;
      padding: 12px 24px;
      color: @orange;
      letter-spacing: 0.13px;
      font-size: 14px;
      font-weight: 500;
      background-color: white;
      border-radius: 25px;
      cursor: pointer;
      outline: none;
      transition: 0.2s ease-in;

      &:hover,
      &.active {
        background-color: @orange;
        color: white;
      }

      &:focus {
        outline: none;
      }
    }
  }

  :global {
    .ant-result-image {
      margin: 0 auto;
    }

    .ant-steps {
      // height: 400px !important;
    }

    .ant-steps-item {
      cursor: pointer;
    }

    .ant-steps-item-title {
      white-space: nowrap;
    }

    .ant-steps-item-tail {
      top: -6px !important;
      height: 125% !important;

      &::after {
        width: 2px !important;
        background-color: #d8d8d8 !important;
      }
    }

    .ant-steps-item-icon {
      background-color: white !important;
      margin-right: 24px !important;
    }

    .ant-steps-item-active {
      .ant-steps-item-icon {
        background-color: white !important;
      }

      span.ant-steps-icon {
        color: @blue  !important;
      }
    }

    .ant-steps-item-finish {
      .ant-steps-item-title {
        color: #7d7d7d !important;
      }

      .ant-steps-item-icon {
        background-color: @blue  !important;

        path {
          fill: white !important;
        }
      }

      .ant-steps-item-tail {
        &::after {
          background-color: @blue  !important;
        }
      }
    }
  }

  .phase1Step {
    height: 275px !important;
  }
}
