@import '~antd/lib/style/themes/default.less';

@nav-header-height: @layout-header-height;

.layoutContainer {
  min-height: 100vh;
  :global {
    .ant-menu-dark .ant-menu-inline.ant-menu-sub {
      background: #2f3133;
      // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45) inset;
    }
  }
}
.sider {
  min-height: 100vh;
  font-size: 18px;
  background-color: #fff;
  border-right: 1px solid #e8e8e8;
  :global {
    .ant-menu-inline {
      border-right: none;
    }
    .ant-menu-inline .ant-menu-item {
      font-size: 16px;
    }
    .ant-menu-sub.ant-menu-inline > .ant-menu-item,
    .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
      height: 40px;
      line-height: 40px;
    }
  }
}

.containerLogo {
  position: relative;
  line-height: @nav-header-height;
  padding: 12px (@menu-collapsed-width - 32px) / 2;
  transition: all 0.3s;
  overflow: hidden;
  text-align: center;
  .logo {
    flex-direction: row;
    display: flex;
    align-items: center;
    .image {
      width: 50px;
      height: 50px;
    }
    .title {
      text-align: left;
      font-size: 32px;
      line-height: 61px;
      color: #4a90e2;
      font-weight: bold;
      margin-left: 5px;
    }
  }
}

.titleLogo {
  color: #bf520a;
  font-size: 28px;
  font-weight: 600;
}

.txtMenu {
  font-size: 18px;
}

.txtMenuItem {
  font-size: 15px;
}

.layoutContent {
  padding: 24px;
  margin: 0 auto;
}
