.PersonalInformation {
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    border-top: 1px solid @border-color-base;
    .step {
      color: #707177;
      font-weight: normal;
      font-size: 13px;
      font-style: italic;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
