.employmentTab {
  height: max-content;
  margin-bottom: 24px;
  background-color: #fff;
  border: 1px solid @border-color-base;
  border-radius: 5px;
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    border-top: 1px solid @border-color-base;
    .step {
      color: #707177;
      font-weight: normal;
      font-size: 13px;
      font-style: italic;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  &__title {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    // color: #161c29;
    // font-weight: 700;
    // font-size: 16px;
    border-bottom: solid 1px @border-color-base;
    .title {
      margin-bottom: 0;
      color: #161c29;
      font-weight: 700;
      font-size: 16px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }
    .cancelButton {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
    img {
      margin-right: 16px;
    }

    .editBtn {
      color: @primary-color;
      font-weight: 500;
      font-size: 14px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal !important;
      letter-spacing: 0.13px;
      text-decoration: none;
    }
    .employmentTab__action {
      cursor: pointer;
    }

    .employmentTab_changeIcon {
      height: 20px;
      margin-left: 30px;
      text-align: center;
      background-color: #ffffff;
      border-radius: 50%;
      .employmentTab_iconEdit {
        color: @primary-color;
      }
    }
  }
  .employmentTab_modal {
    :global {
      .ant-modal-body {
        padding: 0 24px;
      }
    }
  }
}

.modalUpdateSuccess {
  :global {
    .ant-modal-close {
      right: -57px;
      height: 48px;
      color: #fff;
      background-color: @primary-color;
      border-radius: 0 8px 8px 0;
      .ant-modal-close-x {
        color: #fff;
        line-height: 48px;
      }
      .ant-popover-inner {
        background-color: #000;
      }
    }
  }
}
.spaceFooterModalSuccess {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  padding: 24px;
  text-align: center;
}
.btnOkModalSuccess {
  align-items: center;
  width: 120px;
  height: 40px;
  margin: auto;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  background-color: #ffa100;
  border: none;
  border-radius: 25px;

  &:hover {
    color: #fff;
    background-color: #ffa100;
  }
}
