.questionItem {
  margin-top: 12px;
  padding: 24px;
  background-color: #fff;
  border-radius: 5px;
  &__answer {
    position: relative;
    display: flex !important;
    align-items: center !important;
    margin-top: 12px !important;

    &__remove {
      position: absolute;
      right: -24px;
      cursor: pointer;
    }
  }
}
