@import (css)
  url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.EditForm {
  font-family: 'Roboto';
  padding: 40px;
  :global {
    .tabs {
      .ant-form-item-label {
        label {
          font-size: 14px;
          font-weight: 500;
          line-height: 1.14;
          text-align: left;
          color: #161c29;
        }
      }
    }
    .ant-btn-primary {
      position: absolute;
      right: 40px;
      bottom: 30px;
      width: 94px;
      height: 40px;
      object-fit: contain;
      border-radius: 25px;
      border: solid 1px #ffa100;
      background-color: #ffa100;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.13px;
      color: #ffffff;
      &:hover {
        background-color: #ffa100;
        color: #ffffff;
      }
    }
    .ant-tabs-tab-active {
      background-color: #e9f0ff;
      border-top-left-radius: 23px;
      border-top-right-radius: 23px;
    }
    .ant-tabs-ink-bar {
      display: none;
    }
    .ant-tabs-tab-btn {
      opacity: 1;
      height: 16px;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.14;
      text-align: left;
      color: #161c29;
    }
    .ant-tabs-nav {
      padding: 0;
      height: 46px;
    }
    .ant-tabs-nav-list {
      width: 100%;
    }
    .ant-tabs-tab {
      width: 100%;
      margin-right: 0;
      display: flex;
      justify-content: center;
    }
  }
}
