.RadioComponent {
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  .Radio {
    display: block;
    padding-bottom: 18px;
    span {
      font-size: 14px;
    }
  }
  .Padding {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .paddingTopTitle {
    padding-top: 26px;
  }

  .paddingBotTitle {
    padding-bottom: 26px;
  }

  .paddingRadio {
    padding-bottom: 16px;
  }

  .paddingRightRadio {
    padding-right: 32px;
  }
  :global {
    label.ant-radio-wrapper-checked {
      span.ant-typography {
        color: #161c29;
      }
    }
  }
}
