.CustomFields {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 215px;
  .contentLeft {
    padding-left: 40px;
  }
  .contentLeftTitle {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #161c29;
  }
  .contentLeftText {
    font-size: 13px;
    text-align: left;
    color: #707177;
  }
  .buttonAddNewSection {
    width: 176px;
    height: 40px;
    font-size: 14px;
    color: #ffffff;
    border-radius: 25px;
    border: solid 1px #ffa100;
    background-color: #ffa100;
  }
  .buttonAddNewField {
    width: 157px;
    height: 40px;
    font-size: 14px;
    color: #ffffff;
    border-radius: 25px;
    border: solid 1px #ffa100;
    background-color: #ffa100;
  }
}
