.EmployeeCard {
  .boxShadow {
    box-shadow: 0px 2px 60px rgba(0, 0, 0, 0.1);
  }
  .greenBorder {
    border-color: #00c598 !important;
  }
  .grayBorder {
    border-color: #707177 !important;
  }
  .orangeBorder {
    border-color: #ffa100 !important;
  }
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    padding: 16px;
    background: #ffffff;
    border: 1px solid #e8eef2;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    .avatar {
      width: 42px;
      height: 42px;
      margin-right: 10px;
      overflow: hidden;
      border: 1px solid #f1f1f1;
      border-radius: 50%;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    .information {
      .name {
        color: #161c29;
        font-weight: normal;
        font-size: 14px;

        font-style: normal;
        line-height: 17px;
      }
      .title {
        display: block;
        // margin-top: 10px;
        color: #707177;
        font-weight: normal;
        font-size: 13px;
        font-style: normal;
        line-height: 15px;
      }
    }
  }
}
