@import '~antd/lib/style/themes/default.less';
.projectTag {
  min-width: 545px;
  width: 49%;
  border-radius: 5px;
  overflow: hidden;
  float: left;
  margin-bottom: 18px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(180, 180, 180, 0.5);
  margin-right: 1%;

  .titleBlock {
    width: 225px;
    float: left;
    min-height: 120px;
    padding: 24px 0 0 24px;
    background-color: #f4f7fe;
    position: relative;
    .icon {
      position: absolute;
      bottom: 12px;
      right: 22px;
      width: 59px;
      height: 56px;
    }
    .title {
      font-size: 18px;
      line-height: 22px;
      text-align: left;
      color: #3a354e;
      font-weight: bold;
    }
    .linkView {
      font-size: 14px;
      line-height: 17px;
      color: #fca00a;
      position: absolute;
      bottom: 18px;
      font-weight: 600;
      width: 50px;
    }
  }

  .projectBlocks {
    width: calc(100% - 230px);
    float: left;
    padding: 20px 0 0 20px;

    .projectItem:last-child {
      .projectName {
        padding-bottom: 0;
      }
    }

    .projectName {
      font-size: 16px;
      line-height: 20px;
      text-align: left;
      color: #9c9c9c;
      width: 124px;
      float: left;
      border-right: 1px solid rgba(150, 150, 150, 0.2);
      padding-bottom: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .projectPrice {
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: #3a354e;
      float: left;
      width: 130px;
      padding-left: 25px;
      :global {
        .ant-statistic-content {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 148px;
        }
        .ant-statistic-content-value-decimal {
          font-size: 14px;
          font-weight: 700;
        }
      }
    }

    .projectPrice > * {
      line-height: unset;
    }

    .projectEmptyBlocks {
      text-align: center;
      margin-top: 20px;
      .emptyTitle {
        opacity: 0.2;
        color: #000;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 20px;
        text-align: center;
      }
      .emptyLink {
        color: #fca00a;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 17px;
      }
    }
  }
}

.projectTag:nth-child(2n + 0) {
  margin-right: 0;
  float: unset;
}
