.paymentQueueTableWrapper {
  .has-error :local(.root) .ant-input,
  .has-error :local(.root) .ant-input-affix-wrapper:hover .ant-input {
    border-color: #d9d9d9;
  }
  .markPaidBtn {
    border-color: #f5a623;
    color: #f5a623;
    background-color: white;
    border-radius: 12px;
    font-size: 12px;
    &:hover {
      color: rgba(252, 160, 10, 0.7) !important;
      border-color: rgba(252, 160, 10, 0.7) !important;
    }
  }
  .description {
    width: 148px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .eyeIcon {
    opacity: 0.5;
    font-size: 18px;
  }
  :global {
    // table
    tr.ant-table-expanded-row {
      background-color: #fff;
    }
    .ant-table {
      .ant-table-content {
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0 2px 4px 0 rgba(180, 180, 180, 0.5);
      }
      .ant-table-row-expand-icon {
        border: 1px solid #979797;
        color: #979797;
      }
      .ant-table-body {
        overflow-x: auto !important;
        margin: 0 !important;
      }
      tbody > tr.ant-table-row-selected > td {
        background-color: #e9f0fe;
      }
    }
    .ant-table-small {
      border: none;
    }
    .ant-table-thead {
      border-radius: 4px 4px 0 0;
      background-color: #f4f7fe;
      & > tr > th {
        font-weight: bold;
      }
    }
    // table > check box
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: @primary-color;
      border-color: @primary-color;
    }
    .ant-checkbox-indeterminate .ant-checkbox-inner::after {
      background-color: @primary-color;
    }
    .ant-checkbox-inner {
      width: 13px;
      height: 13px;
      &::after {
        width: 7px;
        height: 7px;
      }
    }

    // table pagination
    .ant-pagination-item {
      border: none;
      background-color: transparent;
    }
    .ant-pagination-item-active {
      border: none;
      background-color: transparent;
    }

    // pagination
    .ant-select-selection,
    .ant-input-search,
    .ant-input {
      &:hover,
      &:focus {
        border-bottom: 1px solid @primary-color;
      }
    }
    .ant-select-selection {
      background-color: transparent;
      &:hover,
      &:focus {
        border-bottom: 1px solid @primary-color !important;
      }
    }
    .ant-pagination-options-quick-jumper {
      input {
        background-color: transparent;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #d9d9d9;
        &:hover,
        &:focus {
          border-bottom: 1px solid @primary-color;
          box-shadow: none;
        }
      }
    }
  }
  .nestedTable {
    :global {
      .ant-table {
        .ant-table-content {
          border: none !important;
          background-color: #fff;
          box-shadow: none !important;
        }
        .ant-table-body {
          overflow-x: auto !important;
          margin: 0 !important;
        }
        .ant-table-thead > tr > th {
          background-color: #f4f7fe;
        }
        tbody > tr.ant-table-row-selected > td {
          background-color: #fff;
        }
      }
    }
  }
}
