.TicketsItem {
  display: flex;
  align-items: center;
  .ticketID,
  .userID {
    margin-right: 10px;
    color: #2c6df9;
    font-weight: 500;
    // word-wrap: break-word;
    // word-break: break-word;
    white-space: nowrap;
    &:hover {
      cursor: pointer;
    }
  }
  :global {
    .ant-table-thead > tr > th {
      background: #2c6df9 !important;
    }
    .ant-table-pagination-right {
      justify-content: flex-start !important;
    }
    .ant-pagination {
      margin: 20px 24px !important;
    }
    .ant-table-body {
      height: 400px;
    }
    .ant-dropdown-trigger {
      color: #2c6df9 !important;
      border: none !important;
      box-shadow: none !important;
      &:hover {
        cursor: pointer;
      }
    }
    .ant-btn {
      height: 0 !important;
      padding: 0 !important;
    }
  }
}

.dropdownPopover {
  :global {
    .ant-popover-inner {
      width: 270px;
      height: fit-content;
      margin-top: 20px;
      padding: 0;
      border: 1px solid #eaecef;
      border-radius: 8px;
    }
    .ant-popover-inner-content {
      padding: 0 !important;
    }
    .ant-popover-arrow {
      //   left: -2.5px !important;
      width: 18px;
      height: 18px;
      margin-top: 20px;
      .ant-popover-arrow-content {
        width: 12px;
        height: 12px;
        box-shadow: none;
      }
    }
    .ant-popover-title {
      padding: 16px;
    }
  }
}
