.containerEmployeeOffboarding {
  font-family: 'Roboto';
  min-height: 100vh;
  background-color: #f6f7f9;
  position: relative;

  .employeeOnboarding__tab {
    position: relative;
  }
  .paddingHR {
    padding: 24px;
  }
  .options {
    position: absolute;
    top: 10px;
    right: 50px;
    :global {
      .generate {
        background-color: red;
      }
      .ant-row {
        align-items: baseline;
      }
      .ant-btn {
        box-shadow: unset;
      }
      .ant-btn-secondary {
        border: none;
        background-color: transparent;
        height: 16px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.13px;
        color: #2c6df9;
        border-radius: 35px;
        height: 40px;
      }
      .ant-btn-primary {
        height: 40px;
        // opacity: 0.07;
        border-radius: 5px;
        border-radius: 35px;
        background-color: #e6edff;
        border: none;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.13px;
        color: #2c6df9;
      }
    }
  }

  :global {
    .ant-tabs-nav-wrap {
      height: 100%;
    }
    .ant-tabs-tab-btn {
      opacity: 1;
      color: #707177;
    }

    .ant-tabs-tab-active .ant-tabs-tab-btn {
      font-weight: bold;
    }
    
    .ant-tabs-tab-active .ant-tabs-tab-disabled{
      font-weight: 500;
    }
  }
}
