.TimeoffType {
  .TimeoffContain {
    .TimeoffFrom {
      // padding: 27px 30px;
      padding-bottom: 14px;
      // background-color: #fff;
      border: 1px solid #d6dce0;
      box-sizing: border-box;
      border-radius: 5px;
    }
    .Content {
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      color: #464646;
    }
    .SubContent {
      margin-top: 20px;
      font-weight: normal;
      font-size: 13px;
      line-height: 19px;
      color: #464646;
    }
  }
}
