@import (css)
  url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.DocumentsAndTemplatesHeader {
  padding: 42px;
  background-color: #f6f7f9;

  .title {
    height: 21px;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: bold;
    line-height: 1.17;
    letter-spacing: 0.3px;
    color: #161c29;
    margin-bottom: 17px;
  }

  .subTitle {
    width: 734px;
    font-family: 'Roboto';
    font-size: 13px;
    line-height: 1.31;
    letter-spacing: 0.12px;
    text-align: left;
    color: #707177;
  }
}
