@blueColor: #2c6df9;
.Documents {
  :global {
    .ant-card {
      overflow: hidden;
      border: 1px solid #d6dce0;
      border-radius: 5px;
      .ant-card-head {
        display: flex;
        align-items: center;
        height: 75px;
        border-bottom: 1px solid #d6dce0;
        .ant-card-head-wrapper {
          display: flex;
          justify-content: space-between;
          width: 100%;
          .ant-card-head-title {
            color: #161c29;
            font-weight: 500;
            font-size: 16px;
          }
        }
      }
      .ant-card-body {
        padding: 0px;
        border-top: 1px solid #d6dce0;
      }
    }
  }
  .tableContainer {
    padding: 24px;
  }
  .options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .tagCountFilter {
    padding: 5px;
    border-radius: 15px;
  }
  .blueText {
    color: @blueColor;
    font-weight: 500;
  }
  .clickableTag {
    .blueText();
    cursor: pointer;
  }
  .action {
    img {
      cursor: pointer;
    }
  }
}
