.containerPolicy {
  box-sizing: border-box;
  margin: 24px;
  padding: 24px;
  background: #ffffff;
  border: 1px solid #d6dce0;
  border-radius: 5px;
  .headerPolicy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
    padding-bottom: 23px;
    border-bottom: 1px solid #d6dce0;
    &__left {
      display: flex;
      align-items: center;
      .headerPolicy__text {
        color: #161c29;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
      }
      .headerPolicy__location {
        width: auto;

        :global {
          .ant-select .ant-select-arrow {
            color: #2c6df9;
            transition: transform 0.2s ease-in;
          }
          .ant-select-open .ant-select-arrow {
            color: #2c6df9;
            transform: rotate(180deg);
          }

          .ant-select-item-option-content {
            background-color: red;
          }

          .ant-select-selector {
            background-color: rgb(255, 255, 255) !important;
            border: 1px solid #d6dce0;
            border-radius: 4px;
          }
          .ant-select-item {
            font-size: 12px;
          }
        }

        .selectCountry {
          width: 200px;
          height: 36px;
          margin-left: 24px;
          .optionCountry {
            display: flex;
            height: 20px;
          }
          .labelText {
            display: flex;
            align-items: center;
            span {
              color: #2c6df9;
              font-weight: 500;
              font-size: 12px;
            }
            .nameCountry {
              font-weight: 500;
              font-size: 12px;
            }
          }
        }
      }
    }
    &__btnAdd {
      display: flex;
      align-items: center;
      justify-items: center;
      :global {
        .ant-btn {
          padding: 0;
          border: none;
          box-shadow: none;
          img {
            margin-right: 8px;
            &:hover {
              cursor: pointer;
            }
          }

          span {
            color: #2c6df9;
            font-weight: 500;
            font-size: 14px;
            font-style: normal;
            line-height: 16px;
          }
        }
        .ant-input-affix-wrapper {
          box-sizing: border-box;
          background: #fffefe;
          border: 1px solid #d6dce0;
          border-radius: 33px;
        }
      }
      img {
        margin: 0 32px;
      }
    }
  }
}
