.modalAdd {
    :global {
      .ant-modal-close{
        right: -57px;
        background-color: #2C6DF9;
        border-radius: 0 8px 8px 0;
        color: #fff;
        .ant-modal-close-x{
            color: #fff;
        }
        .ant-popover-inner{
            background-color: #000;
        }
      }
      .ant-modal-body{
          padding: 0;
      }
      .ant-modal-footer{
          padding: 24px;
      }
    }
    .basicInfoForm{
        padding: 24px;
        padding-bottom: 0px;
        border-bottom: 1px solid #D6DCE0;
        .basicInfoTitle p{
          font-weight: 700;
        }
    }
    .contactDetail{
        padding: 24px 24px 0px 24px;
        border-bottom: 1px solid #D6DCE0;
        .contactDetailTitle{
            font-weight: 700;
        }
    }
    .otherDetail{
        padding: 24px 24px 0px 24px;
        border-bottom: 1px solid #D6DCE0;
        .otherDetailTitle{
            font-weight: 700;
        }
    }
    .btnForm{
        .btnCancel{
            border: none;
            color: #FD4546;
            font-weight: bold;
        }
        .btnAdd{
            height: auto;
            border-color: #ffa100;
            background-color: #ffa100;
            color: #fff;
            padding: 12px 24px;
            border-radius: 25px;
            font-weight: 700;
        }
    }
    .selectGroup{
        :global{
            .ant-select-selection-item{
                color: #000;
            }
        }
    }
}
div{
    :global{
        .ant-popover-inner{
            background-color: rgba(0, 0, 0, 0.8);
        }
        .ant-popover-arrow-content{
            background-color: rgba(0, 0, 0, 0.8);
        }
    }
}