@darkColour: #161c29;
@lightGrayColor: #707177;
@commonPadding: 15px;
@borderColor: @border-color-base;

.Messages {
  .eachItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 90px;
    cursor: pointer;
    padding-block: @commonPadding;
    &:hover {
      opacity: 0.9;
    }
    .messageIcon {
      width: 50px;
      margin-right: 10px;
    }
    .messageContent {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 13px;
      span {
        display: block;
      }
      .messageTitle {
        color: #000000;
        font-weight: 500;
        line-height: 20px;
      }
      .message {
        color: @lightGrayColor;
      }
    }
  }
  .divider {
    border-bottom: 1px solid @borderColor;
  }
}
