.BidAdieu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ebeff2;
  border-radius: 5px;
  width: 100%;
  background-color: white;
  padding: 20px 20px 0 20px;
  height: 100%;
  margin-bottom: 20px;
  .leftContainer {
    padding-bottom: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .abovePart {
    display: flex;
    flex-direction: column;
    span {
      margin-bottom: 10px;
    }
  }
  .describe {
    font-size: 13px;
    color: #464646;
  }

  .title {
    font-weight: 700;
    // color: #464646;
    font-size: 16px;
  }
  :global {
    .ant-btn {
      max-width: 200px;
      background-color: #ffa100;
      border-radius: 25px;
      border: none;
      height: 40px;
      padding-left: 40px;
      padding-right: 40px;
      span {
        color: white;
        font-weight: 700;
      }
      &:hover {
        background-color: #ffa100cc; // hex with alpha 0.8
      }
    }
  }
  .sideContainer {
    align-items: center;
    .sideImage {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      width: 100%;
      height: 100%;
      img {
        margin-right: -20px;
        width: 100%;
      }
    }
  }
  .submitButton {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    .inactiveButton {
      background-color: #ffa100cc;
    }
  }
}
