// @import (css)
//   url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;900&display=swap');
@blue: #2c6df9;

.action {
  color: @blue;
  text-decoration: underline;
  text-transform: capitalize;
  cursor: pointer;
}

// .table {
// }
