.PayHistory {
  .nameType {
    color: #212020;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.075px;
  }
  .salaryType {
    color: #707177;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
  }
}
