.benefitTab {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
  .sideTab {
    background-color: #ededed;
    height: max-content;
    .tab {
      border: 1px solid #fff;
      margin: 12px;
      height: 257px;
      border-radius: 6px;
      background-color: #fff;
    }
  }
  .content {
    display: flex;
    flex-wrap: wrap;
  }
  .headings {
    font-size: 18px;
    font-weight: 600;
    color: #044040;
    padding: 12px;
    background-color: #f4f4f4;
  }
}
