@blueColor: #2c6df9;

.WeeklyFooter {
  height: 70px;
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    font-weight: 500;
    font-size: 16px;
  }
  .value {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: @blueColor;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
  :global {
    .ant-table-thead {
      display: none;
    }
    td.ant-table-cell {
      height: 70px;
      color: #464646;
      font-size: 13px;
    }
    .ant-table.ant-table-bordered > .ant-table-container {
      border: none;
    }
    .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table,
    .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table {
      border: none;
    }
    .ant-table-tbody > tr.ant-table-row:hover > td {
      background: unset;
    }
    .ant-table-tbody > tr > td {
      border: none;
    }
  }
}
