.TimeOffRequestsTable {
  border: 1px solid #ebeff2;
  border-radius: 5px;
  width: 100%;
  background-color: white;
  padding-bottom: 24px;
  :global {
    .ant-tabs-nav-wrap {
      width: 220px;
      background-color: #fafafa;
      padding-left: 18px;
      padding-top: 18px;
      padding-bottom: 18px;
    }
    .ant-tabs-tab {
      background-color: #fafafa;
      margin-bottom: 0 !important;

      // height of tab name
      padding-top: 14px !important;
      padding-bottom: 14px !important;
      // border-bottom: 1px solid #e2e4e8;
      // border-radius: 0;

      &:hover {
        background: rgba(44, 109, 249, 0.06);
        border-radius: 30px 0 0 30px;
      }
      .ant-tabs-tab-btn {
        font-weight: 700 !important;
      }
    }
    .ant-tabs-tab-active {
      // border-bottom: 0;
      border-radius: 30px 0 0 30px;
      background-color: rgba(44, 109, 249, 0.12);
      .ant-tabs-tab-btn {
        font-weight: 700 !important; // 500
      }
    }
    .ant-tabs-ink-bar {
      display: none;
      font-weight: normal !important;
    }
    .ant-tabs-tab-btn {
      // font-weight: bold !important; // 500
      font-size: 14px;
    }
    .ant-tabs-nav {
      height: auto;
    }
    .ant-tabs-tabpane {
      padding: 0 24px;
    }
    .ant-tabs-tab-btn {
      opacity: 1;
      color: #707177;
    }
  }
  .renderTableTitle {
    margin: 24px 0 14px 0;
    span {
      color: #464646;
      font-size: 16px;
      font-weight: 700;
      margin-left: -68px;
    }
  }
}
