.range {
  input[disabled] {
    background-color: #fff;
    pointer-events: none;
  }
}

.btnFilter {
  display: flex;
  justify-content: center;
  height: 35px;
  width: 120px;
}

.ml10 {
  margin-left: 10px;
}

.form {
  margin-bottom: 100px;
}

.controlButton {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e9e9e9;
  padding: 10px 16px;
  background: #fff;
  text-align: right;
  .btn {
    width: 120px;
    height: 35px;
    margin: 0 5px;
  }
}

.font {
  font-size: 16px;
  padding-bottom: 20px;
}
