.chartSearch {
  margin-bottom: 10px;
  padding: 24px;
  width: 400px;
  background-color: #ffffff;
  border: 1px solid #e8eef2;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.14);
  &__name {
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }
  &__search {
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    :global {
      .ant-input-affix-wrapper {
        font-size: 16px;
        border: none;
        &-focused {
          border: none;
          outline: none;
        }
      }
      .ant-btn.ant-btn-icon-only.ant-input-search-button {
        border: none;
      }
    }
  }
}

.chartDetail {
  padding: 24px;
  width: 400px;
  background-color: #ffffff;
  border: 1px solid #e8eef2;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.14);
  &__Top {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    & > &_Avt {
      width: 30%;
    }
    & > &_name {
      width: 70;
    }
    &_firstName {
      margin-bottom: 0;
      font-weight: bold;
      font-size: 14px;
    }
    &_department {
      font-weight: 500;
      font-size: 12px;
      opacity: 0.5;
    }
    &_psi {
      font-weight: 500;
      font-size: 12px;
      opacity: 0.5;
    }
  }

  &__Bottom {
    &_label {
      font-weight: 500;
      font-size: 12px;
    }
    &_value {
      font-weight: 500;
      font-size: 12px;
    }
    &_line {
      margin: 10px 0;
      border-top: 1px solid #e8eef2;
    }
    &_flexBottom {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
    }
    &_ViewProfile {
      color: #2c6df9;
      font-weight: 500;
      font-size: 12px;
      cursor: pointer;
    }
    &_Icon {
      margin-left: 5px;
      padding: 5px;
      color: #707177;
      font-size: 16px;
      background-color: #80808017;
      border-radius: 50%;
      box-shadow: 0px 2px 12px rgba(0, 0, 0, 0);
    }
  }
}
