@commonPadding: 24px;
@blue: #2c6df9;
@black: #171924;

.TimeOff {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 230px;
  padding: @commonPadding;
  background: #ffffff;
  background-image: url('../../../../assets/homePage/timeOffVector.png');
  background-repeat: no-repeat;
  background-position: 100% 64px;
  background-size: 220px;
  border: 1px solid #d8d8d8;
  border-radius: 16px;
  // box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);

  // transition: 0.5s;
  // &:hover {
  //   background-position: 100% 40px;
  //   background-size: 260px;
  //   transition: 0.5s;
  // }

  .above {
    .header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 10px;
      img {
        height: 56px;
        margin-right: 16px;
      }

      .titleText {
        display: block;
        color: @black;
        font-weight: 600;
        font-size: 16px;

        font-style: normal;
        line-height: 30px;
      }
    }
    .description {
      color: #58667e;
      font-weight: normal;
      font-size: 14px;

      font-style: normal;
      line-height: 24px;
    }
  }
  .button {
    margin-top: 30px;
    .applyTimeOffBtn {
      height: 40px;
      padding-right: 16px;
      padding-left: 16px;
      background: #1f75f0;
      border: none;
      border-radius: 25px;
      outline: none;
      box-shadow: none;
      transition: 0.5s;
      span {
        position: relative;
        display: inline-block;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
        transition: 0.5s;
      }

      span:after {
        position: absolute;
        top: -7px;
        right: -20px;
        font-size: 24px;
        opacity: 0;
        transition: 0.5s;
        content: '\00bb';
      }

      &:hover span {
        padding-right: 25px;
      }

      &:hover span:after {
        right: 0;
        opacity: 1;
      }
    }
  }
}
