.MotorVehicleReports {
  font-family: 'Roboto';
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.22);
  background-color: #ffffff;
  padding: 33px 40px;
  position: relative;
  :global {
    .ant-radio-wrapper {
      margin-right: 20px;
    }
    .ant-form-item {
      display: block;
    }
    .ant-form-item-label {
      label {
        font-size: 14px;
        line-height: 1.14;
        text-align: left;
        color: #161c29;
        margin-bottom: 10px;
      }
    }
    .ant-radio-wrapper {
      span {
        font-size: 14px;
        line-height: 1.14;
        text-align: left;
        color: #707177;
      }
    }
    .ant-radio-wrapper-checked {
      span {
        font-size: 14px;
        line-height: 1.14;
        text-align: left;
        color: #161c29;
      }
    }
  }
  &_title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    text-align: left;
    color: #161c29;
    margin-bottom: 32px;
  }
  &_form {
    margin-top: 74px;
  }
  hr {
    position: absolute;
    width: 100%;
    left: 0;
    border-top: none;
    margin-bottom: 32px;
    border-bottom: solid 1px #e4e7eb;
  }
}
