.RequestInformation {
  .requesteeDetails {
    border: 1px solid #ebeff2;
    border-radius: 5px;
    width: 100%;
    background-color: white;
    margin-bottom: 20px;

    .formTitle {
      padding: 16px 24px;
      border-bottom: 1px solid #e2e4e8;
      .title {
        font-size: 16px;
        color: #161c29;
        font-weight: 700;
      }
      color: #161c29;
      display: flex;
      align-items: center;
    }

    .formContent {
      padding: 24px 24px 7px 24px;
      font-size: 13px;
      .detailColumn {
        margin-bottom: 3px;
        color: #707177;
        .fieldValue {
          margin-right: 10px;
        }
        .employeeLink {
          color: #2c6df9;
          cursor: pointer;
        }
        .projectHealth {
          // max-width: 250px;
          :global {
            .ant-progress-text {
              font-weight: 700;
              color: #161c29;
            }
          }
          .bar {
            width: 150px;
            display: inline-block;
          }
          .viewReport {
            margin-left: 20px;
            display: inline-block;
            font-weight: 700;
            color: #2c6df9;
            text-decoration: underline;
            cursor: pointer;
            font-size: 12px;
            &:hover {
              transition: 0.3s;
            }
          }
        }
        .extraTimeSpent {
          font-size: 13px;
          color: #707177;
          .header {
            background-color: #e1e9fa;
            border-radius: 5px;
            color: #00000083;
            font-weight: 700;
            padding: 7px 10px;
            font-size: 13px;
            margin-bottom: 5px;
          }
          .content {
            width: 100%;
            .rowContainer {
              border: 1px solid #d6dce4;
              border-radius: 5px;
              padding: 5px 10px;
              margin-bottom: 5px;
              :global {
                .ant-col {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                }
                .ant-form-item {
                  margin-bottom: 0 !important;
                }
                .ant-input-affix-wrapper > input.ant-input {
                  background-color: #c4c4c433;
                }
                .ant-input-affix-wrapper {
                  background-color: #c4c4c433;
                }
                .ant-input {
                  background-color: rgba(0, 0, 0, 0) !important;
                  min-height: 20px !important;
                }
                .ant-input-suffix {
                  color: #707177;
                }
              }
            }
          }
          .totalHours {
            margin-top: 15px;
          }
        }
      }
      :global {
        .ant-row {
          padding-bottom: 15px;
        }
      }
    }
  }

  .rejectComment {
    margin-bottom: 20px;
    .title {
      font-weight: 700;
      font-size: 16px;
      color: #161c29;
      margin-bottom: 10px;
      display: block;
      margin-left: 20px;
    }
    :global {
      .ant-input {
        font-size: 13px;
        border-radius: 5px;
        padding: 10px 20px;
      }
      .ant-input:focus {
        border-color: #2c6df9;
        outline: 0;
        box-shadow: unset;
      }
    }
  }

  .footer {
    padding: 16px 24px;
    border: 1px solid #ebeff2;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    background: #fff;
    .note {
      font-size: 12px;
      padding-right: 100px;
      display: flex;
      align-items: center;
      color: #161c2980; // hex with alpha 0.5
    }
    .formButtons {
      display: flex;
      justify-content: flex-end;
      :global {
        .ant-btn-link {
          background-color: white !important;
          span {
            font-weight: bold !important;
            color: #fd4546 !important;
          }
        }
        .ant-btn {
          background-color: #ffa100;
          border: none;
          border-radius: 30px;
          height: 40px;
          // width: 120px;
          padding: 0 30px;
          margin-left: 20px;
          span {
            color: white;
            font-weight: 700;
          }
          &:hover {
            background-color: #ffa100cc; // hex with alpha 0.8
          }
        }
      }
    }
  }
}
