@orange: #e9b551;
@blue: @primary-color;

.alert {
  position: relative;
  width: 222px;
  margin-left: 16px;
  padding: 14px;
  background-color: #fffdf7;
  border: solid 1px;
  border-radius: 5px;
  visibility: visible;
  opacity: 1;
  transition: 0.2s ease-in;

  h4,
  p {
    margin: 0 !important;
  }

  .exclamationIcon {
    width: 14px;
    height: 14px;
    margin-right: 9px;

    border-radius: 50%;

    path:nth-child(2) {
      fill: white;
    }
  }

  &.remind,
  &.caution {
    border-color: @orange;

    .exclamationIcon {
      background-color: @orange;

      path:first-child {
        fill: @orange;
      }
    }
  }

  .crossIcon {
    position: absolute;
    top: 7px;
    right: 7px;

    svg {
      width: 11px;
      height: 11px;
      transform: rotate(45deg);
      cursor: pointer;

      path {
        fill: #707177;
      }

      &:hover {
        path {
          fill: black;
        }
      }
    }
  }

  &.info {
    background-color: #fafdff;
    border-color: @blue;
    .exclamationIcon {
      background-color: @blue;

      path:first-child {
        fill: @blue;
      }
    }
  }

  .alertHeader {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    h4 {
      font-weight: 500;
      font-size: 12px;
    }
  }

  .alertContent {
    font-size: 10px;

    a {
      color: @blue;
    }
  }

  &.hide {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  @media (max-width: 880px) {
    margin-left: 0;
  }

  @media (max-width: 325px) {
    width: 100%;
  }
}
