@import (css)
  url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.EmailReminderForm {
  font-family: 'Roboto';
  border-radius: 5px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.22);
  background-color: #ffffff;
  padding: 50px;
  position: relative;

  .quill {
    height: 478px;
  }
  .receipients {
    padding: 0;
  }
  &_title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    text-align: left;
    color: #161c29;
    margin-bottom: 70px;
    // position: relative;
  }
  hr {
    position: absolute;
    width: 100%;
    left: 0;
    border-top: solid 1px #dfe3e8;
    border-bottom: none;
    margin-top: 34px;
  }
  &_form {
    .note {
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 13px;
      line-height: 1.15;
      letter-spacing: 0.12px;
      text-align: left;
      color: #707177;
    }
  }
  :global {
    .ant-form-item {
      display: block;
    }
    .ant-form-item-control-input-content {
      input {
        height: 42px;
      }
    }
    .ant-checkbox-wrapper {
      span {
        font-size: 14px;
        line-height: 1.14;
        text-align: left;
        color: #707177;
      }
    }
    .ant-form-item-label {
      label {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        text-align: left;
        color: #161c29;
      }
    }
    .ant-select .ant-select-single .ant-select-show-arrow {
      width: 100%;
    }
    .ant-select-selector {
      height: 42px;
    }
    .ant-radio-wrapper {
      span {
        font-size: 14px;
        line-height: 1.14;
        text-align: left;
        color: #707177;
      }
    }
    .ant-radio-wrapper-checked {
      span {
        font-size: 14px;
        line-height: 1.14;
        text-align: left;
        color: #161c29;
      }
    }
  }
}
