@import (css)
  url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@border-color: #d6dce0;
@orange: #fe5d27;
@new-background: #fff4f1;

.mixin-border-bottom-row {
  border-bottom: solid 1px #d6dce0;
}

.IneligibleCandidates {
  padding: 24px;
  padding-bottom: 0;
  border: solid 1px @border-color;
  background-color: #ffffff;
  border-radius: 8px;

  table {
    border-bottom: 1px solid @border-color;
  }

  .table_actions {
    display: flex;
    align-items: end;

    p {
      cursor: pointer;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
      letter-spacing: 0.12px;
      color: #2c6df9;
      font-weight: 500;
      margin-right: 10px;
    }
  }

  p,
  span {
    margin: 0;
  }

  .new {
    color: @orange;
    font-size: 11px;
    font-weight: 500;
    margin-left: 8px;
    text-transform: capitalize;
    font-family: 'Roboto';
    display: inline-block;
    background-color: @new-background;
    padding: 0 8px;
  }

  svg {
    &:hover {
      cursor: pointer;
    }
  }

  :global {
    .ant-table-row {
      height: 55px;
    }
    td.ant-table-cell {
      width: 84px;
      height: 15px;
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.12px;
      color: #464646;
    }
    .ant-table-tbody {
      tr:last-child td {
        border-bottom: solid 1px white;
      }
    }
    .ant-table-tbody > tr > td {
      .mixin-border-bottom-row();
    }
  }
}
