.container {
  // padding: 30px 40px;
  :global {
    .ant-collapse {
      border: none;
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
      display: flex;
      align-items: center;
      height: 57px;
    }
  }
  .itemMenuAcive {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0 18px;
    color: #707177;
    color: @primary-color;
    font-weight: bold;
    font-size: 14px;
    background-color: rgba(44, 109, 249, 0.12);
    border-bottom: none;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    cursor: pointer;
  }
  .itemMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0 18px;
    color: #707177;
    font-size: 14px;
    border-bottom: 1px solid rgba(191, 194, 211, 0.5);
    cursor: pointer;
  }
  .leftMenu {
    height: 100%;
    background-color: #fafafa;
  }
  .contentQuestion {
    padding: 32px 40px;
  }

  .timeoffRuleFrom {
    .titleText {
      color: #000000;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
    }
    .childrenFrom {
      padding: 12px 0;
    }
    .collapse {
      box-sizing: border-box;
      margin: 12px 0;
      border: 1px solid #e5e9ec;
      border-radius: 10px;
      .minusBoder {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background-color: #ffa100;
        border-radius: 50%;
        svg {
          width: 20px;
          height: 20px;
          color: #fff;
        }
      }
      .plusBoder {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background-color: #f4f5f6;
        border-radius: 50%;
        svg {
          z-index: 1;
          width: 20px;
          height: 20px;
          color: #707177;
        }
      }
    }
    .header {
      color: #707177;
      font-weight: 500;
      font-size: 14px;
      font-style: normal;
      line-height: 16px;
    }
    .activeHeader {
      color: #161c29;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
    }
    .content {
      color: #707177;
      font-weight: normal;
      font-size: 14px;
      font-style: normal;
      line-height: 20px;
    }
  }
}
