@border-color: #d6dce0;
@orange: #fe5d27;
@new-background: #fff4f1;
@border-color: #d6dce0;
@checkbox-background: #e7eaee;
@checkbox-border: #707177;
@gray: #707177;
@red: #ff5252;
@blue: #2c6df9;

.mixin-border-bottom-row {
  border-bottom: solid 1px #d6dce0;
}

.CommonTable {
  // padding: 24px;
  // padding-bottom: 0;
  background-color: #ffffff;
  // border: solid 1px @border-color;
  // border-radius: 8px;

  &.inTab {
    border: none;
  }

  table {
    // border-bottom: 1px solid @border-color;
  }

  .tableActions {
    display: flex;
    align-items: center;

    span {
      margin: 0;
      overflow: hidden;
      color: @blue;
      font-weight: 500;
      letter-spacing: 0.12px;
      white-space: nowrap;
      text-align: left;
      // margin-right: 10px;
      text-transform: capitalize;
      cursor: pointer;

      svg {
        transform: rotate(90deg);
      }
    }

    .viewDraft {
      margin-left: 13px;
    }
  }

  p,
  span {
    margin: 0;
  }

  .new {
    display: inline-block;
    margin-left: 8px;
    padding: 0 8px;
    color: @orange;
    font-weight: 500;
    font-size: 11px;
    font-family: 'Roboto';
    text-transform: capitalize;
    background-color: @new-background;
  }

  svg {
    &:hover {
      cursor: pointer;
    }
  }

  :global {
    .ant-table-row {
      height: 55px;
    }

    .anticon-delete {
      margin-left: 6px !important;

      &:hover {
        svg {
          path {
            fill: @red !important;
          }
        }
        // color: @red !important;
      }
      svg {
        color: @blue !important;
        transform: initial !important;
      }
    }

    td.ant-table-cell {
      width: 84px;
      height: 15px;
      color: #464646;
      font-weight: normal;
      font-size: 13px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.12px;
    }
    .ant-table-tbody {
      // tr:last-child td {
      //   border-bottom: solid 1px white;
      // }
    }
    .ant-table-tbody > tr > td {
      // border-bottom: none;
    }
    .ant-table-small .ant-table-thead > tr > th {
      background-color: @blue;
    }

    th.ant-table-selection-column {
      width: 5%;
    }

    .ant-checkbox-inner {
      background-color: @checkbox-background;

      &:after {
        border-color: blue;
      }
    }

    .ant-checkbox-wrapper {
      border-color: @checkbox-border;
    }

    .ant-table-selection,
    .ant-table-selection-column {
      height: fit-content;
      // width: fit-content;
    }

    thead {
      tr {
        height: 35px;
      }

      .ant-table-selection {
        height: 18px;
      }
    }

    .ant-tabs-nav {
      height: 56px;
    }

    .ant-dropdown-button {
      display: flex;
      align-items: center;

      button {
        height: 20px;
        padding: 0 !important;
        font-size: 13px !important;
        background-color: transparent !important;
        border: none !important;
        box-shadow: none !important;
      }
    }

    .ant-menu-item {
      color: #2c6df9;
      font-weight: 500;
      letter-spacing: 0.12px;
    }
  }

  .fileName {
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      margin-right: 10px;
    }
    span {
      color: #2c6df9;
      font-weight: 700;
    }
  }
  .actionsButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
      transition: 0.3s;
    }
  }
}
