@commonSpace: 24px;
@blueColor: #2c6df9;
@grayColor: #707177;
@greenColor: #00c598;
@whiteColor: #ffffff;
@blackColor: #161c29;

.title {
  width: 430px;
  height: 108px;
  padding: 24px 32px;
  background-color: @whiteColor;
  border-radius: 10px;
  h1 {
    color: @blackColor;
    font-weight: bold;
    font-size: 26px;

    font-style: normal;
    line-height: 30px;
  }
  p {
    font-weight: normal;
    font-size: 14px;

    font-style: normal;
    line-height: 22px;
  }
}
