.TicketDetails {
  :global {
    .ant-tabs-content-holder {
      padding: @padding-lg;
    }
    .ant-tag {
      border-radius: 30px;
    }
  }
  a {
    font-weight: 500;
  }
  .formContent {
    .information {
      padding: @padding-lg;
      .formContent__title {
        color: #707177;
        font-weight: 500;
        font-size: 14px;
        font-style: normal;
        line-height: 16px;
        &__color {
          color: @primary-color !important;
        }
        span {
          padding-left: 8px;
          line-height: 20px;
          text-transform: capitalize;
        }
      }
      .formContent__priority {
        color: #707177;
        font-weight: 500;
        font-size: 14px;
        font-style: normal;
        line-height: 16px;
        span {
          display: inline-block;
          margin-left: 8px;
        }
      }
      .formContent__titleQC {
        display: flex;
        align-items: center;
        color: #707177;
        font-weight: 500;
        font-size: 14px;

        font-style: normal;
        line-height: 16px;
        &__color {
          color: @primary-color !important;
        }
        .avatarQC {
          width: 40px;
        }
        .avatarNameQC {
          color: white;
          background: #7a2cf9;
        }

        :global {
          .ant-avatar-string {
            color: white !important;
            transform: translate(-74%, 38%) !important;
          }
          .ant-avatar {
            font-size: 14px !important;
            border: 1px solid #707177;
          }
          .ant-avatar-group {
            margin-left: 8px;
          }
          .ant-avatar-sm {
            width: 24px;
            height: 24px;
            line-height: 24px;
            border-radius: 50%;
          }
        }
        span {
          color: #161c29;
          font-weight: normal;
          font-size: 14px;

          font-style: normal;
          line-height: 16px;
        }
      }
      .formContent__attachments {
        display: flex;
        align-items: center;
        color: #707177;
        font-weight: 500;
        font-size: 14px;

        font-style: normal;
        line-height: 16px;
        .attachments {
          display: flex;
          align-items: center;
          &__file {
            padding-left: 8px;
            &__img {
              width: 20px;
              height: 20px;
              margin-left: 8px;
            }
            a {
              color: @primary-color;
              font-weight: normal;
              font-size: 14px;

              font-style: normal;
              line-height: 16px;
              text-decoration: underline;
            }
          }
        }
      }
    }

    .note {
      padding: @padding-lg;
      border-top: 1px solid @border-color-base;
      &__title {
        padding: 0 0 @padding-lg 0;
        color: #161c29;
        font-weight: 500;
        font-size: 14px;
        font-style: normal;
        line-height: 16px;
      }
      &__textareaContent {
        position: relative;
        :global {
          .ant-input {
            padding: 20px 8px 20px 20px;
          }
        }
        .note__textarea {
          background: #ffffff;
          border: 1px solid @border-color-base;
          border-radius: 8px;
        }
      }
      :global {
        .ant-upload.ant-upload-drag {
          width: 32px;
          height: 32px;
          line-height: 32px;
          background: #f1f6ff !important;
          border: none;
          border-radius: 50%;

          .ant-upload {
            padding: 0;
          }
        }
        .ant-col-xs-24 {
          position: absolute;
          right: 3px;
          bottom: 13px;
          display: flex;
        }
      }
      .fileUploadedContainer {
        &__listFiles {
          display: flex;
          align-items: center;
          justify-content: space-between;
          order: -1;
          padding-right: 10px;
          padding-bottom: 0;
          &__files {
            display: flex;
            align-items: center;
            justify-content: center;

            .previewIcon {
              img {
                width: 20px;
                margin-bottom: 2px;
              }
            }
            .fileName {
              padding-left: 8px;
              font-size: 14px;
              a {
                color: @primary-color;
              }
            }
          }
          .trashIcon {
            display: block;
            margin-left: 8px;
            cursor: pointer;
            &:hover {
              opacity: 0.9;
            }
          }
        }
      }
    }
    .tree {
      padding: 0 @padding-lg @padding-lg;
      .btnSend {
        display: flex;
        justify-content: center;
      }
      .btnStart {
        display: flex;
        justify-content: center;
      }
      .timeline {
        :global {
          .ant-timeline-item-content {
            top: 30px;
          }
          .ant-timeline-item {
            padding-bottom: 32px;
          }
          .ant-timeline-item-left:last-child {
            padding-bottom: 62px;
          }
          .ant-timeline.ant-timeline-alternate .ant-timeline-item-left .ant-timeline-item-content,
          .ant-timeline.ant-timeline-alternate .ant-timeline-item-right .ant-timeline-item-content {
            padding: 16px 19px 16px 16px;
            border: 2px solid #f0f0f0;
            border-radius: 8px;
          }
          .ant-timeline.ant-timeline-alternate .ant-timeline-item-left .ant-timeline-item-content {
            left: calc(50% - 0px);
            width: calc(50% - 26px);
          }
          .ant-timeline.ant-timeline-alternate .ant-timeline-item-right .ant-timeline-item-content {
            width: calc(50% - 26px);
            text-align: left;
          }
          .ant-timeline-item-tail {
            top: unset;
            height: calc(100%);
          }
          .ant-timeline-item-last > .ant-timeline-item-tail {
            display: block;
          }
          .ant-timeline.ant-timeline-alternate .ant-timeline-item-head-custom {
            margin-top: 60px;
          }
          .ant-timeline-item-head-custom {
            padding: unset;
          }
        }
        .titleChat {
          margin-bottom: 8px;
          color: #212020;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
        }
        .chatMessage {
          margin: 8px 0;
          color: #212020;
          font-weight: normal;
          font-size: 14px;
          line-height: 21px;
        }
        .timeChat {
          padding-top: 8px;
          color: #848c90;
          font-weight: normal;
          font-size: 11px;
          line-height: 13px;
          letter-spacing: 0.1625px;
        }
        .attachments__file {
          margin-bottom: 8px;
          img {
            width: 20px;
            margin-right: 8px;
          }
          a {
            font-weight: normal;
            font-size: 13px;

            font-style: normal;
            line-height: 15px;
            text-decoration: underline !important;
          }
        }
      }
    }
  }
}
