.TicketDetails {
  .formDetails {
    background: #ffffff;
    border: 1px solid #d6dce0;
    border-radius: 8px;
    .formTitle {
      padding: 24px;
      color: #161c29;
      font-weight: 500;
      font-size: 16px;
      font-family: Roboto;
      font-style: normal;
      line-height: 19px;
      border-bottom: 1px solid #d6dce0;
    }
    .formContent {
      border-bottom: 1px solid #d6dce0;
      &__container {
        padding: 32px 33px;
        :global {
          .ant-row:nth-child(1),
          .ant-row:nth-child(2),
          .ant-row:nth-child(3),
          .ant-row:nth-child(4) {
            padding-bottom: 24px;
          }
        }
        .formContent__title {
          color: #707177;
          font-weight: 500;
          font-size: 14px;
          font-family: Roboto;
          font-style: normal;
          line-height: 16px;
          &__color {
            color: #2c6df9 !important;
          }
          span {
            padding-left: 8px;
            color: #161c29;
            font-weight: normal;
            font-size: 14px;
            font-family: Roboto;
            font-style: normal;
            line-height: 20px;
            text-transform: capitalize;
          }
        }
        .formContent__priority {
          color: #707177;
          font-weight: 500;
          font-size: 14px;
          font-family: Roboto;
          font-style: normal;
          line-height: 16px;
          &__color {
            color: #2c6df9 !important;
          }
          span {
            margin-left: 8px;
            padding: 1px 10px;
            color: #161c29;
            font-weight: normal;
            font-size: 14px;
            font-family: Roboto;
            font-style: normal;
            line-height: 16px;
            border-radius: 12px;
          }
        }
        .formContent__titleQC {
          display: flex;
          align-items: center;
          color: #707177;
          font-weight: 500;
          font-size: 14px;
          font-family: Roboto;
          font-style: normal;
          line-height: 16px;
          &__color {
            color: #2c6df9 !important;
          }
          .avatarQC {
            width: 40px;
          }
          .avatarNameQC {
            color: white;
            background: #7a2cf9;
          }

          :global {
            .ant-avatar-string {
              color: white !important;
              transform: translate(-74%, 38%) !important;
            }
            .ant-avatar {
              font-size: 14px !important;
              border: 1px solid #fff;
            }
            .ant-avatar-group {
              margin-left: 8px;
            }
            .ant-avatar-sm {
              width: 24px;
              height: 24px;
              line-height: 24px;
              border-radius: 50%;
            }
          }
          span {
            color: #161c29;
            font-weight: normal;
            font-size: 14px;
            font-family: Roboto;
            font-style: normal;
            line-height: 16px;
          }
        }
        .formContent__attachments {
          display: flex;
          align-items: center;
          color: #707177;
          font-weight: 500;
          font-size: 14px;
          font-family: Roboto;
          font-style: normal;
          line-height: 16px;
          .attachments {
            display: flex;
            align-items: center;
            &__file {
              padding-left: 8px;
              &__img {
                width: 20px;
                height: 20px;
                margin-left: 8px;
              }
              a {
                color: #2c6df9;
                font-weight: normal;
                font-size: 14px;
                font-family: Roboto;
                font-style: normal;
                line-height: 16px;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    .note {
      padding: 0 24px 48px 24px;
      &__title {
        padding: 24px 0 27px 0;
        color: #161c29;
        font-weight: 500;
        font-size: 14px;
        font-family: Roboto;
        font-style: normal;
        line-height: 16px;
      }
      &__textareaContent {
        position: relative;
        :global {
          .ant-input {
            padding: 20px 8px 20px 20px;
          }
        }
        .note__textarea {
          background: #ffffff;
          border: 1px solid #d6dce0;
          border-radius: 8px;
        }
      }
      :global {
        .ant-upload.ant-upload-drag {
          width: 32px;
          height: 32px;
          line-height: 32px;
          background: #f1f6ff !important;
          border: none;
          border-radius: 50%;

          .ant-upload {
            padding: 0;
          }
        }
        .ant-col-xs-24 {
          position: absolute;
          right: 3px;
          bottom: 13px;
          display: flex;
        }
      }
      .fileUploadedContainer {
        &__listFiles {
          display: flex;
          align-items: center;
          justify-content: space-between;
          order: -1;
          padding-right: 10px;
          padding-bottom: 0;
          &__files {
            display: flex;
            align-items: center;
            justify-content: center;

            .previewIcon {
              img {
                width: 20px;
                margin-bottom: 2px;
              }
            }
            .fileName {
              padding-left: 8px;
              font-size: 14px;
              a {
                color: #2c6df9;
              }
            }
          }
          .trashIcon {
            display: block;
            margin-left: 8px;
            cursor: pointer;
            &:hover {
              opacity: 0.9;
            }
          }
        }
      }
    }
    .container__btnSend {
      text-align: center;
      :global {
        .ant-btn {
          height: 36px;
          padding: 10px 27px;
          color: #464646;
          font-weight: 500;
          font-size: 13px;
          font-family: Roboto;
          font-style: normal;
          line-height: 15px;
          letter-spacing: 0.2px;
          background: transparent;
          border: none;
          border-radius: 18px;
          outline: none;
          box-shadow: none;
        }
      }
      .btnSend {
        color: #ffffff !important;
        font-weight: 500 !important;
        font-size: 14px !important;
        line-height: 16px !important;
        letter-spacing: 0.13125px !important;
        background: #2c6df9 !important;
      }
      .btnSend__disable {
        color: #ffffff !important;
        font-weight: 500 !important;
        font-size: 14px !important;
        line-height: 16px !important;
        letter-spacing: 0.13125px !important;
        background: #95b6fc !important;
      }
    }
    .container__margin__btnSend {
      margin-bottom: 29px;
      text-align: center;
      :global {
        .ant-btn {
          height: 36px;
          padding: 10px 27px;
          color: #ffffff;
          font-weight: 500;
          font-size: 14px;
          font-family: Roboto;
          font-style: normal;
          line-height: 16px;
          letter-spacing: 0.13125px;
          background: #2c6df9;
          border: none;
          border-radius: 18px;
          outline: none;
          box-shadow: none;
        }
      }
      .btnSend__disable {
        color: #ffffff !important;
        font-weight: 500 !important;
        font-size: 14px !important;
        line-height: 16px !important;
        letter-spacing: 0.13125px !important;
        background: #95b6fc !important;
      }
    }
    .container__btnStart {
      margin-bottom: 24px;
      text-align: center;
    }
    .btnStart {
      width: 79px;
      height: 36px;
      margin: 0 auto;
      padding: 10px 27px;
      color: #ffffff;
      font-weight: 500;
      font-size: 14px !important;
      font-family: Roboto;
      font-style: normal;
      line-height: 16px !important;
      letter-spacing: 0.13125px !important;
      background: #707177 !important;
      border-radius: 18px;
    }
    .timeline {
      margin: 0 24px;
      :global {
        .ant-timeline-item-content {
          top: 30px;
        }
        .ant-timeline-item {
          padding-bottom: 32px;
        }
        .ant-timeline-item-left:last-child {
          padding-bottom: 62px;
        }
        .ant-timeline.ant-timeline-alternate .ant-timeline-item-left .ant-timeline-item-content,
        .ant-timeline.ant-timeline-alternate .ant-timeline-item-right .ant-timeline-item-content {
          padding: 16px 19px 16px 16px;
          border: 2px solid #f0f0f0;
          border-radius: 8px;
        }
        .ant-timeline.ant-timeline-alternate .ant-timeline-item-left .ant-timeline-item-content {
          left: calc(50% - 0px);
          width: calc(50% - 26px);
        }
        .ant-timeline.ant-timeline-alternate .ant-timeline-item-right .ant-timeline-item-content {
          width: calc(50% - 26px);
          text-align: left;
        }
        .ant-timeline-item-tail {
          top: unset;
          height: calc(100%);
        }
        .ant-timeline-item-last > .ant-timeline-item-tail {
          display: block;
        }
        .ant-timeline.ant-timeline-alternate .ant-timeline-item-head-custom {
          margin-top: 60px;
        }
        .ant-timeline-item-head-custom {
          padding: unset;
        }
      }
      .titleChat {
        margin-bottom: 8px;
        color: #212020;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
      }
      .chatMessage {
        margin-bottom: 8px;
        color: #212020;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
      }
      .timeChat {
        color: #848c90;
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.1625px;
      }
      .attachments__file {
        margin-bottom: 8px;
        img {
          width: 20px;
          margin-right: 8px;
        }
        a {
          font-weight: normal;
          font-size: 13px;
          font-family: Roboto;
          font-style: normal;
          line-height: 15px;
          text-decoration: underline !important;
        }
      }
    }
    // .timeline {
    //   margin: 0 24px;
    //   :global {
    //     .ant-timeline-right {
    //       .ant-timeline-item {
    //         padding-top: 150px !important;
    //       }
    //       .ant-timeline-item:nth-child(1) {
    //         padding-top: 150px !important;
    //       }
    //       .ant-timeline-item {
    //         display: flex;
    //         align-items: center;
    //         justify-content: end;
    //         .ant-timeline-item-content {
    //           top: 0;
    //           width: 420px;
    //           //edit
    //           margin: 0 26px 0 0;
    //           padding: 16px 19px 16px 16px;
    //           border: 2px solid #f0f0f0;
    //           border-radius: 8px;

    //           img {
    //             width: 20px;
    //             margin-left: 8px;
    //           }
    //           a {
    //             font-weight: normal;
    //             font-size: 13px;
    //             font-family: Roboto;
    //             font-style: normal;
    //             line-height: 15px;
    //             text-decoration: underline !important;
    //           }

    //           div:nth-child(1) {
    //             padding-bottom: 8px;
    //             color: #212020;
    //             font-weight: 500;
    //             font-size: 14px;
    //             font-style: normal;
    //             line-height: 21px;
    //           }
    //           div:nth-child(3) {
    //             padding-top: 8px;
    //             color: #848c90;
    //             font-weight: normal;
    //             font-size: 11px;
    //             font-family: Roboto;
    //             font-style: normal;
    //             line-height: 13px;
    //           }
    //         }
    //         .ant-timeline-item-tail {
    //           top: 0;
    //           left: 100%;
    //           height: calc(100%);
    //           border-left: 3px solid #f0f0f0;
    //         }
    //       }
    //       .ant-timeline-item-last > .ant-timeline-item-tail {
    //         display: block;
    //       }
    //       .ant-timeline-item-last {
    //         padding-bottom: 60px !important;
    //       }
    //       .ant-timeline.ant-timeline-alternate .ant-timeline-item-left .ant-timeline-item-content {
    //         margin: 0 0 0 32px !important;
    //       }
    //       .ant-timeline.ant-timeline-alternate .ant-timeline-item-right .ant-timeline-item-content {
    //         text-align: left;
    //       }
    //       .ant-timeline-item-head-custom {
    //         top: auto;
    //         //edit
    //         left: 100%;
    //         z-index: 1;
    //         color: #ffffff;
    //         font-size: 20px;
    //         border-radius: 50%;
    //         transform: translate(-50%, 0);
    //       }
    //     }
    //   }
    //   :global {
    //     .ant-timeline-left {
    //       .ant-timeline-item {
    //         padding-top: 100px;
    //       }
    //       .ant-timeline-item:nth-child(1) {
    //         padding-top: 60 !important;
    //       }
    //       .ant-timeline-item {
    //         display: flex;
    //         align-items: center;
    //         padding-bottom: 0 !important;
    //         .ant-timeline-item-content {
    //           top: 0;
    //           width: 420px;
    //           margin: 0 0 0 26px;
    //           padding: 16px 19px 16px 16px;
    //           border: 2px solid #f0f0f0;
    //           border-radius: 8px;
    //           img {
    //             width: 20px;
    //             margin-left: 8px;
    //           }
    //           a {
    //             font-weight: normal;
    //             font-size: 13px;
    //             font-family: Roboto;
    //             font-style: normal;
    //             line-height: 15px;
    //             text-decoration: underline !important;
    //           }
    //           div:nth-child(1) {
    //             padding-bottom: 8px;
    //             color: #212020;
    //             font-weight: 500;
    //             font-size: 14px;
    //             font-style: normal;
    //             line-height: 21px;
    //           }
    //           div:nth-child(3) {
    //             padding-top: 8px;
    //             color: #848c90;
    //             font-weight: normal;
    //             font-size: 11px;
    //             font-family: Roboto;
    //             font-style: normal;
    //             line-height: 13px;
    //           }
    //         }
    //         .ant-timeline-item-tail {
    //           top: 0;
    //           left: -1 !important;
    //           left: unset;
    //           height: calc(100%);
    //           border-right: 3px solid #f0f0f0;
    //           border-left: none;
    //         }
    //       }
    //       .ant-timeline-item-last {
    //         padding-bottom: 60px !important;
    //       }
    //       .ant-timeline-item-last > .ant-timeline-item-tail {
    //         display: block;
    //       }
    //       .ant-timeline.ant-timeline-alternate .ant-timeline-item-left .ant-timeline-item-content {
    //         margin: 0 0 0 32px !important;
    //       }
    //       .ant-timeline.ant-timeline-alternate .ant-timeline-item-right .ant-timeline-item-content {
    //         text-align: left;
    //       }
    //       .ant-timeline-item-head-custom {
    //         top: auto;
    //         //edit
    //         left: unset;
    //         left: 2 !important;
    //         color: #ffffff;
    //         border-radius: 50%;
    //         transform: translate(-50%, 0);
    //       }
    //     }
    //   }
    // }
  }
}
